[2020-03-27 16:16] rsin11 commented on #129
Hello everyone! I am a designer based in USA. I would be glad to contribute in any part of the process.

[2020-03-27 16:17] deddikation opened #445 "the slack link is no longer active"

[2020-03-27 16:17] #445 closed

[2020-03-27 16:19] Nizar-Albahri commented on #445
Same here, I'm getting:
"This invite link is no longer active"
when opening the link provided here:
https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md

[2020-03-27 16:21] RaiAnsar opened #446 "404 Link behind Share the App (flutter)."
**This One**
![image](https://user-images.githubusercontent.com/35567562/77776909-8a782880-7070-11ea-98d7-fedf9d49d473.png)
**Text and Link you get after clicking the above button** -> `Check out the official COVID-19 Guide App https://www.who.int/covid-19-app`

**404 Page on WHO Website.**
![image](https://user-images.githubusercontent.com/35567562/77776444-d8d8f780-706f-11ea-8821-834fcd6f58b6.pn

[2020-03-27 16:22] RizkiRay commented on #129
Hi everyone, i am mobile dev based in Indonesia. I would love to contribute in this project.

[2020-03-27 16:23] creativecreatorormaybenot opened #447 "Pedantic is outdated"
The used version of `pedantic` is outdated.

Is there a reason for this? I think that the latest version should be used, which is `1.9.0`.

Otherwise, I am working on a fix for that.

[2020-03-27 16:25] suztomo commented on #338
@creativecreatorormaybenot Thank you.

[2020-03-27 16:26] nogicoder commented on #129
Hi, I'm a senior Flutter dev and would love to contribute!

[2020-03-27 16:30] creativecreatorormaybenot opened #449 "Generated directory is analyzed"
The `generated` directory should be ignored by `flutter analyze`.

[2020-03-27 16:31] whattafack opened #450 "[ Nice to have ] Social distance / People tracker at places nearby"
I believe that a "Social distance" tracker could be interesting to add.
I mean, stores or places that have a lot of population in real-time.
This is implemented on Google Maps already ( "Popular hours" ), knowing how many devices are in a place.
A special section with this info can make people start avoiding crowded places.

[2020-03-27 16:31] epicfaace commented on #446
Duplicate of #291.

[2020-03-27 16:32] epicfaace commented on #446
Actually, I guess it's not a duplicate. We should make sure this site is populated before release.

[2020-03-27 16:32] creativecreatorormaybenot commented on #338
I fixed the `pedantic` version and the analysis in #448.

[2020-03-27 16:33] #447 closed

[2020-03-27 16:35] epicfaace commented on #155
I don't think this is relevant anymore in Flutter?

[2020-03-27 16:37] Chinmay-KB commented on #422
In the current state the app doesn't need neither hamburger nor overflow button. It will depend on the features/screens which will be added further

[2020-03-27 16:38] jemis67 commented on #422
Maybe most commonly used is not easy to use.skip hamburger icon for current discussion,my point is that menu shuld be on right.for menu icon it's not  always hamburger,sometime its triple dots.profille icon or anything else.flutter provide facility of enddrawer  then we shuld atleast try once.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nizar Al-Bahri <n

[2020-03-27 16:42] Chinmay-KB opened #452 "Translate app to hindi"
As a native hindi speaker, I can add the hindi translation to the app
It'll be beneficial given the size of India

I can work on this enhancement

[2020-03-27 16:43] #155 closed

[2020-03-27 16:50] kacimi03hamza opened #455 "WHO COVID-9 Project -Access to workshop on Slack"
hello

I'm volunteering for the development of the Project launched by WHO.
 please grant me access to the workspace on Slack.

best regard

[2020-03-27 17:02] Dviejopomata opened #457 "Ask for symptoms for a heat map based on the location"
It would be great to ask the users what symptoms do they have, and, if we anonymously save the location in a database, we can identify then black spots in cities/countries.

This can be done using geolocation services and sending them periodically to a database (PostgreSQL with PostGIS).

This could give the users the information to take action or to be more careful (more than they already are).

[2020-03-27 17:03] rubenmarcus commented on #419
Is there anyway i can help?

[2020-03-27 17:04] positiveForce commented on #129
Hello @hspinks I am a mobile and web designer. The slack link is invalid and I am not sure how to contribute. The other thread was closed. :)

[2020-03-27 17:05] maxjmoore commented on #224
Hi, I'm a professional freelance translator, I can help the localisation process by contributing French & Chinese translations or helping to match up authoritative WHO translations if needed. Best of luck.

[2020-03-27 17:09] Sakib-Shamin commented on #129
Hello, I am an android app developer as well as a full-stack web developer from Bangladesh. It will be a pleasure if I get the opportunity to contribute to this project.

I hope I will hear from you soon.

[2020-03-27 17:10] danagbemava commented on #129
Hello, @hspinks I'm a flutter developer and I would like to contribute to this project.

[2020-03-27 17:10] britannio commented on #455
https://github.com/WorldHealthOrganization/app/issues/406

[2020-03-27 17:16] kacimi03hamza commented on #455
ok understod. so teams membres dose not do Meeting on slack anymore

[2020-03-27 17:18] gcarmix commented on #401
thank you @dna-f, it works!

[2020-03-27 17:18] carvalhojgp commented on #224
Brazilian translator here ready to help

[2020-03-27 17:19] fenixsolorzano commented on #445
I'm also unable to get slack invite

[2020-03-27 17:23] Louijusteg opened #459 "Answer"
Hello,
I speak French, Spanish, English and creole
you can assign me with one of its languages
Thank you!

[2020-03-27 17:24] Louijusteg commented on #459
I am ready to collaborate with you

[2020-03-27 17:25] Louijusteg commented on #459
I am very dynamic

[2020-03-27 17:25] #459 closed

[2020-03-27 17:26] Nizar-Albahri commented on #445
onboarding was just updated, slack is closed until initial app release.

[2020-03-27 17:27] Tonystarkisbest commented on #452
I can help you too

[2020-03-27 17:28] brunobowden commented on #318
@augustinreille - thanks for working on this. It would helpful to get to know you, please email me at github@brunobowden.com

@KrauseFx may be able to help out this week (Fastlane author)

[2020-03-27 17:29] wisdomrider opened #461 "Translation to Nepali"
As a native nepali speaker. I can add nepali translation to the application

[2020-03-27 17:29] t-k-c commented on #129
Willing to Help. I'm a developer from Cameroon

Le ven. 27 mars 2020 à 5:23, Rizki Raynaldy <notifications@github.com> a
écrit :

[2020-03-27 17:30] t-k-c commented on #445
Okay

Le ven. 27 mars 2020 à 6:26, Nizar Al-Bahri <notifications@github.com> a
écrit :

[2020-03-27 17:33] myiremark opened #462 "Code Signing"
Keystore locations / protocol / access control

[2020-03-27 17:36] pacm28 commented on #419
I can help also, I'm Portuguse

[2020-03-27 17:37] fenixsolorzano commented on #445
@Nizar-Albahri I'm trying to get in contact to provide my whole team (Design, Backend, Mobile Development) to work in this project, can you get in contact please: jonathan@intellbits.com

[2020-03-27 17:42] sanjog12 commented on #452
I am also a native Hindi speaker, I can help too in translating, making it suitable for Indian users, and also an intermediate app developer(flutter).

[2020-03-27 17:46] PieterAelse commented on #442
I will pick this up in a few hours! 👍

[2020-03-27 17:49] britannio commented on #462
https://flutter.dev/docs/deployment/android
https://flutter.dev/docs/deployment/ios

[2020-03-27 17:52] robsonsilv4 commented on #419
I already submitted the [PR](https://github.com/WorldHealthOrganization/app/pull/441).
And @rosariopfernandes suggested small fixes, thanks :)

If someone also could review the text, would help.

[2020-03-27 17:52] 24thsaint commented on #64
Seeing initial server setup to be Java. Is this final? Or is it still open for contributions (eg. a NodeJS backend)?

[2020-03-27 17:59] JLPitti commented on #224
I'm a Spanish writer and professional translator, I can help with Spanish version.

[2020-03-27 18:02] Chinmay-KB opened #464 "Cleaner Routing using Generated routes"
Right now navigation is done by pushing routes. Pushing routes can become quite explicit and sharing logic between them becomes difficult. It is recommended as a standard practice to use named route to navigate rather.

I would like to be assigned this

[2020-03-27 18:08] hspinks commented on #129
Closing as we update process around design communication

[2020-03-27 18:08] #129 closed

[2020-03-27 18:12] danagbemava commented on #464
I would like to help with this

[2020-03-27 18:13] purpledrosophila opened #465 "Writing"
Hi, I hope this isn't inappropriate to put here; I just want to ask since the Slack is closed to new contributors. I noticed your docs folder is very small, and you didn't have a docs channel listed in your Slack channels in the onboarding page, so I was hoping I might still be able to help in either documenting the app, translating content, or adding informational content about COVID-19. If I sho

[2020-03-27 18:22] cesarwelch opened #467 "Translate app content into Spanish"
Add Spanish translations to the app
Related to #21 #224

[2020-03-27 18:22] cesarwelch commented on #467
I'll be working on this

[2020-03-27 18:23] Sahil255 commented on #452
मैं भी आपकी मदद कर सकता हूँ
I can help you too

[2020-03-27 18:45] ZacharyEilers commented on #446
Is that page included in the repo? I would assume not. For now, we could just have it point to the WHO's official coronavirus page to avoid being blocked on the app store. In a later update, we can have the link point directly to the App Store/Google Play Store link.

[2020-03-27 18:47] ZacharyEilers commented on #426
Is there an API for that data?

[2020-03-27 18:51] hspinks commented on #406
Thank you to all who have come here with enthusiasm for getting involved. We are humbled at the outpouring of support we have received from all over the world, are eager to have you contribute, and apologize that we are still in the early process of figuring out how to manage all the contributions.  Please bear with us while we get an initial version out the door and split out into smaller teams w

[2020-03-27 18:51] #406 closed

[2020-03-27 18:54] PieterAelse commented on #442
@epicfaace (cc @SamMousa )
What do we want to do as a fallback? Options could be simply showing a message (SnackBar), using Clipboard or just launching the url (see mentioned PR for example).

My proposal would be to combine it;  show a Snackbar with some message like "The info and link are copied to your clipboard!" and a button in the snackbar for "Open link" which opens the link.
Then it's up t

[2020-03-27 18:57] lifenautjoe commented on #374
Keeping it simple should be the most important thing at this point, thanks for that.

In regards to the state management discussion for when the time comes:

We've been building a social network app in Flutter for more than 2 years now (https://github.com/OkunaOrg/okuna-app) since their pre-alpha phase.

We used the Bloc Pattern initially. We deeply regretted it as it resulted in a convoluted code

[2020-03-27 18:58] kassim commented on #331
note: Twitter emoji usage was suggested during the presentation of the new design to have consistency across platforms

[2020-03-27 19:00] rosariopfernandes commented on #467
I believe there's already a PR for this. See #315

[2020-03-27 19:07] kaiiyer commented on #426
@SamMousa How about we get started ?

[2020-03-27 19:36] kassim commented on #446
perhaps something like [Firebase Dynamic Links](https://firebase.google.com/docs/dynamic-links) would help (redirects to Google Play or iTunes or a website depending on the context)

[2020-03-27 19:57] myiremark commented on #100
decision: lingo24

[2020-03-27 19:57] #100 closed

[2020-03-27 21:40] advayDev1 commented on #465
Thanks - please sign up in the Volunteer Form and we'll get back to you.  Things are changing so fast right now that the docs would out-dated as son

[2020-03-27 21:40] #465 closed

[2020-03-27 22:27] advayDev1 commented on #455
Thank you to all who have come here with enthusiasm for getting involved. We are humbled at the outpouring of support we have received from all over the world, are eager to have you contribute, and apologize that we are still in the early process of figuring out how to manage all the contributions.  Please bear with us while we get an initial version out the door and split out into smaller teams w

[2020-03-27 22:27] #455 closed

[2020-03-28 01:34] epicfaace commented on #442
I like your idea!

[2020-03-28 03:15] advayDev1 opened #482 "WHO logo flickers a lot"
https://deploy-preview-481--who-app-preview.netlify.com/#/

Scroll up and down the home menu.

[2020-03-28 04:21] brunobowden opened #483 "App Store Optimization"
App Store should add the following keywords:
* Coronavirus
* COVID
* COVID-19
* WHO
* World Health Organization

Google Trends data shows "Coronavirus" as being the most popular
https://trends.google.com/trends/explore?date=today%203-m&q=Coronavirus,COVID,WHO,COVID-19,World%20Health%20Organization

[2020-03-28 05:36] brunobowden opened #485 "Vector Safety Animations"
Vector animations would be a great improvement for the initial safety advice screens. The benefit of vector animations is quality and size compared to gif or video. Design should be in consultation with the #design team on Slack.

I've heard back from @neurowave, who co-founded Rive animation with @luigi-rosso. Looks like they can help.

Animation goals:
* universally understandable across culture

[2020-03-28 08:28] kassim commented on #422
it depends on the context, so why not wait for that to come up dependent on design

an overflow menu (3 dots) would certainly be best on the right

[2020-03-28 09:02] kassim commented on #397
@shankari that text isn't referring to distributing packages for testing. It's more describing the sort of scenario where you'd be able to add entire new features by having your app pull data from elsewhere.

E.g. using CodePush to update a React Native app. Because it's implemented in JS/HTML you can have your app download an entirely new app and run it.

Testflight isn't a requirement for beta a

[2020-03-28 16:23] advayDev1 opened #493 "Remove App Feedback from v1"
Send Feedback is cut from v1.  Remove non-functional button.

[2020-03-28 16:56] brunobowden commented on #274
iOS app store process figured out
Google Play out for review

[2020-03-28 17:01] epicfaace opened #496 "Make mobile preview webpage"
Right now, to view the mobile preview from the latest master on a website, you can go to chrome devtools, right click -> inspect element, click “toggle device toolbar” icon and then select a device:

![image](https://user-images.githubusercontent.com/1689183/77828812-1d0ddb80-70f4-11ea-9bca-d84d9f285e32.png)

We should make a web page that just does this by default, though, (i.e., just shows https

[2020-03-28 18:23] SamMousa opened #497 "Dynamic content API v1 proposal"
Simple proposal for dynamic content backend part.

- Deploy to whoapp.org via netllify, from a `prod` branch.
- Use netlify redirects to implement a simple public rest api, for example:
`/api/news` => `/content/news.yaml`
`/api/advice` => `/content/advice.yaml`

Since changing the endpoints means updating the app via using clean endpoints will be better than using actual content paths.

Optionally

[2020-03-28 18:33] advayDev1 commented on #497
cc @crazybob - I'm not sure how much value there is in creating this - permanent - API to support for future versions when we def want to take into account, for example, region to provide locally relevant content in the future.

Once we put this out there, we have to support this v1 client forever.

[2020-03-28 18:36] advayDev1 commented on #497
Our news page for example is just 3 URLs which themselves point to current articles.

[2020-03-28 18:37] SamMousa commented on #497
Then we just do the fixed endpoints and we're good, either way is fine; I don't have a clear view on the content so wasn't sure we needed this. Having a few fixed endpoints is of course even easier simpler!

This is only relevant if we're not doing dynamic code on the server side for v1 (which I understood).

[2020-03-28 18:44] advayDev1 commented on #497
Actually the proposal in standup was to punt the whole thing if needed.  Let's see how far @patniemeyer gets.

[2020-03-28 18:46] hspinks commented on #497
@advayDev1 @SamMousa @crazybob - in the discussion with Product last night, it seemed like the News & Press section should not even consider individual articles, but instead open the WHO's website in a webview displaying those pages

<img width="216" alt="Screen Shot 2020-03-28 at 11 42 42 AM" src="https://user-images.githubusercontent.com/1484366/77830949-660c6280-70e9-11ea-80e7-8311426b314f.png"

[2020-03-28 18:58] SamMousa commented on #497
It's fine if its punted, but if we need something simple then this is an option.

[2020-03-28 19:04] epicfaace opened #499 "Consistent use of App Name across UI"
We should figure out what we're going to call the app, then consistently name it. For example, when you click the share button, it says "Check out the official COVID-19 Guide App". Before release, we need to find all occurrences of the app name, maybe refactor the name out into a constant `APP_NAME`, and then set the app name.

[2020-03-28 19:17] advayDev1 opened #500 "CODEOWNERS rollout"
Empower feature leads to review and approve code in their area.

[2020-03-28 19:30] patniemeyer commented on #497
@SamMousa Hitting a rest API would simplify things a bit for the client but would require that we have that endpoint working with a high degree of availability for Monday and that we keep it up going forward.  I had been assuming we'd do this statically to start, but since we will probably want a service for the location based content soon maybe using a service for both is fine and gives us more f

[2020-03-28 19:39] nodyhack commented on #422
That's The Nice Idea 💡 👏👏

[2020-03-28 19:48] dhruvilp commented on #496
@epicfaace I can do this if no one has done it. One question: where should I make it available (ex: https://preview.whoapp.org/#/mobileview) or add a button somewhere for mobileView?

[2020-03-28 20:28] epicfaace commented on #496
@dhruvilp I was thinking the simplest way to do this would be to make a HTML file in the `docs` directory that embeds https://preview.whoapp.org/#/mobileview/ -- which is deployed to GitHub Pages.

It might be nice to embed the mobile view directly in preview.whoapp.org though, but I'm not sure how easy it would be to add a custom HTML page like this directly in Flutter -- do you have an idea of h

[2020-03-28 20:39] dhruvilp opened #506 "[UI Issue] Questions Answered ExpansionTile trailing icon isn't changing after expansion"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

**Issue:**
Your Qu

[2020-03-28 20:46] dhruvilp commented on #496
Based on dry run for existing codebase:
1. We could either use "FlutterWebView" --> display (https://preview.whoapp.org/#/) which requires adding new dependency to pubspec OR you could do _HTML_ embedding and place it at https://preview.whoapp.org/#/mobiledemo.html etc.
2. Do this: https://dartpad.dev/7913863abb64c2625a961c9d380aa610 (which is I would recommend at the moment).

Dry run screenshot:

[2020-03-28 21:00] shankari commented on #274
@brunobowden I checked through the release channel and it looks like the Google Play was stuck in Google's Play store review process. What I'm looking to document here is what check-offs (if any) WHO needs to do before they accept the app from us.

Concretely, it looks like the current process is:

[code]

I'm trying to document (1) here. Presumably WHO is going to document (2) and we don't have t

[2020-03-28 21:18] dhruvilp commented on #496
@epicfaace I have tested (2nd option) on my end. It works so smoothly. Do you want me to make PR? I need access though.

[2020-03-28 21:41] jg-l commented on #464
Second this. Something like this approach will open up possibilities of different transitions.

Reference: https://blog.gskinner.com/archives/2020/03/flutter-simplify-your-pageroutes.html

[2020-03-28 21:59] PieterAelse commented on #482
@advayDev1 I've opened a PR to improve the situation, for what I can see. But it's not a complete fix yet. For that the image might just be too large. I've added some suggestions to the PR description which might further improve the performance.

If you see the PR as an improvement, feel free to assign this ticket to me. If not, let's see what more could be done.

[2020-03-28 22:06] brunobowden commented on #274
@shankari - most of this is fixes in the app and WHO getting comfortable with the process. Once they've been successful with a Google Play submission, then I'll consider this fixed

[2020-03-28 22:18] #432 closed

[2020-03-28 22:30] PieterAelse commented on #379
And what to do for Web? As `device_info` plugin doesn't support web..

[2020-03-28 22:35] PieterAelse opened #513 "Widget tests for home_page routing"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Next to widget test for the individual pages, a more integration-like widget test for routing to all these pages from the home_page will

[2020-03-28 22:36] PieterAelse commented on #342
I've create an issue for more integration-like widget tests for the routing from home_page to other pages: https://github.com/WorldHealthOrganization/app/issues/513

[2020-03-28 23:49] shankari commented on #274
ok, I will remove the WHO checkoffs step from the release process checklist.

[2020-03-28 23:49] pde opened #516 "Can you drop this link in your Slack please?"
(Would have done so myself, but I see new invitations are closed at present)

Google Doc: [Shared Research on Privacy-Preserving Contact Tracing Apps](https://docs.google.com/document/d/1PsM3dMp10PX2mKFc1HLypLbCzeNwAMKM16ug8rQyA10/edit#)

[2020-03-29 01:22] #493 closed

[2020-03-29 02:01] luigi-rosso opened #520 "Add animations to Protect Yourself."
Add animations to the Protect Yourself section and follow styling guidelines.

[2020-03-29 03:16] advayDev1 opened #521 "Latest Numbers Tile"
For v1: A full page web view of an external URL

[2020-03-29 03:18] advayDev1 opened #522 "News and Press Tile"
For v1: A list of 3 sections, each linking to an external static URL

[2020-03-29 03:18] Baksman opened #523 "some Emojis not diplaying at learn fact page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 03:19] advayDev1 commented on #522
@patniemeyer @asianfoodlab

[2020-03-29 03:19] advayDev1 commented on #521
@patniemeyer @asianfoodlab

[2020-03-29 03:25] advayDev1 commented on #521
For now, implementing this as just an external url not even full screen popup.

[2020-03-29 03:28] #274 closed

[2020-03-29 05:39] dustincatap opened #528 "Translate app to Tagalog (tl_PH)"
As a native speaker of the language, I can do the translations.

Related to #21

[2020-03-29 06:08] myiremark commented on #516
Thanks for your interest and suggestion!

Closing this issue to maintain a centralized list at:

https://github.com/WorldHealthOrganization/app/issues/324

[2020-03-29 06:08] #516 closed

[2020-03-29 06:10] myiremark commented on #324
from @pde:

Google Doc: [Shared Research on Privacy-Preserving Contact Tracing Apps](https://docs.google.com/document/d/1PsM3dMp10PX2mKFc1HLypLbCzeNwAMKM16ug8rQyA10/edit#)

[2020-03-29 07:02] hadron43 commented on #135
I would love to work on this. Please guide me.

[2020-03-29 07:06] piabianca09 commented on #528
Hello, I'd like to help with the tl_PH translations. Pilipino din po. :)

[2020-03-29 07:20] DeepakRitu commented on #331
Hi

[2020-03-29 08:24] #521 closed

[2020-03-29 08:25] advayDev1 commented on #249
Per-country loc or dynamic content is not v1

[2020-03-29 08:46] Badrouu17 commented on #224
Arabic native speaker 🖐 and i would love to provide any kind of help!

[2020-03-29 08:54] dustincatap commented on #528
@piabianca09 thanks! Any help is appreciated.

[2020-03-29 09:35] Domirop commented on #376
I think that the solution is use MediaQuery. I can do this issue

[2020-03-29 09:49] gcarmix commented on #523
These are not showing, because some of them are available only for the latest OS versions,
let's try to choose emoji's available also in older releases, or import an up to date package of emoji in the project

[2020-03-29 10:24] mimifi opened #536 "Translate app to Farsi"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

As a native speake

[2020-03-29 10:32] piabianca09 commented on #528
@dustincatap yes. you can contact me thru my email - bonillapiabianca@gmail.com

[2020-03-29 10:43] dustincatap opened #537 "[Proposal] Use .vscode or .workspace file for project configurations"
#### This is assuming the IDE that is being used for client/Flutter is Visual Studio Code.

I think it is a great idea to create project configurations using `.vscode` or `.workspace`. There are instances that this could be useful like:
- Extensions being used in the project.
- Different launch configurations.
- Code snippets.
- Dart/Flutter project-specific settings (i.e. ignored files to format,

[2020-03-29 11:05] Domirop commented on #376
Is the error to be solved exactly on the "WhoMythBuster" screen and is it a rendering error?

[2020-03-29 11:06] Domirop commented on #376
Is the error to be solved exactly on the "WhoMythBuster" screen and is it a rendering error? because, i solve this error

[2020-03-29 11:20] cristianlorand commented on #68
Hi everyone,
I would have a few suggestions for the triage function:
1. Splitting the questionnaire into 2 categories: general/informational questions related to patient with his past interaction (was he in risk of contacting COVID-19 or any other virus) and second medical relevant questions (symptoms matrix similar to common cold questionnaire, temperature, BP, SpO2, etc.);
2. Build this function

[2020-03-29 12:30] jebstern opened #541 "Translate app to Finnish"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
The app should be a

[2020-03-29 12:30] Apesin opened #542 "Translate app to Nigerian Pidgin English"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

I will like to t

[2020-03-29 12:35] Sarankumar18 opened #544 "Translate app to Tamil"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 12:36] Sarankumar18 opened #545 "Convert this complete app into live Website"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 12:39] Sarankumar18 commented on #528
I would also like to help with the translations..

[2020-03-29 12:46] creativecreatorormaybenot opened #546 "Share link has trailing %27"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

![](https://i.imgur.com/leB6yej.png)

The link should be `https://www.who.int/covid-19-app` instead of `https://www.who.int/covid-19-app%

[2020-03-29 12:51] PieterAelse commented on #506
Can be assigned to me, I'll pick this up.

[2020-03-29 13:04] Domirop commented on #376
I think that the solucion is simple. I want to solve this issue

[2020-03-29 13:05] Domirop commented on #376
I think that the solution is simple. I want to solve this issue

[2020-03-29 13:29] AlexandraDamaschin opened #548 "Translate app to Romanian"
Add romanian translations to app

[2020-03-29 14:07] creativecreatorormaybenot opened #551 "Add List of Contributors & Supporters"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.

### Contributors

It seems reasonable to list the contributors of this app in the "About the app" section.

That would mean show a list of all the `team` names in [`credits.yaml`](https://github.com/WorldHealthOrganization/app/blob/master/content/credits.yaml) in

[2020-03-29 14:14] #548 closed

[2020-03-29 14:19] iambaljeet opened #554 "Create FAB for share buttons."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 14:28] sgrapi commented on #355
Hi!
I have been analyzing the code of these pages:

https://worldhealthorganization.github.io/app/CONTRIBUTING.md
https://worldhealthorganization.github.io/app/CONTRIBUTING.html

Perhaps it is not compiled because the page could be stored or saved in another folder or the name link or file is changed and now the link it doesn't work.

[2020-03-29 14:37] epicfaace commented on #279
What we've been following at the moment is that we keep all development on master. When we release a new version, @hspinks has been creating a new tag and then creating a new Release with notes on the Releases page: https://github.com/WorldHealthOrganization/app/releases

[2020-03-29 14:46] klliu opened #556 "Chinese version has a few issues"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [X ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [X ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Test environment

[2020-03-29 14:55] sgrapi commented on #135
It would be interesting to add a special health prevention section about cardiovascular disease, respiratory condition and diabetes because are people who are at higher risk.

[2020-03-29 15:08] klliu opened #557 "English version has two issues"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Test environment

[2020-03-29 15:27] sgrapi commented on #20
Remember the use of Copyright laws of logos and content of World Health Organization without permission and for commercial use, perhaps first you must to contact with someone from WHO legal department for to ask what is the best way for to make this project:

https://www.who.int/about/copyright/en/

[2020-03-29 16:59] luigi-rosso commented on #485
Here's a high res preview of the animations:
https://cdn.rive.app/who/WHO%20%20App_Rive_file.mp4

With their respective names:
https://cdn.rive.app/who/WHO%20App_animations_full.mp4

Note that the Stay one was updated to include a line indicating the distance between the two people, you can see that in the app:
![image](https://user-images.githubusercontent.com/454182/77855133-5f422600-71a3-11ea-9

[2020-03-29 17:06] ZacharyEilers commented on #446
I don't think firebase dynamic links would solve this problem. Seems like unnecessary added complexity. It would be much easier to just check the platform and link directly to the app store link

[2020-03-29 17:07] Canarygo1 commented on #554
I could resolve that issue

[2020-03-29 17:08] iambaljeet commented on #554
Pull request submitted for the same.

https://github.com/WorldHealthOrganization/app/pull/555

[2020-03-29 17:15] ZacharyEilers commented on #499
I'm working on this right now

[2020-03-29 17:26] sgrapi opened #562 "Add a worldwide list of emergency phone numbers"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

The idea is to pro

[2020-03-29 17:28] attrib75 commented on #389
Admittedly, I'm a Microsoft stack user, but they have a great mobile analytics Saas solution called App Center [https://appcenter.ms](https://appcenter.ms) .  It could be an easy way to get analytics, which are also exportable.  There is a plugin for flutter
https://pub.dev/packages/appcenter

[2020-03-29 17:29] #500 closed

[2020-03-29 17:44] ZacharyEilers opened #564 "Add dividers and extra spacing to the list items in the WHO Myth-busters page."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

This addition make

[2020-03-29 18:20] sheriffyusuf opened #566 "Translate app to Hausa"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Translate app to h

[2020-03-29 18:20] dylanmaryk opened #567 "Adding Dark Mode support, but WHO image is JPG instead of PNG with transparent background"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

I am adding Dark M

[2020-03-29 18:27] SamMousa commented on #331
At this time there are still broken emoji's in the preview. Adding a blocker label since this cannot be punted and there is no clear decision on a path forward.

[2020-03-29 18:28] sapte91 commented on #528
Hi everyone! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week or so.

We def

[2020-03-29 18:28] #528 closed

[2020-03-29 18:30] sapte91 commented on #467
Hi everyone! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week or so.

We def

[2020-03-29 18:30] #467 closed

[2020-03-29 18:37] sapte91 commented on #461
Hi! Thank you so much for your support of this project (and the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week or so.

W

[2020-03-29 18:37] #461 closed

[2020-03-29 18:38] sapte91 commented on #452
Hi @Sahil255 @Tonystarkisbest @Chinmay-KB! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) f

[2020-03-29 18:38] #452 closed

[2020-03-29 18:39] sapte91 commented on #439
Hi @claudiugroza! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week or so.

[2020-03-29 18:39] #439 closed

[2020-03-29 18:40] sapte91 commented on #438
Hi @abdullah951! Thank you so much for your support of this project (and the PR I saw for Urdu). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese)

[2020-03-29 18:40] #438 closed

[2020-03-29 18:40] sapte91 commented on #421
Hi @Moosphan! Thank you so much for your support of this project (and the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week

[2020-03-29 18:40] #421 closed

[2020-03-29 18:42] sapte91 commented on #419
Hi everyone! Thank you so much for your support of this project (and the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week

[2020-03-29 18:42] #419 closed

[2020-03-29 18:42] sapte91 commented on #566
Hi @sheriffyusuf! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week or so.

[2020-03-29 18:42] #566 closed

[2020-03-29 18:47] sapte91 commented on #383
(For visibility) French is the targeted "other" language for v1.0

[2020-03-29 18:49] sapte91 commented on #401
Hi everyone! Thank you so much for your support of this project (and the PRs). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week

[2020-03-29 18:49] #401 closed

[2020-03-29 18:49] sapte91 commented on #544
Hi @Sarankumar18! Thank you so much for your support of this project (and the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next

[2020-03-29 18:49] #544 closed

[2020-03-29 18:50] sapte91 commented on #542
Hi @Apesin! Thank you so much for your support of this project (and the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week o

[2020-03-29 18:50] #542 closed

[2020-03-29 18:52] sapte91 commented on #556
Hi @klliu! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! The translations you currently see in the app are machine translations and we're aware they're not 100% accurate. Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on

[2020-03-29 18:52] #556 closed

[2020-03-29 18:54] sapte91 commented on #541
Hi @jebstern! Thank you so much for your support of this project (and for the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next

[2020-03-29 18:54] #541 closed

[2020-03-29 18:56] sapte91 commented on #536
Hi @mimifi! Thank you so much for your support of this project. We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next week or so.

We def

[2020-03-29 18:56] #536 closed

[2020-03-29 18:57] sapte91 commented on #398
Hi @jpelgrim! Thank you so much for your support of this project (and for the PR). We're thrilled that you want to contribute to localization of the app! Just so you're aware: We’ll primarily be sourcing and managing translations from Lingo24, our translation management system, and we're only focusing on WHO's official languages (English, French, Spanish, Arabic, Russian and Chinese) for the next

[2020-03-29 18:57] #398 closed

[2020-03-29 19:01] sheriffyusuf opened #569 "Client: use a single SharedPreferences instance."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Refactor code to d

[2020-03-29 20:15] klliu commented on #556
Hi @sapte91,

Thank you for letting me know the localization plan!

Just completed the form, hope I can help at some point to the project.

[2020-03-29 20:16] tom-milner commented on #562
I was thinking of using the user's location data to get the relevant Healthcare Emergency Number for their country.

[2020-03-29 21:59] Domirop opened #571 "Render error in screen "who_myth_busters.dart""
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

I found a render e

[2020-03-29 22:03] britannio commented on #571
Pull the latest changes on the master branch. That screenshot is outdated.

[2020-03-29 22:21] #571 closed

[2020-03-29 22:48] kassim commented on #331
Here's an example of how it could work with SVG embed of Twitter's emoji

https://github.com/WorldHealthOrganization/app/compare/master...kassim:svg-emoji?expand=1

<img src="https://user-images.githubusercontent.com/11020264/77862995-66a71500-721f-11ea-9925-786ca67450da.png" width="300">

if it works for you I'll create a PR

[2020-03-29 23:21] hspinks opened #572 "Add image asset to Onboarding - Location Permission Screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Finalize UI of the

[2020-03-29 23:22] hspinks opened #573 "Add image asset to Onboarding - Notification Permission Screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Finalize UI of the

[2020-03-29 23:23] hspinks opened #574 "Create Onboarding - Legal Landing Screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Create the screen

[2020-03-29 23:24] hspinks opened #575 "Order screens in Onboarding flow"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Order should be:
1

[2020-03-29 23:26] hspinks opened #576 "Review text sizing / scaling in the tiles on the Home screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Looks like somethi

[2020-03-29 23:27] hspinks opened #577 "Re-theme the tiles on the Home screen to WHO blue branding"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Use blue backgroun

[2020-03-29 23:28] hspinks opened #578 "Update Home screen header to match design"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 23:29] hspinks opened #579 "Add donation section to Home screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 23:29] hspinks opened #580 "Add copyright text and version number to the bottom of the Home screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 23:30] hspinks opened #581 "Build Travel Advice screen to design spec with static content"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 23:31] hspinks opened #582 "Safe Hands Challenge - YouTube video"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

WHO was interested in using the Director General's video for the Safe Hands Challenge. Need to figure out the design of this in contrast

[2020-03-29 23:31] hspinks opened #583 "Update question accordion styles to match design"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-29 23:33] hspinks opened #584 "Add full Questions screen content"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Use YAML format we

[2020-03-29 23:33] hspinks opened #585 "Add full Mythbusters screen content"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Use YAML format ag

[2020-03-29 23:39] hspinks opened #586 "Create News & Content screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Should be a static

[2020-03-29 23:50] Domirop commented on #582
I would like to help

[2020-03-30 00:44] dhruvilp commented on #385
Hi @hspinks, if no one is working on these, you can assign this one and 384 to me.
Question: what's the base-url url and endpoints?

[2020-03-30 00:46] britannio commented on #582
https://github.com/britannio/app/blob/e64e3bea4ac3fbccea276ffd51af61c5e7fd7f0a/client/flutter/lib/listViewPage.dart#L54
This might be a starting point if the youtube_player_flutter package is used.

[2020-03-30 02:38] theswerd commented on #579
Done

[2020-03-30 02:38] #579 closed

[2020-03-30 02:39] theswerd commented on #578
Done

[2020-03-30 02:39] #578 closed

[2020-03-30 02:52] advayDev1 opened #593 "Register our own Repo licenses with LicenseRegistry"
https://api.flutter.dev/flutter/foundation/LicenseRegistry-class.html

[2020-03-30 03:37] advayDev1 opened #596 "Re-integrate Google analytics PR"
Execution failed for task ':app:processReleaseGoogleServices'.

   Searched Location:

[2020-03-30 04:16] advayDev1 opened #599 "Name the app 'WHO COVID-19' everywhere"

[2020-03-30 04:26] Samaritan1011001 commented on #586
I can work on this. I have been working with Flutter over the past two years and have developed and deployed apps.

Can I be assigned to do this and be added to the design doc as well? Thank you.

[2020-03-30 05:10] Moosphan opened #603 "There is a problem with the arrow back button click area of ​​some pages"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

**the screenshot l

[2020-03-30 05:23] Samaritan1011001 commented on #603
Would you please explain a bit more?
Which device are you using and when does it not work?

[2020-03-30 05:52] Dr-Legend commented on #603
is it about the splash area?

[2020-03-30 05:53] Badrouu17 opened #604 "i10n arabic typo"

[2020-03-30 05:54] Dr-Legend commented on #596
@theswerd are you working on this issue?

[2020-03-30 05:58] Dr-Legend commented on #585
@hspinks can I work on this?

[2020-03-30 06:19] Moosphan commented on #603
@Dr-Legend @Samaritan1011001 I has found the problem and give a PR just now.

[2020-03-30 07:20] #593 closed

[2020-03-30 07:23] moseuh opened #610 "Translate app to Swahili"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 07:38] #444 closed

[2020-03-30 07:40] #183 closed

[2020-03-30 10:25] hsul4n opened #616 "Adding provider for state management"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 11:04] kieranbehn opened #619 "Inconsistent flexibleSpace header across pages"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

The FlexibleSpaceBar used on certain pages is different to other pages. For example the "Protect yourself" and "Travel advice" pages don'

[2020-03-30 11:06] kieranbehn commented on #619
Fixed in PR https://github.com/WorldHealthOrganization/app/pull/617

[2020-03-30 12:16] britannio commented on #580
PR incoming

[2020-03-30 12:22] stottle-uk commented on #545
Can i help with this? - is this a web app for a browser that will reflect the funationality of the mobile apps?

[2020-03-30 12:24] minikin opened #622 "Translate app to Ukrainian"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 12:33] minikin commented on #622
I'd like to do it.

[2020-03-30 12:42] minikin commented on #224
I can help with the Ukrainian.

I also can update Russian translations.
We have translations like this one:

CANNOT be transmitted through __mosquito bites__

translated to(_translated back from Russian to English_):

CANNOT be transmitted through __pieces of mosquitoes__

[2020-03-30 12:51] epicfaace opened #624 "Localization: "Local asset bundle for en_US not found""
When running the app I get these errors in the flutter console:

[code]

It appears to be looking for `assets/content_bundles/your_questions_answered.en_US.yaml`, but we only have a file named `assets/content_bundles/your_questions_answered.en.yaml`.

[2020-03-30 13:12] #575 closed

[2020-03-30 13:21] advayDev1 opened #625 "Need Smooth, no flicker onboarding pages"
This should all be one flow, sliding from page to page if possible.

![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/11729521/77916893-a9ccac80-724e-11ea-9bd3-6804319d0086.gif)

[2020-03-30 13:27] britannio commented on #625
https://pub.dev/packages/animations#shared-axis

[2020-03-30 13:52] britannio commented on #599
pr incoming

[2020-03-30 13:57] epicfaace opened #629 "Users cannot tell which links/buttons leave the app"
It might be nice to clarify when the user is clicking on an external link so they know they will be leaving the app for their web browser. For example, the "Latest Numbers" and "Donate" buttons look the same as the other buttons, but maybe we could add an icon to distinguish them from other buttons that merely perform page navigations.

![image](https://user-images.githubusercontent.com/1689183/77

[2020-03-30 14:15] #619 closed

[2020-03-30 14:16] advayDev1 commented on #624
Pretty sure this is intentional.  It is how we fallback on client-side.

[2020-03-30 15:11] #546 closed

[2020-03-30 15:34] 24thsaint commented on #629
Something like this?
![Screenshot_1585582463](https://user-images.githubusercontent.com/8315544/77931669-09729880-72df-11ea-91fa-686f7066ca21.png)
![Screenshot_1585582466](https://user-images.githubusercontent.com/8315544/77931672-0b3c5c00-72df-11ea-9851-f155ba0d5d59.png)

[2020-03-30 15:37] anthonylegoas opened #635 "l10n : improve french translation"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 16:35] tottomotto opened #637 "Translate app to Bulgarian"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 16:35] tottomotto commented on #637
I'd like to do work on this.

[2020-03-30 16:50] akayibrahim opened #638 "Translate app to Turkish"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 17:02] hspinks commented on #586
@Samaritan1011001 thanks for your interest in working on this, but it looks like this has already been implemented.

Closing in favor of #522

[2020-03-30 17:02] #586 closed

[2020-03-30 17:05] hspinks commented on #499
Closing in favor of #599

[2020-03-30 17:05] #499 closed

[2020-03-30 17:07] hspinks commented on #522
Closed in #597

[2020-03-30 17:07] #522 closed

[2020-03-30 17:08] hspinks commented on #574
Closed in #612

[2020-03-30 17:08] #574 closed

[2020-03-30 17:10] hspinks commented on #576
@theswerd was this addressed in #590? if so, feel free to close

[2020-03-30 17:11] hspinks commented on #577
Closed (I think in #590?)

[2020-03-30 17:11] #577 closed

[2020-03-30 17:13] hspinks commented on #580
See #590 and #623

[2020-03-30 17:14] hspinks commented on #583
Closed in #589

[2020-03-30 17:14] #583 closed

[2020-03-30 17:15] hspinks commented on #572
Closed in #612

[2020-03-30 17:15] #572 closed

[2020-03-30 17:15] hspinks commented on #573
Closed in #612

[2020-03-30 17:15] #573 closed

[2020-03-30 17:16] hspinks commented on #228
Closing as we will be updating TOS/PP for v1.0

[2020-03-30 17:16] #228 closed

[2020-03-30 17:18] hspinks commented on #282
Closing as we will have updated TOS for v1.0

[2020-03-30 17:18] #282 closed

[2020-03-30 17:19] JulianAssmann opened #639 "Translate app to German"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [✔️] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [✔️] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 17:19] JulianAssmann commented on #639
I'd like to work on this (native german speaker).

[2020-03-30 17:19] hspinks commented on #64
Closed in #595

[2020-03-30 17:19] #64 closed

[2020-03-30 17:20] hspinks commented on #65
Closed in #588

[2020-03-30 17:20] #65 closed

[2020-03-30 17:20] hspinks commented on #376
Closing as design updated

[2020-03-30 17:20] #376 closed

[2020-03-30 17:21] hspinks commented on #24
Closed in #588

[2020-03-30 17:21] #24 closed

[2020-03-30 17:21] hspinks commented on #326
Closed in #588

[2020-03-30 17:21] #326 closed

[2020-03-30 17:21] akayibrahim commented on #638
I'd like to work on this.

[2020-03-30 17:22] hspinks commented on #377
Closing as design has been updated

[2020-03-30 17:22] #377 closed

[2020-03-30 17:22] hspinks commented on #379
Closing in favor of #580

[2020-03-30 17:22] #379 closed

[2020-03-30 17:28] hspinks opened #640 "Create Settings screen to design spec with ability to opt out of analytics"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 17:32] hspinks opened #641 "Subscribe user to locale-based push notifications"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

In the Onboarding

[2020-03-30 17:34] hspinks opened #642 "Implement push notification registration on client"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Consume API config

[2020-03-30 17:35] hspinks opened #643 "Update all image assets in app to final, approved assets"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Blocked on awaitin

[2020-03-30 17:37] hspinks opened #644 "Publish dynamic content on App Engine"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Make sure server i

[2020-03-30 17:38] hspinks opened #645 "Create About screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Includes app credi

[2020-03-30 17:48] minikin opened #646 "Improve Russian translation"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 17:48] creativecreatorormaybenot commented on #645
I can do the credits part if needed. FYI, I have already implemented the fetching capability in #552. I understand that there is a UI spec for this. If I could get access to it, I could work on it.

[2020-03-30 17:56] ShivamSinghania commented on #640
Assign this one to me.
Analytics is currently enabled by default, has legal approved that ? That is we want opt-out & not opt-in ?

[2020-03-30 18:16] patniemeyer commented on #291
@advayDev1 We'll need to reference this link from the prompt for app upgrade when that content schema checking PR is merged.

[2020-03-30 18:20] minikin commented on #384
@hspinks Hi, I'm interested.

[2020-03-30 18:24] epicfaace opened #647 "CI should check that files such as Podfile, Podfile.lock are properly updated"
When we initially integrated analytics through #512, we added a Flutter dependency `firebase_analytics` -- but we did not run the iOS build; running the iOS build would have updated the Podfile / Podfile.lock, and these updates did not make it into that PR. I fixed this in #621 -- but it would be good if the CI catches this in the future.

The CI build script should:
- Run flutter build (iOS / And

[2020-03-30 18:25] patniemeyer commented on #640
@advayDev1 @crazybob Did this requirement return?  I thought we pushed this past 1.0.

[2020-03-30 18:27] Domirop commented on #643
@hspinks I want resolve this issue. Can you asigned it me?

[2020-03-30 18:31] Domirop commented on #645
@hspinks I want resolve this issue. Can you asigned it me?

[2020-03-30 18:32] theswerd commented on #625
I am going to use a pageview

[2020-03-30 18:34] #580 closed

[2020-03-30 19:04] myiremark opened #649 "Network Security: TLS 1.2 min, SSL and ingress restrictions Terraform"
Adding the network security requires allocating a global static IP address and load balancer. Once added, the load balancer allows you to apply the TLS and SSL restrictions. This is configured for the WHO GCP production server but needs to be added to Terraform.

Google Setup:
1. Reserve IP Address [Ref](https://cloud.google.com/load-balancing/docs/negs/setting-up-serverless-negs#ip-address)
   -

[2020-03-30 19:06] myiremark commented on #649
https://www.ssllabs.com/ssltest/analyze.html?d=staging.whocoronavirus.org

[2020-03-30 19:10] kbuyukburc commented on #224
I am native Turkish native speaker. I would like to help.

[2020-03-30 19:13] myiremark commented on #649
Proxying outbound traffic from CDN --> app in TLS 1.2 is a viable potential solution

[2020-03-30 19:20] kbuyukburc opened #650 "Add Turkish translation"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-30 19:28] kbuyukburc commented on #650
I am a native Turkish speaker. I can translate intl_en_US.arb . Do I need anything else to approve pull request?

[2020-03-30 19:35] kassim commented on #331
the soap emoji in particular is removed with this upcoming PR https://github.com/WorldHealthOrganization/app/pull/614

but there are emojis elsewhere that are too new
see https://github.com/WorldHealthOrganization/app/issues/523

these could be replaced with images in-line with the text using WidgetSpan

[2020-03-30 19:41] tomgilder opened #651 "Page header overflowing on smaller phones"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

On iPhone 5 the pa

[2020-03-30 20:07] creativecreatorormaybenot commented on #551
Duplicate of #645.

[2020-03-30 20:07] #551 closed

[2020-03-30 20:32] avkvirtru commented on #422
Can someone with permissions please label this issue with "design" for prospective designers to find and help with?

[2020-03-30 20:35] dhruvilp commented on #640
@hspinks Implemented Settings Page + plus support for 6 official languages made PR #654

[2020-03-30 20:42] vestial commented on #629
I think an AlertDialog like this will be helpful:

![warning](https://user-images.githubusercontent.com/30844375/77959868-9ca7d000-72d7-11ea-90ee-f478c899e81b.png)

[2020-03-30 20:55] vestial commented on #567
The top part has now changed to this, do you still need it?
![screenshot](https://user-images.githubusercontent.com/30844375/77960819-358b1b00-72d9-11ea-909b-a8e284a04e90.png)

[2020-03-30 20:58] avkvirtru opened #656 "Broken or missing links on home page"
The [home page](https://worldhealthorganization.github.io/app/) (published on GitHub Pages) for this project:

- [Key Goals for Next Release](https://worldhealthorganization.github.io/app/#key-goals-for-next-release) has a broken link to **feature roadmap**. This link only works in the [GitHub repo](https://github.com/WorldHealthOrganization/app#key-goals-for-next-release), but not on the publishe

[2020-03-30 21:00] tomgilder opened #657 "a11y: Text doesn't scale on content pages"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Text doesn't follo

[2020-03-30 21:03] patniemeyer commented on #651
We have a `contentScale()` factor that you could use if you want.

[2020-03-30 21:05] tomgilder commented on #651
@patniemeyer I saw it, but it only looks at device height and not width - and width is all that matters in this case, didn't want to break anything using that method at this stage

[2020-03-30 21:12] #625 closed

[2020-03-30 21:12] #581 closed

[2020-03-30 21:18] avkvirtru commented on #244
Happy to assist in any ongoing research effort.

[2020-03-30 21:24] hspinks commented on #291
per @crazybob, we can use https://whocoronavirus.org/app as the link from the client side

[2020-03-30 21:26] tomgilder commented on #657
This happens on all content pages. Going to make one PR to fix them all.

[2020-03-30 21:30] advayDev1 commented on #645
Hey folks, if it is assigned please don't reassign.

[2020-03-30 21:34] advayDev1 commented on #644
This will be in the content subdirectory of appengine, https://whocoronavirus.org/app cc @patniemeyer

How about we softlink all of this from the client bundle for now?

[2020-03-30 21:38] avkvirtru commented on #629
An alert dialog is only helpful if, as a user, I tapped on a link by mistake. For everyone intentionally trying to get at the information, it only adds an extra step. The extra friction isn't worth it, imo.

[2020-03-30 21:48] dylanmaryk commented on #567
The image at the top is a PNG now, so that's perfect, thank you!

[2020-03-30 21:48] #567 closed

[2020-03-30 22:01] 123AndGo opened #661 "Integrate Singapore's BlueTrace Bluetooth Tracing Technology"
Singapore's government will be releasing for free and in open source their "BlueTrace" bluetooth tracing technology, which they are using in their official tracing app (TraceTogether). This could be complemented with geolocation, for tracing and for mandatory isolation monitoring.

I really think this could be a home-run to beat the coronavirus: https://medium.com/@andresdavidgalindoolarte/how-to-

[2020-03-30 22:01] ShivamSinghania commented on #640
Waiting on #621 & #658 to be merged first.

[2020-03-30 22:02] britannio commented on #603
@Moosphan This can be closed now.

[2020-03-30 22:02] advayDev1 opened #662 "Label all string change PRs from today for Loc team"

[2020-03-30 22:06] britannio commented on #662
https://github.com/WorldHealthOrganization/app/pull/630 might be relevant as it changes `commonWorldHealthOrganizationCoronavirusApp`

[2020-03-30 22:08] #657 closed

[2020-03-30 22:21] avkvirtru commented on #656
I was able to reproduce and fix this in my fork. Per the pull request template, feel free to assign to me and I can submit a PR.

[2020-03-30 22:46] dhruvilp opened #668 "feat: fetch user pref for data collection in Settings Page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

**TODO:**
In `app/

[2020-03-30 22:49] dhruvilp opened #670 "feat: turn on/ogg Google Analytics in Settings"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

**TODO:**
In `app/

[2020-03-30 22:57] #596 closed

[2020-03-30 23:02] epicfaace opened #671 "Make sure the following tracking identifiers in Analytics are disabled"
https://firebase.google.com/docs/analytics/configure-data-collection?platform=ios

- [ ] iOS - disable IDFA (Advertising Identifier)
- [ ] iOS - disable Disable personalized advertising features
- [x] iOS - Temporarily disable collection at startup
- [ ] Android - Disable Advertising ID collection
- [ ] Android - Disable personalized advertising features
- [x] Android - Temporarily disable collect

[2020-03-30 23:24] #599 closed

[2020-03-30 23:24] hspinks commented on #446
Closing in favor of #291

[2020-03-30 23:24] #446 closed

[2020-03-30 23:35] advayDev1 opened #674 "Analytics flow"
The currently approved plan is:
- All google analytics off on first start.
- Once someone acks the ToS and PP, analytics is turned on for that run and for future runs.
- Analytics is turned off based on the settings opt out, which is saved.

We have a settings page checked in
 We have Google Analytics checked in that is always off as submitted.
We have a tos page checked in.

This bug hooks them t

[2020-03-30 23:36] advayDev1 commented on #670
Closed for #674

[2020-03-30 23:36] #670 closed

[2020-03-30 23:36] advayDev1 commented on #674
TODO:
In app/client/flutter/lib/pages/settings_page.dart

Add logic to turn ON/OFF Google Analytics` line 44

[2020-03-30 23:37] advayDev1 commented on #674
TODO:
In app/client/flutter/lib/pages/settings_page.dart fetch user preferences on data collection &

GET bool _switchValue = [user_pref_value]; line 23
SET new pref and update shared_pref: line 47

[2020-03-30 23:45] Moosphan commented on #603
OK

[2020-03-30 23:45] #603 closed

[2020-03-30 23:48] advayDev1 commented on #668
closing for #674

[2020-03-30 23:48] #668 closed

[2020-03-30 23:54] ShivamSinghania commented on #674
I am already working on this to close #640 .

[2020-03-31 00:04] Mimma68 commented on #224
Hi, I can help with italian, English or Spanish!

[2020-03-31 00:15] am-singh opened #678 "OnBoarding background color differs from logo"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

See following scre

[2020-03-31 00:27] britannio opened #679 "Back button tap target is too small"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

More info on tap t

[2020-03-31 00:36] #283 closed

[2020-03-31 00:37] advayDev1 commented on #674
Great!

[2020-03-31 00:46] #679 closed

[2020-03-31 00:47] #291 closed

[2020-03-31 00:47] jasonTelanoff opened #682 "Update PermissionRequestPage Widget"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Onboarding pages d

[2020-03-31 00:51] am-singh commented on #682
part of this is a duplicate of https://github.com/WorldHealthOrganization/app/issues/678

[2020-03-31 01:01] jasonTelanoff commented on #682
This is not. This has to do with the notifications and location request pages. Also, it addresses the text size, weight, and color, rather than the background color.

[2020-03-31 01:23] jasonTelanoff opened #687 "Match HomePage to Figma"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Match the HomePage

[2020-03-31 02:06] jasonTelanoff opened #691 "Change Protect Yourself Page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Change the Protect

[2020-03-31 02:13] jasonTelanoff opened #693 "Update Questions Page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Change the text co

[2020-03-31 02:21] jasonTelanoff opened #695 "Update Travel Advice Page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Update Travel Advi

[2020-03-31 02:25] hspinks commented on #331
the goal of using emojis was to avoid the issue of image licensing by letting each platform handle turning a unicode character into an image... switching to using images will re-open the license question (some emoji image libraries are open source, but we'd need to choose one compatible with our license).

since the design was updated so that emojis are no longer central to the meaning of each pag

[2020-03-31 02:41] jasonTelanoff opened #697 "Change HomePage button height"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Change the HomePag

[2020-03-31 02:46] #671 closed

[2020-03-31 02:48] hspinks commented on #662
ok, I believe I have done this for all PRs going back to #615. I erred on the side of caution, so if there were ones I was unsure about, I tagged them for @sapte91 to triage later. closing for now, will continue to be vigilant on any new PRs opened

[2020-03-31 02:48] #662 closed

[2020-03-31 02:53] hspinks commented on #643
@Domirop thanks for your interest. This is mostly blocked by needing image assets, so we will handle on our end as we receive them

[2020-03-31 02:54] hspinks commented on #643
@advayDev1 does #655 close this, or are there more images that we want swapped out before full design review?

[2020-03-31 03:13] Moosphan opened #699 "Share button with irregular click effect"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
**The following is

[2020-03-31 03:13] Moosphan commented on #699
And i have fix this on my phone, then i will start a PR.

[2020-03-31 03:15] #647 closed

[2020-03-31 03:16] #674 closed

[2020-03-31 03:16] #640 closed

[2020-03-31 03:48] brunobowden commented on #16
@jobertabma - this is a good juncture for HackerOne to get engaged around a more thorough security review on the WHO App (Flutter based on iOS and Android) and the backend (Firebase and App Engine). For anything sensitive, please email me or Bob Lee directly.

[2020-03-31 04:09] Samaritan1011001 commented on #651
Hey @tomgilder and @patniemeyer

I figured using Flexible made more sense here and it's solves our problem. It basically renders it's child based on the available space and this is can be complimented with a FittedBox on the Text which fits the text in the available space.
It works well on small screens as well as the web

I created a PR for the same. Let me know what you think.

[2020-03-31 04:52] #693 closed

[2020-03-31 05:07] sapte91 opened #702 "Fix typos and add missing question in q&a content"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ X] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [X ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-03-31 05:16] Moosphan commented on #699
The modified code has been merged into master, and this issue will be closed.

[2020-03-31 05:16] #699 closed

[2020-03-31 06:35] advayDev1 commented on #645
Closed by #707

[2020-03-31 06:35] #645 closed

[2020-03-31 06:54] advayDev1 opened #711 "Host TOS and Privacy Policy on AppEngine"
https://whocoronavirus.org/terms
https://whocoronavirus.org/privacy
Por favor , as used in client

[2020-03-31 06:54] hspinks commented on #644
Feature flag turned off in #708

[2020-03-31 06:55] hspinks commented on #643
Closing for RC1 - any updated image assets needed from here should be filed as separate tickets

[2020-03-31 06:55] #643 closed

[2020-03-31 06:56] hspinks commented on #585
Closing for RC1 - any additional changes will require a separate ticket

[2020-03-31 06:56] #585 closed

[2020-03-31 06:56] hspinks commented on #584
Closing for RC1 - any updates will require a separate ticket

[2020-03-31 06:56] #584 closed

[2020-03-31 07:12] hspinks commented on #702
Closed in #703

[2020-03-31 07:12] #702 closed

[2020-03-31 07:31] advayDev1 opened #713 "Undo RC1 shortcuts - Put back 2 onboarding screens"
- Put back 2 onboarding screens

[2020-03-31 07:37] Moosphan opened #714 "Multiple quick clicks will cause click functionality to occur multiple times"
`**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
Here is the screen

[2020-03-31 07:50] advayDev1 commented on #714
If you can debounce this, go ahead

[2020-03-31 07:54] Moosphan commented on #714
@advayDev1 Ok, I will handle this.

[2020-03-31 07:57] barakcodes commented on #610
I'm working on this I will be done as early as today

[2020-03-31 08:06] advayDev1 commented on #389
@epicfaace plz close if this is v1 complete

[2020-03-31 08:59] tomgilder commented on #651
@Samaritan1011001 I feel that the logo needs reducing in size on smaller phones, it just looks wrong being the same size, maybe we need to ask a designer...

[2020-03-31 09:06] Mawulijo commented on #651
I just wrapped the Image in Expanded Widget and placed a sizedBox of width 4.0 between the Column and the Expanded wrapping the Image.

[2020-03-31 11:02] atomgomba opened #719 "Unexpected statement in localization data"
I'm translating the strings to Hungarian and the term with key [`travelAdviceListOfItemsPageListItem1`](https://github.com/WorldHealthOrganization/app/blob/e6ff7ada3fbf1375c224336fe32aaa3e983a8718/client/flutter/lib/l10n/intl_en_US.arb#L48) states:

Is this really true? Naively I would rather expect the opposite...

[2020-03-31 11:44] epicfaace opened #721 "Create firebase android app for org.who.WHOMyHealth"

[2020-03-31 12:06] BakhtaverSingh commented on #642
This is for a ANDROID or i phone?
I can help for android with firebase and node js

[2020-03-31 13:13] epicfaace commented on #389
Let's keep this open until @myiremark has a chance to test on iOS that everything is working properly

[2020-03-31 13:59] advayDev1 opened #723 "Fix General Recommendations link"
[code]
https://www.who.int/emergencies/diseases/novel-coronavirus-2019

[2020-03-31 14:26] advayDev1 commented on #721
And we can still keep org.who.WHOMyHealth (google) and int.who.WHOMyHealth (ios) associated together right?

[2020-03-31 14:44] #723 closed

[2020-03-31 16:34] dna-f commented on #714
Hi, i'm wondering if it could be just enough to await the share call (which returns a future) on the onTap

[2020-03-31 17:14] hspinks commented on #20
Closing as we have established an initial process with WHO for deployment

[2020-03-31 17:14] #20 closed

[2020-03-31 17:15] hspinks commented on #188
Closing the v0.1 version of this task, will open a separate issue for v1.0

[2020-03-31 17:15] #188 closed

[2020-03-31 17:17] hspinks opened #727 "Deployment: text assets needed for app store listings for v1.0"
## iOS
- [ ] Name (0-30 chars)
- [ ] Subtitle (0-30 chars)
- [ ] Privacy Policy URL (#58)
- [ ] [Primary Category](https://developer.apple.com/app-store/categories/)
- [ ] Keywords (0-100 chars)
- [ ] Description (0-4000 chars)
- [ ] Contact info: first name, last name, email, phone number
- [ ] Fill out questionnaire for Age Rating

OPTIONAL for iOS
- [ ] Promotional Text (0-170 chars) (appears a

[2020-03-31 17:19] hspinks opened #728 "Deployment: image assets needed for app store listings"
## iOS

Screenshots ([exact dimensions of all possible screenshots here](https://help.apple.com/app-store-connect/#/devd274dd925)):

- [x] 1 screenshot for iPhone 5.5" display (1242 x 2208 pixels (portrait) or 2208 x 1242 pixels (landscape))
- [x] 1 screenshot for iPhone 6.5" display (1242 x 2688 pixels (portrait) or 2688 x 1242 pixels (landscape))
- [x] 1 screenshot for iPad Pro (3rd Gen) 12.9" d

[2020-03-31 17:22] hspinks commented on #261
Closed in #664 and #665

[2020-03-31 17:22] #261 closed

[2020-03-31 17:22] epicfaace commented on #721
Yes

[2020-03-31 17:23] epicfaace opened #730 "Deployment: update repo with changes from WHO"
WHO has made several changes (some through XCode, some involving Android release configs) since they have deployed. We need to update the repo (or the release branch) with these changes so that we have these changes in source control.

Also, make a "cut" script that swaps in dev with prod config.

[2020-03-31 17:24] hspinks commented on #730
@epicfaace thanks for noting this - can you document those changes either here or in Slack?

[2020-03-31 17:28] epicfaace opened #731 "Add automated tests to server"
The server code doesn't have any tests currently.

Unlike the frontend, the server's endpoints has more stable requirements for functionality, so it would be good to add automated tests to prevent regressions in functionality.

[2020-03-31 17:29] epicfaace commented on #730
I was sent a patch file -- I will apply them to a PR and link it to this

[2020-03-31 17:29] hspinks commented on #482
@advayDev1 is this still relevant?

[2020-03-31 18:19] SamJakob commented on #629
I think perhaps place the link icon directly to the left or right or the title - or use an external link icon link this one ( <img src="https://user-images.githubusercontent.com/37072691/78060952-58bed480-7384-11ea-97ef-9afc36e2d86a.png" width="10px"> )

[2020-03-31 18:44] SamJakob commented on #629
Also in this specific case, I think rather than open them in the web browser, links should be opened with Chrome Custom Tabs
![performance](https://user-images.githubusercontent.com/37072691/78063397-0e3f5700-7388-11ea-8f80-c5fea78fea6c.gif)

[2020-03-31 19:21] brunobowden opened #732 "Dynamic app links: App Store and Google Play"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

http://whocoronavi

[2020-03-31 19:32] i5qme2b944w3 commented on #661
May not be compatible with this project's goal of respecting privacy, but there are other implementations of contact-tracing that avoid this problem.

The TraceTogether project is designed around a trusted central authority (Singapore's Ministry of Health) which has access to personally identifiable data (phone numbers) of all users. (That said, it looks like the central authority does not get acc

[2020-03-31 19:47] neo30fer commented on #355
Hi!

I have been doing some research, and I found out that GiHub does not allow to manually trigger a rebuild, but you can push a commit. I mean, you can try this:

# Empty commit
git commit -m 'rebuild pages' --allow-empty

# Push to the branch whose pages are selected to be published
git push origin <branch-name>

I think maybe that could tackle this issue. Of course, there could be some issue w

[2020-03-31 19:51] willackerly commented on #16
@brunobowden @crazybob - Virtru is willing to fully sponsor / commit our security & compliance team (ran our product through FedRAMP and SOC2) and 3rd party assessors / pen testers that we used, starting as soon as tomorrow.  (as an addition to the HackerOne program)

[2020-03-31 19:56] 123AndGo commented on #661
Thank you for the response. I understand your point.

The covid watch technology also seems very promising, although i haven't been able to compare both technologies in detail.

I think the most important aspect is to be able to use a Bluetooth-based technology and not just geolocation. Bluetooth-based contact tracing has more advantages than geolocation-only contact tracing.

[2020-03-31 20:04] brunobowden opened #733 ""Why" additional text for "Protect Yourself""
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

For the "Protect Yourself" section, it should add the "Why" text listed on the WHO website:
https://www.who.int/teams/risk-communication/

[2020-03-31 20:29] brunobowden opened #734 "Donate link to: https://covid19responsefund.org/"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Donate link should go directly to:
https://covid19responsefund.org/

Currently it points here:
https://www.who.int/Covid19ResponseFund

W

[2020-03-31 20:51] advayDev1 opened #735 "Latest Numbers, plan b"

[2020-03-31 20:52] advayDev1 commented on #735
Server stub in #729

[2020-03-31 22:09] advayDev1 commented on #735
<img width="203" alt="Screen Shot 2020-03-31 at 3 05 50 PM (1)" src="https://user-images.githubusercontent.com/11729521/78079766-ad9d2380-7361-11ea-895e-7998e7e01d02.png">

[2020-03-31 22:21] patniemeyer commented on #651
@Samaritan1011001 which PR?

[2020-03-31 22:26] patniemeyer opened #739 ""Get Started" WHO Logo includes non-localizable text and needs transparency..."
This page needs to be updated to use localizable text and the graphic-only `mark` image asset.

[2020-03-31 22:35] hspinks opened #740 "Cleanup strings based on first-pass review"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Screen-by-screen r

[2020-03-31 23:02] hspinks commented on #733
See updated design:

<img width="201" alt="Screen Shot 2020-03-31 at 4 01 47 PM" src="https://user-images.githubusercontent.com/1484366/78082906-fa382d00-7368-11ea-86b9-cff5e97f21c5.png">

[2020-04-01 00:00] sapte91 commented on #733
Can we use text from here: https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public ? All of this text is already translated on this page.

[2020-04-01 00:02] hspinks opened #743 "Localize iOS permission request screens"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

See https://develo

[2020-04-01 00:26] Mimma68 commented on #383
Hi, how can I help with Italian?

[2020-04-01 00:30] patniemeyer commented on #739
Dan Leuck @dleuck is working on this.  (I'm unable to assign or tag him here)

[2020-04-01 01:02] dleuck commented on #739
It's done. I posted the svg files to the design channel. Let me know if they should be posted or checked in elsewhere.

[2020-04-01 01:41] #732 closed

[2020-04-01 02:08] hspinks opened #748 "Onboarding screens - design review feedback"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Includes:
* [ ] Ce

[2020-04-01 02:13] hspinks opened #749 "Global header - design review feedback"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Includes:
* [ ] Ma

[2020-04-01 02:17] hspinks opened #750 "Main screen - design review feedback"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Includes:
* [ ] Ti

[2020-04-01 02:22] hspinks opened #751 "Remove bottom share bar from all screens in the app"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Per design's feedb

[2020-04-01 02:24] #687 closed

[2020-04-01 02:30] hspinks opened #753 "Update card text style on Protect Yourself page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Text in cards on t

[2020-04-01 02:39] hspinks opened #754 "Remove duplicate titles from Question content"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Currently, the que

[2020-04-01 02:43] hspinks opened #755 "When a question is expanded on the Questions page, update title style"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

When a ExpansionTi

[2020-04-01 02:50] hspinks opened #756 "Update question-answer accordion styles"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

In `questions_inde

[2020-04-01 03:03] hspinks opened #757 "Travel Advice screen - design review feedback"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Includes:
* [ ] Ma

[2020-04-01 03:06] hspinks opened #758 "News & Press screen - design review feedback"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Includes:
* [ ] Sp

[2020-04-01 03:14] hspinks opened #759 "Style new Latest Numbers to design spec"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

See the new page c

[2020-04-01 03:20] hspinks commented on #721
Closing since it was communicated on Slack that this was done! @epicfaace if that isn't right, please reopen this issue

[2020-04-01 03:20] #721 closed

[2020-04-01 03:28] hspinks opened #761 "Change Questions screen title to Questions & Answers"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Per feedback. Will

[2020-04-01 03:28] theswerd commented on #761
@hspinks I have a PR out to update the questions page ui (#760), should I add this on to it?

[2020-04-01 03:30] #711 closed

[2020-04-01 03:31] hspinks commented on #743
@sapte91 bringing this to your attention. These strings are baked into the iOS plist files and displayed as part of the system permissions requests justifying why we are requesting the permission. We don't have a locked English language string for this, but when we do, we'll need to keep this on the `l10n` radar. Also, on the `i18n` front, we'll need to implement the recommended way to localize th

[2020-04-01 03:33] hspinks opened #762 "Change Coronavirus reference to COVID-19 on the Travel Advice screen"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Per feedback. On t

[2020-04-01 03:37] hspinks opened #763 "Status bar text color should be black"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

The system status

[2020-04-01 03:40] hspinks opened #764 "Add periods to content where needed"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Bug bash feedback:

[2020-04-01 03:41] hspinks commented on #761
@theswerd nice! Yeah, go ahead and include it there (assuming the title fits)

[2020-04-01 03:42] hspinks commented on #761
(Also as an explanation for removing `string-change` - let's please put that label only on the PRs that make the string changes to make it easier on the translation team to track down exactly where the strings are changed)

[2020-04-01 03:46] hspinks opened #765 "Disable non-approved languages before final app submission for release"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Make sure that onl

[2020-04-01 03:48] hspinks opened #766 "Content flickers in Russian on app startup"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

On app startup, co

[2020-04-01 03:50] hspinks opened #767 "Tap status bar to autoscroll to the top of the page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Bug bash suggestio

[2020-04-01 03:52] hspinks opened #768 "Update share copy"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

When clicking on t

[2020-04-01 03:54] hspinks opened #769 "Analytics: send events for all buttons pressed and pages viewed (if analytics enabled)"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Currently, we only

[2020-04-01 05:14] advayDev1 opened #771 "If you skip notifications or Locations, you keep getting onboarding over and over"

[2020-04-01 05:20] sapte91 opened #772 "Localization in app isn't working"
Pat caught an issue where our languages aren't listed in the xcode project.

**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ X] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ X] Followed the [Contributor Guidelines](https://github.com/Wor

[2020-04-01 05:49] #754 closed

[2020-04-01 05:49] #762 closed

[2020-04-01 05:49] #764 closed

[2020-04-01 05:49] #768 closed

[2020-04-01 06:04] patniemeyer commented on #772
This specific issue was fixed in PR #773.  However we need to track the languages we want to support and keep that file in sync.  (That file limits what is available to the app).

[2020-04-01 06:04] #772 closed

[2020-04-01 06:06] patniemeyer opened #776 "Localization is unstable on app launch..."
There seems to be a bug in flutter localization on iOS where the app launches with the wrong language code briefly and then immediately redraws with the correct one. e.g. if you log the language from the locale in our home page’s build method it initially starts with a (seemingly) random one and then immediately switches to the desired one. I have looked briefly to see if I can find this issue rep

[2020-04-01 06:10] dna-f commented on #776
I usually wrap the MaterialApp inside a StreamBuilder that receives the locale from a business logic bloc that evaluates the last user choice or the device locale.
The MaterialApp is then built using it:
locale: locale != null ? Locale(locale, '') : null,
      supportedLocales: [
        const Locale('en', ''),
        const Locale('it', ''),
        // ... other locales the app supports
      ],

[2020-04-01 06:10] sapte91 commented on #224
Hey everyone(@Mimma68 @kbuyukburc @minikin @Badrouu17 @JLPitti @maxjmoore @jjerphan @adrianas1dr @tinyoakstudio @jg-l @ZiyadKhalil @alayondiana). We really appreciate your hard work and eagerness to jump in! We're still figuring out our localization process and will have more details to share soon. Please fill out this translations volunteer form for now and expect to hear something from us shortl

[2020-04-01 06:19] Samaritan1011001 opened #779 "About app page and other symlink features are broken when developing on windows."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

There is an error

[2020-04-01 06:44] dna-f commented on #776
The on boarding screen is pushed during the initState of the home screen with the call to _pushOnboardingIfNeeded
We could add a root screen that switches between the onboarding content (if not already done) and the home content

[2020-04-01 06:55] dna-f commented on #771
Hi @advayDev1 , that's probably due to the way the onboarding is pushed (during the home page initState)
I add a few comments on this other issue, if it can help
https://github.com/WorldHealthOrganization/app/issues/776

[2020-04-01 07:04] Samaritan1011001 commented on #769
I observed the following places to be missing to collect analytics:

- On load of all pages like you mentioned (However, one question I have is, isn't collecting on press of a tile equivalent to the user viewing the page it routes to?)

- Travel advice page has a link to a webpage

- News and Press tile needs collection on tap of the tile and 4 links to webpages in its screen

- Settings tile also

[2020-04-01 07:53] atomgomba commented on #719
Ok, I've found the same statement by WHO elsewhere on the web, check these [search results](https://www.google.com/search?sxsrf=ALeKk01POzORsPSL71bn6Z68mwsFFAlyWQ%3A1585697658646&source=hp&ei=etODXpfoJMjosAexibLICQ&q=%22WHO+continues+to+advise+against+the+application+of+travel+or+trade+restrictions+to+countries+experiencing+COVID-19+outbreaks%22&oq=%22WHO+continues+to+advise+against+the+applicatio

[2020-04-01 07:54] jamesblasco commented on #767
This feature is not yet available for iOS13 on the stable branch of Flutter. It is now on master [#16820](https://github.com/flutter/engine/pull/) and it will take some months before being available.

Maybe this feature should be postponed for when it is fully supported by flutter.

(Notice that this tap status bar behaviour is only used on iOS)

[2020-04-01 08:06] #719 closed

[2020-04-01 08:07] akchrys commented on #224
Hi I can translate in French as a native speaker if you need.

[2020-04-01 08:11] mit-mit commented on #779
I cannot repro this on current master:

![Screenshot_1585728672](https://user-images.githubusercontent.com/13644170/78114200-2bfcd280-7401-11ea-96cc-994ce98d818d.png)

[2020-04-01 08:18] jamesblasco opened #785 "Main Page - Layout problems with large text (eg. Spanish translation)"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

There are layout p

[2020-04-01 08:42] jamesblasco commented on #749
I would like to work on this. Let me know if I can assign this task

[2020-04-01 10:54] britannio commented on #779
It's broken for me too but somehow it works for others. I'm on Windows testing on an Android 10 device. What fixes it for is moving the credits.yaml file into the assets folder and updating the reference where the file is parsed.

The error is caused because it's reading `assets/credits.yaml` which contains this:
[code]
and instead of redirecting to the `credits.yaml` file in `/content` it's tryin

[2020-04-01 12:53] dna-f commented on #776
I added a bootstrap setup for the app that takes care of locale (and potentially more)
https://github.com/dna-f/app/tree/handle-locale-at-startup
Added a few dependencies

[2020-04-01 12:54] britannio commented on #767
I'm an Android user so I presume this is an IOS pattern.

On IOS you can swipe from the side to go back.

[2020-04-01 13:05] mit-mit commented on #779
Oh, good catch @britannio. Symlinks work very poorly on Windows, and should be avoided. I created a PR.

[2020-04-01 13:10] mit-mit commented on #779
@britannio @Samaritan1011001 if you have access to a Windows machine would you mind helping with a quick test of https://github.com/WorldHealthOrganization/app/pull/791 on Windows? Just:

[code]

and verify that this resolves the issue on Windows?

[2020-04-01 13:11] britannio commented on #779
@mit-mit I'm on it

[2020-04-01 13:22] britannio commented on #779
@mit-mit I can confirm that your fix works on Windows.

[2020-04-01 14:21] #482 closed

[2020-04-01 14:22] #713 closed

[2020-04-01 14:23] #735 closed

[2020-04-01 14:24] advayDev1 opened #793 "Main menu shows up before the ToS screen briefly"
Expected: Splash -> ToS -> Onboarding -> Main Menu

Actual: Splash -> Main Menu flashes -> ToS ->Onboarding -> Main Menu

[2020-04-01 14:25] advayDev1 commented on #793
@britannio is working on this

[2020-04-01 14:58] dna-f commented on #771
Sorry, I misunderstood the problem

[2020-04-01 15:53] jamesblasco commented on #756
@hspinks SF font is copyrighted to be used only on the iOS platform. For Android would you suggest to use Roboto?

[2020-04-01 16:09] kieranbehn opened #798 "Questions expand out of view"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Expanding questions on QuestionIndexPage expands them out of view.

![Screenshot_20200401-170018](https://user-images.githubusercontent.c

[2020-04-01 16:51] crazybob opened #803 "Must tap twice on home screen boxes after going back"
1. Tap “Protect Yourself”
2. Swipe back.
3. Tap “Protect Yourself”
4. Nothing happens
5. Tap “Protect Yourself”
6. It works

Same after killing app.

iPhone  Xs Max with 13.3.1, TF v0.3.0 (6)

[2020-04-01 17:00] jamesblasco commented on #803
I think this problem only happens when you tap fast and the swipe back transition hasn't finished.

I checked and it happens it different apps I have. Probably Flutter ignores gestures while transitioning. We could dig in this more but I think it should not be a priority except if someone has an easy answer for this.

[2020-04-01 17:03] crazybob commented on #803
I think you're right. Anything we can do?

[2020-04-01 17:06] advayDev1 commented on #803
There's a PR for debounce out

#722

[2020-04-01 17:12] britannio commented on #776
https://github.com/WorldHealthOrganization/app/pull/794

[2020-04-01 17:15] kieranbehn commented on #798
Fixed in #799

[2020-04-01 17:18] britannio commented on #749
https://flutter.dev/docs/resources/platform-adaptations#typography  SF is the default on IOS, not sure if SF and SF Pro Display are the same though.

[2020-04-01 17:23] jamesblasco commented on #803
Let me dig in the CupertinoPageRoute to check it out. But I am working now on other issues.

[2020-04-01 17:32] jamesblasco commented on #749
Hey, is this letter spacing okey or too much?
<img width="293" alt="Captura de pantalla 2020-04-01 a las 19 32 21" src="https://user-images.githubusercontent.com/19904063/78167895-845ac100-744f-11ea-8866-5561cc405204.png">

[2020-04-01 17:40] dna-f commented on #776
Yes @britannio! I agree that #794 could be the right solution for the onboarding screen issue.
Even my branch solves implicitly the same issue, as it set the locale on the material app before navigating to the root screen (home)

[2020-04-01 18:15] ayushr2 commented on #731
I am looking into this!

[2020-04-01 19:14] jamesblasco commented on #749
@britannio I uploaded what I already have before I realised it was assigned to you. Sorry about that

[2020-04-01 19:16] britannio commented on #749
np

[2020-04-01 19:18] hspinks commented on #749
@jamesblasco all good, it's yours now 😄

[2020-04-01 19:23] jamesblasco commented on #756
I forgot to link the issue. This is issue is fixed in [#802](https://github.com/WorldHealthOrganization/app/pull/802)

[2020-04-01 19:26] ayushr2 commented on #731
I will hold off from making a PR until v1 is launched since this is non-urgent. I made a local PR in my forked repo for the time being.

[2020-04-01 19:55] devamhdz opened #807 "Overflowed MythBuster button"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

The MythBuster but

[2020-04-01 19:56] britannio commented on #748
Note to self
- [ ]  Center text vertically in buttons
- [ ]  Make font weight for text in buttons semibold (font weight `600`)
- [ ]  Make button background color `#008DC9`
- [ ]  Buttons should align vertically between all onboarding screens
- [ ]  Make screen background color white (`#FFF`) for all screens
- [ ]  Use logo image asset with transparent background **needs asset**
- [ ]  Tighten let

[2020-04-01 19:58] #807 closed

[2020-04-01 20:05] hspinks opened #809 "Change HTML keys in l10n files to include HTML in the name"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

E.g. `travelAdvice

[2020-04-01 20:06] #750 closed

[2020-04-01 20:07] hspinks opened #810 "Clean up l10n files post v1 launch"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

There are a lot of

[2020-04-01 20:08] hspinks commented on #803
I'm going to bump this to a `P1` for now - can move back up if we knock out the other `P0`s

[2020-04-01 20:21] epicfaace opened #812 "Privacy Policy and Terms should be HTML (not PDF)"
Right now, clicking on "Privacy Policy" or "Terms" leads you to have to download a PDF and open it in a PDF reader. It would be a lot smoother if the user could just view these links in a HTML page, or maybe a modal within the app itself.

[2020-04-01 20:21] advayDev1 opened #813 "Turn on server side access"

[2020-04-01 20:25] advayDev1 opened #814 "Backup plan - If notifications does not make build, skip onboarding screen"
We would prompt when the app updates in that scenario.

[2020-04-01 20:37] hspinks commented on #751
Looks like this is already done

[2020-04-01 20:37] #751 closed

[2020-04-01 20:40] hspinks commented on #733
Decision was made to hold off on this for v1.0 due to both design concerns (large blocks of text can take away from the primary points the screen is trying to communicate) and implementation concerns (adding a new feature after the new feature freeze for distribution). We will re-prioritize this after v1.0 launch, for now I've removed `P0` and moved to the `vNext` milestone.

[2020-04-01 20:41] hspinks commented on #756
Thanks @jamesblasco! Closing per #802

[2020-04-01 20:41] #756 closed

[2020-04-01 21:07] hspinks commented on #739
Per discussion on Slack, moving this to `vNext` and removing `P0` - we will re-prioritize after v1 launch

[2020-04-01 21:10] hspinks commented on #641
The locale portion of this is actually closed in #777 so I will close for now, noting that we still need #642 complete to enable push notifications

[2020-04-01 21:10] #641 closed

[2020-04-01 21:11] hspinks commented on #642
for some reason, I can't assign @cbgrey to this, but both he and @patniemeyer are tag teaming this one today!

[2020-04-01 21:30] patniemeyer commented on #776
@advayDev1 @theswerd @hspinks
Update: I have not found a solution to this problem but -

1) While the language switch is definitely happening it does not actually seem to be tripping up our onboarding pages right now.  I was confused by us not having localized them yet 🤦‍♂ .  However I'm concerned that this is the luck of timing (our startup takes a while) and we may see it on other devices later.

[2020-04-01 21:33] dna-f commented on #776
Hi @patniemeyer, I've made a bit of refactoring on app bootstrap on my branch, to handle locale at startup and other future services setup, like firebase_messaging, dynamic_links, cache and so on.
Locale is now passed down to the MaterialApp before building it.
Do you think that this could be useful?

[2020-04-01 21:50] dleuck commented on #776
I ran into this issue while working on localized SVGs. I ended up deferring a check on locale until the first call for a localized resource.

[2020-04-01 21:53] patniemeyer commented on #776
@dna-f It's hard for me to see what this does because you have introduced a lot of restructuring but it looks like the gist of it is that you are using the `flutter_device_locale` package to get the locale and pass it to the MaterialApp instead of relying on the BuildContext to provide it.  Do you have reason to believe that the technique that that package uses is more stable than what Flutter is

[2020-04-01 21:53] epicfaace opened #820 "CI - require branches to be up to date before merging"
Doing this would not only ensure that branches merged into master would pass the build, but it would also create a button on all PRs that allows one to merge master into that branch -- which is more convenient than needing to do so from the command line.

![image](https://user-images.githubusercontent.com/1689183/78190224-9df50c00-7441-11ea-90c8-e2bcfc43af16.png)

This would involve modifying bran

[2020-04-01 21:54] patniemeyer commented on #776
Yah, the problem that we have is that we want to push the onboarding screens immediately on launch and so there is a race condition with the locale info settling.

[2020-04-01 22:04] patniemeyer commented on #776
I'm going to remove this as a P0 blocker for the moment.  Planning to leave it alone until we get an actual report of the problem or a real fix.  If we get a report we can add the short delay.

[2020-04-01 22:21] dna-f commented on #776
Certainly!
But we should do that before calling the runApp method, because we need to await the Future.
What about the language choose?
When the user will change the language, we will need to rebuild the app widget. That's why I added a Bloc and a StreamBuilder around the Material app: to allow setting a new locale from any other screen and rebuild the whole app. Should we keep it?
Will we save th

[2020-04-01 22:38] #748 closed

[2020-04-01 22:40] #813 closed

[2020-04-01 22:41] hspinks commented on #757
Dropping this to a `P1` since #808 addresses the most drastic problem on the page

[2020-04-01 22:41] kassim opened #821 "Missing french translations"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

ones on the home s

[2020-04-01 22:44] hspinks opened #822 "Use fontSize instead of textScaleFactor"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Using `textScaleFa

[2020-04-01 22:54] dna-f commented on #776
Done on this new branch. Very basic fix ;)
https://github.com/dna-f/app/tree/fix-locale-startup
Tested on:
• Android device [device it] -> [ru] (the first one within the supported languages)
   Home page in 'ru' but onboarding screen in english, because labels like 'legalLandingPageButtonGetStarted' are not translated to ru inside their corresponding arb file.
• iOS simulator [device en] -> [en] .

[2020-04-01 23:19] patniemeyer opened #823 "Notifications logic should handle case where the user agrees but cancels the iOS dialog."
When we use the Firebase `requestNotificationPermissions` method to request permission we have to guard against the possibility that the user could (intentionally or accidentally) cancel the request.  We should decide how we wish to handle this - e.g. ask again next time?  - and implement accordingly using the OS feedback from `onIosSettingsRegistered` which gives us the actual value.

[2020-04-01 23:34] hspinks opened #824 "Set iOS system permission dialog explanation text"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

This [looks like](

[2020-04-01 23:34] purpledrosophila commented on #812
I can help with this, if you're open to new collaborators again. :)

[2020-04-01 23:38] jamesblasco commented on #776
hello @patniemeyer, I think I found the current issue that is making this problem. https://github.com/flutter/flutter/issues/39032

Apparently there is a bug in Flutter that on iOS 13 the windows.locale (the mobile native locale) starts null, while on android it returns the correct locale. See https://github.com/flutter/flutter/issues/39032

I tried the workaround commented in the issue and it wor

[2020-04-02 00:13] jamesblasco commented on #766
Probably duplicate of [#776](https://github.com/WorldHealthOrganization/app/issues/776)

[2020-04-02 00:27] #793 closed

[2020-04-02 00:52] #763 closed

[2020-04-02 01:18] hspinks commented on #766
Assigning @advayDev1 to make English the first language in the localization array - won't fix bug entirely, but will solve the `P0` for now

[2020-04-02 01:19] hspinks commented on #771
Assigning to @advayDev1 to see if we can consistently reproduce

[2020-04-02 01:41] Samaritan1011001 commented on #776
@patniemeyer I am not sure of the changing language in IOS problem. But, for the on-boarding screens not changing the language is simply due to the localized key, values being absent in all the translation files meaning they are not translated although the code for it to work exists.

For example the "Get Started" text on the legal landing page has this localization key: `legalLandingPageButtonGet

[2020-04-02 02:27] Moosphan commented on #728
<details>
<summary>HUAWEI Mate8</summary>

![754EEB521BE803EAA1EC71C116F0DF1F](https://user-images.githubusercontent.com/31280310/78204484-333ce280-74cc-11ea-9f50-c5eeea74d545.jpg)
![131E20C6BF158E165A818500BB1FBD87](https://user-images.githubusercontent.com/31280310/78204487-36d06980-74cc-11ea-9408-607c0c4cd2fc.jpg)
![3A1FC46CE09ADDA63C5F950723A1F426](https://user-images.githubusercontent.com/312

[2020-04-02 03:23] hspinks opened #828 "Enable French language for users defaulting to French language outside of France"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

#816 adds `fr_FR`,

[2020-04-02 03:24] #765 closed

[2020-04-02 03:29] #759 closed

[2020-04-02 03:41] #749 closed

[2020-04-02 04:49] hspinks opened #829 "Clean up final small visual/content issues found in last triage"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Batching the follo

[2020-04-02 05:34] patniemeyer commented on #776
@jamesblasco I think this is the best option for now.  I'm not sure if `window.locale` is equivalent to `Platform.locale` but they both seem to be null during this time.  This will cause a blank screen for a short period but seems like the least invasive option until the Flutter people fix this.

[2020-04-02 05:58] #642 closed

[2020-04-02 06:17] devamhdz commented on #829
can i help with this issue?

[2020-04-02 06:26] harchani-ritik commented on #829
@hspinks  "Increase font size and line height on the text with the red background on the Travel Advice page"? I already have a PR #800 with this change. Should I push the other required changes also in this PR?

[2020-04-02 07:09] dna-f commented on #776
@jamesblasco should we add any check to exit the loop in case of something going wrong?
A sort of max delay?

  final waitMax = const Duration(seconds: 1);
  final stopwatch = Stopwatch()..start();

  print(window.locale); //null
  while (window.locale == null) {
    await Future.delayed(const Duration(milliseconds: 1));
    final elapsed = stopwatch.elapsed;
    if(elapsed > waitMax) {
      brea

[2020-04-02 07:19] nLoops commented on #728
<details>
<summary>iPhone 11 pro max - 6.5</summary>

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-02 at 08 50 17](https://user-images.githubusercontent.com/33456094/78219232-6af15d80-74bf-11ea-9043-9dd846fc3fa7.png)

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-02 at 08 50 22](https://user-images.githubusercontent.com/33456094/78219237-6e84e480-74bf-11ea-9b07-4af7e95ed23c.png)

[2020-04-02 07:39] jamesblasco commented on #829
@hspinks I think changing text issues should be addressed in separated issues as the translation team should take care of that for all languages no?

[2020-04-02 08:07] dnfield commented on #776
I have a patch for this in Flutter, but it will likely take a while to roll through to a usable channel for this app.  For now, this can be worked around by using a platform channel when on iOS to request the current locale from the device, as explained here: https://flutter.dev/docs/development/platform-integration/platform-channels#step-4-add-an-ios-platform-specific-implementation

Alternativel

[2020-04-02 08:17] dnfield commented on #776
Actually, I have a better idea on how to fix this.  Going to test it locally and will open a PR if it's working.

[2020-04-02 08:35] dnfield commented on #776
We can just send the message on the same channel Flutter uses for this earlier on in the application lifecycle.  Flutter will end up sending all locales available later - the logic can be expanded to do that as well, but this will at least get us the primary locale on startup.

[2020-04-02 08:56] cristianlorand commented on #68
Hi everyone,
@hspinks , @SamMousa .. Is this thread still active or of interest to the team ? Sorry for asking, just didn't see any activity on it.
If it still is, we could work on it in parallel with other users who are willing and have the time and integrate the work once the core team is ready to review and integrate.

[2020-04-02 09:41] britannio commented on #728
We'd prefer these without the debug banner right?

[2020-04-02 09:45] Moosphan commented on #728
@britannio OK, I will hide it. And the latest version looks a bit off from the design.

[2020-04-02 10:58] SamMousa commented on #68
At this point all efforts are focused in getting to a first release; after that we'll go over all other issues and assign them a priority. Until then there's no capacity to get new contributors onboarded.

Please be patient a little longer until we get our processes in order!

[2020-04-02 11:37] epicfaace commented on #389
This has been tested on iOS. Closing

[2020-04-02 11:37] #389 closed

[2020-04-02 12:30] #635 closed

[2020-04-02 13:34] epicfaace opened #837 "Deployment: don't hard-code version numbers in build.gradle"
Right now, when we version bump, we also have to bump the values in build.gradle (see https://github.com/WorldHealthOrganization/app/pull/836 for example).

We shouldn't have to do this because build.gradle should read from `local.properties`, which is autogenerated after every flutter run / flutter build.

We should confirm this works and come up with a workflow that allows us to use this.

[2020-04-02 14:57] kassim commented on #837
It already works (tested by simply deleting the `if` code blocks). Nothing needs to be changed but the `if` blocks can be deleted to prevent unnecessary updating.

[2020-04-02 17:15] kassim commented on #828
So I just tested on Android 6 (API 23) with fr_CA as my device setting. According to Android's own documentation it shouldn't resolve to fr_FR on versions before Android 7 (see https://developer.android.com/guide/topics/resources/multilingual-support) and yet, it does.

I just checked in the Flutter code and it does this itself - see basicLocaleListResolution https://github.com/flutter/flutter/blo

[2020-04-02 17:29] kassim commented on #812
to keep the package size down we can just link to the Google Docs PDF Viewer like so:
https://docs.google.com/viewer?url=https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/876905/300320_Revised_Guidance.pdf

[2020-04-02 18:51] crazybob commented on #644
Where in Git is the content I need to host?

[2020-04-02 18:51] crazybob commented on #644
Not seeing yaml files.

[2020-04-02 18:55] myiremark commented on #644
https://github.com/WorldHealthOrganization/app/tree/master/client/flutter/assets

I'll move this to content dir and sym link.

[2020-04-02 19:13] purpledrosophila commented on #812
Are the PDFs accessible for people with disabilities? If not, having them
in PDF form could be problematic, and people with disabilities are being
hit hard by the pandemic already.

On Thu, Apr 2, 2020 at 1:30 PM kassim <notifications@github.com> wrote:

[2020-04-02 19:40] stevan-milovanovic commented on #824
I can help with this issue

[2020-04-02 19:48] Techno-Disaster commented on #728
<details>
<summary>Redmi K20 Pro, all pages screenshots</summary>
<br>

![Screenshot_20200403-010321_COVID-19](https://user-images.githubusercontent.com/52817235/78294612-48efed80-7548-11ea-83f4-241750c9f8e4.png)
![Screenshot_20200403-010326_COVID-19](https://user-images.githubusercontent.com/52817235/78294696-6de46080-7548-11ea-961f-5a791993d88c.png)
![Screenshot_20200403-010330_COVID-19](https:/

[2020-04-02 20:15] YashodhaSamarawickrama opened #841 "Device specific errors to be tested and validated before app release"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-04-02 21:51] hspinks commented on #79
Closing this issue in favor of tickets addressing specific accessibility concerns

[2020-04-02 21:51] #79 closed

[2020-04-02 23:48] advayDev1 opened #844 "YAMLs loaded from Server have missing charset"
<img width="329" alt="Screen Shot 2020-04-02 at 4 47 28 PM" src="https://user-images.githubusercontent.com/11729521/78310093-b167ac00-7501-11ea-8665-4900197e94e7.png">

[2020-04-02 23:57] #837 closed

[2020-04-03 02:30] Techno-Disaster commented on #829
@advayDev1 can you assign me this issue, so that i can send the PR?

[2020-04-03 03:25] #776 closed

[2020-04-03 04:59] YashodhaSamarawickrama opened #850 "Translate app to Sinhalese"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-04-03 05:00] YashodhaSamarawickrama commented on #850
I'd like to contribute for this issue

[2020-04-03 05:03] YashodhaSamarawickrama commented on #224
I can help with app translation

[2020-04-03 07:06] augustinreille commented on #728
I would suggest, for later releases, to use [fastlane tools](https://fastlane.tools/) as [snapshot](https://docs.fastlane.tools/getting-started/ios/screenshots/) for ios and [screengrab](https://docs.fastlane.tools/getting-started/android/screenshots/) in order to automatically upload screenshots with fastlane (#318).

[2020-04-03 08:22] kbuyukburc commented on #224
I am not getting any feedback. Please Care!

[2020-04-03 11:53] epicfaace opened #851 "Web preview onboarding broken due to analytics"
I can't go past the Location Sharing screen on the Web preview because I get the following error on the console:

[code]

[2020-04-03 11:57] epicfaace commented on #743
Here's a guide on where to store localized strings for this: https://medium.com/@guerrix/info-plist-localization-ad5daaea732a

[2020-04-03 12:27] britannio commented on #851
https://github.com/FirebaseExtended/flutterfire
No web support for analytics yet. Do we need the web build to stay intact? It's cool but we might bump into similar issues in the future.

[2020-04-03 15:29] advayDev1 commented on #844
It appears static files from AppEngine are missing response headers which include charset parameter of the Content-Type header field.  Thus they are interpreted as Latin-1 per RFC 2616 by Flutter.  Can you set the charset for static YAML files to be utf-8?

[code]

[2020-04-03 15:58] epicfaace commented on #851
Mainly, it would be nice if we could keep the web build intact so that we can use Netlify's Deploy Previews to quickly preview builds.

[2020-04-03 18:44] SamMousa opened #853 "[draft] Multi-repo flow"
# This doc describes a workflow for using multiple repositories in a development flow.

We will have 2 repositories set up: App and Overlay.

The App repository will contain everything to build the app on a developers machine.
The App repository will contain an empty theme directory. When looking for an
The Overlay repository will contain:
  - A submodule, which is the App repository
  - An overla

[2020-04-03 18:58] #853 closed

[2020-04-03 19:13] stevan-milovanovic commented on #771
I tested this use case with code from current master branch [app version 0.1.1(2)] and I could not reproduce described behaviour.

[2020-04-03 19:24] epicfaace opened #856 "Security Policy pointing to Vulnerability Disclosure Program"
Steps Needed:
1. Start here: https://github.com/WorldHealthOrganization/app/security/policy
2. Prefer users to report all issues within HackerOne VDP (Vulnerability Disclosure Program)
3. Advise them of private repos for collaborating on developing a fix: https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/collaborating-in-a-temporary-private-fork-to-resolve-a-

[2020-04-03 20:21] #771 closed

[2020-04-03 21:43] purpledrosophila commented on #812
I agree! Let me know when I can help. 🙂👍

On Fri, Apr 3, 2020, 14:46 Arthur Klepchukov <notifications@github.com>
wrote:

[2020-04-03 21:45] britannio opened #860 "setState() called after dispose() in `question_index.dart`"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
![image](https://us

[2020-04-03 22:43] advayDev1 commented on #766
Dan fixed this in #831

[2020-04-03 22:43] #766 closed

[2020-04-04 01:51] epicfaace commented on #812
Yes -- @purpledrosophila if you are able to modify the webserver to serve HTML files with the terms / privacy content instead of PDFs, that would be great.

[2020-04-04 02:33] purpledrosophila commented on #812
Count me in! I will see what I can do. Should I modify any of the content,
or just change the format for now? I think, with my technical writing
experience, I could at least do an edit for clarity if needed.

On Fri, Apr 3, 2020, 21:52 Ashwin Ramaswami <notifications@github.com>
wrote:

[2020-04-04 09:52] ayushr2 commented on #844
I can take a look at this if possible.

[2020-04-04 11:46] #844 closed

[2020-04-04 14:00] epicfaace commented on #812
Thanks! Please just change the format for now.

We can deal with the content in a separate PR; that may require input from legal as well.

[2020-04-04 16:14] purpledrosophila commented on #812
OK. One last question then -- where are the PDFs? I can't find them in the
repository.

On Sat, Apr 4, 2020 at 10:01 AM Ashwin Ramaswami <notifications@github.com>
wrote:

[2020-04-04 16:34] RodoQuezada opened #866 "Target kernel_snapshot failed"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Hi, guys !
   I

[2020-04-04 16:36] #860 closed

[2020-04-04 18:04] #656 closed

[2020-04-04 18:41] SamMousa commented on #866
Did you follow the setup guides?

[2020-04-04 18:45] epicfaace commented on #812
Here they are:
- https://whocoronavirus.org/terms
- https://whocoronavirus.org/privacy

If you could convert them to Markdown and add them to the `docs` directory (so that they are published to GitHub Pages), that would be great.

[2020-04-04 18:50] britannio opened #867 "Automate creation of platform assets"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
### Proposal
We can

[2020-04-04 18:53] purpledrosophila commented on #812
To my understanding, converting through Markdown won't ensure that the
resulting pages are accessible. I'll start working on this, but is there a
way I can preview the pages after conversion, then maybe make further
accessibility edits? Hope this isn't a dumb question; I haven't used GitHub
Pages before.

On Sat, Apr 4, 2020 at 2:46 PM Ashwin Ramaswami <notifications@github.com>
wrote:

[2020-04-04 19:43] purpledrosophila commented on #812
Committed an initial pull request, let me know what I can do next. :)

On Sat, Apr 4, 2020 at 2:53 PM Jessica Reuter Castrogiovanni <
purpledrosophila@gmail.com> wrote:

[2020-04-04 21:24] RodoQuezada commented on #866
Hi, Sam! I think I did (the MDs in doc files), but if you can give another, I will be grateful.

[2020-04-04 21:30] fabiosantoro commented on #457
https://github.com/fabiosantoro/app/blob/master/Governments%20Symptomatic%20Map%20App%20COVID19%20AutoQuarantena-Selfquarantine%2003-04-20.pdf

[2020-04-04 21:35] fabiosantoro commented on #68
[wireframe1-SymptoSELFQuarantine.pdf](https://github.com/WorldHealthOrganization/app/files/4432575/wireframe1-SymptoSELFQuarantine.pdf)

https://github.com/fabiosantoro/app/blob/master/Governments%20Symptomatic%20Map%20App%20COVID19%20AutoQuarantena-Selfquarantine%2003-04-20.pdf

[2020-04-04 22:02] hspinks commented on #13
closing

[2020-04-04 22:02] #13 closed

[2020-04-04 22:04] hspinks commented on #21
closing in favor of tickets addressing specific tasks

[2020-04-04 22:04] #21 closed

[2020-04-04 22:09] hspinks commented on #68
Update: we are currently exploring integrations with existing symptom checkers subject to algorithm approval from WHO. Closing this issue for now pending that exploration

[2020-04-04 22:09] #68 closed

[2020-04-04 22:10] hspinks commented on #77
Closing due to no recent activity on this issue

[2020-04-04 22:10] #77 closed

[2020-04-04 22:13] hspinks commented on #94
Closing as this was completed by @crazybob

[2020-04-04 22:13] #94 closed

[2020-04-04 22:14] hspinks commented on #130
Closing - #675 implements Firebase Cloud Messaging

[2020-04-04 22:14] #130 closed

[2020-04-04 22:14] hspinks commented on #131
Design complete for v1.0

[2020-04-04 22:14] #131 closed

[2020-04-04 22:18] #236 closed

[2020-04-04 22:21] #10 closed

[2020-04-04 22:25] SamMousa commented on #851
Also this indicates we're not checking the unhappy paths.

[2020-04-04 22:26] hspinks commented on #279
We are not following the gitflow model strictly as we are not using a separate dev branch, but we have been using release branches for this, e.g. `release/v0.4.0`. On the release branch is where we have been doing any last changes for distribution, like bumping version number or copying in prod configuration files. Then, as Ashwin notes, we create a new tag for the release

[2020-04-04 22:26] #279 closed

[2020-04-04 22:26] SamMousa commented on #851
If asking for a permission fails we can and should notify the user and continue as if the answer was no.

[2020-04-04 22:29] hspinks commented on #303
Closing as design has changed

[2020-04-04 22:29] #303 closed

[2020-04-04 22:31] hspinks commented on #308
This is a great suggestion! Currently, we are using the language directly from WHO to simplify the approval process. This is definitely something to keep in mind for future iterations, though.

[2020-04-04 22:31] hspinks commented on #320
Closing as design has changed

[2020-04-04 22:31] #320 closed

[2020-04-04 22:32] hspinks commented on #325
Closing as design has changed

[2020-04-04 22:32] #325 closed

[2020-04-04 22:33] #343 closed

[2020-04-04 22:44] #386 closed

[2020-04-04 22:46] hspinks commented on #390
Closing as design has changed

[2020-04-04 22:46] #390 closed

[2020-04-04 22:46] hspinks commented on #391
Closing as design has changed

[2020-04-04 22:46] #391 closed

[2020-04-04 22:48] hspinks commented on #397
We've used TestFlight for iOS and Google Play alpha/beta for Android. Closing this issue for now, but @SamMousa feel free to re-open if you think we should explore something different longer-term

[2020-04-04 22:48] #397 closed

[2020-04-04 22:49] hspinks commented on #414
Thanks for your interest @HuzefaGadi! The design of the app has changed, so I'm closing this for now

[2020-04-04 22:49] #414 closed

[2020-04-04 22:50] hspinks commented on #422
Closing as the current app design does not use a hamburger menu

[2020-04-04 22:50] #422 closed

[2020-04-04 23:01] #506 closed

[2020-04-04 23:05] hspinks commented on #554
Closing as sharing is not a hallmark action of the app, and most share buttons have been removed from the design

[2020-04-04 23:05] #554 closed

[2020-04-04 23:05] #557 closed

[2020-04-04 23:06] #564 closed

[2020-04-04 23:09] hspinks commented on #644
Closed in #840

[2020-04-04 23:09] #644 closed

[2020-04-04 23:13] neo30fer commented on #224
Hi! I can translate Spanish, as I am a native speaker, and I am willing to help you with software development too.

[2020-04-04 23:14] hspinks commented on #324
from @123AndGo in #661:

[2020-04-04 23:15] brunobowden commented on #824
Closed by #845

[2020-04-04 23:15] #824 closed

[2020-04-04 23:15] hspinks commented on #324
From @i5qme2b944w3 in https://github.com/WorldHealthOrganization/app/issues/661#issuecomment-606829183:

[2020-04-04 23:15] hspinks commented on #661
Thanks for the suggestions! I've added these comments to #324

[2020-04-04 23:15] #661 closed

[2020-04-04 23:16] brunobowden commented on #727
@crazybob - please upload the marketing text to the App Store, we should share doc with WHO for their approval

[2020-04-04 23:16] #678 closed

[2020-04-04 23:17] hspinks commented on #682
Closed in #686

[2020-04-04 23:17] #682 closed

[2020-04-04 23:17] hspinks commented on #691
Closed in #692

[2020-04-04 23:17] #691 closed

[2020-04-04 23:18] hspinks commented on #695
Closed in #696

[2020-04-04 23:18] #695 closed

[2020-04-04 23:18] hspinks commented on #697
Closed in #698

[2020-04-04 23:18] #697 closed

[2020-04-04 23:20] brunobowden commented on #728
@augustinreille - we're all keen to move to Fastlane, just need a developer to step and implement the support for it

@hspinks - since you have experience with this, please can you create the updated screenshots, thank you. My hope is that we can use Fastlane for the next release and in particular localization.

[2020-04-04 23:22] brunobowden commented on #730
@epicfaace - please work with @patniemeyer to get this merged in. @patniemeyer will do the build and upload to App Store.

[2020-04-04 23:24] #761 closed

[2020-04-04 23:25] #798 closed

[2020-04-04 23:32] hspinks commented on #828
@kassim thanks for the info here. I think we may still want a language symlink to determine which version of the language is the "default" version? But open to other thoughts on this, too

[2020-04-04 23:32] brunobowden commented on #814
@advayDev1 - please confirm this is no longer an issue with current notifications

[2020-04-04 23:46] advayDev1 commented on #814
Notifications is implemnted

[2020-04-04 23:46] #814 closed

[2020-04-04 23:47] #381 closed

[2020-04-04 23:47] #382 closed

[2020-04-04 23:47] #384 closed

[2020-04-04 23:47] #385 closed

[2020-04-04 23:49] hspinks commented on #829
Closed in #830 and #858

[2020-04-04 23:49] #829 closed

[2020-04-04 23:50] advayDev1 opened #870 "FCM no autoinit, defer until ToS Approval"
FCM tokens should be generated only when the user asks for notifications.
See for example:
https://firebase.google.com/docs/cloud-messaging/android/client#prevent-auto-init

Please verify by looking at intercepted traffic on Android and iOS.

[2020-04-05 00:03] hspinks opened #871 "Hand Washing Animation Finalized"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Based on WHO feedb

[2020-04-05 00:14] brunobowden commented on #871
@luigi-rosso - please send PR just as soon as you're ready

[2020-04-05 00:37] advayDev1 opened #872 "Use city locations instead of jittered GPS on the client"
* Prevents jitter from sending you into the wrong political area for targeting
* Abundance of caution for low pop density areas

One possibility:
[code]

[2020-04-05 00:41] brunobowden commented on #803
@crazybob @jamesblasco - I can't repro this with v0.4.0. Please reopen if you can reproduce it

[2020-04-05 00:41] #803 closed

[2020-04-05 00:46] brunobowden commented on #483
Merged in to #727

[2020-04-05 00:46] #483 closed

[2020-04-05 00:59] hspinks commented on #730
Removing this from the `v1.0` milestone as our current process seems to be sufficient to get this to the app stores (see https://github.com/WorldHealthOrganization/app/pull/745#issuecomment-609111615)

[2020-04-05 01:19] joshdholtz commented on #318
👋 Hello! Looking forward to jumping in to help with the fastlane setup 😊 Are there requirements for this issue on what all needs to be done?

## Thing to consider
- What CI platform are we using? (I usually prefer CircleCI but not sure if there is any other preferred)
- Are we looking to send this to Google Play and the App Store with fastlane? Or are we just looking to build the binaries?
- Do we

[2020-04-05 01:43] hspinks commented on #318
@joshdholtz awesome! really appreciate you jumping in to help. Initial answers to your questions are below, and feel free to shoot with any more 😄

We're currently using GitHub Actions for CI. We're trying to keep as much as possible on GitHub so we don't have to configure access across multiple services.

We are sending to the Google Play and App Stores using the WHO accounts, and it looks like t

[2020-04-05 01:49] joshdholtz commented on #318
@hspinks Awesome! Thanks for the quick reply ❤ Getting intro-ed to someone who could hook me up with the credentials I need to sign and upload to both Google Play and App Store would be amazing. That is probably the biggest blocker for me at the moment.

Do you also know if we have access to running macOS GitHub actions with this organization?

[2020-04-05 01:52] epicfaace opened #873 "Delete firebase app org.who.WhoMyHealth"
This was the (old) firebase app that was misspelled (wrong capitalization) -- a replacement for this was added in #721. We need to check to make sure that the old app is no longer being used by our apps on Testflight etc., then delete it.

[2020-04-05 01:57] hspinks commented on #318
@joshdholtz we should have access to macOS GitHub Actions 👍

[2020-04-05 01:59] advayDev1 opened #874 "FCM times out blocking Allow Notifications UI"
[code]

This keeps the user stuck on the Allow Notifications screen.
Instead, this should be done asynchronously when available.

Furthermore, the app never registers for FCM token changes, which is required to async send the token to AppEngine when it does get eventually set.

[2020-04-05 03:18] dhruvilp commented on #828
Just wondering, isn't #654 accomplish this? @hspinks

[2020-04-05 04:07] brunobowden commented on #318
@joshdholtz - I've edited the issue description to summarize all the elements. Feel free to edit further. Store permissions is a sensitive issue with WHO, so we'll need to work towards that. In the mean time, can you do develop and test with a personal account? Of course don't check your credentials in to the repo. Feel free to break up the work in to smaller parts and do them in whatever order ma

[2020-04-05 04:15] advayDev1 opened #876 "Log errors in Analytics"
Log at least:
- Geocoding errors
- Notification errors
- Failure to parse responses from our own server (corrupt data)

As per analytics best practice, we should not log any variables (like exception text), only a closed set of strings.  This ensures no PII ever gets sent.

[2020-04-05 04:22] brunobowden commented on #309
worthwhile documenting for security review but not a blocker on v1

[2020-04-05 04:22] brunobowden commented on #312
worthwhile documenting for security review but not a blocker on v1

[2020-04-05 04:23] brunobowden commented on #313
worthwhile documenting for security review but not a blocker on v1

[2020-04-05 04:24] brunobowden commented on #314
worthwhile documenting for security review but not a blocker on v1

[2020-04-05 04:29] brunobowden opened #877 "Firebase Crashlytics"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Firebase Crashlytics offers an integrated framework for accepting crash reports. It also works well with Firebase Test Lab for automated

[2020-04-05 04:36] purpledrosophila opened #878 "Document where app content is stored"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Hi all,
Can some

[2020-04-05 04:41] advayDev1 commented on #877
https://firebase.google.com/docs/crashlytics/customize-crash-reports?platform=android#manage_crash_insights_data

[2020-04-05 04:46] brunobowden commented on #576
@theswerd - please close if this was addressed in #590

[2020-04-05 04:49] theswerd commented on #576
👍 Resolved

[2020-04-05 04:49] #576 closed

[2020-04-05 05:15] fabiosantoro commented on #195
MAP OF SYPTOMS (SYMPTOMATIC MODEL ) FEATURES:
https://github.com/fabiosantoro/app/blob/master/Governments%20Symptomatic%20Map%20App%20COVID19%20AutoQuarantena-Selfquarantine%2003-04-20.pdf

WIREFRAME DRAFT: COLLECTING ALL "FAMILY" SYMPTOMS DAILY AND REALTIME SYMPTOMATIC MAP
https://github.com/fabiosantoro/app/blob/master/wireframe-SymptoMapSelfQuarantine.pdf

[2020-04-05 05:41] brunobowden commented on #758
punt to after v1

[2020-04-05 05:41] brunobowden commented on #757
punt to after v1

[2020-04-05 05:49] brunobowden commented on #582
punt for now

[2020-04-05 05:56] brunobowden opened #880 "Deployment: Benevity approval"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Benevity approval for donations on iOS

[2020-04-05 05:58] #872 closed

[2020-04-05 06:05] brunobowden commented on #874
@advayDev1 - asynchronous is clearly better, though I get wary of changes like that closer to launch

[2020-04-05 06:11] advayDev1 commented on #874
Pat please take a look at this.  There's no need to hold this screen on FCM tokens.

[2020-04-05 06:12] brunobowden commented on #822
@avkvirtru @tomgilder - PTAL and see if #826 is the right fix for this. Also, please consider if this is a fix we should prioritize for v1. Looking forward to getting other accessibility fixes in for the future

[2020-04-05 06:17] advayDev1 commented on #822
We still need to use auto_text_size

[2020-04-05 06:55] brunobowden commented on #822
auto_text_size makes a lot more sense long term

[2020-04-05 06:56] brunobowden commented on #755
punt for v1

[2020-04-05 06:58] brunobowden commented on #753
punt for v1

[2020-04-05 07:01] brunobowden commented on #870
@advayDev1 - with deference to @epicfaace, I thought it might make more sense for @patniemeyer to look at this since he'll already be looking at the other FCM issue: #874

[2020-04-05 07:02] brunobowden commented on #18
I will confirm WHO medical review

[2020-04-05 07:02] brunobowden commented on #17
I will confirm WHO legal sign off

[2020-04-05 07:30] SamMousa commented on #820
Does that button appear for prs that don't have "allow maintainers to edit" enabled?

[2020-04-05 07:44] brunobowden opened #882 ""Virus response & tools" change"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

WHO expressed concern over the word "virus" and some people do not have a good reaction to it. I've asked them to come up with another su

[2020-04-05 08:01] brunobowden opened #883 "v1.0 additional credits"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

Updated "Thanks to:" section

Credits to add:
* Biswa Gurubacharya
* Bernardo Mariano Junior
* Evan Pye
* Flavio Aggio
* Andy Pattison
*

[2020-04-05 08:13] brunobowden opened #884 "“Get the Facts” ending text is cut off: “the spread”"
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

The “Get the Facts” section has the last words cut off: “the spread”. See screenshot.
Device: iPhone 11 Max Pro
Version: v0.4.0

![IMG_30

[2020-04-05 08:35] brunobowden commented on #876
@advayDev1 - this isn't a blocker on release but would be nice to have. I wonder if Crash analytics might be more helpful, i.e. #877

[2020-04-05 08:36] brunobowden commented on #882
@britannio - I'll try to do this unless I turn out to be too busy

[2020-04-05 09:05] daohoangson commented on #884
[auto_size_text ](https://pub.dev/packages/auto_size_text) can be used to fit this. Assign me and I'll do a PR.

[2020-04-05 10:12] britannio commented on #822
auto_text_size is great for preventing overflows although ideally, UI components should scale to fit a range of sizes.

[2020-04-05 10:21] britannio commented on #884
Fixing https://github.com/WorldHealthOrganization/app/issues/822 should fix this issue.

[2020-04-05 10:37] britannio commented on #876
Firebase Crashlytics has `recordFlutterError` and `recordError` for recording non-fatal errors.

[2020-04-05 12:42] epicfaace commented on #820
I don't think so, because maintainers wouldn't be able to edit those branches.

[2020-04-05 12:53] SamMousa commented on #820
Then we should tell people to enable that when creating PRs, maybe even use the labeler to mark PRs that don't have it as faulty. Enabling the linear history before enforcing editable PRs can significantly hamper development.

[2020-04-05 14:18] advayDev1 opened #888 "Turn off LoggingInterceptor in production"

[2020-04-05 14:28] ramuz108 opened #889 "Error shown in About the App page"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/World
![Screenshot_1586096676](https://user-images.githubusercontent.com/26342942/78501058-b33aa500-7777-11ea-9067-380a0bf633dd.png)
HealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed th

[2020-04-05 15:05] britannio commented on #889
Duplicate of https://github.com/WorldHealthOrganization/app/issues/779
Please follow the checklist!

[2020-04-05 15:05] #889 closed

[2020-04-05 16:14] advayDev1 commented on #874
@brunobowden i think not doing it is a bigger risk, of trapping ppl on the 2nd screen of the app.

[2020-04-05 16:24] hspinks commented on #882
This was updated to "Information and tools" as of #830 - closing this, feel free to re-open if an updated string is requested

[2020-04-05 16:35] britannio commented on #882
It's still "Virus response & tools" in `intl_en_US.arb` and `messages_en.dart` presumably as a result of the former file.

[2020-04-05 16:37] advayDev1 opened #890 "Store political jurisdiction of client for location-specific notifications/content"
We no longer use jittered GPS, only the city-center of the jurisdiction (down to locality, sub-administrative area, administrative area, and country).
Update the server accordingly.

[2020-04-05 16:58] patniemeyer commented on #874
I think the fix to this is straightforward but I'm not in a good position to test it right now so we may have to wait for @cbgrey 's next availability.   Assuming it's blocking in `registerFCMToken()` on the `getToken()` call we should do two things:

1) remove the `await` on line 43 where we call `registerFCMToken()`. instead allowing this first registration process to attempt to complete async.

[2020-04-05 16:59] kassim commented on #828
ok then, added the symlink (and the necessary generated code from the IDE plugin) in the PR ^

[2020-04-05 17:34] cbgrey commented on #874
Agree we should implement Pat's first suggestion. Not a huge risk for that change.

[2020-04-05 17:35] cbgrey commented on #874
Looking into the other issue of ensuring FCM token is up to date. Docs have some detailed guidance for iOS and Android but less clear for Flutter.

[2020-04-05 17:43] advayDev1 commented on #876
Not a blocker

[2020-04-05 17:51] advayDev1 commented on #728
Kristina is working on marketing screenshots, Hunter is backup for non-marketing screenshots if needed.

[2020-04-05 17:52] advayDev1 commented on #822
Let's get @britannio 's PR in.  We will separately do auto-size of tiles in overflow bugs.

[2020-04-05 18:00] advayDev1 opened #893 "Client-side Caching"
fill in

[2020-04-05 18:27] epicfaace commented on #873
Just confirmed that org.who.WhoMyHealth is no longer used and deleted the app (org.who.WHOMyHealth is still there)

[2020-04-05 18:27] #873 closed

[2020-04-05 18:29] SamMousa commented on #893
- [ ] Verify `http.get()` respects cache headers.
- [ ] Find transparent solution for caching the POST requests if needed.

[2020-04-05 18:31] advayDev1 commented on #883
* Michael Nichols

[2020-04-05 18:43] hspinks commented on #884
Discussed in standup: #822 will partially fix this, but we want a more generalized solution that will work for the 3 main edge cases that cause overflow:
* Smaller screen sizes that are not very wide, causing more text to flow to new lines
* Accessibility options increasing the size of the text
* Localization where translations in other languages result in much longer text

The fix discussed in st

[2020-04-05 18:45] SamMousa commented on #893
The standard http library does not support caching: https://github.com/dart-lang/http/issues/334.

## Option 1, not my favorite:
There is an alternative http library called dio: https://pub.dev/packages/dio
It comes with a lot of extensions like: https://github.com/hurshi/dio-http-cache for caching http requests.

## Option 2
https://pub.dev/packages/flutter_cache_manager

This is a generic cache

[2020-04-05 19:06] hspinks commented on #822
Agree - I actually think we should limit the use of `auto_text_size` and instead focus on build components that are more responsive to different content and screen sizes. `auto_text_size` could be an easy solve for #651 though

[2020-04-05 19:37] hspinks commented on #882
@britannio good catch - since I messed up the review, I opened the PR to make the change 🤦‍♂

[2020-04-05 21:08] brunobowden commented on #243
@rmspeers - please take a look at this, I think we can reassign it to you once you comment on it

[2020-04-05 21:13] epicfaace commented on #870
Android: https://firebase.google.com/docs/cloud-messaging/android/client#prevent-auto-init

iOS: https://firebase.google.com/docs/cloud-messaging/ios/client#prevent_auto_initialization

[2020-04-05 21:14] advayDev1 commented on #243
I think we should have a combination of at least the following factors:

* Platform
  * Android
  * iOS
* Network connectivity
  * No network
  * Fast normal network
  * Intentionally slow/lossy network
* Notification permission
  * Skip on the app screen
  * Accept on app screen, accept on the OS screen (on Android, OS doesn't ask)
  * Accept on app screen, reject on the OS screen (iOS only)
* Lo

[2020-04-05 21:33] epicfaace commented on #874
@patniemeyer

How about this -- we store a value in UserPreferences called "FCMTokenRegistered". After we call _registerFCMToken and WhoService.putDeviceToken successfully, FCMTokenRegistered is set to true. When FCMTokenRegistered is set to false, we will not call _registerFCMToken on app startup.

This way, once the token has been properly registered and sent to our backend, we won't call the ba

[2020-04-05 21:35] advayDev1 commented on #874
We also need to handle the changing of the token over time otherwise users will be stuck without notifications.  https://pub.dev/documentation/firebase_messaging/latest/firebase_messaging/FirebaseMessaging/onTokenRefresh.html

If we aren't already.

[2020-04-05 21:41] #822 closed

[2020-04-05 22:29] fabiosantoro commented on #195
![backend symptomatic map](https://user-images.githubusercontent.com/62201413/78511528-99ac5400-779d-11ea-8c04-c28d50385dfb.jpg)
![heatmap](https://user-images.githubusercontent.com/62201413/78511543-b183d800-779d-11ea-8001-e668be144897.jpg)

[2020-04-05 22:32] fabiosantoro commented on #457
![backend symptomatic map](https://user-images.githubusercontent.com/62201413/78511528-99ac5400-779d-11ea-8c04-c28d50385dfb.jpg)
![heatmap](https://user-images.githubusercontent.com/62201413/78511543-b183d800-779d-11ea-8001-e668be144897.jpg)

[2020-04-05 22:40] fabiosantoro commented on #457
![sympto1](https://user-images.githubusercontent.com/62201413/78511695-2b689100-779f-11ea-9caf-f688bf8226eb.jpg)
![sympto2](https://user-images.githubusercontent.com/62201413/78511696-2d325480-779f-11ea-927a-3411002a5229.jpg)
![sympto3](https://user-images.githubusercontent.com/62201413/78511697-2d325480-779f-11ea-9786-764ed9a09770.jpg)
![sympto4](https://user-images.githubusercontent.com/62201413

[2020-04-05 22:41] fabiosantoro commented on #195
![sympto1](https://user-images.githubusercontent.com/62201413/78511731-52bf5e00-779f-11ea-86bb-fee6ef800c44.jpg)
![sympto2](https://user-images.githubusercontent.com/62201413/78511732-53f08b00-779f-11ea-88c7-29ae4f755b60.jpg)
![sympto3](https://user-images.githubusercontent.com/62201413/78511733-53f08b00-779f-11ea-8a1e-93be19790e30.jpg)
![sympto4](https://user-images.githubusercontent.com/62201413

[2020-04-05 22:43] epicfaace commented on #874
That's a good point. We aren't handling this currently.

How will changing of tokens affect the backend? Would it be okay just to call WhoService.putDeviceToken for the new token?

[2020-04-05 22:44] epicfaace opened #899 "Users may fail to get push notifications when internal FCM tokens change"
We also need to handle the changing of the token over time otherwise users will be stuck without notifications.  https://pub.dev/documentation/firebase_messaging/latest/firebase_messaging/FirebaseMessaging/onTokenRefresh.html

If we aren't already.

_Originally posted by @advayDev1 in https://github.com/WorldHealthOrganization/app/issues/874#issuecomment-609488185_

This is important because [Goog

[2020-04-05 23:02] advayDev1 commented on #888
Closed by #895

[2020-04-05 23:02] #888 closed

[2020-04-05 23:03] #882 closed

[2020-04-05 23:25] brunobowden commented on #899
FYI @crazybob

[2020-04-06 01:53] RodoQuezada commented on #866
Config error.

[2020-04-06 01:53] #866 closed

[2020-04-06 02:03] epicfaace commented on #899
It's worth noting that the token u[sually changes only when](https://firebase.google.com/docs/cloud-messaging/android/client#sample-register):

- The app deletes Instance ID
- The app is restored on a new device
- The user uninstalls/reinstall the app
- The user clears app data.

[2020-04-06 02:08] epicfaace opened #902 "Push Notifications - disable push notifications when user changes iOS settings"
We need to finish up the TODO over here: https://github.com/WorldHealthOrganization/app/blob/1d03b2194f482a3e3e604faa9e10305d65831f3f/client/flutter/lib/main.dart#L101-L106

Here, we should modify the user's opt-in settings when they change their push notification settings through iOS settings.

[2020-04-06 02:09] rmspeers commented on #243
Commenting on this per request. Happy to discuss what a security test plan (which may be separate from what QA is looking at from a feature perspective) looks like.

[2020-04-06 04:42] #785 closed

[2020-04-06 04:42] #884 closed

[2020-04-06 04:54] cbgrey commented on #899
Thoughts on this approach:
* Store the FCMToken in user preferences.
* Call getToken on every launch
* Call WhoService() to update the token only if changed

I can implement that fairly quickly if acceptable. Will also help in the case that there's an error getting a token from ticket #874

[2020-04-06 05:07] #651 closed

[2020-04-06 06:05] ramuz108 commented on #16
I am a pentester as well. i can also help in security.

[2020-04-06 06:17] ramuz108 opened #905 "Add social media icons on the home page above version details"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
 For ease of access

[2020-04-06 06:23] ramuz108 opened #906 "Latest numbers displaying the real time data as child elements from the home page itself. Think it would be helpful like a dashboard."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-04-06 07:25] ramuz108 opened #907 "Integration of a bot for questions and answers"
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
Developing a chat

[2020-04-06 07:47] fabiosantoro commented on #324
**SYMPTOMATIC MODEL (map of sympoms) FEATURES**:
https://github.com/fabiosantoro/app/blob/master/Governments%20Symptomatic%20Map%20App%20COVID19%20AutoQuarantena-Selfquarantine%2003-04-20.pdf
**WIREFRAME DRAFT :**
https://github.com/fabiosantoro/app/blob/master/wireframe-SymptoMapSelfQuarantine.pdf

[2020-04-06 07:49] fabiosantoro commented on #324
**ADMIN map backend sample (only for Governments or National Health Institutions):**
![backend symptomatic map](https://user-images.githubusercontent.com/62201413/78511528-99ac5400-779d-11ea-8c04-c28d50385dfb.jpg)
![heatmap](https://user-images.githubusercontent.com/62201413/78511543-b183d800-779d-11ea-8001-e668be144897.jpg)

[2020-04-06 07:51] fabiosantoro commented on #324
**CLIENT Wireframe hypothesis to manage the daily collection of symptoms of all citizens**
**MOST IMPORTANT FEATURES:**
1) UPLOAD ALL FAMILY MEMBERS
2) DAILY SYMPTOMS INTENSITY
3) LOAD NEW SYMPTOMS
4) MEDICINES ASSUMEND & PREVIOUS PATHOLOGIES

![sympto1](https://user-images.githubusercontent.com/62201413/78511731-52bf5e00-779f-11ea-86bb-fee6ef800c44.jpg)
![sympto2](https://user-images.githubuserco

[2020-04-06 07:53] wiekiang opened #908 "Translation Requests For All Languages"
**Please do not create individual issues for request language translation**

We already have a process in place for managing translations. Please do not create lots of issues as they become hard to track. Instead, add a comment here on the language you want and sign up to help with translations if you're able:

[Translation Volunteer Signup](https://docs.google.com/forms/d/e/1FAIpQLSewnYoz4xJWzuPG

[2020-04-06 13:40] rmspeers commented on #16
Per discussion in Slack, River Loop Security will assist with a pro-bono audit of parts of the app or infrastructure as requested. Waiting to get more details in Slack as to the appropriate scoping to not conflict with the HackerOne group looking at this as well.

[2020-04-06 14:16] patniemeyer commented on #899
@epicfaace @cbgrey and I talked about this as part of the fix for #847 and I agree with all of the above.  The absolute simplest thing to do would be to just update the token on each launch.  An easy optimization would be what @cbgrey suggested above - *being careful* to make sure we don't persist the token to preferences until a successful completion of the call to the `WhoService`.

[2020-04-06 15:56] brunobowden commented on #908
@sapte91 - once we decide on an order for doing translations, please update this issue so that others can have public visibility in to it

[2020-04-06 16:04] brunobowden opened #909 ""View live data" link has new location"
On the "Latest Numbers" page, the "View live data" link needs to be updated:

OLD: https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd
NEW: https://who.sprinklr.com/

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthO

[2020-04-06 16:07] brunobowden opened #910 ""advsed" spelling mistake in "Travel Advice""
"Travel Advice" page: "If symptoms occur, travellers are **advsed**...." should be "advised"

@orchardbirds and @jnimis - please check to see if you can find other typos

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/bl

[2020-04-06 16:12] brunobowden opened #911 "Word wraps on last letter in word"
With some of the recent layouts changes. The last letter of several words are being wrapped to a new line. This looks egregiously bad. We need to figure out how we better manage word wrap in the UI.

Device: iPhone 11 Max Pro
OS: 13.3.1
Settings: Accessibility off and Test Size as default

**Main screen**:
It appears that "Protect" is scaled to be correct and then "Yourself" is wrapped as it's sli

[2020-04-06 16:17] hspinks commented on #911
@brunobowden can you let us know your device type, and whether you have any special settings turned on on your phone (e.g. accessibility) to change the font size? If you could share screenshots of what you're seeing here too, that would be helpful

[2020-04-06 16:18] avkvirtru commented on #812
I'm taking a quick look at #868 from an a11y perspective…

[2020-04-06 16:24] brunobowden commented on #911
@hspinks - I've updated the bug with more detail. I don't believe that I have any accessibility or text size changes enabled

[2020-04-06 16:26] hspinks commented on #911
Thanks @brunobowden! We'll take a look

[2020-04-06 16:36] britannio commented on #911
Slightly unrelated but the IOS font is much thicker than the Android font for some reason so it'd be nice if we could use a custom font for both platforms.

[2020-04-06 16:41] jnimis commented on #910
Found some typos.  I'm happy to make the following changes myself, but not sure exactly how:

in client/flutter/lib/generated/intl/messages_en.dart:
l.120: "travelAdviceContainerText" : ... "underlying healh conditions" should be "health"
l.129:  "travelAdvicePageListItem3Text" : "travellers are advsed" should be "advised"
** these same typos also appear in client/flutter/lib/l10n/intl_en_US.arb (

[2020-04-06 17:01] hspinks commented on #871
Reopening based on WHO feedback (will be re-closed when #913 is merged)

[2020-04-06 18:41] kassim commented on #823
The easiest option is to just let it behave as it currently. One would assume if a user says "deny" on the system UI of the permission request.. they actually don't want it enabled.

The UserPreference `NotificationsEnabled` can actually be removed for the meanwhile as it's not retrieved anywhere and once needed should instead be implemented by checking the app's state instead of a saved preferenc

[2020-04-06 18:54] patniemeyer commented on #911
@brunobowden Can you check your Settings->Display & Brightness -> Text Size?

If we're still seeing this after it has been tweaked for small screen sizes and large adaptive text sizes then we may have to introduce the auto_size_text package.  I had been thinking it would be less disruptive to manually adjust the sizes for the first release but if we can't reproduce the problem easily we may have t

[2020-04-06 18:56] britannio commented on #911
https://support.apple.com/en-us/HT202828
Might also be set in Settings > Accessibility, then select Display & Text Size.

[2020-04-06 18:59] #909 closed

[2020-04-06 18:59] #910 closed

[2020-04-06 19:01] patniemeyer commented on #893
@SamMousa That cache manager seems reasonable but I would suggest that we use it explicitly from our content loader on the network call with an appropriate cache period (e.g. a day) and not change the way we fall back to the local assets, which is already implemented separately.  We should get some feedback on the cache period.  If no one has started this I can take a look.

[2020-04-06 19:05] advayDev1 commented on #893
Feel free to - and thank you!

[2020-04-06 19:15] patniemeyer commented on #870
@advayDev1 @epicfaace @cbgrey The docs sound like the same Firebase token is used for both analytics and messaging...  If that is the case then it seems that we can only either enable this or disable it for both.

[2020-04-06 19:21] avkvirtru commented on #822
@brunobowden @tomgilder I found 4 new issues with text resizing in `v0.5.0`:

1. Screen names don't resize at larger fonts (~7 MB gif):
![Screen-names-fonts-dont-resize-Screen-Recording-2020-04-06-at-11 59 39-AM](https://user-images.githubusercontent.com/44370126/78596297-5fc06980-7800-11ea-8a0f-34c753ba6a30.gif)

2. News subheadings don't wrap when fonts large enough ![News subheadings don't wrap

[2020-04-06 19:26] britannio opened #915 "The Onboarding page isn't closed once location permissions are granted."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
Retrieving location

[2020-04-06 21:02] cankisagun commented on #309
Hey all,

We are working on [SafeTrace](https://github.com/enigmampc/SafeTrace) - an API that provides privacy-preserving storage and private computation service for contact tracing APIs. We are using Trusted Execution Environments to provide end-to-end data encryption. We have a functional MVP that can address your privacy requirements for the Covid App. You can use / test it today.

We are here

[2020-04-06 21:04] #915 closed

[2020-04-06 21:32] advayDev1 commented on #911
Hyphenation does not work in flutter right now - https://github.com/flutter/flutter/issues/18443

There is some random pkg for it https://pub.dev/packages/hyphenator that is very immature atm

[2020-04-06 22:31] brunobowden commented on #309
@cankisagun - this is a deeply sensitive issue. The app is very focused on minimizing the impact on user privacy. Your system diagram showed cleartext on the server side, which raises significant concerns for me even if part of a secure enclave. You can email me directly if you have more question but please keep this issue focused on the stated topic.

A number of cryptographic and security teams

[2020-04-06 22:54] brunobowden commented on #16
@rmspeers - please see this for tracking the Security Review. There's also a number of other security work going on: https://github.com/WorldHealthOrganization/app/issues?q=is%3Aissue+is%3Aopen+security

[2020-04-06 23:08] patniemeyer commented on #893
Working on this now...

[2020-04-06 23:47] hspinks commented on #911
Unassigning myself for someone else to pick up - Pat's suggestion in Slack to have an accessibility expert help us shape out our strategy for how to support extreme accessibility settings I think is a good one. @avkvirtru - I know you're crunching on other mocks right now, but bringing this to your attention when you have a minute to weigh in

[2020-04-06 23:56] hspinks opened #920 "News & Press screen subheadings cut off when font resized for accessibility"
Accessibility Audit via @avkvirtru

**Problem:** all subheadings ("Situation Reports", "Rolling Updates", "News Articles", "Press Briefings") are cut off when accessibility font sizing is turned on and fonts are too large (see screenshot).

**Suggested Solve:** text content should line wrap instead of being forced to stay on 1 line

<details>
<summary>Screenshot</summary>

![News subheadings don't

[2020-04-07 00:20] wiekiang commented on #908
@sapte91 @brunobowden - I am able and willing to translate this app into the Indonesian language. Please update once it's ready.

[2020-04-07 00:25] hspinks opened #923 "Use Semantics widget to annotate widget tree for accessibility"
Accessibility Audit via @avkvirtru

There are a large number of `Average` severity issues identified in the audit relating to setting traits for UI elements (e.g. the `button` trait for actionable items, `staticText` for static text, etc). Based on Flutter's [Accessibility docs](), it looks like the [`Semantics` widget](https://api.flutter.dev/flutter/widgets/Semantics-class.html) will need to be

[2020-04-07 00:30] hspinks opened #924 "Back buttons should be identified as navigation elements for accessibility"
Accessibility Audit via @avkvirtru

**Problem:** back buttons are inaccessible because they are not identified as navigation elements. This problem exists for all pages that have a back button.

**Acceptance Criteria:** Header should be a separate element with the title of the screen. Back button should be a separate element.

---
- [x] Searched the [existing issues](https://github.com/WorldHealth

[2020-04-07 00:48] hspinks opened #925 "Enable landscape orientation for app for accessibility"
Accessibility audit via @avkvirtru:

---
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-04-07 00:48] #920 closed

[2020-04-07 00:52] hspinks opened #926 "Add label to analytics toggle for accessibility"
Accessibility Audit via @avkvirtru:

**Problem:** The analytics toggle on the settings screen is not labeled, so VoiceOver cannot tell users what is being toggled.

**Solution:** Add "Analytics" label

**Acceptance Criteria:**

---
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor

[2020-04-07 01:07] epicfaace commented on #870
Summarizing my chat with @patniemeyer -- we should not defer FCM autoinit until after the notifications approval. This is because the FCM token is also used for analytics, so we would want FCM autoinit to be enabled once someone passes the ToS screen, regardless of whether the user approves notifications.

This should be fine, because even though the FCM token is generated after the user passes th

[2020-04-07 02:16] avkvirtru commented on #920
@hspinks @advayDev1 you guys are awesome for fixing so quickly! Thank you!

[2020-04-07 02:19] hspinks commented on #920
this was all @britannio! shout out to this team for moving fast all around 😄

[2020-04-07 02:55] advayDev1 commented on #883
Security team!
Will Ackerly
Jobert Abma
Michiel Prins
Peter Nancarrow
Ryan Speers
Sitora Serverova

[2020-04-07 03:18] advayDev1 opened #927 "Be a Hub for all WHO COVID services"
Users should be able to get to all other official WHO services for COVID from us.
Done:
- Sprinklr dashboard

To do:
- WhatsApp Bot

[2020-04-07 07:18] advayDev1 opened #928 "Latest numbers server-side data"
* Cron job to get the data and store in datastore
* Serve it from datastore on client request

[2020-04-07 10:10] rashidkalwar786 commented on #224
Hi I can translate in English as a native speaker if you need

[2020-04-07 11:13] SamMousa commented on #224
I have l locked this issue. If you want to volunteer you can find a google form to sign up.
We are getting a lot of volunteers, more than we need and more than we can currently handle.

Even though our intention is to get back to you as soon as possible, it might take a while.

Thanks for your patience and understanding!

[2020-04-07 13:20] robertwt7 opened #930 "Add Hotline / Emergency line lists for each countries"
Here in Australia we have different hotline to call if you think you might have COVID symptoms. Surprisingly many people do not know and got confused when they call GP or overwhelmed hospital. Adding a new page for this might be helpful?

I can help with this

**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [

[2020-04-07 13:29] cbgrey opened #931 "Refactor Push Notification features into a utility class."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [X] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [X] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

The code that mana

[2020-04-07 15:44] avkvirtru commented on #911
@hspinks I don't have anything to add atm, only that this problem may reappear with longer localized strings. For readability's sake, I would avoid breaking words in the main nav, even if hyphenation is supported. Consider wrapping the whole word that doesn't fit to the next line, smaller text, or shorter labels.

[2020-04-07 18:45] epicfaace opened #934 "Firebase sends before ToS is accepted"
This is slightly different from #870. With the fix to #870 in PR #897, we are still seeing two requests on iOS sent to Firebase before the ToS are accepted (thanks for @pwicherski for testing):

[code]

[code]

We need to find out:
- Are these requests "okay" to be done before the user has accepted ToS?
- If not, how do we remove them, if that is even possible?

[2020-04-07 19:15] britannio opened #935 "Android Talkback boxes aren't showing up."
**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).
This is actually a

[2020-04-07 19:32] patniemeyer opened #936 "If the user denies notifications in onboarding there should be a way to enable them later."
If the user denies notifications in onboarding there should be a way in our Settings page to re-enable them.   This can be pretty simple and just show the notifications page again.  However there is a complication on iOS where iOS will only prompt with the system dialog once and after that we may need to redirect the user to settings to enable them manually.  I"m not sure if Firebase gives us any

[2020-04-07 20:16] advayDev1 opened #938 "Potential race condition in Client data update"
I'm not too familiar with Objectify: is the following a possible race condition:
1. Device sends /putDeviceToken.  Client entity is created and FCM token stored.
2. Device sends /putLocation.  Client entity made in #1 is not found, location is stored, and clobbers the FCM token.

?

[2020-04-07 20:35] kassim commented on #936
Firebase plugins won't tell us if it's enabled or give us a shortcut to the settings screen as far as I'm aware. But there are two plugins to both show whether it's enabled and to launch the settings screens.

check status https://github.com/Vanethos/flutter_notification_permissions
launch settings https://github.com/spencerccf/app_settings

I'm happy to implement this if desired.

[2020-04-07 20:40] #893 closed

[2020-04-07 20:41] kassim commented on #931
can be done as part of https://github.com/WorldHealthOrganization/app/issues/936 probably

[2020-04-07 20:49] cankisagun commented on #309
Sharing this here to clarify potential misconceptions.

The concept of a secure enclave guarantees that data is encrypted client-side and sent to the enclave. The client-side encryption is done using Diffie-Hellman, which uses the private key of the user and the public key of the enclave. Decryption of the data is done when it's inside the enclave and when there's a computation, by using the priva

[2020-04-07 21:33] hspinks opened #940 "Darken skip buttons in onboarding flow for accessibility"
Accessibility Audit via @avkvirtru

**Problem:** skip buttons on the Notifications and Locations screens in the onboarding flow do not meet the minimum contrast ratio with the white background.

**Solution:** darken "Skip" button greys until at least 4.5:1 contrast met

**Acceptance Criteria:** meet the 4.5:1 minimum contrast

---
- [x] Searched the [existing issues](https://github.com/WorldHealth

[2020-04-07 21:35] hspinks opened #941 "Accessibility focus trap on Travel Advice screen"
Accessibility Audit via @avkvirtru

**Problem:** Focus trap. Once I navigate to this red banner, I cannot navigate to the header / back button nav area via VoiceOver. I can only navigate back to the content.

**Acceptance Criteria:** Should be able to navigate back to the header / back button area.

---
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to

[2020-04-07 21:49] hspinks opened #942 "Travel Advice text doesn't respect accessibility font resizing"
Accessibility Audit via @avkvirtru

The HTML-backed text (rendered using [`flutter_html`](https://pub.dev/packages/flutter_html)) in the red background on the Travel Advice screen does not respect font resizing for accessibility. Look into whether text rendered with `flutter_html` can support adapting font resizing based on accessibility settings.

---
- [x] Searched the [existing issues](https://

[2020-04-07 21:54] hspinks opened #943 "Links on About screen don't respect accessibility font resizing"
Accessibility Audit via @avkvirtru

The Terms, Privacy, and Licenses links on the About screen rendered using LinkTextSpan do not respect font resizing for accessibility. Make sure they adapt to be resizable.

---
- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https:

[2020-04-07 22:49] hspinks commented on #931
It's all you, @kassim! thanks for volunteering 😄