[2020-03-17 17:31] SamMousa opened #1 "Survey library"
I've been using SurveyJS (https://surveyjs.io/) a lot.
It's a pure JS survey tool that takes a survey definition in JSON and runs a survey.

It supports advanced routing loting and multiple languages.
Should be simple to integrate into an app to do the actual survey.

Will allow us to easily change the survey in the future.

It doesn't have data submission built in so that's perfect for the first

[2020-03-18 19:50] pjayathissa opened #7 "Selection of tech stack"
In order to get started, I was wondering what tech stack we will use to develop this project.

Was thinking React-Native. Thoughts?

[2020-03-18 20:03] brunobowden commented on #7
@harperreed @chiuki @hspinks @nikete - please add your comments too this. We should quickly converge on which stack we use. I'm generally supportive of React-Native but I'd appreciate others commenting too.

I've already spoken with Harper and we felt comfortable making use of Google Firebase and much of Google's infrastructure. Though things will keep changing around here.

[2020-03-18 20:07] harperreed commented on #7
I think firebase would be easiest to get started. It also lends itself to the real time data portion of the app requirements.

Let's go ahead and get started on that.

[2020-03-18 20:14] chiuki commented on #7
I have no experience with React-Native so I'll need to learn it with the project. I have dabbled in Flutter though.

Firebase sounds good.

[2020-03-18 20:30] advayDev1 commented on #7
React-native + firebase SGTM as well.

[2020-03-18 20:33] advayDev1 commented on #7
Also I'd suggest TS instead of JS for react-native for safety.

[2020-03-18 20:36] brunobowden commented on #7
Any takers for Flutter? Google's mobile stack looks more modern as you'd expect from it being released recently.... it'll also streamline things to be Google top to bottom. I'm not as familiar with both systems.

On the alternative, if there's greater experience around React, then that'll help us go faster right now.

[2020-03-18 20:39] harperreed commented on #7
Flutter is fine - but i don't think is as well know as React, which would limit the numbers of volunteers that are available.

Let's go with react-native  and firebase.

[2020-03-18 20:39] hspinks commented on #7
+1 for React Native from my POV for rapid dev and benefits to sharing some code across iOS and Android. Not familiar with Flutter but happy to learn

[2020-03-18 20:41] brunobowden commented on #7
React-Native and Firebase. Decision made. Closing issue.

[2020-03-18 20:41] #7 closed

[2020-03-18 20:43] hspinks opened #8 "React Native starter kit?"
Opening discussion here around potential starter kits to bootstrap

[2020-03-18 20:45] hspinks commented on #8
I've used [Ignite Andross](https://github.com/infinitered/ignite-andross) in the past and liked it. Includes Redux & React Navigation, but not TS. [Ignite Bowser](https://github.com/infinitered/ignite-bowser) comes with TS built in and MobX state tree. Not sure how easily that plays with Firebase or if we'd need to rip the local state management out

[2020-03-18 20:49] advayDev1 opened #9 "Client side Scaffolding to play with"
React native, TS, just some text on screen
https://github.com/madvay/who-covid-app/tree/master/covidapp

[2020-03-18 20:56] SamMousa commented on #1
Given #7 it might make sense to look for a react native survey library.
Using a survey library will enable us to easily and quickly implement the key goal **Diagnosis & Triage**.

Alternatively we could run something like SurveyJS in a WebView.

[2020-03-18 20:57] myire commented on #1
https://github.com/jsonform/jsonform

[2020-03-18 20:57] advayDev1 opened #10 "CLAs"
I know we're operating very fast here possibly without formal CLAs, so I'm just going to leave this here.  It's not legal advice to anyone else.

I, Advay Mengle, license all of my original software contributions in this repository to the World Health Organization and to the public at large, under the terms of the MIT License:

[code]

[2020-03-18 20:59] hspinks commented on #8
Also looking at this now: https://invertase.io/oss/react-native-firebase/

[2020-03-18 21:00] SamMousa commented on #1
Are form builders expressive enough to do routing in a questionnaire?
In the past I've always found them lacking.

[2020-03-18 21:01] myire commented on #10
http://web2py.com/init/static/web2py_contributor_agreement.pdf is an example of a contributor agreement to a project which i know is commercially friendly and developer friendly.

Disclaimer: Massimo, web2py creator, is my mentor.

[2020-03-18 21:02] myire commented on #1
Yes, you can always use a state machine or other routing mechanism.

[2020-03-18 21:03] myire commented on #1
I also don't think the people contributing to the repo initially are going to be using gui form builders.  That's probably a concern in 2-4 weeks, not 2-4 hours.

[2020-03-18 21:19] SamMousa commented on #1
Note i wasn't referring to the builder part of that library, more to the survey taking part.

[2020-03-18 21:39] myire commented on #1
http://alpacajs.org/docs/api/wizards.html

is another library that provides exactly the functionality you describe.

I've used it before in the past.  It also is Apache licensed.

Again, alternatively there can be another layer for handling form events
and routing them.

I'm a fan of JSON schema as it is widely available and theres good tooling
around it.

On Wed, Mar 18, 2020 at 2:19 PM Sam <noti

[2020-03-18 21:47] advayDev1 opened #12 "Continuous integration system choice"
Suggestions: Travis or GitHub's new actions
I'm very familiar with travis for open source.  I am not at all familiar with GitHub's actions system.

@brunobowden  and I have worked on a project using Travis long ago.

[2020-03-18 21:58] myire opened #13 "Device Support"
What minimum version of each device type are we targeting?

From a data driven perspective, there is probably a dataset somewhere which describes the popularity curves for android and ios, although I don't know off the top of my head where it is.

Also, we could cross correlate with disease demographic curves to optimize for impact in the target population.  That's probably an over optimization at

[2020-03-18 22:01] advayDev1 commented on #13
https://github.com/facebook/react-native

as a baseline

[2020-03-18 22:10] myire commented on #13
Cordova supports a bit further back for android (API 10-21 and android 2.33
- 5.0.2)

https://cordova.apache.org/docs/en/latest/guide/platforms/android/index.html

Looks like iOS as well:

"The device must have at least iOS 9 installed, the minimum iOS version
supported since the release of cordova-ios v4.4.0."

https://cordova.apache.org/docs/en/latest/guide/cli/template.html

On Wed, Mar 18, 202

[2020-03-18 22:17] myire opened #14 "Cordova"
Going to throw some useful resources in here for cordova:

https://cordova.apache.org/docs/en/latest/guide/overview/index.html

http://cordova-multiplatform-template.js.org/

https://github.com/CKGrafico/Cordova-Multiplatform-Template

I think it would be prudent to avoid adding multiple SDK's (ionic) on top of one another, as well as limiting to JS instead of TS for the time being.

[2020-03-18 22:19] myire opened #15 "Routing / State Charts"
https://xstate.js.org/docs/

[2020-03-18 22:20] myire commented on #12
@advayDev1 can you describe more of your background?

Do you have experience with it and cordova?

[2020-03-18 22:21] advayDev1 opened #16 "Deployment: WHO Security Review"
placeholder tasks for the future

[2020-03-18 22:21] advayDev1 opened #17 "Deployment: WHO Legal Review"
TBD:
-  3rd party libraries / dependency license review
-  CLA / developer license review
-  Verify privacy policy vs actual system #58 and #1509

_Please don't edit to signify changes - GitHub makes it appear that such edits come from me.  If your goal is different than what is described here, say so in comments._

[2020-03-18 22:21] advayDev1 opened #18 "Deployment: WHO Medical/Content Review"
placeholder tasks for the future

[2020-03-18 22:30] advayDev1 commented on #12
No experience with cordova.  Plenty of experience with travis.

My background: run a satellite analysis startup now, previously led various teams at google (Google Play, AI, and ads teams) - https://www.linkedin.com/in/advaymengle/

[2020-03-18 22:35] #9 closed

[2020-03-18 22:36] hspinks opened #19 "Decisions to be made"
Starting an ongoing thread for the architecture decisions that we should make & have made as a reference. Writing this out in a quick brain dump, so leave a comment with decisions that are missing. Goal should be to make these decisions quickly and not look back once made. Will continue to update this as the discussions/decisions progress.

* [x] Client Framework - **Decision: Ionic React for v0.1

[2020-03-18 22:42] epicfaace commented on #14
I'd suggest that we use [Ionic React](https://ionicframework.com/docs/react). Ionic is quite good for quickly making apps together, and using React instead of Angular is probably better given the popularity / widespread usage of React and React components.

[2020-03-18 22:43] epicfaace commented on #12
Let's use GitHub Actions -- it will be far easier to share and manage access control than having to create a new Travis account. Plus GitHub Actions is faster as it allows 20 concurrent builds (while Travis only allows 3). I can help set this up.

[2020-03-18 22:43] advayDev1 commented on #19
- [ ] Automatic security enforcement
  - Snyk.io, GitHub's built-in, both, others?
- [ ] Dependency updates
  - Dependabot/GitHub, others?

[2020-03-18 22:52] advayDev1 commented on #19
- [ ] Dependency/build management
  - ReactNative scaffolding uses Gradle for Android, CocoaPods for iOS
  - Need to decide npm vs yarn for the React code itself (initial check in uses yarn)

[2020-03-18 22:53] epicfaace commented on #7
@brunobowden and others:

I'd like to reopen this -- I'd suggest we make a PWA and go with something like [Ionic React](https://ionicframework.com/docs/react). It's far more lightweight to build a PWA (web-first) and then adapt it for mobile than start with mobile-first (React Native) and then adapt it for web (React Native Web). I think it would also be easier to onboard developers to a plain Rea

[2020-03-18 22:55] epicfaace commented on #1
If we end up using a React PWA, I maintain a React library called [react-jsonschema-form](https://github.com/rjsf-team/react-jsonschema-form). It's a pretty powerful tool for creating declarative forms from JSON schema that works well with React.

I agree, see my comment in https://github.com/WorldHealthOrganization/app/issues/7#issuecomment-600898279 -- I think a React PWA with Ionic would be bet

[2020-03-18 22:57] myire commented on #7
I believe these choices were made too quickly and ignore major privacy issues with Firebase in particular.

This is supposed to be offline/low data usage first, optimized for mass adoption.  Device support wasnt even considered in this thread either.

[2020-03-18 22:58] advayDev1 commented on #16
Consider getting a pro bono security audit from a specialist firm.

[2020-03-18 23:02] brunobowden commented on #16
@ michiel3 @jobertabma - HackerOne co-founders and personal friends

Not enough to security review yet but someone to help with setting up a HackerOne bug bounty would be very helpful. We're aiming to launch an initial version within a week.

[2020-03-18 23:06] jobertabma commented on #16
@advayDev1 We are ready to allocate some of the community efforts towards a security review for WHO. Just say the word and we'll get things going! We can coordinate here on GitHub or privately at jobert@hackerone.com. We've got your back, thanks for having ours during these times.

[2020-03-18 23:08] advayDev1 opened #20 "Deployment: WHO App store accounts"
- [ ] Apple App Store credentials
- [ ] Google Play credentials
- [ ] Management/distribution of sideloaded APK (if we want to do that)

[2020-03-18 23:10] advayDev1 commented on #16
Thanks @jobertabma - its also been my pleasure working with HackerOne professionally in the past.  Bruno and @SamMousa are the point persons for organizational coordination.

[2020-03-18 23:13] myire commented on #7
From:

https://docs.google.com/document/d/1isNMLpwI2iUY92KPwJHfY7kQnpN3oCuUl6c94J7Qmhs/edit#heading=h.u7xtg8lt787c

Small app size and bandwidth usage so that it can be used throughout the world
Offline for low connectivity environments with reporting when connectivity returns
Localization of interface to practically every language in common use
Separation of data to the server, allowing customiza

[2020-03-18 23:33] brunobowden commented on #16
@jobertabma - please get things going but they might just be in a holding pattern until the app is more mature. Someone with Mobile / Cloud experience would be helpful.

[2020-03-18 23:40] myire commented on #19
responded in:
https://github.com/WorldHealthOrganization/app/issues/7

Plain old javascript is going to let us work together as fast as possible.  We can refine over time.

Choosing a back end/front end optimized for high throughput data streaming applications without considering privacy implications and the requirements in:

https://docs.google.com/document/d/1isNMLpwI2iUY92KPwJHfY7kQnpN3oCuUl6c9

[2020-03-18 23:48] jobertabma commented on #16
@advayDev1 @brunobowden - @michiel3 and I coordinated with some people on our side and we can offer a program free of charge, including a Program Manager who will help set up the program (scope, policy, etc.). HackerOne also has a dedicated triage team that may have resources available to help with reproducing and escalating any security vulnerabilities that may be found during the test. We've rea

[2020-03-18 23:50] brunobowden commented on #16
@jobertabma - unknown at this point, I'd just have them follow on GitHub and https://who-app.slack.com and it'll be apparent as it gets going

[2020-03-19 00:00] advayDev1 commented on #20
If the WHO does not have an app already on either of these platforms, it can take a while to get the appropriate contracts and tax forms signed and verified by Apple/Google.

Who is running point for the legalese?

[2020-03-19 00:00] hspinks commented on #7
FWIW, the only requirement that React Native doesn't hit out of the ones quoted above is the small app size. Works fine with internationalization and offline / low-data functionality. There's definitely a tradeoff when it comes to the bundle size, but it seems like potential downstream requirements will need native functionality (e.g. background location sharing, etc) that might be harder to integ

[2020-03-19 00:08] advayDev1 opened #21 "Localization and Globalization"
- [ ] All strings must be translated.
- [ ] All formatting must be locale-specific.
- [ ] ~Need to choose a service for translation or~ **get authoritative translations from WHO.**
- [ ] Images should ideally not contain any text or locale-specific content.

[2020-03-19 00:08] advayDev1 commented on #19
- [ ] Localization and globalization #21

[2020-03-19 00:10] advayDev1 opened #22 "Ingest assets from design team"
Once someone has initial, properly licensed (MIT/Public Domain), assets let's get them checked in.

[2020-03-19 00:11] myire commented on #21
One potential choice:

https://github.com/wikimedia/jquery.i18n

[2020-03-19 00:20] advayDev1 commented on #22
Due to the excessive constraints at https://www.cdc.gov/other/agencymaterials.html not going to check in the CDC diagrams at this point.

[2020-03-19 00:24] anikaraghu commented on #20
There seems to be an app on the Apple App Store called "WHO Info" which is "The official World Health Organization info app" - are we building on that?

[2020-03-19 00:26] advayDev1 commented on #20
That appears to be operated by a subcontractor's credentials and not updated in many years.

[2020-03-19 00:39] deanhach commented on #20
Perhaps @SamMousa has insight here

[2020-03-19 00:42] hspinks commented on #21
Recommend authoritative translations from WHO given the importance of providing accurate medical advice.

Also recommend against jQuery-based solutions if we can avoid. Recommend [`react-native-localize`](https://github.com/react-native-community/react-native-localize) if we stick with React Native. If we do PWA, React has a couple popular libraries in [`react-i18next`](https://github.com/i18next/

[2020-03-19 00:46] advayDev1 opened #24 "Dynamic content delivery that supports offline use"
One dead simple choice:
1. A YAML file with the headings, titles and images, and control flow of options.
2. Each app store update we bake in the most recent YAML.
3. Check access to our site for updated YAML and remote load it if available on start.
4. All assets baked in for the baked YAML, YAMLs online use remote assets too.

I'm sure there are frameworks though.

Keep it simple in v0.1, or go

[2020-03-19 01:00] advayDev1 commented on #19
- [ ] Dynamic/offline delivery design #24

[2020-03-19 01:02] myire commented on #21
+1 to "authoritative translations from WHO given the importance of providing accurate medical advice"

[2020-03-19 01:24] hspinks opened #25 "FYI - join discussion on Slack"
Hey all, heads up that there is a Slack set up for this project: https://join.slack.com/t/who-app/shared_invite/zt-cq5agryq-GDRTN4bU284Z7PPZZiEIvA

(side note - @SamMousa can you please install the Slack app for this Github repo so we can integrate the two and have all notifications in one place?)

[2020-03-19 01:37] brunobowden commented on #25
I installed the Slack App for GitHub

On Wed, Mar 18, 2020 at 6:24 PM Hunter Spinks <notifications@github.com>
wrote:

[2020-03-19 01:46] advayDev1 commented on #21
Great - Decision made - no autotranslate.

[2020-03-19 03:28] theswerd commented on #14
Rather than react, I prefer [Flutter](https://flutter.dev). Flutter's prepackaged Material widgets and large package base make it perfect for development situations that require speed like this one.

[2020-03-19 04:25] theswerd commented on #21
Can I work on this?

[2020-03-19 04:39] myire commented on #20
Also, FYI, we can always distribute our own APK for android.

[2020-03-19 04:56] brunobowden commented on #20
Yes, I’ll be working with WHO on that. Need to start the process in
parallel.

On Wed, Mar 18, 2020 at 9:39 PM myire <notifications@github.com> wrote:

[2020-03-19 05:19] viviancromwell commented on #21
There are external translation services - which I am not super familiar with, but you can give them the string XML files and they send back the translations in the language you desire.

[2020-03-19 05:21] viviancromwell opened #27 "Handle the deployment of the apps in China"
This requires some investigation if you want to deploy the app in China, you need to deploy to 6-7 different ones to cover the majority of the users.

potential contact person:
https://twitter.com/shuding_
https://twitter.com/youyuxi

[2020-03-19 05:23] theswerd commented on #21
One option is https://crowdin.com, they are used in Material-UI's localizations

[2020-03-19 06:16] advayDev1 opened #29 "Eject from expo or not?"
The current scaffold uses Expo: https://expo.io/

Expo builds on top of react-native, but we can always downgrade (or "eject") from Expo.  The main benefits of rapid dev in Expo is how quickly you can iterate and distribute to non-eng stakeholders.

(If we ditch React-Native this is not important)

[2020-03-19 06:17] advayDev1 commented on #20
From a security perspective, having WHO recommend sideloading APKs outside Play Protect-able channels is probably pretty sketchy.

[2020-03-19 06:21] myire commented on #20
That's making a lot of assumptions about people and their ability/desire to
use google play to download apps.

On Wed, Mar 18, 2020 at 11:18 PM Advay Mengle <notifications@github.com>
wrote:

--
Mark Graves, Founder
My Integrated Research Environment <http://www.myire.com/>
Ph. 707-356-9473

*CONFIDENTIALITY NOTE:*
This e-mail and any attachments are confidential and may be protected by
legal priv

[2020-03-19 06:46] advayDev1 commented on #12
@epicfaace can you get github actions building this app in a fork?  Theoretically the workflow would just need to run `yarn` in the subdir.  The permission less nature of Actions sounds appealing so we don't bottleneck on the handful of us that are committers and even smaller few that are security admins.

[2020-03-19 07:03] SamMousa commented on #10
https://help.github.com/en/github/site-policy/github-terms-of-service#6-contributions-under-repository-license

Having a CLA creates a barrier for entry, as well as administrative load. We need to track who has and who hasn't signed it.

[2020-03-19 07:04] advayDev1 commented on #20
Good point - would have to have the third option, added to list.

[2020-03-19 07:05] SamMousa commented on #20
I do not have access to any official WHO credentials for either Google Play or Apple Store. I'm not sure they even exist.

Let's wait for @brunobowden to sort this out.

[2020-03-19 07:50] SamMousa commented on #21
Does WHO even provide translations in every language? I would expect local authorities to take care of that, providing translations in every possible language seems impossible.

We could use Weblate https://weblate.org/en/ to manage the translations. It is easy to set up self-hosted, also will very likely be fine hosting it for us.
Advantage of this tool is that even if we go with WHO provided tra

[2020-03-19 07:55] SamMousa opened #30 "Implement automated tools to enforce code style"
I think we should standardize the code style early and set up automated tools to check / correct code style.
We'll be dealing with lots of contributions and verifying them will most likely be the bottleneck. Cognitively it'll be more efficient to have 1 style throughout the codebase.

[2020-03-19 08:12] advayDev1 commented on #30
One suggestion if we're sticking with typescript: gts (opinionated, and uses prettier underneath)

[2020-03-19 08:17] SamMousa commented on #30
Opinionated is good for moving quickly.

[2020-03-19 09:06] SamMousa commented on #12
See #31

[2020-03-19 13:29] SamMousa commented on #7
After giving both React-Native & Ionic-React a shot I must say that the experience with Ionic was a lot smoother for me.

[2020-03-19 14:24] viviancromwell opened #34 "Need official assets from WHO"

[2020-03-19 14:50] epicfaace commented on #7
@SamMousa

:+1:

@hspinks

Good point. Perhaps in that case we could still use Ionic React, but use it to publish native apps -- that way we can still use Cordova plugins to use native functionality like what you mentioned.

[2020-03-19 14:55] viviancromwell opened #35 "Add "soon" next to local maps on Main Screen"
do we want to have a hook to allow users get notified when local maps is coming.    might be overkill for the initial release but it is a nice way to get users back.

[2020-03-19 15:05] viviancromwell opened #36 "what happens after user clicks on "share the app" button"

[2020-03-19 15:20] viviancromwell opened #37 "What user information do we capture in the initial release"

[2020-03-19 15:21] SamMousa commented on #7
I have used Ionic Capacitor in my tests. Note that geo is bridged so native isn't strictly needed

[2020-03-19 15:36] viviancromwell opened #38 "add ios status bar"

[2020-03-19 15:37] viviancromwell opened #39 "what is the content structure for "protect yourself""

[2020-03-19 15:38] viviancromwell commented on #39
@brunobowden do you have a point of contact at WHO what the content structure might be when user clicks on "Protect yourself", trying to figure out what to include in V0.1

[2020-03-19 15:40] viviancromwell opened #40 "Is there another designer to share the work with me"
a designer who is strong in visual and branding design, as those are not my skills.  My focus is on interaction

[2020-03-19 15:48] SamMousa commented on #39
I think protect yourself would show the tips (again) as seen in the prototype. Those are the things anyone can do.

[2020-03-19 15:49] viviancromwell opened #41 "allow users to send feedback"

[2020-03-19 16:58] viviancromwell opened #42 "Chat bot interface for self diagonose"
Tencent mini app

[2020-03-19 17:00] viviancromwell commented on #42
this will be a low priority for the initial release, I will take an AI to talk to Alex Ng and cc Daniel and Bruno.

@brunobowden

[2020-03-19 17:26] viviancromwell commented on #42
Chris, I added the screen shot. https://github.com/WorldHealthOrganization/app/issues/42

[2020-03-19 18:23] csfurmanski commented on #20
/bump
 @brunobowden any new input on creds for App Store?
https://www.apple.com/leadership/lisa-jackson/ was mentioned on the call; do we have an on-going thread with her?
I am concerned Apple's process will be a major blocker for distribution on such short notice.

[2020-03-19 18:27] theswerd opened #43 "Add prettier to actions"
We can make our code repository easier to read and write by automating prettier on every PR.

[2020-03-19 18:30] SamMousa commented on #43
Is this a duplicate of #30?

[2020-03-19 18:32] theswerd commented on #43
Somewhat. I didn't see that one before.

[2020-03-19 18:32] #43 closed

[2020-03-19 18:33] theswerd commented on #30
Can I build this?

[2020-03-19 18:49] hspinks commented on #19
updated per this morning's call:
* Client Framework: Using PWA in native wrapper, specifically [Ionic React](https://ionicframework.com/docs/react/quickstart)
* Server: Using Google App Engine with Github Pages

[2020-03-19 18:59] SamMousa commented on #30
Fine with me!

[2020-03-19 19:16] viviancromwell opened #44 "Copywriting for the mobile app need WHO's approval"

[2020-03-19 19:19] viviancromwell opened #45 "Do we have a way to allow users to switch language later"

[2020-03-19 20:25] csfurmanski opened #48 "Team Roster"
Working draft of current team roster needs updating please; first draft has been taken from the initial intake form plus some threads on Slack but is not complete.  Apologies if I missed you; please add yourself or correct information if needed.

https://docs.google.com/spreadsheets/d/1jt4xrXWUnsh8DmtawNV4XGBj8RAdgn-d7ckgL2qEXPM/edit?usp=sharing

[2020-03-19 22:24] myire commented on #12
@advayDev1 I think we can close this now?

[2020-03-19 22:25] #12 closed

[2020-03-19 22:28] advayDev1 commented on #17
- [ ] License review

[2020-03-19 23:22] myire commented on #29
@advayDev1 I think we can close this as well.

[2020-03-19 23:30] brunobowden commented on #20
I'm working on setting up the WHO with access. They should own that
relationship and manage the releases. We'll be in a position to build a
solid app and guide them through it.

On Thu, Mar 19, 2020 at 11:23 AM csfurmanski <notifications@github.com>
wrote:

[2020-03-19 23:46] csfurmanski commented on #20
Ok, so WHO will have the Apple developer program account?  There are several other work streams we should ID on the content side for the submission that I assume we'll manage as well as the feedback loop from the review process - unless Apple is just going to blindly push this thru, expect some back and forth which usually takes several days.

[2020-03-19 23:59] brunobowden commented on #20
Chris - already talking with WHO about this. I think it’s best that they’re
the owner of this account for reasons of control and legal protection....
unless they choose to nominate someone else.

Goal of fast launch is expressly for the purpose of working out these kinks.

On Thu, Mar 19, 2020 at 4:46 PM Chris Furmanski <notifications@github.com>
wrote:

[2020-03-20 00:00] viviancromwell opened #53 "the language change display feel wonky. revisit"

[2020-03-20 00:04] viviancromwell opened #54 "Add a wiki for designed related info and links"

[2020-03-20 00:06] csfurmanski commented on #20
Thanks. Let's make sure we have clear roles and responsibilities for the submission and launch process between WHO and us. Hoping @epicfaace can ticket out the subtasks -
Either way we should list the App Store as high risk for missing a Wednesday target.

[2020-03-20 00:22] patniemeyer opened #55 "Set access origin in Android config"
Finalize and set the access origin in client/ionic/android/app/src/main/res/xml/config.xml

[2020-03-20 00:25] patniemeyer opened #56 "Review app required permissions in AndroidManifest.xml"
Review the permissions requested in: client/ionic/android/app/src/main/AndroidManifest.xml

[2020-03-20 00:26] epicfaace commented on #20
@advayDev1

I agree; I do **not** think we should officially sideload APKs. I'm very much in favor of distributing this officially through the Google Play / iOS stores in order to make it very clear for the average user what the more secure pathway is. Just look at the example of the [Iowa caucus app](https://www.theguardian.com/us-news/2020/feb/03/smartphone-app-at-center-of-iowa-debacle-causes-d

[2020-03-20 00:43] viviancromwell opened #57 "V.01 user testing scenario"

[2020-03-20 00:45] viviancromwell opened #58 "Privacy policy link"
https://www.who.int/about/who-we-are/privacy-policy.

Link to the website.

[2020-03-20 00:47] viviancromwell opened #59 "App instrumentation requirement"

[2020-03-20 00:53] epicfaace commented on #20
Subtasks would include:

**iOS Account Setup**

- Create an Apple developer organization account for the WHO. https://developer.apple.com/support/compare-memberships/
  - Costs $99/year
  - We need the following information from the WHO: Apple said, "Companies and educational institutions must provide a D-U-N-S Number (available for free) registered to their legal entity during the enrollment proc

[2020-03-20 01:22] hspinks opened #60 "Build "hello world" static version of app to WIP design spec"
Design is a WIP but want to get initial UI set up as a starting point with the currently agreed-upon stack. UI can be fully static at first without worrying about dynamic content or internationalization, which we can use as a base.

Latest design spec can be found here (will update when this is updated): https://www.dropbox.com/s/trysvr1ywfgeiu3/iOS%20UX%20%281%29.pdf?dl=0

[2020-03-20 01:23] hspinks commented on #8
Closing for now pending deeper investigation into Ionic React's longer term ability to support native functionality

[2020-03-20 01:23] #8 closed

[2020-03-20 01:25] hspinks commented on #10
Closing for now given the above comment and https://github.com/WorldHealthOrganization/app/blob/master/LICENSE

Will note this as an outstanding item in the Legal Review ticket

[2020-03-20 01:25] hspinks commented on #14
Closing for now as we're using Ionic React

[2020-03-20 01:25] #14 closed

[2020-03-20 01:28] #25 closed

[2020-03-20 01:29] hspinks commented on #27
I'm going to close this for now. On this morning's call, it sounded like release in China is not a goal in the near future. We can come back to this if that changes!

[2020-03-20 01:29] #27 closed

[2020-03-20 01:30] hspinks commented on #29
Closing for now as we're using Ionic React

[2020-03-20 01:30] #29 closed

[2020-03-20 01:31] hspinks commented on #22
I'll close this for now as we can communicate design specs & assets per specific ticket and/or more generally over Slack & Figma

[2020-03-20 01:31] #22 closed

[2020-03-20 01:43] advayDev1 opened #61 "Better dependency sanity"
Proposed contribution rule:
* For each dependency you add, acknowledge it in your PR description and describe why you chose it, its license, and a summary of how widely it is used in the open source community (do known apps use it?  does it have known backers?)

[2020-03-20 01:48] advayDev1 opened #62 "Migrate build from yarn reactnative to npm ionic"

[2020-03-20 01:49] hspinks opened #63 "Investigate viability of Ionic React for native functionality beyond v0.1"
For v0.1 and initial launch, Ionic React is the fastest way to get a meaningful MVP on the App Store that will handle distribution of necessary information and triaging. Downstream product requirements may necessitate more native functionality (e.g. background location fetch, etc) that is handled better by fully-native solutions like React Native rather than PWA

[2020-03-20 01:50] hspinks opened #64 "Stand up initial server side setup to serve static content"
For dynamic content in the app

[2020-03-20 01:52] hspinks opened #65 "Stand up initial client side setup to populate app with dynamic content"
Using server side setup from #64, integrate dynamic content into the app. Should bake the initial content directly into app bundle for offline functionality, but server side content can override

[2020-03-20 01:55] hspinks opened #66 "Add internationalization framework to app"
Regardless of how translations are created (whether manually or automatically), add the framework for i18n. Options mentioned on the call today were [`react-intl`](https://github.com/formatjs/react-intl) and [`react-i18next`](https://github.com/i18next/react-i18next).

[2020-03-20 01:58] hspinks opened #68 "Create strategy for triage survey definition"
Overall tech design of how we are defining the survey questions that will be a part of the Diagnosis & Triage goal of the app. Should be able to be baked into the app bundle for offline functionality, but also with the ability to be overridden with updates from the server. This task should include a plan for the relevant data structures, internationalization, etc

[2020-03-20 01:59] hspinks commented on #17
[ ] 3rd party libraries / dependency license review
[ ] CLA / developer license review

[2020-03-20 02:08] hspinks opened #69 "Add "share this app" functionality"
Should use native share sheets - look into Ionic's [Social Sharing](https://ionicframework.com/docs/native/social-sharing) and [Action Sheet](https://ionicframework.com/docs/native/action-sheet) components. Should be a modular component that can be reused in the app

[2020-03-20 02:08] advayDev1 opened #70 "Investigate ionic's use of runtime dependencies for developer infra"
Generally, type definitions, the typescript compiler, and similar are `devDependencies`.  Tracking issue to investigate why they are `dependencies` in ionic and ensure we are not shipping all of these libraries to end users.   If this is intentional, close as by design.

[2020-03-20 02:20] epicfaace commented on #68
It may be good to define the actual data structure using [JSON Schema](https://json-schema.org/). We could serialize the data structure of what we want to collect in a local JSON file that is stored offline, then update them as needed from the server.

We could use a library such as [react-jsonschema-form](https://github.com/rjsf-team/react-jsonschema-form) for rendering the forms from JSON Schema

[2020-03-20 02:30] #1 closed

[2020-03-20 02:33] hspinks commented on #15
Closing in favor of #68

[2020-03-20 02:33] #15 closed

[2020-03-20 02:39] advayDev1 commented on #68
+ @crazybob as well

[2020-03-20 02:55] theswerd commented on #69
Is there any string you want me to put as the current share string. @hspinks

[2020-03-20 02:56] advayDev1 opened #71 "Enforce security audit in CI"
Until we get full featured Snyk (or similar) audit, I'm simply going to fail the build (and thus prevent submission) for moderate or higher vulnerabilities

@hspinks SGTY?

We already have 2 low level vulns in the deps so have to moderate or higher:
[code]

[2020-03-20 03:58] #61 closed

[2020-03-20 03:58] #62 closed

[2020-03-20 03:58] #71 closed

[2020-03-20 05:08] advayDev1 opened #75 "Visual diff testing framework"
Each PR would generate screenshots of each main screen, and show the diffs (if any) to master.
Each difference can be approved in the PR.

I've used https://percy.io/ for this (for web apps) - any other suggestions?

[2020-03-20 06:00] viviancromwell opened #76 "Clarify what the official guideline for self diagnosis to design the bot"

[2020-03-20 06:01] viviancromwell commented on #76
https://www.cdc.gov/coronavirus/2019-ncov/specific-groups/high-risk-complications.html

[2020-03-20 06:07] viviancromwell opened #77 "Start a conversation with eng about how they may want to leverage the code from Tencent"
Tencent stack:  vue, node and mysql

From Kyler:
The plan is we will
1) strip out some code (e.g. Tencent maps integration,  wecaht frame dependency) to make a html5 version
2) translate the UI to English and this should be ready sometime next week

They can open source the chatbox code and design as well if there is a need, but the guideline might be tweaked because the Tencent version is specifi

[2020-03-20 06:07] pjayathissa commented on #57
@viviancromwell could you provide more details on what this issue is?

[2020-03-20 06:09] viviancromwell commented on #77
@brunobowden @advayDev1 see above for the information I gathered from Tencent. about the tech stack, they are willing to open source the chat bot code and design if we need.  From design perspective, it doesn't matter too much whether it is a static interactive dialog or smart bot.

But you may want to think about if you want to reuse the backend code etc.

[2020-03-20 06:31] advayDev1 opened #78 "Consider pictographic prophylactic reminders"
The most basic parts of our app would ideally be usable to someone who can’t read one of our speced languages or at all (poor eyesight included), using large graphics that, on a standalone basis, represent all of the needed prophylactic steps.   The original mocks have something like that:

Each time the app starts, before you get to the more complex parts, the app would remind the user with graph

[2020-03-20 06:34] viviancromwell opened #79 "Accessibility"
I’m sure you all are already thinking of this on the design/product side but some feedback from my parents: the most basic parts of our app would ideally be usable to someone who can’t read one of our speced languages (poor eyesight included), using large graphics that, on a standalone basis, represent all of the needed prophylactic steps.   The original mocks have something like that, with graphi

[2020-03-20 06:58] pjayathissa opened #80 "Add a corona preperation checklist in the app"
Either for 0.1 or future releases

From the EU Center for Disease, Prevention and Control

How can you prepare yourself:
* Educate yourself on COVID-19 from (add link to info page)
* Have over-the-counter medicines and medical
supplies (e.g. tissues, thermometer) to treat fever.
If taking any prescription medicines, refill them, or
consider using a mail-order for your medications.
* Have enough gr

[2020-03-20 07:09] SamMousa commented on #68
Have a look at survey-react it does what we need and has i18n.
Forms and surveys are not the same thing even though they are very similar.

[2020-03-20 08:18] advayDev1 opened #81 "Add iOS App"
We only have an Android build right now.
Constraint: Needs to be assigned to someone who is not me (I don't have the ability to deploy and test on iOS here).

[2020-03-20 08:19] hspinks commented on #81
I'll jump on this in the morning

[2020-03-20 09:16] sapte91 commented on #68
Hi everyone,

Before discussing implementation details, let’s agree on key capabilities of the tool that impact the survey and response tech design/definition. I’ve read through The Who App Synthesis and Kickoff docs and pulled some ideas together.

[https://docs.google.com/document/d/1j2bYVIK5sQ-suixbNfYzT8VnwUyeJfst8apP2Npfqjo/edit?usp=sharing](Capabilities listed in this doc)

I think we'd focu

[2020-03-20 09:51] advayDev1 commented on #17
- [ ] Verify privacy policy vs actual system #58

[2020-03-20 10:00] myiremark commented on #45
I think yes, in the current design (which may have absolutely nothing to do with the final design), I'd put a button in the top right corner with a pop up modal to select language.

[2020-03-20 10:25] SamMousa opened #85 "Pull request handling"
I'm going to increase security settings to enforce our code review process.

Settings that I propose as a minimum:
- PRs must be reviewed and have at least 1 approval.
- Adding a commit to a PR will void approvals.
- Checks must pass
- Enforce these requirements for admins too

Questions:
- Should we increase the number of approvals to 2, or would this hamper quick merging?
- Should admins be allo

[2020-03-20 10:47] SamMousa opened #86 "ApplicationID"
Application ID has been set to `int.who.app`.
This breaks the android build:

We need to decide on a different application ID. This also highlights the need for building the actual apps in our CI pipeline.

[2020-03-20 12:44] csfurmanski commented on #20
Thanks @epicfaace - I will leave it to you or other eng to parse out individual tickets.  From my experience, for the Apple Store Submission, we will minimally need:
Support URL (governance?), Marketing URL (governance?), Copyright info (legal), Description (content), Promo text (content), & keywords (content), 1-3 representative screen shots (design) and an icon (design).  Eng or to help WHO we w

[2020-03-20 14:09] mhartington commented on #70
Hey there! Mike from the ionic team...

We don't modify the package.json too much from what you get with create-react-app (aside from adding ionic and the router).

Here are the deps from an app created using

[code]

[code]

[2020-03-20 14:17] viviancromwell commented on #78
@advayDev1 would WHO be okay to use CDC graphics this is my core question here.  Otherwise I would be happy to swap out.

Your second question is a trade off in usability. I agree the first time user should go through the prophylactic reminder, but for the user has used the app before, also can access them from "Protect Myself" from usability point of view it would be very redundant to go through

[2020-03-20 14:19] viviancromwell opened #89 "@advayDev1 when to prompt "protect yourself" again"
@advayDev1 would WHO be okay to use CDC graphics this is my core question here.  Otherwise I would be happy to swap out.

Your second question is a trade off in usability. I agree the first time user should go through the prophylactic reminder, but for the user has used the app before, also can access them from "Protect Myself" from usability point of view it would be very redundant to go through

[2020-03-20 14:36] viviancromwell commented on #80
WHO has similar guidance, because this is a WHO app, I think we should prioritize the content on WHO website first.

[2020-03-20 14:39] viviancromwell commented on #45
thanks for the suggestion. given we wont have i18n translation in place, I will design this post v.01

[2020-03-20 14:41] viviancromwell commented on #39
I think I am getting lots of input from another thread. closing on this.

[2020-03-20 14:42] viviancromwell commented on #37
since we are not capturing geo location in the initial release.

But we will capture feedback, so we should have a log

1) email address
2) feedback

[2020-03-20 14:43] viviancromwell commented on #37
cc @advayDev1 as fyi.

[2020-03-20 15:33] SamMousa opened #90 "Continuous preview"
Things I found while trying to set up a CI pipeline that would create a preview deployment for each PR:

- Publishing to external things like S3 is not possible for PRs, since secrets are not available.
- The app needs to run in the webroot, so we need a wildcard domain to make this work easily.
- Creating a preview app for every PR will always allow anyone to publish something to our host. (Could

[2020-03-20 16:06] chrishosmer commented on #78
@viviancromwell i'm here

[2020-03-20 16:06] viviancromwell opened #92 "Add 1-2 static page for "check your health" for v0.1 release"

[2020-03-20 16:33] hspinks commented on #85
I like the idea of the `CODEOWNERS` file - how do you propose to break it down? `client` vs `server` vs any other of the top-level services we include in this repo?

[2020-03-20 16:42] SamMousa commented on #85
Yes seems like a good start

[2020-03-20 16:48] hspinks commented on #86
does WHO have any standards they'd like us to follow on this?

[2020-03-20 16:58] hspinks commented on #37
@viviancromwell how are you thinking about capturing user feedback for this v0.1? this could be as simple as a button that opens the user's preferred email client with an email pre-populated with our feedback email and the user's device & app version info (fastest time to implement)

[2020-03-20 17:02] viviancromwell commented on #54
created. https://docs.google.com/document/d/1uXU2IjA2Zmd2bp_-LkJF9eZybp2gsGC9pfqr9XfOtTY/edit?usp=sharing

[2020-03-20 17:02] #54 closed

[2020-03-20 17:04] hspinks commented on #85
cool - I agree with this proposal. I like the 2 review requirement, but I think we should start with 1 to make sure we're not blocked as we figure out each other's schedules

[2020-03-20 17:13] #30 closed

[2020-03-20 17:16] SamMousa commented on #68
I don't see conversational mode as a big pro for our app. Unlike the WeChat example our app isn't chat related. Unless it's a free form conversation I don't see an advantage to doing a closed question survey via chat.

Survey by voice needs clarification: voice entry or just reading questions and options out loud?

[2020-03-20 17:20] advayDev1 commented on #10
Per offline thread.

[2020-03-20 17:41] viviancromwell commented on #78
@advayDev1 I just got words from WHO we need to use WHO official content, so we can't use the content you mentioned which I agree better for usability.  I am closing this one now but will open a new ticket to explore new illustrations that would be better for accessibility.

[2020-03-20 17:41] #78 closed

[2020-03-20 17:51] advayDev1 commented on #85
how about 2 reviewers, at least one of whom is a committer?

[2020-03-20 17:53] hspinks opened #93 "Approved content for Diagnosis & Triage"
From the project proposal:

Initial launch goal is for the information to be static, not personalized and tailored, but we'll still need to know exactly what that content should be. There is a ton of content on the [WHO's Coronavirus site](https://www.who.int/emergencies/diseases/novel-coronavirus-2019), so it's hard to figure out what is most important. The sooner we can get definitive/authoritat

[2020-03-20 17:57] advayDev1 opened #94 "Deployment: Google Cloud organization"
Need an entity to own the Google Cloud org and billing (and thus be the controller of data)

[2020-03-20 18:06] advayDev1 commented on #79
Copying in some text from #78

For the ability to reach the greatest userbase, IMO pictograms are absolutely key (and I understand your point that showing it everytime is possibly not the right thing to do, but on first launch seems to be the most important info we can impart to the world.)

[2020-03-20 18:29] hspinks opened #96 "App store submission content"
Noting that we will need assets for submission to the Apple App Store and Google Play Store.

Apple App Store needs: https://developer.apple.com/app-store/product-page/
Google Play Store needs: https://support.google.com/googleplay/android-developer/answer/113469?hl=en (see "Set Up Your Store Listing")

[2020-03-20 18:37] crazybob commented on #94
@brunobowden Does the WHO already have a Google Cloud organization? I'll use my personal account in the mean time (you can move projects between orgs).

[2020-03-20 18:42] advayDev1 opened #97 "Deployment: WHO Asset Clearance"
Proposed language: "The WHO visual identity assets in identity/, including but not limited to the WHO Logo and Emblem, are not licensed under the MIT License and are instead subject to the policies at https://www.who.int/about/who-we-are/publishing-policies/copyright and https://www.who.int/about/who-we-are/publishing-policies/logo ."

Advay Mengle, advayDev1, PST thank you, will need to check wit

[2020-03-20 18:47] epicfaace commented on #75
Since we're using testing with jest, we could also write tests that take screenshots and then save them as a snapshot, through https://github.com/americanexpress/jest-image-snapshot.

[2020-03-20 18:49] epicfaace commented on #90
Since it's just a web app, we could use https://www.netlify.com/ to generate deploy previews from PRs?

[2020-03-20 18:57] SamMousa commented on #90
I found that as well but have no experience with it. I think it does what we need & more.

[2020-03-20 19:40] SamMousa opened #99 "Access Request"
If you need permissions for this repo post here with the access that you need.

[2020-03-20 19:45] SamMousa commented on #90
Bob offered to set this up with Firebase.

[2020-03-20 19:46] chrishosmer commented on #99
I need read write and triage

[2020-03-20 19:56] SamMousa opened #100 "Translation management system"
Related to #21 .

I'd like to use Weblate for this, works well and allows anyone to easily contribute translations.

https://weblate.org

[2020-03-20 20:04] SamMousa commented on #100
I have sent the an email to them asking for an account for open source use.

[2020-03-20 20:17] SamMousa commented on #90
@crazybob will set this up.

[2020-03-20 20:19] SamMousa commented on #99
@chrishosmer I have given you triage permission.

[2020-03-20 20:24] pjayathissa opened #101 "onboarding documentation"
Task from todays call to produce the onboarding documentation

[2020-03-20 20:34] myiremark commented on #99
I need triage.

[2020-03-20 20:40] advayDev1 commented on #65
@hspinks #24 was originally vNext, while this is v1, please clarify timeline for dynamic content

[2020-03-20 20:45] ltphan commented on #99
Hi! I was wondering if I could be sent access to the Slack group :) Would love to help out!

[2020-03-20 21:10] advayDev1 commented on #99
FYI the GitHub permissions are as follows (essentially):
Triage - issue management including taking issues for yourself
Write - code review approvers (i.e. people with commit authority)

[2020-03-20 21:32] ltphan commented on #99
Hi @SamMousa Sorry, do you mind sending it to my personal email account? My bad 🤦‍♀️ phanthuclinh@gmail.com

[2020-03-20 21:42] hspinks commented on #65
@advayDev1 good catch, moved to vNext

[2020-03-20 21:46] viviancromwell opened #102 "donation button for Ursula"
1) a donation button linking to https://covid19responsefund.org/ .

[2020-03-20 21:50] sjwalter commented on #99
Requesting Triage permissions.

[2020-03-20 22:32] advayDev1 opened #103 "v0.1 Illustration Issues"
Issues raised during Eng/Design flow review:
- The WHO-owned Protect Yourself  assets have text baked into the images. [localization and accessibility]
- Current WHO illustrations used in the v0.1 flow may be licensed in a way that is incompatible with our app. [legal]
- We have only CDC and no WHO-approved Check Your Health assets.
- Lack of illustrator resources.

[2020-03-21 00:06] epicfaace commented on #99
Could you give me triage permissions?

[2020-03-21 00:31] viviancromwell commented on #41
For V0.1 we decided it will just launch a mail client.

[2020-03-21 00:32] viviancromwell commented on #37
we have agreed to launch mail client on the device for this release. thank you.

[2020-03-21 00:32] #37 closed

[2020-03-21 00:50] advayDev1 commented on #63
Per today's standup, there is still a product uncertainty over whether we need to support a pure webapp in the future.  If we decide to do that to expand reach, we should stick with Ionic React and not React Native to avoid having to develop both a React and ReactNative codebase for which there would be likely little code-sharing.

[2020-03-21 01:09] advayDev1 opened #105 "Credits/Compliance Screen"
Will put in an initial version as a placeholder since we have to have one, then give this to design for real mocks, and send back to us to bring up to pixel-perfect.

[2020-03-21 02:22] viviancromwell opened #106 "take a look at the image assets that Karen sent"

[2020-03-21 02:23] viviancromwell opened #107 ""Protect Yourself" content needs an escape"

[2020-03-21 02:32] advayDev1 commented on #86
Whatever we use should be prefixed by a WHO-owned domain name.

[2020-03-21 02:56] hspinks commented on #63
agreed. will try to push on web app support needs

[2020-03-21 03:29] hspinks opened #108 "Disallow arbitrary loads in iOS"
Marked as TODO from #95 (see https://github.com/WorldHealthOrganization/app/pull/95#discussion_r395906658)

Left as a todo because I want to make sure this is fully good to go from the back end perspective and in case there's a need from the Ionic side (both doubtful, but didn't want to block merge).

[2020-03-21 03:30] hspinks opened #109 "Set access origin in iOS config"
TODO from #95 (see https://github.com/WorldHealthOrganization/app/pull/95#discussion_r395939109)

Finalize and set the access origin in the iOS config

[2020-03-21 03:50] advayDev1 opened #110 "iOS App Permissions Review"
Cannot ship using defaults from ionic capacitor.

TODO from #95 (that I may have missed in a comment)

[2020-03-21 04:10] brunobowden commented on #99
@epicfaace sent Triage invite
@sjwalter already has pending Triage (presumably from @SamMousa)

Welcome to you both, along with @ltphan

[2020-03-21 06:51] pjayathissa commented on #80
As far as I know, WHO has guides on "protecting yourself" but not "preparing yourself". These are two distinct guides. But yes, we should prioritise the WHO content first

[2020-03-21 07:18] SamMousa commented on #86
Or we pick a new one and hand it over later..

[2020-03-21 07:27] SamMousa commented on #99
I have been using the rocket emoji for people I've added.

[2020-03-21 07:35] SamMousa commented on #90
Any update on this @crazybob? If not I'll get some cheap hosting and set this up at whoapp-preview.nl or something.

[2020-03-21 07:42] SamMousa commented on #86
What about whoapp.com? It's available and we can change it later as well as hand the domain over.

[2020-03-21 08:23] hspinks commented on #86
I like whoapp.com! seems simplest to me

[2020-03-21 08:50] #81 closed

[2020-03-21 09:07] SamMousa commented on #86
Will go ahead and get that set up.

[2020-03-21 09:07] SamMousa commented on #86
Can always remove / change

[2020-03-21 09:07] pjayathissa opened #115 "Do we need to use survey-react? Could we just use a simple form?"
I was just wondering what the added advantage of using `survey-react` is?

[2020-03-21 09:08] SamMousa commented on #115
Duplicate of #68

[2020-03-21 09:11] SamMousa commented on #115
Imo surveys and forms are not the same. Especially when routing becomes more complex using a simple form lib will become cumbersome.

[2020-03-21 09:31] hspinks opened #117 "Set up CI for iOS"
Left as TODO from #95

[2020-03-21 09:32] #115 closed

[2020-03-21 09:48] SamMousa opened #119 "Optimize CI pipeline"
Currently we start from scratch every time, this is suboptimal.

Instead we should:
- Install npm dependencies once
- Upload them as an artifact
- Download them for tasks that need them

We can run tests on of the React code base on just 1 platform as soon as  #118 is merged.

Then we get a graph like this:
[code]

Note that when we're more confident in the build process we can actually remove the

[2020-03-21 09:53] SamMousa commented on #110
Can you elaborate? Do the default settings request too few or too many permissions?

Is this about the push notification permission?

[2020-03-21 11:57] SamMousa commented on #100
I have set up weblate here: https://weblate.whoapp.org/

@patniemeyer let me know when you have integrated react-intl and i'll look at automating weblate import & export.

[2020-03-21 13:18] epicfaace commented on #86
Let's use https://www.who.org/ -- it redirects to who.int, and it's owned by the WHO (do a whois lookup). Let's not do whoapp.com because it could sound like a phishing site.

[2020-03-21 13:25] SamMousa commented on #86
But we don't have access to it. I have registered whoapp.org so that we can move forward

[2020-03-21 13:37] epicfaace commented on #110
It's worth noting that unlike Android apps, iOS apps do not ship with permissions by default -- they must prompt the user for permissions the first time they use them / on app boot up.

As @hspinks  [said](https://github.com/WorldHealthOrganization/app/pull/95/files#r395955291), what's in Info.plist are only descriptions that show up in the [dialog that prompts the user](https://developer.apple.co

[2020-03-21 13:39] epicfaace commented on #86
That seems fine (better than whoapp.com) -- but why does it matter whether we have access to the actual domain?

[2020-03-21 13:40] SamMousa commented on #86
For this package name it doesn't, but for preview app it does

[2020-03-21 14:24] viviancromwell opened #122 "Designing for 6 languages"
English, French, Chinese, Spanish, Arabic, and Russian

[2020-03-21 14:37] viviancromwell commented on #35
I think it is better we leave it out as it is not an upcoming feature very soon.

[2020-03-21 14:37] #35 closed

[2020-03-21 14:40] crazybob commented on #90
Hi! Aiming to have hosting working today. Not sure what automatic deployment will entail but shouldn’t be too difficult.

[2020-03-21 14:44] viviancromwell opened #123 "Create the components for the various design elements"

[2020-03-21 16:01] SamMousa commented on #90
Great; I was also working on this in parallel (since I had to have some place to put the translation management system).
Currently setting this up at https://preview.whoapp.org; can also point the DNS to you.

The idea is to just have something now and we can either move to a different domain or do a handover to WHO later.

[2020-03-21 16:07] crazybob commented on #90
Awesome!

[2020-03-21 16:59] #117 closed

[2020-03-21 17:00] #101 closed

[2020-03-21 17:42] viviancromwell commented on #106
didnt find too many useful images, decided to use canva

[2020-03-21 17:42] #106 closed

[2020-03-21 17:43] viviancromwell commented on #103
@advayDev1 there are multiple tickets to address the issues you raised separately, so I will be closing this one. thank you so much.

[2020-03-21 17:43] #103 closed

[2020-03-21 17:46] viviancromwell commented on #41
Need to follow up with Ursula on if there is an email to receive feedback.

[2020-03-21 17:48] viviancromwell commented on #59
eng has taken a stab on this.
https://docs.google.com/document/d/1ZQ8GyO0Myl23u0_nhK42PO2xBkVbXjbVawjpND6zKiU/edit?usp=sharing

[2020-03-21 17:48] #59 closed

[2020-03-21 17:49] #39 closed

[2020-03-21 17:49] #34 closed

[2020-03-21 18:05] SamMousa opened #128 "Add .htaccess"
For the web app to support refresh we need url rewriting.

Simple solution is to add a `.htaccess`, either it works with a hosting provider, or it provides a basis for configuring the webserver.

[2020-03-21 18:13] epicfaace commented on #90
Given that we have https://preview.whoapp.org deploying automatically from master, would we still want to have deploy previews generated from PRs (this might speed up the process of examining the PR before merging)? We could integrate with https://www.netlify.com/, which I could help with if we decide to do so.

[2020-03-21 18:15] epicfaace commented on #128
What do you mean by "to support refresh"? It appears that the preview site (https://preview.whoapp.org/menu) does support refresh.

[2020-03-21 18:22] SamMousa commented on #128
Hmm, in a previous build there was no `.htaccess` now there is, you're right.

[2020-03-21 18:22] #128 closed

[2020-03-21 19:45] SamMousa commented on #93
We could implement the WHO chatbot survey as an in-app survey (ie no chat, just single / multiple choice questions).

[2020-03-21 21:03] advayDev1 commented on #85
cc: @crazybob in slack discussion re: process blockers

[2020-03-21 21:11] advayDev1 commented on #110
SG - this broad issue is not needed then.

[2020-03-21 21:11] #110 closed

[2020-03-21 21:49] advayDev1 commented on #16
cc @crazybob  - need to see what needs to be reviewed in our dependencies before 0.1, and then before vNext and what the relative scope of distribution for each is.

[2020-03-21 22:01] hspinks opened #129 "Current design spec"
I will keep this ticket up-to-date with the current design spec as I see it on Figma to give us something to work to as we keep the UI in line with design. I'll be adding new comments to the bottom of this ticket with each update.

[2020-03-21 22:04] hspinks commented on #129
*As of Mar 21 3pm PT:*

Onboarding flow / first-time user:
<img width="1007" alt="Screen Shot 2020-03-21 at 3 01 28 PM" src="https://user-images.githubusercontent.com/1484366/77237400-27285b00-6b85-11ea-9407-5fdfc844dbad.png">

Main screen / returning user:
<img width="490" alt="Screen Shot 2020-03-21 at 3 01 36 PM" src="https://user-images.githubusercontent.com/1484366/77237406-327b8680-6b85-11ea

[2020-03-21 22:09] hspinks opened #130 "Investigate push notification setup"
Look into what Flutter supports and come up with a plan for what to use to deliver pushes. Design & document a technical strategy for getting users set up to be delivered push notifications in v1.0

[2020-03-21 22:13] hspinks opened #131 "design push notification permission request flow"
Should follow best practices for getting user's consent to allow push notifications, presented in-context with adequate reasoning. Want to make sure this is on our radar if notifications are (potentially) one of our key value drivers!

[2020-03-21 22:34] hspinks opened #132 "Investigate tools to help with distribution **Decision: fastlane**"
Potentially for both beta distribution pre-app stores & distribution on app stores. Hopefully these can link with CI / work with GitHub Actions instead of replacing. We'd like to keep everything centralized on GitHub so everything's in one place and we don't have to manage permissions on multiple tools, but we also want to make distribution as easy as possible

E.g.:
* [fastlane](https://docs.fast

[2020-03-21 22:37] advayDev1 opened #133 "Rip out Ionic default app assets throughout"
Icons, splash screens, etc.

[2020-03-21 22:37] hspinks opened #134 "Initial tests on client"
Start writing initial automated tests

[2020-03-21 22:38] pjayathissa opened #135 "Create self isolation guide"
- Used as an output to the triage survey

[2020-03-21 22:45] ltphan commented on #129
I will start with the main screen/returning user.

[2020-03-21 23:32] advayDev1 opened #138 "Build broken / GHPages shouldn't build server or client directories"
[code]

https://github.com/WorldHealthOrganization/app/runs/524529204

[2020-03-21 23:41] advayDev1 commented on #138
Sam, can you either exclude the `server` directory from GitHub pages or convert the pages config to yaml instead of in the admin config?  We can't see the config atm.

[2020-03-21 23:59] myiremark opened #139 "Protect Yourself Page"

[2020-03-22 01:41] advayDev1 opened #143 "UI must respect device 'safe space'"
Different devices have different safe spaces (ex. some models have cutouts of the top screen.)

See below how this affects iPhone X

ReactNative has https://reactnative.dev/docs/safeareaview - quick google did not show me an equivalent Ionic API.

<img width="768" alt="Screen Shot 2020-03-21 at 6 38 14 PM" src="https://user-images.githubusercontent.com/11729521/77240475-5ea60000-6ba3-11ea-8ef7-79f

[2020-03-22 02:56] myiremark opened #144 "Local Maps Page"

[2020-03-22 02:57] myiremark opened #145 "Feeling Distressed Page"

[2020-03-22 03:04] sstur commented on #63
Hey guys, I'd be keen to help out with this effort, either in React Native or in React/Ionic. I filled out the volunteer form but let me know if you can add me to your design prototype or your Slack and I'll jump right in with some PRs. Thanks!
sstur@me.com

[2020-03-22 03:14] advayDev1 commented on #63
@sstur I too do not know how to send a PM on GitHub, so use the slack link in https://github.com/WorldHealthOrganization/app/blob/master/ONBOARDING.md thanks! Good to have React experts here.

[2020-03-22 03:16] sstur commented on #63
Oh, awesome, thanks for the quick response!

[2020-03-22 03:17] advayDev1 commented on #63
Its a quick turnaround time kind of project :D

[2020-03-22 04:05] hspinks opened #149 "Refactor flow screens into a more modular component"
Make flow screens DRY, see https://github.com/WorldHealthOrganization/app/pull/120#discussion_r396008344

[2020-03-22 04:07] hspinks opened #150 "Refactor useDynamicFlow to be more DRY across pages"
E.g. https://github.com/WorldHealthOrganization/app/pull/147/files#diff-37b6fabb000850d0af7545e907c9dfb4R16

[2020-03-22 05:27] sstur commented on #99
Hey team! Could you add me to triage and write access for PR review?

[2020-03-22 07:02] sstur commented on #133
I can take this one. Do we have an icon for the app yet? to replace the default one. What about for the splash screen, should I just make a white image with the blue logo on it?

[2020-03-22 07:27] RohanTalip commented on #48
Where was the initial intake form?  Is it now deprecated?  i.e. should the spreadsheet now be considered the place to update?  (Allowing anyone to edit the spreadsheet doesn't seem like a good idea - e.g. I am able to edit it)

[2020-03-22 07:33] RohanTalip commented on #13
For what it's worth, I don't recommend Cordova (given the number of issues I've had with it).  I do see that the project has moved to using Capacitor from Ionic (which has a better reputation than Cordova).

[2020-03-22 07:59] #150 closed

[2020-03-22 08:00] darcien opened #153 "Blank page on invalid route"
Right now, the web page only displays blank page if the route is invalid, e.g. `/notabout`

This is happening because we only have redirects for the `/` path.

https://github.com/WorldHealthOrganization/app/blob/3927e6d887d21dfef75aa787b566db73c16d92ea/client/ionic/src/App.tsx#L52

Solution:
We could add a catch-all route to redirect to existing page or serve a 404 page.
e.g.
[code]

[2020-03-22 08:11] myiremark opened #154 "DRY: use modular useDynamicFlow in FeelingDistressed pages"

[2020-03-22 08:15] SamMousa opened #155 "Use ECMA-402 to get user langauge"
_Originally posted by @SamMousa in https://github.com/WorldHealthOrganization/app/pull/126/review_comment/create_

This article explains how to use it: https://cordova.apache.org/news/2017/11/20/migrate-from-cordova-globalization-plugin.html

Not sure what the benefits are vs using `navigator.language`

[2020-03-22 08:52] avi33tbtt opened #157 "Please check our FOSS project for same, it may be helpful"
https://bit.ly/CovidPitch
https://bit.ly/covidprojectdocs
http://bit.ly/Covid-Source
avi33tbtt@gmail.com

[2020-03-22 10:47] pjayathissa opened #158 "Get a back button in the Nav"
Probably within `src/components/TopNav.tsx`

[2020-03-22 10:52] pjayathissa opened #159 "Create Self Isolation Guide and Link to Triage Output"
If the triage answer requires self isolation, then there should be a Self Isolation Guide that the user can navigate to

[2020-03-22 10:52] pjayathissa commented on #159
<img width="224" alt="Screenshot 2020-03-22 at 23 52 16" src="https://user-images.githubusercontent.com/6052911/77247674-2df3c280-6c98-11ea-8beb-54d49c9b1087.png">

[2020-03-22 11:08] SamMousa commented on #138
There is no easy way to convert it to yaml afaik.
We can move to manual jekyll configuration but i'm not familiar with that.
I propose we tell github to publish `docs/` folder instead, and move the docs there.

[2020-03-22 11:44] myiremark commented on #154
fixed

[2020-03-22 11:44] #154 closed

[2020-03-22 11:48] #159 closed

[2020-03-22 11:50] pjayathissa opened #161 "Should we refactor ionic components to divs?"
Right now we have been using a lot of Ion components. However if we go pure react native down the line there will be a lot of refactoring to do.

Would it make sense now to refactor all the IonComponents into plain divs? Just so the transission will be smoother

[2020-03-22 12:12] myiremark commented on #161
It seems to me like a pretty tight timeline to finish the functionality and refactor everything within a day.

We're supposed to submit by Monday/Tuesday.

[2020-03-22 12:13] epicfaace commented on #161
I think that would be a good idea (it doesn't have to be done by Mon/Tue), though I don't know if it would help with a transition to React Native -- because React Native doesn't support divs. This would help if we were to prepare to transition to pure React + Cordova, though.

[2020-03-22 13:01] viviancromwell opened #162 "We need WHO logo without caption - for app icon"

[2020-03-22 13:05] viviancromwell opened #163 "Device coverage"
@advayDev1 per Advay's suggestion, I think I should write down the device coverage.

[2020-03-22 13:23] viviancromwell commented on #107
this is complete.

[2020-03-22 13:23] #107 closed

[2020-03-22 13:38] viviancromwell opened #164 "Create a doc with all things that require WHO approval"

[2020-03-22 13:54] viviancromwell commented on #38
added

[2020-03-22 13:54] #38 closed

[2020-03-22 14:08] ivancastrogw1 commented on #99
Hi everyone I just joined can I have triage access?

[2020-03-22 14:25] viviancromwell commented on #41
done.

[2020-03-22 14:35] dahacouk commented on #157
I personally don't like clicking on bitly links anymore. But I did. And I'll save anyone else the bother:

- https://docs.google.com/presentation/d/1E2fbiX3KW2VNBMy1C6lNxp_ffgze1s86t8Kd-3bZHEc
- https://github.com/TheSciFiMed/Covid-FLutter/blob/master/README.md
- https://docs.google.com/document/d/1xMH5ysJeDQhHbYjFa8xpVroJpPamuaLDx6PJVpWkmEA

;-)

[2020-03-22 15:21] viviancromwell commented on #102
this is added to "about the app" page.

[2020-03-22 15:21] #102 closed

[2020-03-22 15:39] viviancromwell commented on #36
share the app by using the default platform-specific sharing extension. For example, this is apple's doc. https://developer.apple.com/design/human-interface-guidelines/ios/extensions/sharing-and-actions/

this is the easiest way given the timeline. @hspinks

[2020-03-22 15:39] #36 closed

[2020-03-22 15:51] RohanTalip commented on #132
While not an initial distribution mechanism, there's also [CodePush](https://docs.microsoft.com/en-us/appcenter/distribution/codepush/), which is part of Microsoft's App Center and is useful for updating app bundles that are already on users' devices.

CodePush is intended to be used for bug fixes that are necessary to get out relatively faster than a full app version release (major functional cha

[2020-03-22 15:58] RohanTalip commented on #99
Could I get triage and write permisions?  I'll likely just review and approve small pull requests at this point.

[2020-03-22 16:04] #164 closed

[2020-03-22 16:11] RohanTalip opened #171 "What version of nodejs / npm is being assumed?"
I'm assuming the latest LTS version as found here: https://nodejs.org/en/blog/

i.e. [nodejs version 12.16.1](https://nodejs.org/en/blog/release/v12.16.1/)

Is that a valid assumption?

[2020-03-22 16:12] RohanTalip commented on #164
Maybe link to that document, please?

[2020-03-22 16:21] RohanTalip commented on #19
It looks like npm has been chosen over yarn, at least implicitly, since the onboarding instructions mention npm (and not yarn) and app/client/ionic/package.json has scripts that use npm (and not yarn).

I'm just curious what the rationale was though? (FYI, I'm OK with this)

[2020-03-22 16:22] epicfaace commented on #171
The CI builds use Node 10.x -- https://github.com/WorldHealthOrganization/app/blob/master/.github/workflows/client.yml#L32

[2020-03-22 16:25] RohanTalip commented on #171
@epicfaace , thanks.  I'll send a PR for adding a .tool-versions file for those people (like myself) that use [asdf](https://github.com/asdf-vm/asdf) to manage installed versions of tools.

[2020-03-22 16:41] RohanTalip commented on #70
Please ignore the recent commit / issue that mention this issue: I got the issue number wrong.

[2020-03-22 17:16] #123 closed

[2020-03-22 17:20] epicfaace commented on #99
FYI, anyone can review / approve PRs without any extra access permissions. Triage access allows you to label / close / assign issues and assign PRs. Write access allows you to merge PRs.

[2020-03-22 17:22] sstur commented on #99
Right! I'm looking to triage (label, assign tasks and PRs) and to help out merging PRs after approval if possible. Triage access is more important because at this point I can't even self-assign a task to claim that I'm working on it.

[2020-03-22 18:15] RohanTalip opened #174 "Add left and right arrows to carousels?"
e.g. https://preview.whoapp.org/about

The swipe left and right action might not be as intuitive as clicking/tapping on an arrow.

[2020-03-22 18:17] RohanTalip commented on #133
I'm assuming that favicon(s) will also be updated?

[2020-03-22 18:23] RohanTalip opened #175 "Remove local maps from /menu for v0.1"
https://docs.google.com/document/d/1o9kdCON-HlN8RxIinlsFR_l7cBxILbiAGsfIo1llk48/edit indicates that local maps are not targetted for v0.1

[2020-03-22 18:37] SamMousa commented on #161
imo don't worry about long term now, we can redo when we make a decision. Until then we're all-in on ion.

[2020-03-22 18:50] #66 closed

[2020-03-22 18:52] SamMousa commented on #138
For now I have disabled pages.

[2020-03-22 18:55] #161 closed

[2020-03-22 19:17] RohanTalip opened #177 "Add/use a CMS (long term)"
Having a Content Management System would be a good medium to long term goal.

@crazybob was suggesting (on March 20th) that we might be able to use WHO's CMS in the #product channel in Slack.

[2020-03-22 19:19] SamMousa commented on #149
Fixed via #151

[2020-03-22 19:19] #149 closed

[2020-03-22 19:21] SamMousa commented on #119
For caching we should use this: https://github.com/actions/cache

Note that it mentions we should not cache `node_modules`, so the flow above will be a bit different.

[2020-03-22 19:22] SamMousa commented on #133
For now I propose we take the favicon from WHO's website.
That way we have something decent and can update it later.

[2020-03-22 19:30] #143 closed

[2020-03-22 19:32] pjayathissa opened #178 "Styling the Triage Form"
I have had some difficulty making the triage form look nice. Within `client/ionic/src/pages/Triage.tsx` I left some emtpy strings with a method that can capture the surveyjs class structure

[2020-03-22 19:46] navikalingoth commented on #99
Hi everyone I just joined can I have triage access?

[2020-03-22 20:12] SamMousa commented on #178
Will also refactor the css to use a css module (and not be app wide)

[2020-03-22 20:53] sstur opened #180 "Lint errors/warnings should fail the CI build"
This is as per our conversation in standup on Sun, Mar 22, and it is a followup of #168 by @epicfaace.

The current ESLint config in package.json extends the react-app config, but we are using [gts](https://github.com/google/gts) as our style guide. We should configure the project to use gts and configure the CI so that it will enforce this.

[2020-03-22 21:26] advayDev1 opened #182 "Product Spec for localizing content"
Need to know how to prioritize countries, languages, dialect for choosing local content
https://docs.google.com/document/d/1wwwVJ3Wh0H2E12p69rmgkDsItwbbr8hoHTsseFfxozU/edit

[2020-03-22 21:32] sjwalter opened #183 "Initial Instrumentation and Analytics"
Rough 1-pager here: https://docs.google.com/document/d/1ZQ8GyO0Myl23u0_nhK42PO2xBkVbXjbVawjpND6zKiU/edit?ts=5e76594a#

[2020-03-22 21:33] sjwalter opened #184 "Get rid of Capacitor loading logo upon startup"

[2020-03-22 21:34] sjwalter opened #185 "[ios] WHO logo not vertically centered"
Cut off by the topmost iOS menu bar

[2020-03-22 21:39] epicfaace commented on #180
As I said in https://github.com/WorldHealthOrganization/app/pull/168#issuecomment-602221526, there's a problem here. It appears that react-scripts has its own eslint config, but gts has another eslint config.

If we enforce the react-scripts eslint config as in #181, this may cause issues -- what if something is an error in react-scripts eslint, but is not considered an error in gts eslint? Or vic

[2020-03-22 22:32] myiremark opened #186 "Bring UI to spec for v0.1"

[2020-03-22 22:44] epicfaace opened #187 "Deployment - app screenshots and image assets needed"
## iOS

Screenshots ([exact dimensions of all possible screenshots here](https://help.apple.com/app-store-connect/#/devd274dd925)):

- [x] 1 screenshot for iPhone 5.5" display (1242 x 2208 pixels (portrait) or 2208 x 1242 pixels (landscape))
- [x] 1 screenshot for iPhone 6.5" display (1242 x 2688 pixels (portrait) or 2688 x 1242 pixels (landscape))
- [x] 1 screenshot for iPad Pro (3rd Gen) 12.9" d

[2020-03-22 22:52] epicfaace opened #188 "Deployment - text assets needed"
## iOS
- [ ] Name (0-30 chars)
- [ ] Subtitle (0-30 chars)
- [ ] Privacy Policy URL (#58)
- [ ] [Primary Category](https://developer.apple.com/app-store/categories/)
- [ ] Keywords (0-100 chars)
- [ ] Description (0-4000 chars)
- [ ] Contact info: first name, last name, email, phone number
- [ ] Fill out questionnaire for Age Rating

OPTIONAL for iOS
- [ ] Promotional Text (0-170 chars) (appears a

[2020-03-22 22:55] epicfaace commented on #96
I've split this into text assets (#188) and graphical assets (#187) needed for submission to both app stores.

[2020-03-22 23:16] hspinks commented on #96
thank you @epicfaace! super helpful to pull all of those into one place. I'll close this issue now in favor of the 2 you've created

[2020-03-22 23:16] #96 closed

[2020-03-23 00:10] advayDev1 commented on #186
If this means v0.1 (i.e. Tuesday) please use that moniker 🙏

[2020-03-23 00:54] sstur opened #193 "Investigate non-Ionic Implementation (Flutter or React Native)"
As per our discussion at this morning's standup (Sun 22nd Mar), I'm opening this issue to track the progress of alternate implementations, particularly React Native and Flutter.

I'll get a React Native prototype up (with help from @darcien) in the next few days that mirrors the features in the Ionic one, and I'll add a link to it here.

Also Ben (@theswerd) is doing a Flutter implementation with

[2020-03-23 01:16] myiremark commented on #193
also @patniemeyer

[2020-03-23 02:10] advayDev1 opened #195 "Product idea: Self-care for persons with COVID"
https://docs.google.com/document/d/1f2vpLuyRcpaJ5Nsypw92V010PMmYncuTwZ3Et7ZgxHM/edit

Goals:
Keeps non-severe cases from using hospital resources
But also ensures that cases which later become severe do seek further care, and when they do, their doctors have a bit of extra data
Assists patient in performing self-care in a high-anxiety and socially isolating time
Provide social/ethical pressure to

[2020-03-23 03:41] myiremark opened #196 "Protect Yourself Flow"

[2020-03-23 03:42] myiremark opened #197 "Check Your Health Flow"

[2020-03-23 04:18] myiremark opened #198 "Styling Per Spec for v0.1"

[2020-03-23 05:21] brunobowden commented on #20
WHO will own and manage these accounts themselves. I've introduced them to dedicated support people at Apple and Google to expedite app approval. WHO has an account set up for the Apple App Store, I'm checking the status on the Google Play Store. So far, things looks in good stead.

[2020-03-23 05:24] sstur commented on #180
Right, I think we need to pick one of the two and stick to it. I'm inclined to go with the `react-scripts` one, but let's dig into the next part...

Looking at that link you sent, it seems to be the opposite. If I'm understanding correctly, setting `EXTEND_ESLINT=true` lets us override the react-scripts eslint and use that of gts (or whatever we choose) instead.

So here's a question: what prevent

[2020-03-23 05:47] sstur commented on #133
Yes, I did this in #189, including the favicon.

[2020-03-23 05:50] sstur commented on #184
This is addressed in #189.

[2020-03-23 05:51] sstur commented on #185
Which screen is this specifically? If you have a screen shot, I'll see about getting a fix done.

[2020-03-23 06:29] vpaulino commented on #94
Where the costs/features/services in each public cloud provider evaluated to comparison? What was the driver for google cloud decision? Does google cloud has public datacenters globally? What are the tech stacks available to implement PaaS solutions? What are the pricing models that are going to be taken into considerations?

[2020-03-23 06:32] vpaulino commented on #64
What is the backend tech stack chosen? Databases tech? Messaging stack? Push notifications?

[2020-03-23 06:59] vpaulino opened #199 "Requirements for a Generic virus outbreak solution"
This application should be build considering any other future deceases outbreaks. The next list should have their contents depending on the desease outbreak in the region, even for countries.
For citizens:
 1. Should have access to List Each decease outbreak as their own simptoms
2. Should have access to List of prevention steps that people should execute
3. Should have access to List of medical s

[2020-03-23 07:15] sstur commented on #64
/subscribe
I'd be curious to be part of the discussion for this (I'm partial to Prisma.io and GraphQL and can try to sell the team on that ; )

[2020-03-23 09:49] SamMousa commented on #180
@sstur  https://github.com/WorldHealthOrganization/app/issues/30

The decision was made here. If really needed we can reopen, but I'd rather not seeing as this is all about one time configuration and not really about whether one is better than the other.

[2020-03-23 10:38] SamMousa commented on #129
So are we, or we are not doing a basic triage survey in v0.1? It was removed by @myiremark based on these specs; at the same time it was also updated by @pjayathissa (#203).

[2020-03-23 10:41] ivancastrogw1 commented on #100
Happy to help with this topic I spoke with Anika Raghuvanshi  and I'll take the translations to Spanish and German also I'll like to begin to implement the translation pipes in the text we have available can you create a task in the kanban board?

[2020-03-23 15:45] epicfaace commented on #180
I'm fine with ditching gts's lint config, though as @SamMousa , that decision was already made and I'm not particularly in favor of one over the other.

I did try using EXTEND_ESLINT to use the gts config, though, and it appears that the latest npm package published for gts has a bug that doesn't allow you to extend its eslint config: https://github.com/google/gts/issues/465

[2020-03-23 16:10] hspinks commented on #129
_As of Mar 23 9am PDT:_

Onboarding / first-time user flow:
<img width="1038" alt="Screen Shot 2020-03-23 at 9 05 32 AM" src="https://user-images.githubusercontent.com/1484366/77337222-d8de9d80-6ce5-11ea-8377-22b76c36d15f.png">
<img width="862" alt="Screen Shot 2020-03-23 at 9 05 39 AM" src="https://user-images.githubusercontent.com/1484366/77337241-e09e4200-6ce5-11ea-8069-3bdcdb7bfe0a.png">

Main

[2020-03-23 16:21] crazybob commented on #94
Yes, they were, but this issue is focused on setting up our Google Cloud account, not the appropriate place to revisit our cloud provider decision. The answers to some of your questions can be easily found on Google, and we have a lot of work to do. 🙏

[2020-03-23 16:50] epicfaace commented on #180
As per discussion in https://github.com/google/gts/issues/465, it appears that we can use the gts config for everything by setting EXTEND_ESLINT=true and upgrading to gts version 2.

[2020-03-23 17:02] epicfaace opened #204 "Style screens with css to match ones in figma"
see design spec in #129

[2020-03-23 17:04] viviancromwell opened #205 "Need to purchase fonts"
Currently using national.

If that is indeed what we are using in the long term, will need to make sure we purchase.

[2020-03-23 17:04] epicfaace commented on #205
Even if we do purchase, that may cause some complications because we may not be able to check in the font file with the GitHub repository (since this repo is public).

[2020-03-23 17:21] hspinks commented on #205
Per @viviancromwell note in Slack, we will use the free/system fonts on iOS and Android for now. Roboto on Android, San Francisco on iOS. Closing for now

[2020-03-23 17:21] #205 closed

[2020-03-23 18:17] SamMousa commented on #185
@sjwalter do you mean the notch?

[2020-03-23 18:45] viviancromwell opened #208 "Adding whatsapp style content"

[2020-03-23 18:46] viviancromwell commented on #208
Here is how to access the current Whatsapp chat bot

https://api.whatsapp.com/send?phone=41225017615&text=hi&source=&data=

[2020-03-23 18:50] ottok opened #209 "Compare to the Fevermap app"
Hello!

There are also other similar open source app developments in progress. See the list we have compiled at https://gitlab.com/fevermap/fevermap/-/issues/1

Our Fevermap is about collecting fever and other potential Corona virus symptoms from the field to create situational awareness. Stack is a PWA app with Python/Flask backend. Works on all mobile platforms.

You might want to cross-check/be

[2020-03-23 18:52] shankari commented on #163
Do you already have beta testers lined up for the launch? That can get some real device/non simulator coverage. One option is for us to track what personal devices the community has. That may already be enough.

[2020-03-23 19:02] epicfaace opened #210 "Restrict app to iPhone (not iPad), portrait mode"
To restrict to iPhone (not iPad), we would need to do this: https://stackoverflow.com/questions/24927716/how-to-restrict-the-ios-app-only-for-iphone-excluding-ipad

[2020-03-23 19:05] SamMousa commented on #86
@hspinks please put the app id you thought of here. FYI Our domain is whoapp.org, the application ID needs to have at least 3 parts for android and CANNOT  be changed.

[2020-03-23 19:09] epicfaace opened #212 "Clicking "X" on menu doesn't close the menu"
Go to https://preview.whoapp.org/menu and click the "X" button -- the menu doesn't close.

![image](https://user-images.githubusercontent.com/1689183/77353913-3ee41880-6d18-11ea-8a73-b544a45965ae.png)

[2020-03-23 19:10] theswerd commented on #193
Flutter: https://github.com/theswerd/WHOFlutter

[2020-03-23 19:35] viviancromwell commented on #131
@hspinks yes, we will be using two-step notification with the first step to present strong value prop. But I don't think we have this in the near future as far as I can tell.

see the article I wrote a while back, 2nd and 3rd implementation have the best results, per instrumentation data.

https://medium.com/chop-technologies/purposeful-design-for-user-permission-e0ca1a86fdb4.

[2020-03-23 19:38] viviancromwell commented on #163
@shankari I dont have a testing plan yet, ideally we should have done it both before and after the app. But we are short on time. I have a designer who is coming on board who is going to address this.

[2020-03-23 21:33] #212 closed

[2020-03-23 22:23] epicfaace opened #218 "Change wording from "World Health Organization App""
Right now, the description for the repo says "World Health Organization App" and the README says "This is the official World Health Organization app." We should make it clear that this is not the official app for the WHO, but rather a WHO app focused on the coronavirus pandemic.

[2020-03-23 22:44] shankari commented on #163
@viviancromwell If you think it is appropriate, I can set up a google doc and ask people to log their phone model and log any beta testing issues that they encounter. Hopefully the eng team can then triage them and file Github issues for the real ones. Would you like me to do this?

[2020-03-23 23:50] nightlark commented on #10
Before deciding to go with a CLA, make sure that it is actually needed, and see if the GitHub inbound=outbound policy is sufficient. This guide from GitHub looks at some of the issues: https://github.com/github/opensource.guide/blob/master/_articles/legal.md#does-my-project-need-an-additional-contributor-agreement

From my own experience with other projects using a CLA, it can make it virtually im

[2020-03-24 00:08] nightlark commented on #10
Other resources on the issues with CLAs:
https://ben.balter.com/2018/01/02/why-you-probably-shouldnt-add-a-cla-to-your-open-source-project/
https://opensource.com/article/19/2/cla-problems

[2020-03-24 00:16] nightlark commented on #17
A CLA can create a very real, very big barrier to contribution. See https://github.com/WorldHealthOrganization/app/issues/10#issuecomment-602920695

[2020-03-24 00:34] epicfaace opened #219 "Review security settings on dompurify (HTML sanitization)"
File an issue to review security settings on dompurify.  https://snyk.io/vuln/npm:dompurify

_Originally posted by @advayDev1 in https://github.com/WorldHealthOrganization/app/pull/215_

[2020-03-24 00:48] epicfaace commented on #139
closing this as a duplicate of #196

[2020-03-24 00:48] #139 closed

[2020-03-24 00:48] epicfaace commented on #196
We need to update the yml values and add the right images for this flow.

[2020-03-24 00:49] epicfaace commented on #41
Reopening this because we need to actually implement this functionality on v0.1 -- launch a mail client. What is the email address we should use for this?

[2020-03-24 03:16] hspinks commented on #175
Done in https://github.com/WorldHealthOrganization/app/pull/192

[2020-03-24 03:16] #175 closed

[2020-03-24 03:24] hspinks commented on #210
this feels a bit hacky to me... I think for the purposes of initial submission, this is fine, but longer term I think we'll want to just support iPad screen sizes. but up for discussion on that one

[2020-03-24 03:39] hspinks commented on #41
I'm moving this to the vNext milestone as it doesn't look like we'll have an email for feedback in time

[2020-03-24 03:45] hspinks commented on #60
Closing this in favor of other sub-issues

[2020-03-24 03:45] #60 closed

[2020-03-24 03:46] hspinks commented on #105
Closed in #222

[2020-03-24 03:46] #105 closed

[2020-03-24 04:31] hspinks opened #224 "Translate app content into 6 WHO official languages"
Arabic, Chinese, English, French, Russian, and Spanish

[2020-03-24 04:50] hspinks opened #225 "Support YouTube video embeds in informational content"
Brought up as a desired future feature during one of the standups

[2020-03-24 05:30] hspinks opened #226 "Refactor flow screen components to be more modular"
See https://github.com/WorldHealthOrganization/app/pull/120#discussion_r396008344 - the flow hook refactor (#149) was completed in #151, but also want to do a refactor of the React components

[2020-03-24 05:43] hspinks opened #227 "Create TextEmoji screen type"
The information we have on the chat bot displays information cleanly with an associated emoji. I figure that could be a decent way to handle the issues of imagery. Create a `TextEmoji` screen type to handle this.

[2020-03-24 05:56] sstur commented on #193
This is awesome work!

I'll see about getting our code put up soon too.

[2020-03-24 06:32] hspinks opened #228 "Legal: Google Analytics compatibility with existing Terms and Privacy"
Determine whether we need to update our Terms of Service and/or Privacy Policy to be able to include basic Google Analytics in initial version of the app

[2020-03-24 06:37] hspinks opened #229 "Explore presentation of app content in Snapchat story-style interface"
Per @crazybob's idea in Slack, listing as issue to link from ROADMAP

[2020-03-24 07:03] hspinks commented on #198
Closing in favor of more recent #204

[2020-03-24 07:03] #198 closed

[2020-03-24 07:27] hspinks opened #231 "Fix carousel slide indicators not showing on iOS"
The dots at the bottom of the slides indicating which slide the user is on are not displaying when running the app on iOS, even though they are when running the app in the browser. See screenshots...

iOS Simulator (iPhone 11 Pro Max, iOS 13.3):
<img width="485" alt="Screen Shot 2020-03-23 at 7 46 25 PM" src="https://user-images.githubusercontent.com/1484366/77399206-31557f80-6d66-11ea-95fd-d5f5ea

[2020-03-24 07:53] hspinks commented on #231
This might be related to #152 as it looks like all content is pushed down on the screen

[2020-03-24 08:01] SamMousa opened #232 "Add CSS style check to CI"
From #220.

[2020-03-24 08:45] #227 closed

[2020-03-24 08:49] polenoso commented on #99
Hi all!

[2020-03-24 08:58] SamMousa commented on #99
Hi everyone, at this point we're no longer assigning everyone triage permissions (onboarding docs will be updated soon).

If you want to be assigned an issue to work on please add a comment to the issue and one of us will assign it to you.

Welcome to the project and thanks in advance for all your future contributions!

[2020-03-24 08:58] #99 closed

[2020-03-24 12:22] WillGoad commented on #231
Might be a restraints problem

[2020-03-24 12:23] WillGoad commented on #231
@hspinks I'm pretty unexperienced with Github what is the process for fixing an issue.

[2020-03-24 12:41] vibraniumSwaleh commented on #99
Hi all!
Just joined. Triage access?

[2020-03-24 12:45] epicfaace commented on #231
The carousel dots only show intermittently when I run it on the browser as well -- sometimes I have to refresh a few times for the dots to show. This hints that it might be an issue with the actual Ionic carousel component -- maybe we should use another library to render the carousel.

[2020-03-24 12:47] WillGoad commented on #231
That might be best.

[2020-03-24 12:51] epicfaace opened #235 "WHO Mythbusters screen text needs to be smaller"
These screens were added in #233

See, for example, https://preview.whoapp.org/who-mythbusters

![image](https://user-images.githubusercontent.com/1689183/77427355-9fbd3080-6dac-11ea-95ec-4f9d2c72d252.png)

[2020-03-24 13:07] WillGoad commented on #231
I would like to be assigned to this issue if no one else is already.

[2020-03-24 13:14] viviancromwell opened #236 "Content Requested by WHO: Risk Communication and Community Engagement"
Risk Communication and Community Engagement (RCCE) Action Plan Guidance COVID-19 Preparedness and Response

https://www.who.int/publications-detail/risk-communication-and-community-engagement-(rcce)-action-plan-guidance

[2020-03-24 13:21] viviancromwell opened #238 "Content requested by WHO"
it would be great to include WHY it is important to wash hand, or social distancing, etc. apart from the instruction

[2020-03-24 13:58] viviancromwell opened #240 "A more intuitive and simplified content swipe"

[2020-03-24 14:01] viviancromwell commented on #240
here is a potential design direction that is more intuitive, also highly recommended by Material Design as the best choice. is to show a strip of content so no gesture icon is needed.  I am showing an example here.

In this design.
1) user doesn't need to show > arrow gesture.
2) we can get rid of the dots too.
3) the only thing needed is the close window button. as the entire content strip is ove

[2020-03-24 14:24] viviancromwell opened #242 "Small design tweaks"
#174

per this ticket, I added small tweaks in the UI that includes left and right arrows. ( this should enable both swipe gesture as well as onClick).

As the result of that, I also made the "x" close sign to be grey so the primary call to action is to continue swiping/clicking to read the content, instead of closing. Showing subtle preference what we want the users to click.

This is not the ide

[2020-03-24 14:25] viviancromwell commented on #242
@hspinks

[2020-03-24 14:26] viviancromwell commented on #162
Kristna is working on the app icon.

[2020-03-24 14:27] viviancromwell commented on #92
things have changed much in the last few days. this is no longer valid.

[2020-03-24 14:27] #92 closed

[2020-03-24 14:30] viviancromwell opened #243 "Final Internal Test Pass for v1.0"
QA for v1.0:

Write up test plan for mobile app and then add it to `docs/TESTING.md`. It should include the following + add your own elements. This is to focus on manual testing for now and then we'll migrate to automation in the future.
- iOS, Android
- OS: iOS 8 to iOS 13 and Android 4.1.x to 10.0
   Android needs more testing given greater fragmentation
- All user interface elements + hand wash

[2020-03-24 14:33] viviancromwell commented on #40
we have gotten some amazing designers in place.

[2020-03-24 14:33] #40 closed

[2020-03-24 14:33] #76 closed

[2020-03-24 14:35] viviancromwell commented on #174
this is tweaked.

see below.

#242

[2020-03-24 14:35] #174 closed

[2020-03-24 14:53] viviancromwell opened #244 "What does users want? - early user research"
We have been getting lots of suggestions from different directions. But we haven't even looked into what users want. There are multiple channels we should do a bit research to get better insights.

1) apps built by other health organizations, what they built, how users respond in-app review
2) China has the most information,  as they are far ahead than everyone else and have built the technology p

[2020-03-24 15:59] kassim commented on #86
`org.whoapp.android` would be the most common pattern for an app ID

[2020-03-24 16:02] hspinks commented on #231
@WillGoad you've got it, thanks!

[2020-03-24 16:14] jdve opened #245 "Slack invite link on ONBOARDING page is broken"
I'm interested in volunteering!  It looks like the [Slack invite link](https://join.slack.com/t/who-app/shared_invite/zt-cylowls6-Q7iQPvTAenkN_Yb9MLxVIw) on the [ONBOARDING](https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md) page is broken.

[2020-03-24 16:27] hspinks opened #247 "Bring WhatsApp bot content into v0.1"
Pulling in the content and content structure from the WhatsApp bot into the v0.1 content structure, at least as much as fits. As the design of the app changes to accommodate this content better for v0.2+, we will look to pull all of it in, but for now, just use TextEmoji screens

Top level nav should be:

* Protect Yourself
* WHO Myth-busters _(note - should this be Mythbusters)_
* Travel Advice

[2020-03-24 16:27] #235 closed

[2020-03-24 16:58] myiremark opened #249 "Dynamic Localizable Menu"
One of the issues raised at standup on 2020/03/23 was that of a dynamic localizable menu

[2020-03-24 17:03] hspinks commented on #196
Closing in favor of #247

[2020-03-24 17:03] #196 closed

[2020-03-24 17:04] hspinks commented on #197
Closing in favor of #247

[2020-03-24 17:04] #197 closed

[2020-03-24 17:04] hspinks commented on #184
Closing in favor of #133

[2020-03-24 17:04] #184 closed

[2020-03-24 17:11] avardhana commented on #244
I can get started on consolidating competitive research and looking into China's apps

[2020-03-24 17:13] alayondiana commented on #129
Hello, dear design community!
I'm an Industrial + Product Designer based in Seattle, doing UX. I joined the project a few minutes ago, please let me know if you are still needing volunteers. My skills are usability testing, animation, and prototyping (Principle). I can also help with localization services,  I'm a Spanish native speaker.

[2020-03-24 17:13] epicfaace opened #250 "Deployment - feature graphic"
We need to make a feature graphic for submission to the Play Store. It needs to be 1024px by 500px

Part of #187

[2020-03-24 17:24] nightlark commented on #245
Here's an invite link: https://join.slack.com/t/who-app/shared_invite/zt-cx6ycppt-ccqPJ7ZSGy3~77gSByexJw

[2020-03-24 17:38] nightlark commented on #245
It's odd that the original one became invalid (unless 30 days have passed since it was generated or 2000 people used it).

It might be worth having a slack admin set up https://communityinviter.com/ or https://github.com/outsideris/slack-invite-automation to make sure that the invite link doesn't expire.

[2020-03-24 17:40] ctrimm commented on #245
Agreed with the communityinviter.com idea @nightlark. I'm opening a PR as we speak to address this across the various `.md` files.

[2020-03-24 17:42] viviancromwell commented on #244
sounds good. I assigned to you, share with me, as I have started bits..,

[2020-03-24 17:43] kassim commented on #187
<details><summary>taken on a Pixel 3 simulator (click to expand):</summary>
![Screenshot_1585071459](https://user-images.githubusercontent.com/11020264/77458801-0ec37500-6dff-11ea-877b-9a1c047b3060.png)
![Screenshot_1585071455](https://user-images.githubusercontent.com/11020264/77458825-1551ec80-6dff-11ea-81e0-dffb761764c5.png)
![Screenshot_1585071442](https://user-images.githubusercontent.com/110

[2020-03-24 17:46] viviancromwell commented on #243
@avardhana

[2020-03-24 17:55] yourkompas commented on #162
![icon-ios-512@1x](https://user-images.githubusercontent.com/54385392/77460031-cf286900-6dbd-11ea-925e-d7ef416503e5.png)
![icon-ios-1024@1x](https://user-images.githubusercontent.com/54385392/77460096-e0717580-6dbd-11ea-92d2-9c33b1f23979.png)

[2020-03-24 17:56] viviancromwell commented on #129
@hspinks Hunter, let me know if you want me to cut the screen shots every morning for the eng.  There is an export button at the bottom of Figma where you can export all.

One small design tweak I added this morning per feedback is captured here:
https://github.com/WorldHealthOrganization/app/issues/242

In the near future, once things are settled down a bit, the idea flow is to make a snapshot of

[2020-03-24 17:58] #247 closed

[2020-03-24 17:58] pedmilrey commented on #187
Android - Pixel 4

![photo_2020-03-24_18-55-24](https://user-images.githubusercontent.com/12101087/77460227-1be16380-6e01-11ea-883e-500f73d1a09b.jpg)
![photo_2020-03-24_18-55-22](https://user-images.githubusercontent.com/12101087/77460231-1d129080-6e01-11ea-8d70-a01df099d70e.jpg)
![photo_2020-03-24_18-55-21](https://user-images.githubusercontent.com/12101087/77460232-1dab2700-6e01-11ea-9484-4c54a7

[2020-03-24 17:59] yourkompas commented on #250
Can do as soon as I see the Android screenshots come through

[2020-03-24 17:59] yourkompas commented on #187
Can edit any of these if needed!

[2020-03-24 18:14] advayDev1 opened #252 "Document cross-functional development process"

[2020-03-24 18:16] ctrimm commented on #218
Made an attempt at updating the text in the README.md. Welcome any and all feedback on that open PR.

[2020-03-24 18:17] nelsonmfinda commented on #99
Hi @SamMousa I want to join Slack community, the link in description are unavailable.

[2020-03-24 18:20] SamMousa opened #254 "About page is blank"
Console log:
[code]
Bug happens on browser, we need to verify if it happens in the apps as well?

Reproduce: go to the about page, check the console log.

Direct link for web version: https://preview.whoapp.org/about

[2020-03-24 18:24] kassim commented on #187
<details><summary>taken on a Pixel C (tablet) emulator - click to expand</summary>

![Screenshot_1585074112](https://user-images.githubusercontent.com/11020264/77462848-f9514980-6e04-11ea-929e-0b031a1d923a.png)
![Screenshot_1585074101](https://user-images.githubusercontent.com/11020264/77462857-fbb3a380-6e04-11ea-9f2b-718861ef1f72.png)
![Screenshot_1585074095](https://user-images.githubusercontent

[2020-03-24 18:27] epicfaace commented on #41
We'll need to remove the Feedback button in v0.1 though -- Apple may reject an app that has a nonfunctional button.

[2020-03-24 18:50] ivancastrogw1 commented on #187
ios screen shots
[screen_shots_who_app.zip](https://github.com/WorldHealthOrganization/app/files/4377114/screen_shots_who_app.zip)

[2020-03-24 18:53] ivancastrogw1 commented on #187
[iPhone_5_5_app_preview.mov.zip](https://github.com/WorldHealthOrganization/app/files/4377120/iPhone_5_5_app_preview.mov.zip)

[2020-03-24 18:56] RohanTalip commented on #254
I see content at https://preview.whoapp.org/about in Chrome 80

[2020-03-24 18:58] kassim commented on #254
Could be a browser extension messing something up but it works fine for me on the provided link on Chrome. (and built locally)

[2020-03-24 18:59] advayDev1 commented on #254
Same works for me too

[2020-03-24 18:59] viviancromwell opened #255 "Need to consolidate with Hunter on the about page"
both design and content

[2020-03-24 19:01] SamMousa commented on #254
Gonna close this and blame it on an intermittent bug (or someone forgot to clear his cache)

[2020-03-24 19:08] SamMousa commented on #99
https://join.slack.com/t/who-app/shared_invite/zt-cx6ycppt-ccqPJ7ZSGy3~77gSByexJw

[2020-03-24 19:10] yourkompas commented on #187
![App Store Screenshot - 5 5](https://user-images.githubusercontent.com/54385392/77467015-6a264080-6dc8-11ea-9b72-3b0ff4f628c4.png)
![App Store Screenshot - 6 5](https://user-images.githubusercontent.com/54385392/77467024-6db9c780-6dc8-11ea-8647-404a6c10f4db.jpg)

[2020-03-24 19:18] yourkompas commented on #187
![Android](https://user-images.githubusercontent.com/54385392/77467585-7ced4500-6dc9-11ea-875c-3e4282ea68fd.png)

[2020-03-24 19:19] yourkompas commented on #187
![iPad 2nd Gen](https://user-images.githubusercontent.com/54385392/77467686-b02fd400-6dc9-11ea-88ab-a37485e8f267.jpg)

[2020-03-24 19:27] yourkompas commented on #187
![iPad-3rd-Gen](https://user-images.githubusercontent.com/54385392/77468479-d609a880-6dca-11ea-8dfc-14bd09852585.png)

[2020-03-24 19:31] RohanTalip commented on #56
Does this need to be in the v0.1 milestone?

[2020-03-24 19:40] yourkompas commented on #187
![Android 2](https://user-images.githubusercontent.com/54385392/77468968-9b544000-6dcb-11ea-910b-8dd8dd9550de.png)
![Play Store Feature Graphic](https://user-images.githubusercontent.com/54385392/77468970-9becd680-6dcb-11ea-928f-ba402f3e1376.png)

[2020-03-24 19:42] sstur commented on #193
Hey team!

Here's the entire repo for our React Native implementation:
https://github.com/kodefox/who-app-rn

Expo demo is in the readme of that repo.

Special shout out to @darcien for help with this, along with [a few other contributors](https://github.com/kodefox/who-app-rn/graphs/contributors).

[2020-03-24 19:42] SamMousa commented on #129
@hspinks could you add the figma link the the original post?

[2020-03-24 20:09] epicfaace commented on #250
finished by @yourkompas

https://user-images.githubusercontent.com/54385392/77468970-9becd680-6dcb-11ea-928f-ba402f3e1376.png

[2020-03-24 20:09] #250 closed

[2020-03-24 20:19] ivancastrogw1 commented on #187
<details>
  <summary>iOS Screenshots</summary>

![iPad_Pro_(2nd_Gen)_12_9_landscape](https://user-images.githubusercontent.com/40570614/77472998-1130c980-6e15-11ea-84e4-793e9d7d0d33.png)
![iPad_Pro_(3rd_Gen)_12_9_landscape](https://user-images.githubusercontent.com/40570614/77473010-155ce700-6e15-11ea-8c6e-5788cbf9d4ce.png)
![iPhone_6_5_landscape](https://user-images.githubusercontent.com/40570614

[2020-03-24 20:22] RohanTalip opened #258 "Meta: decide on one place for volunteer/roster submissions?"
There are currently 2 places where people can submit their information for indicating their interest in contributing to the project.

One is via a [form](https://docs.google.com/forms/d/e/1FAIpQLSetEzaANtzTcrUzEKcjKzwH8HVKRMvMGUQ6GmRlAzBsSTCsRw/viewform) that I *think* submits to this [spreadsheet](https://docs.google.com/spreadsheets/d/1U6bHVExMRXNXh65WUVSmfV_nGlfSV3Ib9hHD2WLwOYY/edit) (I don't h

[2020-03-24 20:39] hspinks commented on #93
Assuming this is approved for v0.1 as of #248 - will revisit for future releases

[2020-03-24 20:39] #93 closed

[2020-03-24 20:41] hspinks commented on #204
Styling should be current as of right now. If @viviancromwell has any additional feedback for the v0.1 release, we will open a separate ticket for it

[2020-03-24 20:41] #204 closed

[2020-03-24 20:42] hspinks commented on #183
Pushing to v0.2

[2020-03-24 20:43] hspinks commented on #228
Pushing to v0.2

[2020-03-24 20:45] hspinks commented on #210
Per the discussion in standup today, we can probably submit without thinking about the iPad screen size quite yet. Noting that this is a risk item for app store approval, this may end up being an immediate priority and pushed back into this milestone. But for now, moving to v0.2

[2020-03-24 20:53] patniemeyer opened #259 "Menu text truncated on small screens..."
![Simulator Screen Shot - iPhone SE - 2020-03-24 at 15 26 03](https://user-images.githubusercontent.com/852471/77475913-900f0d80-6de7-11ea-8456-10be69b01198.png)

[2020-03-24 20:56] advayDev1 opened #260 "If you let the app run for a while, all screens go blank"
Repro:
Start the app on the web browser
Leave it on, for example, on the menu or about page
Come back to it

Expected: Screen is still there
Actual: Screen has gone blank

[code]

[2020-03-24 21:03] advayDev1 opened #261 "Finalize credits list for v1.0"
Pending a DM thread with Bruno/Daniel

- Remove folks from original proposal doc no longer involved
- Add in team functions that don't commit code :)
- Verify our name as "WHO COVID App Collective"

[2020-03-24 21:09] advayDev1 commented on #255
some parts of this are whether or not open source licenses show up there (which is what I put in there for now).

[2020-03-24 21:11] advayDev1 opened #262 "Turn on Snyk for both Security and License review"

[2020-03-24 21:27] epicfaace commented on #260
Perhaps this has to do with this? https://github.com/ionic-team/ionic/issues/18782

[2020-03-24 21:30] advayDev1 commented on #254
I saw this both on About page and I also saw the menu go blank (#260) with a different error.

Ashwin is investigating.

[2020-03-24 21:34] advayDev1 commented on #260
https://github.com/ionic-team/ionic/issues/18782 looks promising

Maybe make sure everything has a unique key that is a hash?

[2020-03-24 21:36] epicfaace opened #263 "All pages are blank on Safari"
Going to https://preview.whoapp.org or https://preview.whoapp.org/about give me an error, "Can't find variable: Intl"

Safari version 9.1.2

Solution: we need to add a polyfill for Intl.

[2020-03-24 21:48] epicfaace opened #265 "Remove share button"
as per #69

We need this for v0.1.

[2020-03-24 21:55] viviancromwell commented on #255
@advayDev1 i am about to kick the design over to you guys.  content might be separate issue.

[2020-03-24 21:55] #255 closed

[2020-03-24 21:55] #254 closed

[2020-03-24 21:56] viviancromwell opened #266 "implement the "about the app" page"
The design is in figma. very simple stuff.

Feel free to consolidate all of the content there from your side as well.

attached is a screen shot. The font is smaller.

![About the App - Page (1)](https://user-images.githubusercontent.com/247863/77480810-a1ecb280-6ddf-11ea-8f41-7aac0c324992.png)

[2020-03-24 22:00] advayDev1 opened #267 "Rationalize our CI/CD process"

[2020-03-24 22:04] navikalingoth commented on #153
<Route component={ } exact={true} />

[2020-03-24 22:05] patniemeyer commented on #231
@WillGoad This problem may also be worsened by th app not respecting the "safe areas" on iOS.  I'm not sure if our current layout has an easy way to add that but it may fix the problem and improve the layout in general.

[2020-03-24 22:06] hspinks commented on #266
@viviancromwell I believe we need to list license info and contributors (correct @advayDev1?). can you include those? see the [current preview](https://preview.whoapp.org/about) for what's included in that

[2020-03-24 22:07] hspinks commented on #263
Will this be relevant when run inside the native container with capacitor? That may standardize the environment a bit so we don't need a polyfill. Not sure on that, but worth checking

[2020-03-24 22:23] yourkompas commented on #44
Stay up to date with the latest Coronavirus disease (COVID-19) Pandemic information from the World Health Organization.
Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority. Most people who become infected experience mild illness and recover, but it can be more severe for others. Take care of your he

[2020-03-24 22:39] myiremark commented on #266
per discussion, will continue and style current preview to match current preview + figma

[2020-03-24 22:42] RohanTalip commented on #133
Should this issue be closed now?  Or is there still something left to do?

[2020-03-24 22:42] hspinks opened #268 "Snyk vulnerability: minimist"
Snyk report finds a `Medium Severity` issue with `minimist@0.0.8` introduced through `react-scripts@3.4.0`: https://app.snyk.io/vuln/SNYK-JS-MINIMIST-559764

Snyk's suggested remediation:

[2020-03-24 22:46] viviancromwell commented on #266
@myiremark @hspinks that is the plan to merge the content you have with the design-related information. I didn't feel I need to pull all of the existing static content into Figma, the engineer can just combine them. If you have a google doc that captures the content you have, I will add mine, then add that link to Figma, I feel this is better than trying to copy the entire static content into the

[2020-03-24 22:49] myiremark commented on #266
Yes, as long as there is content, when changed, is static.

[2020-03-24 22:52] RohanTalip commented on #268
See also https://github.com/facebook/create-react-app/issues/8663

[2020-03-24 22:53] hspinks commented on #262
It looks like Snyk offers 3 related services:

* License review: only available for pro accounts - @advayDev1 is reaching out to see if we can upgrade, so I will ignore this for the moment
* Automatic PRs submitted by Snyk - proposing fix to vulnerabilities automatically that we would then review and merge as needed
* Automated tests on PRs - will fail the check if there is a `High Severity` vulne

[2020-03-24 22:53] shankari commented on #132
AFAIK, TestFlight is the only option that apple approves for beta testing. And given that Apple essentially prohibits dynamic native code downloads, I don't see how a third-party can provide a full solution.

Of course, you can make javascript/UI level updates using CodePush or the equivalent (Ionic Deploy) for example.

[2020-03-24 22:54] advayDev1 commented on #266
@viviancromwell can we just put all the legalese right after the donation with the designed part front and center?

[2020-03-24 23:00] shankari opened #269 "Fill in security checks in the RELEASE document"
Review feedback was to file an issue and link it to the RELEASE document.

[2020-03-24 23:01] shankari commented on #269
@advayDev1 please assign to Andrew per https://github.com/WorldHealthOrganization/app/pull/257/files#r397437296

[2020-03-24 23:01] hspinks commented on #262
this is turned on now 👍

[2020-03-24 23:01] #262 closed

[2020-03-24 23:05] advayDev1 commented on #262
I think this is a good trade-off for now.

[2020-03-24 23:06] advayDev1 opened #270 "Consider switching to Yarn"
Instead of NPM for package management.

[2020-03-24 23:09] navikalingoth opened #271 "App name and Icon"
Currently the title (App name is  Ionic App) of the app and icon(favicon) are default.  Change the App name into Who app and add who favion

[2020-03-24 23:11] advayDev1 commented on #260
Have a fix for one cause of this

[2020-03-24 23:16] RohanTalip commented on #268
@hspinks do you have a link to the full report?  I'm curious what the path through the dependency tree from `react-scripts@3.4.0` to `minimis@0.0.8` is ... (as `minimist@0.0.8` doesn't appear to be a direct dependency of `react-scripts@3.4.0`)

[2020-03-24 23:19] JasPanesar opened #272 "DUPLICATE: Slack invitation is no longer working"
Invitation on the readme.MD is stating the invitation link is no longer active.  Is the project full?

Page: https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md

Link: Slack: https://join.slack.com/t/who-app/shared_invite/zt-cylowls6-Q7iQPvTAenkN_Yb9MLxVIw

Result: ![who-app](https://user-images.githubusercontent.com/466266/77485775-a3c07100-6df3-11ea-8271-af47acb1efac.pn

[2020-03-24 23:20] JasPanesar commented on #272
Duplicate.

[2020-03-24 23:20] #272 closed

[2020-03-24 23:22] JasPanesar commented on #245
+1  Same issue here.

Page: https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md

URL: Slack: https://join.slack.com/t/who-app/shared_invite/zt-cylowls6-Q7iQPvTAenkN_Yb9MLxVIw

[2020-03-24 23:43] csfurmanski commented on #44
Here is a brief edit to generalize on copy from @yourkompas

Stay aware of the latest information on the COVID-19 outbreak available on the WHO mobile app. Most people who become infected experience mild illness and recover, but it can be more severe for others. Learn how to protect yourself and others, hear what experts are saying and find out how you can help.

[2020-03-24 23:46] csfurmanski commented on #44
Keywords:
WHO, World Health Organization, COVID-19, SARS-CoV-2

[2020-03-25 00:12] kassim commented on #271
I believe this should be fixed here
https://github.com/WorldHealthOrganization/app/pull/256

[2020-03-25 00:16] epicfaace commented on #260
I don't think 325512579d498de21e713e92c07cf5cc9bc244f4 fixes a race case like in #264, because there's no analogous situation in which there is a boolean check for `flow` that is supposed to evaluate to false but evaluates to true when `flow` is empty.

Indeed, the only place where `flow` is used / checked is here, which would behave normally (i.e. not render) if `flow` were set to `{}` by default

[2020-03-25 00:25] shankari opened #274 "Figure out process for getting WHO approval"
As per PR feedback.
@advayDev1 please assign to @brunobowden as per https://github.com/WorldHealthOrganization/app/pull/257#discussion_r397486096

[2020-03-25 00:40] shankari opened #279 "Figure out release SCM managment"
Everybody has an opinion, but we need to standardize on one.

Some questions?
- release branches or tags?
- how many branches?
- does it need to support hotfixes?

[2020-03-25 00:41] shankari commented on #279
Suggested by @hspinks

[gitflow model](https://nvie.com/posts/a-successful-git-branching-model/)
uses a develop branch separate from master - essentially the feature branches that people are working on would branch off of (and be merged back into) develop instead of master. then, to get code from develop to master, it would go through the release/\<version\> branch flow

[2020-03-25 00:42] hspinks commented on #268
@RohanTalip good question. here are the 2 paths:

[code]

and

[code]

[2020-03-25 01:17] shankari opened #280 "Figure out privacy checklist for release"
We need to have a privacy checkoff. Not sure who should come up with the list for consideration.

[2020-03-25 01:28] alayondiana commented on #224
@hspinks you can assign Spanish to me, I am a native speaker and I am happy to collaborate with translation. I´m also looking for ways to contribute to UX Design.

[2020-03-25 01:43] myiremark commented on #280
Generally, we are using this for guidance:

http://www.oecd.org/sti/ieconomy/oecd_privacy_framework.pdf

To that end, for each of the following categories (at least), we should review and document our thoughts and measures for addressing each.

[2020-03-25 01:55] shankari commented on #280
@myiremark maybe my brain is too fried right now, but I'm not seeing any categories listed. Do you mean the ones on page 3? Because those seem to be changes that motivate the need for such a framework.

[2020-03-25 02:14] myiremark commented on #280
Its actually on this page:

http://www.oecd.org/internet/ieconomy/oecdguidelinesontheprotectionofprivacyandtransborderflowsofpersonaldata.htm

[2020-03-25 02:21] myiremark commented on #280
Updated my comment for clarity

[2020-03-25 02:38] shankari commented on #280
Updated #257 with this information

[2020-03-25 02:38] #280 closed

[2020-03-25 02:54] viviancromwell opened #281 "Asset management workflow"

[2020-03-25 02:58] viviancromwell commented on #281
I think a better way to manage assets in the future, is we come up with a directory structure, assets checked indirectly into Github.  Then in github, if there is a specific ticket, just add link to the assets instead of adding the image directly.

@hspinks thoughts.  I can ask @davidkaneda to work on that.

[2020-03-25 02:59] viviancromwell commented on #281
something like this. https://github.com/WorldHealthOrganization/app/issues/281

[2020-03-25 03:05] advayDev1 commented on #260
I agree.  We'll hammer on this in testing the build, and if it doesn't repro, close out.

[2020-03-25 03:09] #44 closed

[2020-03-25 03:13] advayDev1 opened #282 "Terms of Service Link"
@hspinks and I could not find any matching link on the WHO site for now.

[2020-03-25 03:22] myiremark opened #283 "Define OECD Privacy principles"

[2020-03-25 03:36] sstur commented on #133
Not yet, because #189 got rolled back so we have #256 in the pipeline but not yet approved for landing.

[2020-03-25 03:40] pjayathissa commented on #282
@advayDev1 @hspinks would this work
https://www.who.int/about/who-we-are/privacy-policy

[2020-03-25 03:47] pjayathissa commented on #263
FYI: Safari v 13.0.5 works fine

[2020-03-25 03:49] anebus commented on #269
### Security Checks (Validate Documents Match Reality; Review Changes)
- [ ]  **System Boundary**
- Diagram of internal services, components, connections to external services and systems.
- _This may match item in Product Check - "fidelity checks with mockups (design)"_

- [ ] **APIs and Interconnection** (external systems and services)
- Data types transmitted to, stored by, or processed by the A

[2020-03-25 04:21] myiremark commented on #56
@crazybob do we need any of the permissions in:

https://github.com/WorldHealthOrganization/app/blob/master/client/ionic/android/app/src/main/AndroidManifest.xml?

[2020-03-25 04:42] shankari commented on #269
I should really come up with a better name for _fidelity checks with mockups (design)_. What I was trying to capture was the note below it

[2020-03-25 04:55] #266 closed

[2020-03-25 05:00] anebus commented on #269
Understood. Edited mine to remove that then. System boundary here is a visual system architecture. I'll do a sketch of what I understand 0.2 to look like and folks can comment on it as we build. Intent here would be confirmation that the diagram matches and has not changed by adding or removing components to the system in future releases.

[2020-03-25 05:47] shankari commented on #269
@anebus do you have thoughts on where the responses to these questions should be stored.
My proposal is that they should be checked in to GitHub as usual so that they can be tagged along with the other release deliverables.
And then the checkoff process will involve ensuring that all of them have been answered.

Thoughts?

[2020-03-25 06:20] myiremark commented on #56
@shankari

[2020-03-25 06:36] brunobowden commented on #56
we must remove all unnecessary permissions for the first public release. We can always add them back selectively later on

[2020-03-25 06:44] shankari commented on #58
Isn't this a dup of https://github.com/WorldHealthOrganization/app/issues/282?

[2020-03-25 07:49] advayDev1 opened #287 "Delete preview.whoapp.org from Flutter"

[2020-03-25 07:51] brunobowden commented on #58
@shankari - TOS is Terms of Service, aka License Agreement to limit liability and not steal copyright data. The Privacy Policy is separate and how WHO will respect people's privacy.

[2020-03-25 07:58] advayDev1 opened #291 "Functioning shortlink for app share"
https://www.who.int/covid-19-app is the link for now

[2020-03-25 07:59] advayDev1 commented on #291
Have to make sure WHO supports the shortlink.

[2020-03-25 08:00] #265 closed

[2020-03-25 08:01] shankari opened #292 "Update onboarding docs to reflect switch to flutter"
Apparently, the app now uses flutter instead of ionic react.
However, the [onboarding docs](https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md#building-and-running) still refer to ionic react.
They need to be updated with new instructions

[2020-03-25 08:02] advayDev1 commented on #69
You did it, but in Flutter :)

[2020-03-25 08:09] #287 closed

[2020-03-25 08:10] advayDev1 commented on #261
Punted per bruno for now.

[2020-03-25 08:13] advayDev1 opened #293 "Final bundle ids and app names"
Pending WHO confirmation

iOS:       CFBundleIdentifier: "org.who.myhealth"
Android:   applicationId: "org.who.myhealth"

[2020-03-25 08:17] advayDev1 commented on #293
WHO MyHealth as name

[2020-03-25 08:57] SamMousa commented on #109
This also applies to flutter.

[2020-03-25 10:16] WillGoad commented on #231
Yeh I’ll try and find the guidelines for borders

[2020-03-25 11:16] epicfaace opened #300 "Encourage WHO to use App Signing by Google Play for Android app"
(https://support.google.com/googleplay/android-developer/answer/7384423?hl=en).

[2020-03-25 11:22] advayDev1 opened #301 "Before submission to WHO, tag the v0.1 release"

[2020-03-25 11:24] advayDev1 opened #302 "Deployment - Add BUILD documentation for WHO to submit app"

[2020-03-25 11:48] #293 closed

[2020-03-25 11:50] kassim opened #303 "UI Overlap on large text"
there's some UI overlap of text overlapping the pager indicator when checking on a Nexus 5 emulator

it doesn't overlap on iPhone 8 but there is a margin issue, I'm not sure if that will block release

<details><summary>Android Nexus 5 (1080x1920 pixels) - click to expand</summary>

![Screenshot_1585136324](https://user-images.githubusercontent.com/11020264/77532950-36b1e780-6e96-11ea-835b-7d24cc7

[2020-03-25 12:07] #302 closed

[2020-03-25 12:18] advayDev1 commented on #300
It is encouraged in the BUILD docs, but if Bruno emphasizes it to them too over email 👍

[2020-03-25 13:24] anebus commented on #269
@shankari That makes sense to me, also allows for transparency to the person that validated the steps.

[2020-03-25 14:02] viviancromwell commented on #187
@yourkompas Kristina, is this done? If so, please close the ticket.

[2020-03-25 14:09] #57 closed

[2020-03-25 14:09] viviancromwell commented on #53
this will be part of design rework

[2020-03-25 14:09] #53 closed

[2020-03-25 15:00] jernst opened #308 "Simplify language in splash-carousel content"
Currently very long sentences with many clauses ("college-level English"). We want this to be accessible to everybody. Suggestions:

* ``COVID-19, also referred to as "Coronavirus", mainly spreads from person-to-person between people who are in close contact with one another (within about 6 feet or two meters) through respiratory droplets produced when an infected person coughs or sneezes.``
=> ``

[2020-03-25 17:51] davidkaneda commented on #281
I'd lean toward just using Dropbox/Drive if possible. I understand the accessibility benefit of having everything in GitHub for eng, but certain binary files can weigh down Git history, and it also requires graphics contributors to know git. If we just keep in Dropbox/Drive, I'd think we could keep the directory public, so would still be easy to link to(?)

[2020-03-25 19:01] myiremark opened #309 "Document Security Boundaries"

[2020-03-25 19:10] epicfaace commented on #180
Actually, we discussed in standup (yesterday, I think) that it would be fine to switch to the react-scripts config from gts altogether, because the react-scripts eslint config has specialized rules for React and components that are not present in gts. So #181 is still relevant @sstur (although this won't matter since we're moving away from Ionic anyway).

[2020-03-25 19:18] #301 closed

[2020-03-25 19:24] kassim opened #310 "Flutter web-app on Netlify"
update netlify.toml to deploy the flutter web-app to preview.whoapp.org
(as per request via Slack)

[2020-03-25 21:28] myiremark opened #312 "Document APIs"

[2020-03-25 21:29] myiremark opened #313 "Document Dependencies"

[2020-03-25 21:29] myiremark opened #314 "Document Data Flow"

[2020-03-25 21:39] myiremark commented on #13
I still haven't found a canonical source from Apple or Google quantifying the distribution of sdk's / api's.  It's worth documenting this so that we can quantify the impact of our technology choices.

[2020-03-25 22:49] dnfield commented on #303
I can work on this.

[2020-03-25 23:17] shankari commented on #269
Update docs, closing

[2020-03-25 23:17] #269 closed

[2020-03-25 23:55] hspinks commented on #132
Making the call to go with [`fastlane`](https://fastlane.tools/) as this is compatible with WHO's process. Also works with Testflight for beta distribution

[2020-03-25 23:55] #132 closed

[2020-03-25 23:56] hspinks opened #318 "Fastlane Automation"
https://fastlane.tools/
* GitHub Actions for CI integration
* Meta data for Google Play and App Store
* Meta data for app permissions, e.g. `NSLocationWhenInUseUsageDescription`
* Screenshot automation
* App Store and Google Play binary upload
* Localization support

[2020-03-26 00:25] dnfield commented on #281
Another option is to use git-lfs, which helps manage binary files separately (but does require users to install additional software).

[2020-03-26 00:31] dnfield opened #320 "Carousel page indicator overflow"
The carousel dots at the bottom of the screen do not scale to handle large numbers of pages.

This is confusing when there are additional facts to view but the dots seem to indicate you are at the end.

This screen shows the indicator at the last dot, even though there are more pages:

![flutter_01](https://user-images.githubusercontent.com/8620741/77598194-683ea900-6ebe-11ea-85c9-3f04f6cf9655.png

[2020-03-26 01:18] patniemeyer commented on #271
Yes, the Flutter app has app icons and splash screens on both iOS and Android.

[2020-03-26 01:30] #271 closed

[2020-03-26 02:14] advayDev1 commented on #218
This is still something very much in flux right now and there aren't decisions.

[2020-03-26 02:15] #218 closed

[2020-03-26 02:47] #259 closed

[2020-03-26 02:47] #186 closed

[2020-03-26 02:51] #56 closed

[2020-03-26 02:52] #55 closed

[2020-03-26 02:53] #63 closed

[2020-03-26 02:54] #109 closed

[2020-03-26 02:57] #260 closed

[2020-03-26 02:58] #133 closed

[2020-03-26 02:59] #158 closed

[2020-03-26 02:59] #153 closed

[2020-03-26 03:00] #263 closed

[2020-03-26 03:03] #70 closed

[2020-03-26 03:04] #108 closed

[2020-03-26 03:07] myiremark opened #324 "Other Projects"
We welcome contributions and ideas!

In order to keep a centralized list, please add a comment below.

Other issues will be closed and redirected here in order to keep this streamlined.

Please don't use link shorteners for URLs.

[2020-03-26 03:08] myiremark commented on #209
Thanks for your interest and suggestion!

Closing this issue to maintain a centralized list at:

https://github.com/WorldHealthOrganization/app/issues/324

[2020-03-26 03:09] myiremark commented on #324
from @ottok:

[code]

[2020-03-26 03:09] #209 closed

[2020-03-26 03:12] myiremark commented on #324
from @avi33tbtt:

https://github.com/WorldHealthOrganization/app/issues/157

[code]

[2020-03-26 03:12] myiremark commented on #157
Thanks for your interest and suggestion!

Closing this issue to maintain a centralized list at:

https://github.com/WorldHealthOrganization/app/issues/324

[2020-03-26 03:12] #157 closed

[2020-03-26 03:13] dnfield opened #325 "Carousel progress indicator is difficult to distinguish from text if text is long"
On a smaller phone screen, some of the longer text information can end up overflowing into the page view dots.  It becomes difficult to tell that there's more text to scroll down to view.

One way to solve this would be to add an elevation to the progress dots. Another way might be to put them behind a gradient or a frost effect into the text (effectively making the text slide under them).

[2020-03-26 03:14] myiremark commented on #144
closing this as it doesnt represented designs in figma

[2020-03-26 03:14] #144 closed

[2020-03-26 03:14] sstur commented on #193
Just an update on this, In standup today (Wed, 25th Mar) we decided to go forward with the Flutter implementation which has been submitted for review in the App/Play store. I'll close this issue for now but if anything changes in the future we can re-open.

[2020-03-26 03:14] #193 closed

[2020-03-26 03:16] sstur commented on #180
Closing this as we've moved away from the Ionic implementation.

[2020-03-26 03:16] #180 closed

[2020-03-26 03:16] myiremark commented on #145
closing as doesnt represent current designs in figma

[2020-03-26 03:16] #145 closed

[2020-03-26 03:18] #231 closed

[2020-03-26 03:35] myiremark opened #326 "Dynamic Content Flutter Implementation"

[2020-03-26 03:46] shankari opened #327 "Figure out content checks for release"
As per https://github.com/WorldHealthOrganization/app/pull/257#discussion_r398278198
Not sure who owns content checking and is responsible for filling in the details. But hopefully, @brunobowden or @deanhach will be able to figure that out.

[2020-03-26 04:09] shankari commented on #324
@myiremark I am maintaining a public list of projects related to COVID-19 contact tracing.
https://github.com/shankari/covid-19-tracing-projects

Would you be willing to submit these to that list through a PR? Having a shared list outside any specific project would make it easier for others to find as well

Thanks!

[2020-03-26 04:22] patniemeyer commented on #326
After talking to Shilpa and Clement today we were thinking that we might hold off on implementing the dynamic content loading mechanism for just a bit until we have a real requirement that utilizes it.  This would keep us on the standard localization file scheme for the first few releases and give us a bit of time to evaluate what is needed.  That said it's never too early to start looking into re

[2020-03-26 04:34] theswerd opened #328 "Add Flutter label"
We should add language labels for issues so we can navigate them in an easier way.

[2020-03-26 06:27] theswerd commented on #328
@SamMousa can you add a flutter label?

[2020-03-26 07:46] advayDev1 commented on #328
I'm not sure I understand this. We've decided per this standup as a team that Flutter shall be the client framework going forward.  We aren't building another client framework in parallel.

So all client/Flutter tasks should be labeled 'client' (and the server ones, which don't yet exist 'server').

Let me know if I've missed something, or close if you agree.

[2020-03-26 07:50] theswerd commented on #328
The flutter tag will allow us to have the choice to switch moving forward.

Switching from ionic to flutter we(I think you had to do this) had to go through the issues and close all of the ionic ones. By tagging issues “flutter”, we will be more adaptable in future iterations if we ever choose to switch.

[2020-03-26 07:53] #226 closed

[2020-03-26 08:19] SamMousa commented on #328
I don't think thjs is needed, it's extra work now for possible savings later. Next time we switch it won't be 16 hours before a deadline. So the 30 minutes going over issues won't be an issue.

Also from a non-Eng perspective it will be hard to differentiate a new issue being flutter or just client.

[2020-03-26 08:26] myiremark commented on #13
Flutter (https://flutter.dev/docs/resources/faq):

Android Jelly Bean, v16, 4.1.x or newer
iOS 8 or newer.

[2020-03-26 08:26] advayDev1 commented on #328
Correct. Let's reconsider if/when we need to change frameworks again.

[2020-03-26 08:27] #328 closed

[2020-03-26 08:46] advayDev1 commented on #326
Let's please separate the concerns of static vs. dynamic and degree of localizability.  As of this moment (and yes it changes often), the ability to serve content dynamically from a server is a  requirement for immediately next version.

[2020-03-26 09:04] rzr opened #330 "wish: Progressive Web App ?"
May I suggest to consider also PWA technology :

- It's easier to deploy (no store approvals)
- work also offline
- portable between system
- rely on browser security privacy model

More:
https://en.wikipedia.org/wiki/Progressive_web_application

[2020-03-26 10:41] SamMousa opened #331 "Soap emoticon not available on nexus 5"
We should check when it was added and in which OS versions are available.

![image](https://user-images.githubusercontent.com/547021/77637774-793af900-6f56-11ea-9f6e-0a89a36350d0.png)

[2020-03-26 11:01] kassim commented on #330
see https://github.com/WorldHealthOrganization/app/pull/311

[2020-03-26 13:31] SamMousa opened #334 "Decide on flutter code style"
Flutter comes with a standard coding style: https://flutter.dev/docs/development/tools/formatting

1. I propose using the standard `flutter format` command.

@theswerd @patniemeyer you have flutter experience, any reason not to go this way?

2. I propose reformatting the whole client now, it would only change 16 files, 8 if we exclude generated files.

Advantage of formatting the whole code base n

[2020-03-26 13:55] mit-mit commented on #334
Hi, Dart & Flutter product team member here. I'd really recommend that you chose to auto-format with `flutter format` (which can also conveniently be done on Save in our [supported IDEs](https://flutter.dev/docs/get-started/editor)). That way you don't have to spend time discussing formatting preferences in code reviews, and in these times any time saving is well worth taking.

The suggestion abov

[2020-03-26 14:02] martinjeret commented on #267
If you think we can help with CI/CD here at Codemagic we want to contribute and can set up the pipelines and provide ongoing support with engineers.

[2020-03-26 14:04] kassim commented on #331
avail on Android 9 and up

so we might need to embed an emoji font if we want to depend on this
personally I would have expected image assets instead of emojis

[2020-03-26 15:03] SamMousa opened #335 "Measure Client Test coverage"
Flutter provides test coverage with `--coverage`.

I'll submit a PR to get this coverage and upload it to codecov.io for easy (re)viewing.

As development progresses we can then automatically test that a new PR must ensure that code coverage does not go down. (We still have to manually make sure that the tests that are added actually test the code vs just executing it)

[2020-03-26 15:12] SamMousa opened #336 "Automated screenshot generation"
Fastlane normally uses Android & ios specific tests for generating screenshots.

There is a package that generates screenshots directly from the dart / flutter tests:

https://pub.dev/packages/screenshots
https://github.com/mmcc007/screenshots

We should evaluate if this package is acceptable for us to use. It is still quite young but has the right idea.

[2020-03-26 15:38] RohanTalip commented on #268
I'm guessing this can be closed since we're going with the Flutter implementation?

[2020-03-26 15:53] a-oboh commented on #99
Requesting permission for triage

[2020-03-26 15:58] myiremark opened #338 "Static Analysis"

[2020-03-26 16:05] myiremark commented on #338
https://pub.dev/packages/pedantic

[2020-03-26 16:07] #268 closed

[2020-03-26 16:09] myiremark commented on #330
Thanks for your suggestion, closing as duplicate as this is definitely a consideration, and there are other issues / PRs dealing with it.

[2020-03-26 16:09] #330 closed

[2020-03-26 16:10] marciowelben commented on #99
Requesting triage permissions

[2020-03-26 16:14] myiremark commented on #19
Can I close this @advayDev1 @hspinks

[2020-03-26 16:26] HackrHIVE commented on #99
Hi everyone I just joined can I have triage access?

[2020-03-26 16:27] SamMousa commented on #99
Please check the first post guys.

[2020-03-26 16:31] SamMousa opened #342 "Add automated testing for all pages"
- [ ] Create a list of all pages currently in the app. (post it here)
- [ ] For each page on the list create a new issue for writing automated tests for it

- [ ] Home page #346

[2020-03-26 16:33] SamMousa commented on #318
Since we have many new contributors looking for stuff to do I have de-assigned myself from this.

If you have experience setting up fastlane feel free to go ahead and comment here and you will be assigned.

[2020-03-26 16:36] augustinreille commented on #318
Hey, I'm interested. I already worked with fastlane to deploy and maintain a dozen of apps on both stores.

[2020-03-26 16:49] PieterAelse commented on #331
Emoji's can look different on any platform and OS-version, simple image would be better IMO 👍

[2020-03-26 17:02] kassim commented on #86
think this can be closed?

from Slack:

https://who-app.slack.com/archives/C0100FTK5FB/p1585162240053700

[2020-03-26 17:23] kassim commented on #318
@augustinreille can you join the Slack channel? (see https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md)

[2020-03-26 17:27] SamMousa commented on #318
Will assign it to you later today

[2020-03-26 17:35] quaintdev opened #343 "Face emoji instead of mouth in protect yourself section"
The mouth emoji looks a bit misleading in the protect yourself section where we have mentioned do not touch mouth, nose and eyes. Shouldn't we be using a face emoji or the one with mask instead?

Maybe the wording can change to "Don't touch your face"

[2020-03-26 17:46] kassim commented on #342
- Splash
- Home
- Protect yourself
- Myth-busters
- Travel Advice
- About the app (dialog)
  - Licenses

[2020-03-26 17:57] TheAlphamerc commented on #342
Project directory strucure:-

#### Lib folder only
<details>
     <summary> Click to expand </summary>

[code]
</details>

#### Flutter folder
<details>
     <summary> Click to expand </summary>

[code]
</details>

[2020-03-26 18:36] gspencergoog commented on #343
One resource that might be helpful are these (free) icons from from FontAwesome: https://fontawesome.com/icons?d=gallery&q=covid-19

There's a Flutter package that can trivially embed them, too: https://pub.dev/packages/font_awesome_flutter

[2020-03-26 18:38] gspencergoog commented on #331
One resource that might be helpful are these (free) icons from from FontAwesome: fontawesome.com/icons?d=gallery&q=covid-19

There's a Flutter package that can trivially embed them, too: pub.dev/packages/font_awesome_flutter

[2020-03-26 18:47] AyushBherwani1998 opened #346 "[home_page] add Widget Test"
Add Widget Test for HomePage which can be helpful in automation testing.

I would like to work on this issue.

[2020-03-26 18:49] #19 closed

[2020-03-26 18:49] britannio commented on #343
It's not

The new icons aren't available until my pr for the package is merged https://github.com/fluttercommunity/font_awesome_flutter/pull/83

[2020-03-26 18:55] SamMousa commented on #334
Anyone up for making a PR?

[2020-03-26 18:57] timsneath commented on #13
Android has a dashboard that shows the prevalence of versions (albeit about 9 months old): https://developer.android.com/about/dashboards

Apple is more focused on devices using the latest version, but their published data is here: https://developer.apple.com/support/app-store/

[2020-03-26 18:59] myiremark commented on #13
Thanks @timsneath

[2020-03-26 19:03] theswerd commented on #334
I got it!

[2020-03-26 19:03] SamMousa commented on #338
@myiremark please elaborate a bit on what you mean with this issue!

[2020-03-26 19:06] #245 closed

[2020-03-26 19:20] #138 closed

[2020-03-26 19:25] #185 closed

[2020-03-26 19:51] britannio opened #347 "[health_check.dart] add automated tests"
https://github.com/WorldHealthOrganization/app/issues/342

[2020-03-26 19:51] britannio opened #348 "[survey_questions.dart] add automated tests"
https://github.com/WorldHealthOrganization/app/issues/342

[2020-03-26 19:51] britannio opened #349 "[protect_yourself.dart] add automated tests"
https://github.com/WorldHealthOrganization/app/issues/342

[2020-03-26 19:51] britannio opened #350 "[travel_advice.dart] add automated tests"
https://github.com/WorldHealthOrganization/app/issues/342

[2020-03-26 19:51] britannio opened #351 "[who_myth_busters.dart] add automated tests"
https://github.com/WorldHealthOrganization/app/issues/342

[2020-03-26 19:51] britannio opened #352 "[carousel_page.dart] add automated tests"
https://github.com/WorldHealthOrganization/app/issues/342

[2020-03-26 19:53] myiremark commented on #338
I'm not an expert in Dart/Pedantic, so I won't be able to perfectly elaborate on their differences.

We'd like to not just make sure the code is styled consistently and the way we want it written ala linter e.g Pedantic, we'd like to make sure it evaluates as intended securely and avoids common vulnerabilities at minimum.

It looks like Pedantic is actually built into Dart's static analysis tool i

[2020-03-26 20:07] AyushBherwani1998 commented on #351
Hey @britannio, since you are already working on so many issues. Would you mind if I take this issue?

[2020-03-26 20:08] britannio commented on #351
@AyushBherwani1998 Go for it, I haven't assigned myself to these issues.

[2020-03-26 20:15] ZiyadKhalil commented on #224
@hspinks Native Arabic speaker here and can contribute to translation.

[2020-03-26 20:18] myiremark opened #354 "Physical Automated Device Testing"
Research and add a comparison of services including detailed cost breakdown based on the broadest set of devices supported by Flutter per https://github.com/WorldHealthOrganization/app/issues/13.

[2020-03-26 20:23] myiremark commented on #354
@daohoangson

[2020-03-26 20:24] daohoangson commented on #354
I can do this. Can you assign it to me?

[2020-03-26 20:25] myiremark commented on #354
Thank you!

[2020-03-26 20:25] britannio commented on #186
The Figma link(https://www.figma.com/file/fjzTIloCEK4FpbyDiTLj2X/iOS-UX) in the ROADMAP.md doesn't work
https://github.com/WorldHealthOrganization/app/blob/master/docs/ROADMAP.md#v01

[2020-03-26 20:27] tomgilder commented on #347
This page doesn't exist yet. Needs a design or spec before writing tests.

[2020-03-26 20:28] britannio commented on #342
Just created the issues @SamMousa, let me know if I missed any. Are there any requirements for these tests more than making sure they do what they're intended to?

Looks like protect_yourself.dart, travel_advice.dart, and who_myth_busters.dart all rely on `CarouselView` so there's room for saving some test code.

[2020-03-26 20:33] myiremark commented on #258
closing the other issue, so there's one place to keep track of this.

[2020-03-26 20:33] #48 closed

[2020-03-26 20:36] #232 closed

[2020-03-26 20:41] SamMousa commented on #342
Thanks! Goal is to make sure they work as intended yes.

[2020-03-26 20:42] britannio commented on #352
I'm working on this.

[2020-03-26 20:51] JMcKiern opened #355 "Broken Link in ONBOARDING.html on GH Pages"
Publishing the markdown files to GitHub Pages seems to break one of the relative links.

On the [ONBOARDING](https://worldhealthorganization.github.io/app/ONBOARDING.html) page, scroll down to the "Contributor Guidelines" link under the "[Building and Running](https://worldhealthorganization.github.io/app/ONBOARDING.html#building-and-running)" header. Clicking this link will take you to https://wo

[2020-03-26 20:56] dfourcfive commented on #129
Hello everyone,
i'm flutter developer and would love to to give a help making this app

[2020-03-26 21:10] AyushBherwani1998 commented on #349
I would like to work on this issue.

[2020-03-26 21:17] britannio commented on #354
https://www.repeato.app/ would this help? It doesn't have CI support though.

[2020-03-26 21:18] britannio commented on #349
Go for it

[2020-03-26 21:24] dnfield commented on #338
Pedantic provides a common set of analysis lints (code style rules) that are "recommended" for larger team projects.  It's also possible to just provide custom analysis rules in your `analysis_options.yaml`, but the advantage of pedantic is that people are likely familiar with it and it's easy to just drop in.

[2020-03-26 21:25] dnfield commented on #338
And it's maintained by the Googler who manages what lints are applied on Google's Dart based projects.

[2020-03-26 21:34] advayDev1 commented on #338
I'm a fan of using an opinionated tool chosen by an expert over us spinning our own.

[2020-03-26 21:48] SamMousa commented on #338
Already a PR open for pedantic btw

[2020-03-26 21:52] daohoangson commented on #354
There are 3 services that offer real device for testing from big names: Amazon ([Device Farm](https://aws.amazon.com/device-farm/)), Google ([Firebase Test Lab](https://firebase.google.com/docs/test-lab)) and Microsoft ([App Center Test](https://docs.microsoft.com/en-us/appcenter/test-cloud/)). Amongst them, I have found only automated solution to execute Flutter test from CI for AWS and Firebase

[2020-03-26 22:28] anebus commented on #283
The Security and Privacy groups use these principals to determine when a change to the app needs review or to update the security documentation.

The privacy principles defined by the OECD consist of the following:

**Collection Limitation**:
Data collection should occur only with the knowledge and consent of a concerned individual (data subject).

**Data Quality**:
Only collect information which

[2020-03-26 22:38] KhaleelShaheenDC commented on #325
I worked on this issue at this PR:
https://github.com/WorldHealthOrganization/app/pull/360

[2020-03-26 22:44] m3teitel commented on #331
Hey, if no one is working on this yet, I can take a look and make the changes. I think the fontawesome icons might be a bit too monochrome but we can take some from here: https://icons8.com/icons. They're all free to use with credit.

[2020-03-26 22:48] m3teitel commented on #240
Hey, I can help implement this. It should be pretty straight forward with a page view and having the close button in the corner.

[2020-03-26 23:21] kassim commented on #354
so on Firebase Test Lab I've had some experience of Android App Bundle failing incorrectly - just an FYI, if it doesn't work, try to build a "fat APK"

[2020-03-26 23:23] kassim commented on #310
closed with https://github.com/WorldHealthOrganization/app/pull/333

[2020-03-26 23:23] #310 closed

[2020-03-26 23:46] kassim commented on #225
appears to be a Flutter plugin for that https://pub.dev/packages/youtube_player_flutter

is there some sort of design for how this may be included?

[2020-03-27 00:02] patniemeyer commented on #291
This was noted in the app store review:

"... the “Share the app” button does not yet function properly. We’ll need for that to function first if you indeed want this version to go live on the App Store."

I assume what they meant was that it was that the shared content was not correct?  I think we can get the app store id now and generate a real link.

[2020-03-27 00:05] theswerd commented on #291
I propose Firebase dynamic links. They work great, allow for easy AB testing, and I can implement them in under 3 hours if I have a google-services.json and google-services.plist file from firebase/google cloud

[2020-03-27 00:05] theswerd commented on #291
Should I loop bob lee in on this conversation so he can give me read rights on the console

[2020-03-27 01:07] epicfaace commented on #270
Not relevant for Flutter

[2020-03-27 01:07] #270 closed

[2020-03-27 01:07] epicfaace commented on #219
This is an Ionic issue

[2020-03-27 01:07] #219 closed

[2020-03-27 01:07] epicfaace commented on #119
This is an Ionic issue

[2020-03-27 01:07] #119 closed

[2020-03-27 01:07] epicfaace commented on #171
This is an Ionic issue

[2020-03-27 01:07] #171 closed

[2020-03-27 02:02] advayDev1 opened #367 "Test issue - ignore"
- [x] a
- [ ] b

[2020-03-27 02:17] #367 closed

[2020-03-27 02:58] daohoangson commented on #354
Thank you, that's good to know @kassim.

As previously mentioned, I haven't used Firebase Test Lab before. How was your experience? Do you have a CI setup for it?

[2020-03-27 03:27] #178 closed

[2020-03-27 04:24] dhruvilp commented on #225
Instead of using _youtube_player_flutter_ I would recommend to use https://pub.dev/packages/webview_flutter (by flutter team) and embed youtube videos in the app. I can easily do it.

[2020-03-27 04:26] tdh8316 commented on #355
Maybe https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md ?

[2020-03-27 04:56] dhruvilp commented on #130
I would recommend (https://pub.dev/packages/flutter_local_notifications) and (https://pub.dev/packages/firebase_messaging -- implemented by Flutter Team), and also (https://pub.dev/packages/firebase_in_app_messaging)

[2020-03-27 05:35] hspinks commented on #42
closing as a non-planned feature for now

[2020-03-27 05:35] #42 closed

[2020-03-27 05:36] #45 closed

[2020-03-27 05:36] #58 closed

[2020-03-27 05:42] hspinks commented on #69
Added in Flutter v0.1!

[2020-03-27 05:42] #69 closed

[2020-03-27 05:45] hspinks commented on #85
Decisions made on this: PRs require approval of at least 1 committer, new commits do not void approvals, checks must pass, and these apply to admins too. CODEOWNERS still tbd

[2020-03-27 05:45] #85 closed

[2020-03-27 05:46] hspinks commented on #86
Decisions made:
* iOS: `int.who.WHOMyHealth`
* Android: `org.who.WHOMyHealth`

[2020-03-27 05:46] #86 closed

[2020-03-27 05:46] #89 closed

[2020-03-27 05:59] HuzefaGadi opened #374 "Apply Design Pattern to current Flutter code"
I went through the codebase and I think it is an initial draft, I would suggest we move it into more structured way with using design patterns like MVVM clubbed with Providers. If we start of with this practice early on it will be very easy to integrate things later on when the codebase becomes big.

let me know what you guys think

[2020-03-27 06:03] #134 closed

[2020-03-27 06:04] #163 closed

[2020-03-27 06:07] #208 closed

[2020-03-27 06:08] #229 closed

[2020-03-27 06:08] #238 closed

[2020-03-27 06:12] hspinks commented on #258
Sticking with this one for now: https://forms.gle/FUugWvUVvMcV3dLJA

[2020-03-27 06:12] #258 closed

[2020-03-27 06:12] #240 closed

[2020-03-27 06:12] #242 closed

[2020-03-27 06:13] hspinks commented on #240
Closing as design will update for next version

[2020-03-27 06:29] #300 closed

[2020-03-27 06:44] SamMousa commented on #85
We need another committer in cet then. Otherwise my code can never be committed. I have been going with approval of core contributor as acceptable for me to merge.. Essentially it is the same thing whether they code, I approve and merge. Or I code, they approve and I merge.

[2020-03-27 07:01] poojadev commented on #374
@HuzefaGadi  completely agree with you, need to move it into a more structured way..also I would like to suggest comment and document the code.
so it will be easy to maintain the codebase for everyone who is working on it.

[2020-03-27 07:05] ravishankarahirwar commented on #129
@SamMousa Hi, I am an Android App Developer with 10+ years of experience in developing Android app with Java/Kotlin. It would be great I can get a chance to contribute to this project. The design I can see on this ticket I can make it Android. I am requesting you kindly grant me permission to do contribution to this great and meaningful project.

[2020-03-27 07:07] brunobowden opened #376 "Cut off text"
Several screens in iOS app show cut off text. This is also an issue for translation to other languages which can be 50% larger than English

Device: iPhone 11 Pro Max
Is: 13.3.1
WHO app: v0.1.1 IIRC

![15588C12-C5DE-4FD6-AC69-7F87A6CAE7DF](https://user-images.githubusercontent.com/679339/77730788-bd61e400-6fbe-11ea-8b3a-5be0b1ab9d27.png)
![686B9315-A89A-44CD-B4D2-655DA893D78E](https://user-images.

[2020-03-27 07:12] brunobowden opened #377 "Trailing ellipsis make end of text unclear"
Trailing ellipses suggest hidden text that’s not displayed. Normally associated with “more” button. In this case, there is no more text.

Device: iPhone 11 Pro Max
Is: 13.3.1
WHO app: v0.1.1 IIRC

![C0EF9FBE-4739-4973-A28E-CFEDD84AEBB9](https://user-images.githubusercontent.com/679339/77731116-8809c600-6fbf-11ea-8d6c-2e8a8ec2edfd.png)

[2020-03-27 07:17] brunobowden opened #378 "Flutter licenses list duplicates"
This appears to have for identical licenses that only differ by Copyright data. I think this might be auto generated. It would be nice if this was more concise, e.g. copyright line contains multiple entries then single copy of license specific to that dependency.

In screenshot, notice duplicate Khronos Group license. The only difference I can see is that the first mentions “Copyright (c) 2013 - 2

[2020-03-27 07:19] brunobowden opened #379 "About missing version information"
It’s essential that the About link includes version information for debugging. Ideally it should also include language, OS details and other information essential for debugging.

[2020-03-27 07:34] rajatdutta opened #380 "Slack link expired"
Hi,
   I want to join the community on slack, but the link has expired.
@SamMousa  please provide a new link.

Thanks
Raj

[2020-03-27 07:45] brunobowden commented on #187
@yourkompas - thanks for the screenshots but we need to remove the border to satisfy the Apple App Store requirements. Reviewer feedback: _"No screenshots that are marketing the app, but rather, images of what’s within the app"_

FYI @hspinks @patniemeyer

[2020-03-27 07:46] brunobowden commented on #291
@theswerd - @crazybob is a Firebase fan as am I but we're still working on setting up the server side account. Once that's operational, then this seems like a good approach. To be done properly, it should use a who subdomain... but Bob may need to set that up anyway for Firebase.

For the time being, I've asked WHO to create a web page similar to what they do for other apps. I realize this is sub-

[2020-03-27 07:47] advayDev1 commented on #378
Indeed it is auto-generated.

[2020-03-27 07:48] advayDev1 commented on #377
Given that our UI is almost completely being changed - do we want to work on these old UI bugs @brunobowden ?

[2020-03-27 07:50] hspinks opened #381 "Adapt WhatsApp bot content to be presented idiomatically in design"
Creating this issue for the purpose of linking to it from the ROADMAP docs - we can use this ticket for updates/communication about adapting content

[2020-03-27 07:51] ravishankarahirwar commented on #380
Yes, I am also facing the same issue, I want to join the community as a developer but unable to join it, because the link is not working

[2020-03-27 07:52] hspinks opened #382 "Update design spec for native look-and-feel"
Creating this issue for the purpose of linking to it from the ROADMAP docs

[2020-03-27 07:52] advayDev1 commented on #380
**To everyone who has jumped in wanting to help:** We are humbled at the outpouring of support we have received from all over the world and are eager to have you contribute and apologize that we are still in the early process of figuring out how to manage all the contributions. Please bear with us while we get an initial version out the door and split out into smaller teams working in parallel, wh

[2020-03-27 07:53] #380 closed

[2020-03-27 07:54] hspinks opened #383 "French localization"
Ticket for the specific v1.0 requirement, not intended to replace #21 or #224

[2020-03-27 07:56] ravishankarahirwar commented on #380
Thank you @advayDev1 for the update, Best of luck of the first version of the app. It is really needed as soon as possible.

[2020-03-27 07:57] hspinks opened #384 "Serve default content when app has no network connection"
Ticket to track the specific requirement for v1.0; this should be part of an overall strategy for serving content to the app that includes offline content, dynamic content served from the cloud, and internationalization strategy

[2020-03-27 08:00] hspinks opened #385 "Serve dynamically updated content from our servers when network is available"
Ticket to track the v1.0 requirement; this should be part of an overall strategy for serving content to the app that includes offline content, dynamic content served from the cloud, and internationalization strategy. Other issues will be opened for the specific subtasks

[2020-03-27 08:02] advayDev1 commented on #380
Please fill out the volunteer form!  We'd like to get back in touch after Monday.

[2020-03-27 08:04] advayDev1 opened #386 "Update onboarding, goals, and team org docs"
A lot has happened in 8 days!

* Update or remove redundant product info across documents that may be out of date
* Update info on how to help out
* Update or remove team contact points

[2020-03-27 08:04] hspinks opened #387 "Support localized push notifications"
Ticket to track the v1.0 requirement; includes the asking for user notifications permission request flow on the client, ability to bucket users by locale (level of granularity TBD), the back end of registering devices for pushes and sending them, and handling pushes in the client. We will create additional issues for each subtask.

[2020-03-27 08:05] hungrymonkey opened #388 "Carousel Column Overflow"
The App overflows in one of the WHO cards.

Steps to Reproduce
1. Run App
2. WHO Myth-Busters
3. Scroll to the second card.

Tested on
Xcode 11.4
Iphone 11 Pro Max 13.4 - Simulator
Flutter 1.15.17 • channel beta • https://github.com/flutter/flutter.git
Framework • revision 2294d75bfa (3 weeks ago) • 2020-03-07 00:28:38 +0900
Engine • revision 5aff311948
Tools • Dart 2.8.0 (build 2.8.0-dev.12.0 998

[2020-03-27 08:07] hspinks opened #389 "Set up app instrumentation and basic analytics"
Ticket to track the v1.0 requirement; instrumentation and analytics will be used for product improvement and should include aggregated data about feature usage and crash reporting. Individual issues will be created for each subtask

[2020-03-27 08:10] JulianAssmann opened #390 "🐛 CarouselView close/X button touch ripple effect overdrawn by page content of PageView"
The touch ripple effect of the close button of the CarouselView widget is overdrawn by the content of the PageView in the same widget:

![image](https://user-images.githubusercontent.com/15306765/77735250-82859d80-700a-11ea-81c5-ccc676c05362.png)

[2020-03-27 08:16] JulianAssmann commented on #390
I'm working on this issue

[2020-03-27 08:20] ravishankarahirwar opened #391 "Avoid crowded places icon is not matching its meaning."
If you look into the icon of crowded places, it looks like a pedestrian is not allowed in the area. I am requesting to you kindly change this icon so It will give the right message to the audience.
For a reference please have a look: https://www.iconfinder.com/icons/5730692/avoid_caution_crowded_people_prevent_social_distancing_icon

#129

[2020-03-27 08:20] hungrymonkey commented on #376
I posted a duplicated issue https://github.com/WorldHealthOrganization/app/issues/388

[2020-03-27 08:21] hungrymonkey commented on #388
Duplicate

[2020-03-27 08:21] #388 closed

[2020-03-27 08:27] PieterAelse opened #392 "Add MacOS support to the app to ease developing/testing"
As MacOS support for Flutter is working good, it's easy to use MacOS for development with the benefits of:
- Not having to run a simulator/emulator
- or on a real device
- UI can be developed/tested more easily as your window can be resized.

And as is rather easy to add, I've gone ahead and did it in PR https://github.com/WorldHealthOrganization/app/pull/363

[2020-03-27 08:35] SamMousa commented on #334
@theswerd did you get to it yet? --> it'd be great if we have this before reviewing some other PRs

[2020-03-27 08:41] JAtoms opened #394 "Pls I'd like to join the slack channel and also contribute to this Noble cause"
@viviancromwell
Hello, I don't know the best way to communicate to you, but am very much interested to contribute to this cause in any way.

[2020-03-27 08:46] hungrymonkey commented on #379
We can always detect the OS without a plugin
https://api.flutter.dev/flutter/material/ThemeData-class.html
https://api.flutter.dev/flutter/foundation/TargetPlatform-class.html

We need to add a dependency and add permissions for more information.
https://pub.dev/packages/device_info
https://pub.dev/documentation/device_info/latest/

[2020-03-27 08:54] JMcKiern commented on #394
See [ONBOARDING](https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md).

[2020-03-27 08:54] JMcKiern commented on #355
What do you mean?

[2020-03-27 08:55] vikilinho commented on #187
Can I still drop screenshots for Android device.

[2020-03-27 09:09] advayDev1 commented on #394
**To everyone who has jumped in wanting to help:** We are humbled at the outpouring of support we have received from all over the world and are eager to have you contribute and apologize that we are still in the early process of figuring out how to manage all the contributions. Please bear with us while we get an initial version out the door and split out into smaller teams working in parallel, wh

[2020-03-27 09:09] #394 closed

[2020-03-27 09:11] JAtoms commented on #394
I wish to extend my gratitude to the prompt response. I am always available anytime. Thanks

[2020-03-27 09:17] maxto024 commented on #380
Faced the same slack invite link is no longer active.
@advayDev1  can you please try to update the slack invite link  on the onboarding document
https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md

I filled the volunteer form

Thanks

[2020-03-27 09:22] json469 commented on #225
What would be the reason for using the [webivew_flutter](https://pub.dev/packages/webview_flutter) other than it is built and maintained by the Flutter team? Although we should prefer the safe and tested approach, the YouTube video via webview may not provide the most pleasant UX (with the whole page visible). If we are simply embedding a video for information-delivery sake (read-only) we should s

[2020-03-27 09:24] oddlyfunctional commented on #380
@advayDev1 Thanks for the update! I filled the volunteer form and will be waiting. If there is anything we can do to help for now, please let us know! I'll have a lot more free time to help this weekend than from Monday, I bet the same applies to other devs.

[2020-03-27 09:32] json469 commented on #331
If emoticons are limited to only these (and few other) screens, local image asset wouldn't be a bad idea. Images will now be unified which could go opposite to native-experience?

Either way I'm happy to help out on this one as well 😄

[2020-03-27 09:34] SamMousa opened #397 "Beta distribution channel"
Several options exist for beta deployment, all supported by fastlane:

https://docs.fastlane.tools/actions/#beta

Since we're building for android and ios I think going with testflight is not optimal.

If you have experience with any of the listed tools please let us know your experience below.

We can also configure fastlane to deploy both to testflight and google play console.

[2020-03-27 09:35] json469 commented on #281
I would recommend git-lfs as well (most developers would have had experience or have it) and will save us from the additional effort to synchronise and look after the assets.

I would be happy to help set it up 👍

[2020-03-27 10:09] jpelgrim opened #398 "Translate app content into Dutch"
Add Dutch translations to the app

Related to #21 #224

[2020-03-27 10:13] jpelgrim commented on #398
☝🏻 I'm picking this up. PR on its way!

[2020-03-27 10:23] json469 opened #400 "Add style/formatting guide in CONTRIBUTING.md"
It seems that this project doesn't have a set guideline for style and formatting.
As per discussion [here](https://github.com/WorldHealthOrganization/app/pull/319#discussion_r399161721), I would strongly recommend using the [official Flutter's very own repo style guideline](https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo).

We can ensure simplicity by not creating our own (as

[2020-03-27 10:25] SamMousa commented on #400
Duplicate of #334, which is already implemented in #396

[2020-03-27 10:25] #400 closed

[2020-03-27 10:25] arasu01 commented on #397
AppCenter can be used for beta distribution.
It well organised into groups and support both platforms(iOS and Android)

https://appcenter.ms

[2020-03-27 10:32] json469 commented on #400
Hey @SamMousa I read that 😄but it took me awhile to search for it by reading through some issues. Would it be helpful if we put that information in the docs for newly contributing developers?

[2020-03-27 10:33] gcarmix opened #401 "Translate app content into Italian"
Add Italian translations to the app

Related to #21 #224

[2020-03-27 10:34] gcarmix commented on #401
I can pick up the issue, I'm italian

[2020-03-27 11:00] SamMousa commented on #400
Yes definitely, currently we're just seeing an influx of 100+ new people while also sprinting for an initial release. We unfortunately don't have the resources to spend on this right now.

Note that onboarding already mentions you should be assigned to the issue if you want to work on it, afaik.
Thanks for understanding!

[2020-03-27 11:10] alessio opened #406 "docs/ONBOARDING.md: Slack invite has expired"
The Slack [invite URL](https://join.slack.com/t/who-app/shared_invite/zt-cx6ycppt-ccqPJ7ZSGy3~77gSByexJw) available in the [ONBOARDING.md](https://github.com/WorldHealthOrganization/app/blob/master/docs/ONBOARDING.md) page does not work. The invite seems to have expired.

Some partners of mine and I would like to join and synchronise with the rest of the team.

Thanks for considering.

[2020-03-27 11:20] hs663964 opened #408 "SLACK JOINING LINK FOR WHO COVID-19 APP NOT WORKING"
PLZ SHARE LINK TO JOIN SLACK FOR PROJECT
LINK:
https://who-app.slack.com/join/shared_invite/zt-cx6ycppt-ccqPJ7ZSGy3~77gSByexJw
NOT WORKING

[2020-03-27 11:20] SamMousa commented on #408
Please don't use caps.

[2020-03-27 11:20] #408 closed

[2020-03-27 11:21] hs663964 commented on #408
ok

[2020-03-27 11:24] orchardbirds opened #410 "fix english typos"
There are small spelling mistakes, grammar mistakes etc. present in the english version

[2020-03-27 11:27] samueladekunle commented on #325
Hello @dnfield, as your PR on this issue been accepted?

[2020-03-27 11:29] icostel commented on #374
Think redux in the way to go in the long run: https://pub.dev/packages/redux and https://pub.dev/packages/flutter_redux with epics(optional). I've used in on several monolithic projects, works like a charm.

[2020-03-27 11:30] SamMousa commented on #224
Please stop creating PRs for this issue for now.
We'll be focusing on 1 extra language (#383), which will be one of the 6 mentioned here.
Furthermore these translations need to be vetted by WHO, meaning we might not be able to merge your translations.

We really appreciate all the hard work everyone has been doing and ask you to hold on a bit longer until we get our processes sorted out!

[2020-03-27 11:31] camillo777 opened #411 "Slack link is wrong"
Slack link is wrong:

https://join.slack.com/t/who-app/shared_invite/zt-cx6ycppt-ccqPJ7ZSGy3~77gSByexJw

On getting started page:

https://worldhealthorganization.github.io/app/ONBOARDING.html

[2020-03-27 11:31] SamMousa commented on #410
Are you up for fixing them? Note that #404 already fixes one of them.

[2020-03-27 11:31] SamMousa commented on #411
Duplicate of #406

[2020-03-27 11:31] #411 closed

[2020-03-27 11:33] orchardbirds commented on #410
Yes, I've caught some more that I can easily fix

[2020-03-27 11:34] SamMousa commented on #386
Part of this is done by #407. We're getting lots of duplicate issues, so I propose merging that ASAP while working on the other items you mentioned afterwards.

[2020-03-27 11:37] hs663964 opened #412 "slack group joining link of covid-19 app project not working"
slack group joining link of covid-19 app project not working
link :https://who-app.slack.com/join/shared_invite/zt-cx6ycppt-ccqPJ7ZSGy3~77gSByexJw not working
kindly share new link

[2020-03-27 11:43] britannio commented on #374
I think it's best to start with what's **officially** recommended by the Flutter team, Provider.
https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple

If not then here's a curated list of state management options
https://flutter.dev/docs/development/data-and-backend/state-mgmt/options

[2020-03-27 11:44] huxaiphaer opened #413 "Access Request"
I am kindly asking for access on Slack (huxaiphaeridris@gmail.com) and as well on Github (huxaiphaer). @SamMousa

[2020-03-27 11:45] dna-f commented on #374
Hi, why don't we follow the Bloc approach with a business object that handles the logic through streams IN (commands/sink) and OUT (results for the streambuilders)
We could use RxDart and other libraries like RxCommand to extend dart stream and streamController.

[2020-03-27 11:45] britannio commented on #412
Duplicate of https://github.com/WorldHealthOrganization/app/issues/406

[2020-03-27 11:53] singhayush1403 commented on #374
Provider with MVVM seems to be the best option. Provider is easy to implement and doesn't have any boilerplate code. Also it's recommended by the Flutter team

[2020-03-27 11:54] pr4sety4 commented on #374
i agree with you, we can use bloc, and it easy to use unit test in this design pattern

[2020-03-27 11:55] huxaiphaer commented on #210
Is this task already taken?

[2020-03-27 11:58] HuzefaGadi commented on #374
I haven't used BLoC or Redux but I have seen the code which seems there is too much boilerplate involved in it. whereas Provider is straight forward and MVVM will make it easier to manage as well.

those are my thoughts

[2020-03-27 12:00] jpelgrim commented on #331
I agree that custom images, animations or videos are best to better communicate the task. (Specifically for people who aren't very skilled readers). I saw there already were some UI/UX designers who volunteered? This would be the part they could contribute best I think! Create meaningful graphics, animations and/or videos.

[2020-03-27 12:01] HuzefaGadi opened #414 "Using Hero animations in carousels"
Flutter has got great animation support with widgets like Hero etc. we can make the courosals with those animation to manipulate the images on each of those screens. that way it will look continuous and will give a good UI experience.

[2020-03-27 12:03] json469 commented on #400
No worries at all! I did notice that and also the spam on LINK NOT WORKING (all caps 🤣), the project is great and love the enthusiasm the Flutter developers bring in. Sure, I will see what I can do thanks 👍

[2020-03-27 12:04] #412 closed

[2020-03-27 12:04] SamMousa commented on #413
Duplicate #406, see #407

[2020-03-27 12:04] #413 closed

[2020-03-27 12:08] dna-f commented on #374
You can use Provider to pass Bloc objects references down along the tree through the context
Otherwise you can register singleton instances of certain bloc objects using GetIt for example
This way you can retrive them everywhere  and call actions on the bloc, receiving back results through the streams

[2020-03-27 12:11] HuzefaGadi commented on #374
@dna-f I have used GetIt and it is very convenient. I have used the combination of provider along with GetIt for dependency Injection along with MVVM as my design pattern, the code is very compact and it makes the code easy to maintain as well.

[2020-03-27 12:12] HuzefaGadi commented on #414
I can take this up @SamMousa

[2020-03-27 12:15] artellador commented on #406
Same for https://github.com/WorldHealthOrganization/app/wiki Slack invitation link

[2020-03-27 12:17] icostel commented on #374
Both redux and bloc are easy to test, both do their job well. With redux epics you don't even have to use rx in the project, as it's all based on streams. But if state management doesn't seem to complex then Provider can be enough.

[2020-03-27 12:19] kassim commented on #331
as an action on this, I would suggest we turn all of these emoji usages into image assets of the same emojis, as it is most likely these will be replaced by image assets in the future, but we can maintain the same design while fixing the bug, and preparing for future changes

[2020-03-27 12:20] SamMousa commented on #331
Please sync up with the design team first; I think a deliberate choice for emoji's was made for this first release.

[2020-03-27 12:21] kassim commented on #331
that's why I'm suggesting just creating image assets of the same emojis, it won't change the design

[2020-03-27 12:22] SamMousa commented on #331
There's no universal look for these emoji's, they are platform dependent.
I'm fine with you doing that, but realize there's a chance it will not be used.

[2020-03-27 12:23] britannio commented on #374
The 2019 I/O video is more relevant

Pragmatic State Management in Flutter (Google I/O'19)
https://www.youtube.com/watch?v=d_m5csmrf7I&

[2020-03-27 12:24] dustincatap commented on #374
+1 on using GetIt for dependency injection. Any thoughts on using it with ScopedModel?

[2020-03-27 12:25] munsifhayat commented on #129
Great Initiative!
I would love to be its part.  I am an iOS developer with 4+ years of experience. Let me know how I can help.

[2020-03-27 12:25] britannio commented on #374
Provider beats ScopedModel
https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple

[2020-03-27 12:26] pbwauyo commented on #129
I'm a Flutter developer. Would love to contribute to this project

[2020-03-27 12:29] suztomo commented on #338
I use this analysis rule "pedantic_mono" that derives from pedantic: https://pub.dev/packages/pedantic_mono

Its strict rules will provide consistent formatting among wide range of contributors.

[2020-03-27 12:29] dna-f commented on #374
I use ScopedModel together with the bloc pattern
Imagine you have an infinite grid of posts.
To accomplish this I delegate business logic to retrive paginated data to a Bloc instance, creating a streambuilder attached to the output stream of the bloc class
But what if you need to update a single post card, when the user click on to say that he/she likes it
In this case, instead of changing the dat

[2020-03-27 12:31] SamMousa commented on #338
It lacks a bit of documentation though; @suztomo could you summarize the reasoning behind those rules?

[2020-03-27 12:35] singhayush1403 commented on #354
@daohoangson  Hi. I used the Firebase Test Lab while testing for an app. It's quite detailed in nature and you get video clips in places where the app crashed. Combined with crashlytics, it can really come in handy.

[2020-03-27 12:36] iqbal-uiux commented on #129
Greetings All,
I am UI/UX Designer having 3 years of experience, I would love to know if I can contribute to this initiative

[2020-03-27 12:37] #351 closed

[2020-03-27 12:44] kavinda1995 commented on #292
Those updates have been done i think.

![image](https://user-images.githubusercontent.com/19621533/77757165-b71f4680-7056-11ea-89ed-6d895d9ec411.png)

[2020-03-27 12:45] edTheGuy00 commented on #374
So there is clearly already a wide variety of options being thrown around. I think that most of use might believe that we have the perfect architecture and state management approach, but keep in mind that this is a community effort and we need to choose something that majority of contributors are comfortable with. Not only for us now but for future contributors as well.

In my opinion, I would vot

[2020-03-27 12:48] jnimis commented on #410
Hi I'm new here, but interested in helping out! (shared Slack invite doesn't work, so I looked for the first issue I could help with)

[2020-03-27 12:51] kassim commented on #397
if using Android App Bundles to build we should make sure the distribution service supports that

Google Play does and I just checked now that MS's App Center does too. Last time I checked Firebase doesn't.

one negative of Google Play is we wouldn't have the best admin access (as it would probably need to be on WHO's account)

[2020-03-27 12:53] britannio commented on #374
Tom Glider made a good point in the Slack about us not even having any state to manage.

Remember to refer to the [ROADMAP](https://github.com/WorldHealthOrganization/app/blob/master/docs/ROADMAP.md)

iT M

[2020-03-27 12:53] luohao8023 opened #418 "d"
d

**------来自高颜值的GitHub小程序kakaCoder：**

![image](https://6769-gitguber-v850e-1256494515.tcb.qcloud.la/gh_366bbc8b202f_258.jpg?sign=77773623070e46b1c871b8956ee14808&t=1584423750)

[2020-03-27 12:55] #418 closed

[2020-03-27 12:55] jg-l commented on #224
Ok, I can contribute French. I can see the Main English has a few typos needed to be corrected. I'll hold off for now and look elsewhere to contribute.

[2020-03-27 12:57] robsonsilv4 opened #419 "Translate app content into Portuguese"
Add Portuguese translations to the app.

Related to [#21](https://github.com/WorldHealthOrganization/app/issues/21).

[2020-03-27 12:58] robsonsilv4 commented on #419
I'm working on this issue, I'm Brazilian.

[2020-03-27 13:13] Sayegh7 commented on #350
I would like to work on this if it's still needed to add tests for it in addition to the ones that would be added to the `carousel_page.dart`

[2020-03-27 13:14] orchardbirds commented on #410
@SamMousa I think maybe the relevant MR (https://github.com/openai/gym/pull/1854) should be submitted before the translations, just because of a small change to each of the intl_*.arb files, but I could be wrong :)

[2020-03-27 13:15] Moosphan opened #421 "Translate app content into Chinese"
Add Chinese translations to the app

Related to [#21](https://github.com/WorldHealthOrganization/app/issues/21) [#224](https://github.com/WorldHealthOrganization/app/issues/224)

[2020-03-27 13:18] suztomo commented on #338
The reasoning is that the more static analysis rules (that Google's Flutter team uses) more consistent the code will become.

While I don't care the reasoning behind each rule; for example, I don't believe constructors should come first ([sort_constructors_first](https://github.com/mono0926/pedantic_mono/blob/master/lib/analysis_options.yaml#L71)), I do think consistency matters, especially when t

[2020-03-27 13:20] jemis67 opened #422 "Drawer Icon"
today about 85-90 percent people use right hand.so drawer icon should be on right side and we can user endDrawer instead of drawer in flutter code.

[2020-03-27 13:22] britannio commented on #350
@Sayegh7 go for it although it might create merge-conflicts with other pull requests that haven't been merged. Also, I don't think that the design has been finalized yet so these pages are subject to change.

[2020-03-27 13:27] LueZavala commented on #419
Hello! I can help translating Spanish! Please let me know where the documents are.. I am new here.
Willing to help. Thanks!

[2020-03-27 13:33] Sayegh7 opened #423 "Page View Indicator is hidden after 10 pages"
Example screenshots of Travel Advice Carousel:

Page 9:
![Screenshot_20200327-153015](https://user-images.githubusercontent.com/13800170/77761098-263d7080-7040-11ea-9c18-197c442f854d.png)

Page 10:
![Screenshot_20200327-153020](https://user-images.githubusercontent.com/13800170/77761121-2e95ab80-7040-11ea-8e34-ea9eb72148ba.png)

[2020-03-27 13:35] mooncatventures-group opened #424 "Slack invite does not work"
It does not seem possible  to join the  slack  channel at this time

Mooncatventures LLC is a small  mobile development company  in Michigan
We would very much  be willing to give whatever it takes for this effort

[2020-03-27 13:38] SamMousa commented on #338
I follow your reasoning.

[2020-03-27 13:39] britannio commented on #423
Duplicate of https://github.com/WorldHealthOrganization/app/issues/320

[2020-03-27 13:44] britannio commented on #424
Duplicate of https://github.com/WorldHealthOrganization/app/issues/406

[2020-03-27 13:44] suztomo commented on #338
Yes, aiming for this weekend. Note that my suggestion does not block onboarding to pedantic.

[2020-03-27 13:45] Sayegh7 commented on #423
Alright, will close it then

[2020-03-27 13:45] #423 closed

[2020-03-27 13:49] SamMousa commented on #338
That's already been merged. Will leave this open for someone else to pick up, be sure to check back here before you start on your implementation!

Thanks!

[2020-03-27 13:50] mooncatventures-group commented on #424
Thanks,  I  will refer  to 406

[2020-03-27 13:50] #424 closed

[2020-03-27 13:55] rosariopfernandes commented on #419
If needed, I'd be happy to review the changes. I also speak Portuguese :)

[2020-03-27 14:09] tinyoakstudio commented on #406
Hey Guys! Is there a working link to the slack? Many thanks!

[2020-03-27 14:10] madiansay commented on #129
Hi Guys

I'm a Graphics Desginer. And i wanna contribute to this project.

[2020-03-27 14:12] tinyoakstudio commented on #224
Do you still need help with Chinese Translations? If so, let me know I'm a native speaker.

[2020-03-27 14:16] carvalhojgp commented on #419
I'm brazilian too and willing to help.

[2020-03-27 14:18] kaiiyer opened #426 "Add COVID-19 Live Statistics Tracker in the app"
Adding a real-time visualization of COVID-19 Tracker would help people get to understand the figures of affected, deceased and recovered patients. We can use colors for indicating region wise number of patients under observation(say red for high and green for low).
A graph could explain more than long para of facts so I believe it would be beneficial for literate as well as illiterate people aroun

[2020-03-27 14:19] britannio commented on #313
Just the Flutter dependencies in `pubspec.yaml` which refer to the packages used directly by the app or all services we're using e.g. Fastlane, Netlify, GitHub actions, etc and their respective dependencies?

[2020-03-27 14:21] britannio commented on #314
Does this rely on the plans for dynamic content delivery to be finalized? https://github.com/WorldHealthOrganization/app/issues/326

[2020-03-27 14:21] jjerphan commented on #224
Hi,

I am a French native speaker and can help translate the French version as well.

[2020-03-27 14:23] shankari commented on #397
@SamMousa you may want to make a distinction between updating UI content and native code updates (e.g. to the plugins you use). The [App Store terms and conditions include](https://developer.apple.com/app-store/review/guidelines/):

There are multiple options (as you point out) for UI-only updates and testing. But for native code updates, given these restrictions, I can't see how there can be opti

[2020-03-27 14:25] shankari commented on #292
Fair enough.

[2020-03-27 14:25] #292 closed

[2020-03-27 14:27] Chinmay-KB commented on #422
But most people are more familiar with left-hand drawer, isn't it? For an app like this, there shouldn't be a learning curve at all

[2020-03-27 14:28] Sarankumar18 commented on #426
As per your guidelines , even though there is lot of text content Visual graphics make more understandable and more useful for uneducated people which lives in rural areas.

[2020-03-27 14:32] anebus commented on #313
A little of both (others might fall under #312 -- within the boundary of the application #309 (basically, where data might flow to or what could impact confidentiality, integrity, or availability). This describes application connections and lets the security team understand what changes from version to version as a place to review changes. Basic principals are here: #283.

[2020-03-27 14:33] adrianas1dr commented on #224
Hi
I’m native Russian speaker and UX designer

[2020-03-27 14:34] jamskahler opened #428 "Why Isn't the WHO Paying Developers?"
What a slap in the face. $4,400,000,000 in annual spending and ***$0*** for an IT project that they will undoubtedly distribute to the entire world. This thing can supposedly save people's lives, they're going to slap their name on it, and they can't shell out enough to pay a team of developers to fast track it out the door? What an absolute slap in the face. Nothing but exploitation and a real de

[2020-03-27 14:34] adrianas1dr commented on #122
Hi
I’m native Russian speaker and UX designer

[2020-03-27 14:36] SamMousa commented on #428
This is not a bug, if you have feedback for the World Health Organization please go to their website and contact them directly.

[2020-03-27 14:36] Chinmay-KB commented on #428
This is not a discussing forum to discuss just about anything. If you don't have anything related to development of the app, kindly don't post it here

[2020-03-27 14:37] purpledrosophila opened #429 "Slack invite link is broken"
Hi all,
I would like to help out with the app as a technical writer, maybe adding content or documenting the app, but the Slack invite link isn't active. How else can I connect to the WHO Slack?
Thanks!

[2020-03-27 14:37] pawan-maurya commented on #391
I am trying to represent social distance and avoid crowd places both with this icon.
![who-avoid-crowded-places-icon](https://user-images.githubusercontent.com/19765392/77767075-8941fe00-7066-11ea-9411-5326272b936e.png)

[2020-03-27 14:37] SamMousa commented on #429
Duplicate #406

[2020-03-27 14:37] #429 closed

[2020-03-27 14:40] purpledrosophila commented on #429
Sorry! I should have looked more closely; I'm just excited to help.

[2020-03-27 14:41] richikchanda1999 commented on #320
I have solved this issue but I am not a part of the project as of now.
Should I send a PR or is there a way I can contribute as well?

I have already filled the Google Form.

[2020-03-27 14:43] patniemeyer commented on #374
Hi everyone.  All input is welcome and I know that there area lot of opinions on this that we will eventually take into account, however it is absolutely paramount right now that we keep this codebase simple and flexible since we don't have all of the requirements.  To that end I'd like to just do the simplest thing possible that solves the problems.  Google's recommended "simple" approach suggest

[2020-03-27 14:46] dnfield commented on #325
I removed the code for this from my pr until a design is settled on

[2020-03-27 14:48] Chinmay-KB commented on #387
Firebase Cloud Messaging can be used to achieve it without much backend work. I would like to work on this issue

[2020-03-27 14:48] creativecreatorormaybenot opened #432 "CarouselSlide close button Ink is on the wrong surface"
The ink of the close button of every `CarouselSlide` is covered by the content `Card` **below** it. This should not be the case.

![screenshot][]

 [screenshot]: https://i.imgur.com/FAjkFg8.png

[2020-03-27 14:49] SamMousa commented on #432
Screenshot upload failed!

[2020-03-27 14:51] Sarankumar18 commented on #422
Left Hamburger should be the legit and easy to drag

[2020-03-27 14:56] creativecreatorormaybenot opened #433 "Code uses Double Quotes"
I think that the code should use **single quotes** for strings where possible (where the string itself does not contain single quotes). This would be consistent with the [Flutter Repo Style Guide][].

At least, we should be consistent within this repo and decide to use one over the other.
I can open a PR to fix this and potentially add this to the Contributing Guides, e.g. that contributors should

[2020-03-27 14:56] daohoangson commented on #354
Thanks for your input @singhayush1403. The AWS offering also has device log and screencast so I guess they are equal in that front. Firebase Crashlytics are indeed crucial though.

Btw, did you setup a CI for Test Lab in your app?

[2020-03-27 14:57] SamMousa commented on #433
Duplicate of #334

[2020-03-27 14:57] #428 closed

[2020-03-27 14:58] SamMousa commented on #433
Someone proposed a set of rules in an issue, but can't find that now. Wait before you implement please!

[2020-03-27 15:02] suztomo commented on #433
I use this analysis rule "pedantic_mono" that derives from pedantic: https://pub.dev/packages/pedantic_mono . This includes prefer_single_quotes.

ref. https://github.com/WorldHealthOrganization/app/issues/338#issuecomment-604973037

[2020-03-27 15:02] SamMousa commented on #433
That's what I was looking for!

[2020-03-27 15:03] SamMousa commented on #433
Closing this one. @creativecreatorormaybenot if you want to implement #338 go ahead, check with @suztomo to make sure you don't both do it. But I think @suztomo won't have time until the weekend.

[2020-03-27 15:03] #433 closed

[2020-03-27 15:04] creativecreatorormaybenot opened #436 "Use pedantic lint rules"
[`pedantic`](https://pub.dev/packages/pedantic) are *lint* rules to enforce **consistent** style officially maintained by the Dart team. If we want to exclude some of the rules, we can also do that by deciding on which ones we do not see as important.

I could open a PR that also excludes some controversial lint rules and fix the current issues that the current code would have.

[2020-03-27 15:04] suztomo commented on #433
Right. You can take #338 now

[2020-03-27 15:05] jjerphan commented on #224
I've opened #435 for a first French Translation.

[2020-03-27 15:05] jemis67 commented on #422
Most of leading  app use  right hamburger examples:WhatsApp,Instagram, gana etc.
so it's right move to switch easy to use UI,for left hamburger you need to stretch your thumb for opning menu and for right hamburger its getting easier.i am hoping that you are understanding my view.
________________________________
From: SaranKumar <notifications@github.com>
Sent: Friday, March 27, 2020 8:22:12 PM
T

[2020-03-27 15:07] creativecreatorormaybenot opened #437 "Add CI to test Flutter Warnings"
Currently, we are not checking for lints.

This can be easily done by running `flutter analyze` in CI.
I could create a PR that integrates this into the existing test workflow and rename the workflow accordingly.

[2020-03-27 15:07] abdullah951 opened #438 "Translate app content in Urdu"
As a native urdu speaking, there is a need of translating this app in urdu.

[2020-03-27 15:07] Sarankumar18 commented on #432
There is overlapping happens , So you can do give the first priority to the Close Button , I mean in the app stage

[2020-03-27 15:07] Chinmay-KB commented on #432
I can work on this issue

[2020-03-27 15:08] SamMousa commented on #432
It already has an assignee @Chinmay-KB .

[2020-03-27 15:09] creativecreatorormaybenot commented on #436
Duplicate of #338.

[2020-03-27 15:10] SamMousa commented on #437
We are:

https://github.com/WorldHealthOrganization/app/blob/master/.github/workflows/flutter-test.yml#L28

[2020-03-27 15:11] creativecreatorormaybenot commented on #338
I think we should just use pedantic as explained in #436. I can work on this today. It requries a bit more than adding the static analysis, i.e. fixing.

We should discuss if some rules should be excluded or not (if adding `pedantic` is agreed upon).

[2020-03-27 15:11] Sarankumar18 commented on #432
ok , If any help need always welcome

[2020-03-27 15:11] #436 closed

[2020-03-27 15:12] creativecreatorormaybenot commented on #437
@SamMousa Oh well, this was added in the meantime. The pace of this got me 😄

[2020-03-27 15:12] #437 closed

[2020-03-27 15:13] cbgrey commented on #406
Came here to leave the same feedback. Want to get involved.

[2020-03-27 15:14] SamMousa commented on #338
There is already a PR for basic pedantic, that part is good.
The addition would the rules in the mono package.

[2020-03-27 15:14] SamMousa commented on #338
@dnfield would love your opinion on adding the rules from the mono package mentioned earlier.

[2020-03-27 15:15] abdullah951 commented on #438
I m working on it sir

[2020-03-27 15:17] epicfaace commented on #90
This is done by Netlify.

[2020-03-27 15:17] #90 closed

[2020-03-27 15:18] britannio commented on #313
The current Flutter package dependencies are below however they're rapidly subject to change as new features are added

- [share](https://pub.dev/packages/share)
- [url_launcher](https://pub.dev/packages/url_launcher)
- [page_view_indicator](https://pub.dev/packages/page_view_indicator)
- [intl](https://pub.dev/packages/intl)
- [flutter_localizations](https://github.com/flutter/flutter/tree/master

[2020-03-27 15:28] creativecreatorormaybenot commented on #338
@SamMousa I cannot seem to find that PR.

I think that the rules in `mono` are somewhat arbitrarily chosen by the author. Considering, pedantic is maintained by the Dart team, it seems like a more reasonable choice. Custom rules can also be added manually.

[2020-03-27 15:30] SamMousa commented on #338
I agree

What's your recommendation? Sticking with default pedantic, with or without adding extra rules?
What do you think about the arguments given above?

[2020-03-27 15:31] #410 closed

[2020-03-27 15:34] claudiugroza opened #439 "Translate app content into Romanian"
Add Romanian localization to the app.

Related to #21.

[2020-03-27 15:35] creativecreatorormaybenot commented on #338
I actually think that `pedantic` is already fairly strict and some rules like [`curly_braces_in_flow_control_structures`](https://dart-lang.github.io/linter/lints/curly_braces_in_flow_control_structures.html) are poorly implemented and should be excluded.

There are also other extended rule sets, like [`extra_pedantic`](https://pub.dev/packages/extra_pedantic#-analysis-tab-), which is actually mor

[2020-03-27 15:38] SamMousa commented on #338
I'll discuss this during engineering standup, my recommendation based on your comments will be to use default pedantic for now.

(This is always a bit of personal preference, so I'd rather stick with the standard)

Thanks for adding to the discussion!

[2020-03-27 15:38] claudiugroza commented on #439
I am a Romanian native speaker, so I can help with this issue.

[2020-03-27 15:40] yourkompas commented on #331
We will be using custom images in the public release. Please use the image assets of the same emojis as suggested by @kassim if possible!

[2020-03-27 15:45] yourkompas commented on #187
[App Store Screenshots.zip](https://github.com/WorldHealthOrganization/app/files/4394503/App.Store.Screenshots.zip)

[2020-03-27 15:45] #187 closed

[2020-03-27 15:46] orchardbirds commented on #401
Don't forget to create a `messages_it.dart` file in `app/client/flutter/lib/generated/intl/`

[2020-03-27 15:49] gcarmix commented on #401
Yes, but I've seen that is generated automatically, could you tell me how to generate it?

[2020-03-27 15:50] epicfaace opened #442 ""Share" button does not work on web preview"
I get the following error:

[code]

[2020-03-27 15:56] suztomo commented on #338
@creativecreatorormaybenot

For my learning, would you be willing to explain the detail of this poor implementation?

[2020-03-27 15:57] dhruvilp commented on #225
Since "The plugin uses webview_flutter under-the-hood to play videos", I feel like using webview_flutter by ourselves would make resolving upcoming issues easy in the long run. webview_flutter is pretty powerful and doesn't serve as typical native webview plugin so we'll see what's the requirements and decide later 👍

[2020-03-27 15:57] orchardbirds commented on #401
Ah then I'm afraid I don't know

[2020-03-27 16:00] creativecreatorormaybenot commented on #338
@suztomo Sure, I opened an issue about this https://github.com/dart-lang/site-www/issues/1994. This will probably be more insightful: https://github.com/dart-lang/linter/issues/1763

[2020-03-27 16:01] creativecreatorormaybenot commented on #338
I realized now that the `pedantic` dependency was recently added: https://github.com/WorldHealthOrganization/app/pull/339

Any insight on why they are not using the latest version?

[2020-03-27 16:05] mackenziefly commented on #129
Hi everyone! I'm a UX/UI designer based in Amsterdam. Excited to be a part of this and contribute in any way that I can!

[2020-03-27 16:08] blankonn opened #443 "Some hard-coded text in a few pages"
Apparently, there is still a few hard-coded text in some of the pages, this will make the internationalization attempt difficult

The best example of this would be the Protect Yourself page in the flutter client

[2020-03-27 16:08] blankonn opened #444 "Some hard-coded text in a few pages"
Apparently, there is still a few hard-coded text in some of the pages, this will make the internationalization attempt difficult

The best example of this would be the Protect Yourself page in the flutter client

I can help with this issue.

[2020-03-27 16:09] dnfield commented on #338
It would probably be best to just add or remove lints as the project sees fit beyond pedantic.  I am not familiar with pedantic_mono.

[2020-03-27 16:10] Nizar-Albahri commented on #422
I agree with @Chinmay-KB  and @Sarankumar18, left burger icon is the most commonly used.
@jemis67, WhatsApp doesn't have a drawer neither Instagram (at least on Android), WhatsApp has an "option/context" menu on right. Plus you shouldn't be stretching your thumb, the drawer should appear on swiping as well.

[2020-03-27 16:11] #443 closed

[2020-03-27 16:14] dna-f commented on #401
Maybe I can help
Add the following dependency to the pubspec.yaml:
intl_translation: ^0.17.9

Then, after adding the translated intl_it.arb file to the corresponding folder, execute the following command from the terminal:
flutter packages pub run intl_translation:generate_from_arb --output-dir=lib/generated/intl --no-use-deferred-loading lib/generated/l10n.dart lib/l10n/intl_*.arb

It should work

[2020-03-27 16:16] dna-f commented on #401
Ops ... don't forget to add
Locale('it', ''),
at line 254 of the file l10n.dart so that it becomes like this
Locale('es', ''), Locale('ar', ''), Locale('zh', ''), Locale('en', ''), Locale('ru', ''), Locale('fr', ''), Locale('it', ''),