[2020-10-03 22:48] brunobowden opened #1547 "Travel Advice Styling"
Change the styling on the Travel Advice page. See the annotated screenshot below. In particular the title and body of all the non-banner elements use the same font style (Black and Bold), so it means that you can't distinguish between the title and body, nor can you scan the titles only to get a summary of the advice. The new styling should be applied to all non-banner items.

- [x] Searched the [

[2020-10-03 22:48] brunobowden commented on #1547
@theswerd @britannio - it would be a great help if either of you could send a PR for this.

[2020-10-04 05:53] brunobowden commented on #1547
Turns out that this happened due to enabling "Bold Text" on my iOS settings. Without that, it looks fine. I think the remaining issues aren't important enough to worry about.

[2020-10-04 05:53] #1547 closed

[2020-10-04 07:34] brunobowden commented on #1541
@theswerd @britannio - it would be great to have your help from one of you on this. There's lots of small devices in Nigeria, so we should fix this for launch.

[2020-10-04 07:37] brunobowden commented on #1542
Shows a screenshot for failed TestFlight install and not an issue with the Donate Now page. Awaiting further details.

[2020-10-04 19:08] #1543 closed

[2020-10-05 07:55] brunobowden opened #1555 "App Engine and Firebase Terraform"
This is to the first set of changes to cover creation of the App Engine and Firebase projects using Terraform.

Philosophically, we want to use Infrastructure as code. Beyond normal IaC benefits, it specifically helps this project in duplicating the same set up between the dev and prod projects. Provides greater transparency and reproducibility.

## Checklist:
- [x] Searched the [existing issues](

[2020-10-05 09:55] borowiecth opened #1556 "CrowdStrike endpoint protection"
:sparkles: Compatibility of CrowdStrike with server side to be checked first
WHO contact for this is PAULINYI, Martin

[2020-10-07 10:41] borowiecth commented on #17
WHO legal signed off the updated version of Privacy Policy and Terms of Use

[2020-10-07 12:57] borowiecth commented on #16
WHO Security Team has accepted the security level of the application provided that a few actions are completed before Go Live. I think we can close this issue.

[2020-10-07 12:57] #16 closed

[2020-10-08 13:57] kostenkoka opened #1562 "Learn More section is not accessible in Get the Facts > Thermal scanners..."
**Describe the problem**
A clear and concise description of what the problem is, from a user's perspective

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Get the Facts' section
2. Click on 'Learn more'
3. Scroll down to 'Thermal scanners cannot detect....' fact and try to scroll down and click on "Learn more"
4. Error: it is not possible to click on Learn more

**Expected, correct b

[2020-10-08 15:35] borowiecth opened #1563 "Recent Numbers: XX,XXX number format and x-axis values"
**Is your feature request related to a problem? Please describe.**
In the page Recent Numbers, there are curves, the number in the curves are in the format 46867.0 and there is no date on the x axis.

**Changes:**
1. number format to XX,XXX for tooltip
1. values on x-axis (e.g. 100K, 10M or similar abbreviations)

Numbers are outdated, but I guess this is a known issue
![Screenshot_20201008-144250

[2020-10-08 19:07] Mohit020888 commented on #1562
https://github.com/WorldHealthOrganization/app/issues/1240 was created for the same issue for android devices as well.

[2020-10-09 07:24] borowiecth commented on #1542
Donate Now works on my Android device, I close it

[2020-10-09 07:24] #1542 closed

[2020-10-09 07:43] borowiecth commented on #1240
Related issue on my Android 7.0 Vernee Active, screen size 5.5 inch, resolution 1980*1080.
I don't see the end of the sentences.

![Screenshot_20201009-092520](https://user-images.githubusercontent.com/70315478/95555989-dee26480-0a12-11eb-9fe8-e7404d467ba5.jpg)
![Screenshot_20201009-092720](https://user-images.githubusercontent.com/70315478/95555991-df7afb00-0a12-11eb-89c4-4e8c1d9b1f64.jpg)

[2020-10-09 07:43] borowiecth commented on #1240
Another example in issue: https://github.com/WorldHealthOrganization/app/issues/1562

[2020-10-09 07:55] borowiecth commented on #1541
Similar problems raised in incidents https://github.com/WorldHealthOrganization/app/issues/1240 and https://github.com/WorldHealthOrganization/app/issues/1562

[2020-10-09 08:12] kostenkoka opened #1566 "Bar chart values is shown with 0 after the coma"
**Describe the problem**
A format of graph value is always shown with 0, e.g. 123333.0 which doesn't bring any insight.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Recent numbers > See all > Total or Daily'
2. Tap a bar chart to see a value
4. See error: value is always shown with 0, e.g. 123333.0 which doesn't bring any insight.

**Expected, correct behavior**
Bar chart value sh

[2020-10-09 08:24] kostenkoka opened #1568 "Once a particular country is selected, there is no possibility to choose another one"
**Describe the problem**
Once a particular country is selected, there is no possibility to choose other country

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Recent Numbers > See All' - you'll see your initially selected country
2. Look for a country selection.
3. Error: there is no possibility to select other country (no country selection list)

**Expected, correct behavior**
Ther

[2020-10-09 08:38] borowiecth opened #1569 "Integrate application content management with Sitefinity content management pipeline, future release"
**Is your feature request related to a problem? Please describe.**
WHO information need now to be manually checked, integrating with a content management pipeline would avoid this local management of the information

**Describe the solution you'd like**
Integrate with WHO content management pipeline and integrate various APIs

**Describe alternatives you've considered**

**Additional context**
htt

[2020-10-09 12:09] matof-who opened #1570 "WHO official list of countries and territories"
The list shows territories such as "Reunion"
and unofficial countries such as "Palestina"

is that the expected list ? or should it show only official countries ?

[2020-10-09 12:11] matof-who opened #1571 ""Get the Facts" accessibility in Learn More page"
In the learn section, get the fact text and button are not very visible over the background image

[2020-10-09 12:14] matof-who commented on #1571
![Screenshot_20201009-141231](https://user-images.githubusercontent.com/70581697/95581655-ab670080-0a39-11eb-9dc1-1a972f5814fc.jpg)

[2020-10-09 12:16] matof-who opened #1572 "Get the facts section - when clicking learn more the text is not showing complete when it's long"
Get the facts section - when clicking learn more the text is not showing
![Screenshot_20201009-102200](https://user-images.githubusercontent.com/70581697/95581845-f97c0400-0a39-11eb-8eb1-2416ad74e638.jpg)
complete when it's long

[2020-10-09 12:17] matof-who opened #1573 "Country Selection Setting"
Settings section should provide the user the chance to edit their country

[2020-10-09 12:21] matof-who opened #1574 "Stats - number of cases on tooltip not showing when graph comes close to the border"
In the stats section, touching the graph will show the number of cases/deatths

But when the graph bar is close to the image border, the tooltip shows only partially on not at all
This is easily testable on the switzerland total deaths, where the curve is very close to the border

[2020-10-09 12:22] matof-who opened #1575 "Date + count label for Recent Numbers tooltip"
Show the date alongside the number of cases / deaths in the tooltip for the Recent Numbers page. Horizontally centered, such as:

**October 10, 2020
&nbsp;&nbsp;387,617 Cases**

This date avoids the need for localization. This is the format used on the WHO's COVID-19 dashboard: https://covid19.who.int/. Screenshots below. The differences to the WHO dashboard are no "Daily Change" or "Daily Increas

[2020-10-09 13:52] borowiecth commented on #1574
In this example, only part of the figure is visible: ![Screenshot_20201009-154819](https://user-images.githubusercontent.com/70315478/95591269-5d58f980-0a47-11eb-949a-9a6c39d0e909.jpg)

[2020-10-09 13:57] borowiecth commented on #1568
Duplicate with https://github.com/WorldHealthOrganization/app/issues/1573

[2020-10-09 13:58] borowiecth commented on #1573
Same as https://github.com/WorldHealthOrganization/app/issues/1568

[2020-10-09 14:00] borowiecth commented on #1572
#1240 was created for the same issue for android devices as well.

[2020-10-09 14:42] borowiecth commented on #1566
Same as https://github.com/WorldHealthOrganization/app/issues/1563

[2020-10-09 16:06] advayDev1 commented on #1571
See item 9 in https://github.com/WorldHealthOrganization/app/issues/1511

[2020-10-09 17:45] brunobowden opened #1576 "Flutter 1.22 upgrade"
This is being done in several steps, including #1564

Flutter 1.22 Release Notes:
https://flutter.dev/docs/development/tools/sdk/release-notes/release-notes-1.22.0

---

**Please follow this checklist. Please check each appropriate box (put an 'x' or check it after creating the issue).**

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are

[2020-10-09 18:54] Mohit020888 commented on #1574
@borowiecth and @matof-who  - this issue was already raised earlier , please have a look at https://github.com/WorldHealthOrganization/app/issues/1460

[2020-10-09 19:17] Mohit020888 commented on #1570
@borowiecth and @matof-who : new copy of country selector is already requested as part of https://github.com/WorldHealthOrganization/app/issues/1457

[2020-10-09 20:23] #1572 closed

[2020-10-09 20:26] #1562 closed

[2020-10-09 20:29] #1541 closed

[2020-10-09 20:30] #1574 closed

[2020-10-10 02:31] #1576 closed

[2020-10-10 07:56] #1530 closed

[2020-10-10 16:51] brunobowden commented on #1544
I am working with Google to make sure we use IP Addresses on a temporary basis only. This is regardless of whether we support GAEN or not in the future.

[2020-10-10 17:45] advayDev1 commented on #1544
Nice!  To achieve full IP address removal, there's a lot of places it would need to happen, including but not limited to: Google Analytics, Cloud Messaging (personally, I don't see that being feasible as the IP is needed to push the notification from the backend to the phone, but perhaps there is something I don't understand there), and the appengine servers, specifically their logging

Cloud Mess

[2020-10-10 21:18] theswerd commented on #1575
Do you have a format for the date in mind? If so would this format need to be localized?

[2020-10-10 22:15] theswerd commented on #1571
For issue  *9* the drop shadow should we switch from a **FlatButton** to an **ElevatedButton**?

[2020-10-11 05:10] brunobowden commented on #1570
cc @borowiecth

[2020-10-11 05:10] brunobowden commented on #1457
Duplicate for #1570

[2020-10-11 05:12] brunobowden commented on #1568
Duplicate of #1573

[2020-10-11 05:12] #1568 closed

[2020-10-11 05:14] brunobowden commented on #1571
@theswerd - This is a lower priority than the other issues. If we do get around to this, then by all means post a screenshot.

[2020-10-11 05:18] brunobowden commented on #1575
@theswerd - using "August 1, 2020" or similar avoid the need for localization. This is the format used on the WHO's COVID-19 dashboard: https://covid19.who.int/

[2020-10-11 05:20] brunobowden commented on #1566
Duplicate of #1563

[2020-10-11 05:20] #1566 closed

[2020-10-11 05:29] brunobowden commented on #1240
@theswerd - this is an important one to fix since it's scream basic competency

[2020-10-11 05:30] brunobowden commented on #1463
@borowiecth - please close this if the review is completed. There are still pending work that's come out of it though and they'll be tracked separately.

[2020-10-11 05:32] brunobowden commented on #1468
RACI done and approved

[2020-10-11 05:32] #1468 closed

[2020-10-11 05:35] brunobowden commented on #1460
@ForgottenProgramme - you're welcome to take a go fixing this. Just send a PR to @theswerd and @brunobowden

[2020-10-11 05:36] brunobowden commented on #1573
@theswerd - lower priority but still nice to have

[2020-10-11 05:58] brunobowden commented on #1395
We're going to have hundreds of issues if we track language requests in GitHub. We should maintain that separately so it can be cross indexed with number of speakers and translation support.

Naturally code specific changes like RTL, character sets and accessibility are legitimate issues for GitHub.

[2020-10-11 05:58] #1395 closed

[2020-10-11 05:59] brunobowden commented on #1395
Translation to WHO official six languages tracked in #224

[2020-10-11 06:00] brunobowden commented on #1313
Current plan is to host PN and TOS on who.int website

[2020-10-11 06:00] #1313 closed

[2020-10-11 06:02] brunobowden commented on #1339
@Mohit020888 - does this still occur? Do you see another app where the behaviour doesn't occur like this?

[2020-10-11 06:10] brunobowden commented on #1197
@devtechnocode - we're limited to the official stats from WHO which doesn't track recovered cases so far. Once it adds that stat to the COVID-19 dashboard - https://covid19.who.int/ - then please reopen this bug and we'll take a look.

[2020-10-11 06:10] #1197 closed

[2020-10-11 06:12] brunobowden commented on #1182
@vermaat - this is a nice idea but we need data sources that are global, high quality and can handle massive scale. Google Maps tracks things like this but I'm not sure if it's available by API. Low priority in any case.

[2020-10-11 06:12] #1182 closed

[2020-10-11 06:16] brunobowden commented on #1407
Removed from client

[2020-10-11 06:16] #1407 closed

[2020-10-11 06:18] advayDev1 commented on #1457
Hey @brunobowden this is not a super of the country names bug.  This bug is to determine what the text should say on the intro screen.  Allow location sharing doesn't makes sense anymore.

[2020-10-11 06:19] brunobowden commented on #1511
FYI @theswerd - see if there's any essential issues to be addressed out of this.

[2020-10-11 06:20] brunobowden commented on #1228
@Khaoz-Topsy - please check if this still happens. If so, then we'd welcome a PR to fix it.

[2020-10-11 06:21] brunobowden commented on #1214
#1555 will help with this by making hopefully all of the config public

[2020-10-11 06:23] brunobowden commented on #934
@advayDev1 - was this meant to be fixed with Firebase?

[2020-10-11 06:24] brunobowden commented on #907
@ramuz108 - doing a bot would be a tremendous amount of work. Instead we're focused on getting the initial version out.

[2020-10-11 06:25] brunobowden commented on #906
Home page now shows latest numbers fading between Global and National stats.

[2020-10-11 06:25] #906 closed

[2020-10-11 06:27] brunobowden commented on #905
@ramuz108 - social media links are very sensitive given the association with spreading of misinformation. As an official WHO app, I think this would be unlikely to happen.

[2020-10-11 06:27] #905 closed

[2020-10-11 06:30] advayDev1 commented on #934
@brunobowden We were unable to find a way to get this to work with flutter's use of firebase.

  However, firebase's privacy rules have changed since we spoke to them before the WHE shift, and you have updated the versions of the firebase native libraries used, so youll need to retest which firebase requests are made before the tos screen is accepted.

 Note it differs for android and iOS, and tha

[2020-10-11 06:32] brunobowden commented on #1082
@kassim - we'd welcome any and all contributions from you for this. Over the past few days, we just went through a painful process of updating to Flutter 1.22 but that's now done. You can see something of our CI in the workflow yaml files:
https://github.com/WorldHealthOrganization/app/blob/master/.github/workflows/client.yaml

[2020-10-11 06:33] brunobowden commented on #1182
Duplicate of #450

[2020-10-11 06:34] brunobowden commented on #199
@vpaulino - perfectly good ideas but COVID-19 will be the focus until that's under control

[2020-10-11 06:48] advayDev1 opened #1599 "Consider requiring signed commits"
Before the repository becomes popular on launch day and while you can indoctrinate the small number of present committer's, consider turning on signed commits requirements, just like you require 2FA for committers.  At the moment only Sam and my commits are digitally signed.

Why? https://blog.gruntwork.io/how-to-spoof-any-user-on-github-and-what-to-do-to-prevent-it-e237e95b8deb

[2020-10-11 19:10] brunobowden commented on #177
Plan is to use WHO's Sitefinity CMS system: #1569

[2020-10-11 19:10] #177 closed

[2020-10-11 21:38] brunobowden commented on #1001
Plan is to publish them on the who.int website

[2020-10-11 21:38] brunobowden commented on #1002
Folded in to #1001

[2020-10-11 21:38] #1002 closed

[2020-10-11 21:55] brunobowden commented on #1308
@epicfaace - would you be able to help us with this Ashwin? We're working with limited engineering capacity right now and still many open bugs to launch.... so any help possible would be very helpful. I'm happy to code review it but my sense is that you have a much better insight in to how to fix this.

[2020-10-11 22:09] brunobowden commented on #1546
Tracked in #1474

[2020-10-11 22:15] brunobowden commented on #1556
Folded in to #1508

[2020-10-11 22:15] #1556 closed

[2020-10-11 22:18] brunobowden commented on #1463
@borowiecth - closing this as I believe we're covered on the review side. There's specific items that are being tracked as follow up from the prior review.

[2020-10-11 22:18] #1463 closed

[2020-10-12 06:29] advayDev1 commented on #1463
Are all the follow-on items tracked as issues linked here or somewhere?

[2020-10-12 07:19] Mohit020888 commented on #1339
@brunobowden - Issue is not reproducible on app version [0.13.0 + 24] , verified on Huawei Honor 7c running on Android 8.0.

[2020-10-12 07:19] #1339 closed

[2020-10-12 13:20] borowiecth commented on #1508
Open requirements / actions from Cyber Security are the following:
1. Need to configure audit logs for Production GCP and GitHub. Bruno to implement
2. The application or system owner must review the service architecture with global WHO cybersecurity team in order to implement proper network isolation/segregation as per team’s recommendation.
3. The application owner has to refer to "WHO Security

[2020-10-12 14:31] mriner opened #1603 "Licences page suggestion"
**Is your feature request related to a problem? Please describe.**
Currently, the license page _seems_ complete but on a mobile, it's very long to scroll.
**Describe the solution you'd like**
I suggest to have a Table of Content for all 3rd party licences (so once can see the list).

**Describe alternatives you've considered**
Alternatively, the 3rd party licenses could be shown as public links on

[2020-10-13 16:58] brunobowden commented on #649
@epicfaace - FYI for you

[2020-10-13 19:56] brunobowden opened #1607 "L18n File Generation Docs - Document Commands Used"
@clementmouchet - please can you document in the codebase how the l18n generated files are created. I couldn't find any documentation, so I edited them by hand in PR #1606. Better that we have reproducibility. Bonus points, if the command is run during the merge checks, so that it can make sure no incorrectly generated one of those files.

I think it should be documented here:
https://github.com/W

[2020-10-14 04:05] #1457 closed

[2020-10-14 07:39] clementmouchet commented on #1607
Hi @brunobowden,
We used the IDE plugins to generate the code, in my case [Flutter Intl for IDEA](https://plugins.jetbrains.com/plugin/13666-flutter-intl) but I think others used [Flutter Intl for VS Code](https://marketplace.visualstudio.com/items?itemName=localizely.flutter-intl)

Once installed any build or change generates the code, it's convenient and probably desirable that the developer loo

[2020-10-14 18:51] brunobowden commented on #1510
who.int website will host the Privacy Notice and TOS

[2020-10-14 18:52] brunobowden commented on #1510
@borowiecth - please push on this so we can get the app updated. It's currently using a very old policy and we need to get this fixed up properly. Even if Jochem can just publish two blank pages, that would be helpful to move ahead.

[2020-10-14 18:53] #1570 closed

[2020-10-14 20:03] brunobowden commented on #1519
Dupe of #856

[2020-10-14 20:03] #1519 closed

[2020-10-14 22:52] brunobowden commented on #1155
@marcmcl - would you be able to help get this in to v1? We're short staffed at the moment, so the help would be much appreciated. If not, then I think would get bumped for a future release.

[2020-10-15 06:34] marcmcl commented on #1155
@brunobowden I shall give it a go.  Be aware I think Dart only supports unauthenticated proxies.

[2020-10-15 07:03] Mohit020888 opened #1617 "Stats screen should display daily case count along with the date on the tool tip"
Stats screen should display daily case count along with the date on the tool tip

Steps to reproduce the behavior:

1. Launch the app and complete onboarding journey.
2. On the homescreen tap on Stats in the footer section
3. Tap on the charts UI on any of the Total Cases/Total Deaths section

Expected Behavior
The tool tip should display the date and number of cases on the particular selected day

[2020-10-15 07:39] brunobowden commented on #1511
@advayDev1 - please could you edit my description. It appeared that a lot of these are done.... I just could discern the status as TODO != DONE.

[2020-10-15 09:26] borowiecth commented on #1510
https://www.who.int/myhealthapp/terms-of-use/ published, Privacy Notice should come before end of the week.

[2020-10-15 13:40] advayDev1 commented on #1511
I think you categorized them correctly but note that we put all medical content as todo-ayman since WHO has to approve all of it.

[2020-10-15 20:27] brunobowden commented on #1511
@advayDev1 - the whole app needs to go through medical approval. There's also discussion of changes over email too. What else was highest priority? If it's critical for launch, then I'd like to separate it out in to individual issues. The GTF Scrollability is separate out but not anything else at this point.

Documenting original description for reference:

From dave/hunter/advay review Sept 21:
1

[2020-10-15 20:29] advayDev1 commented on #1511
Of the ones you've listed as "TODO" i'd say the darker image on the top of Learn More is the only critical one.  It's hard to read white on light color.

[2020-10-15 21:24] brunobowden commented on #1571
I'm wondering if we shouldn't change the "Get the Facts" link to one of the standard shaped buttons below like "Travel Advice" and "Protect Yourself". The consistency will instantly fix the accessibility issue and also makes it more extensible for the future.

[2020-10-15 21:25] brunobowden commented on #1511
Moved to vNext milestone now that #1240 and #1571 are separated out and part of the v1-Nigeria milestone.

[2020-10-15 23:07] advayDev1 commented on #1571
Dave left the correct background here: https://www.figma.com/file/zGNV0VqCqIqbk8CJUPgx9V/myHealth-Product-Spec-v1?node-id=20%3A1897 - it has the right color scheme to avoid the accessibility issue

I guess (don't know) that it is designed the way it is to avoid making it just a wall of buttons visually.

[2020-10-16 00:25] brunobowden opened #1620 "Terraform: fmt & validate"
Enforce terraform style guidelines automatically.

**Client:**
- `terraform fmt` - https://github.com/WorldHealthOrganization/app/blob/master/tools/.lintstagedrc.json
- `terraform validate` - https://www.terraform.io/docs/commands/validate.html

**Continuous Integration**
- `terraform fmt -check` (fails if lint check fails) - https://github.com/WorldHealthOrganization/app/blob/master/.github/workf

[2020-10-16 03:30] brunobowden opened #1621 "Periodic Backup of Datastore"
This is lower priority until we get the service up and running. To protect against operator error, the "Datastore on Firestore" should be periodically backed up. Certainly daily for 30 days and potentially more frequent depending on cost. This documents how to scheduled periodic backups from Datastore (unclear if same process might apply to Firestore in the future): https://cloud.google.com/datast

[2020-10-16 15:06] jordanmlacalle commented on #1435
@advayDev1 Firebase Remote Config could potentially be used for this purpose and can be configured per-platform and per-version (perhaps we want a mandatory, forced upgrade for users on version X.Y.Y but an optional upgrade for users on version X.Y.Z)

[2020-10-17 19:48] brunobowden opened #1623 "Datastore and Index Terraform"
## Summary

Use `CLOUD_DATASTORE_COMPATIBILITY` type for the App Engine instance: https://www.terraform.io/docs/providers/google/r/app_engine_application.html#database_type

I'm not clear on what index is being used for Datastore but that should be automatically updated too:
https://www.terraform.io/docs/providers/google/r/datastore_index.html

## Checklist:

- [x] Searched the [existing issues](h

[2020-10-17 21:01] brunobowden opened #1624 "Cloud Storage (static content) Terraform"
## Summary

Cloud Storage static content bucket needs to be created and managed by Terraform. This requires configuring:
1. Public Bucket
1. Global CDN

The staging and hack servers should be automatically pushed on merge by adapting this existing automatic push mechanism:
- https://github.com/WorldHealthOrganization/app/blob/master/.github/workflows/static-content.yaml

## Checklist:

- [x] Searc

[2020-10-17 21:11] brunobowden opened #1625 "Logs Terraform"
## Summary

I suspect that the logs are automatically created by the App Engine instance from Terraform. Nonetheless, it should explicitly set the following to ensure greater privacy:
1. 30 days retention
1. location inherited from project, comment should point to default location to reassure people of privacy

Documentation:
- https://www.terraform.io/docs/providers/google/r/logging_project_sink.

[2020-10-17 22:41] brunobowden commented on #1298
@advayDev1 - working on this. Can I ask what the "subpath for our RPCs / trampoline link" covers? My understanding is that we'll get a subdomain, so that means our url paths should just work automatically. Is the trampoline link for the app store redirect, e.g. http://staging.whocoronavirus.org/app?

[2020-10-17 22:46] advayDev1 commented on #1298
@brunobowden the point was to route only a subpath of the subdomain to the appengines.  this future proofs the ability for WHO to host a marketing site on the main domain, and also for WHO/this project to push a CMS or other admin console to a different subpath.

[2020-10-18 17:03] advayDev1 commented on #1546
Not sure why this issue was closed.

[2020-10-18 23:12] brunobowden commented on #1546
I wondered about tracking it across both an issue and a PR but really it's
ok to have both be open.

On Sun, Oct 18, 2020 at 10:03 AM Advay Mengle <notifications@github.com>
wrote:

[2020-10-19 03:04] #1460 closed

[2020-10-19 03:04] #1575 closed

[2020-10-19 18:18] brunobowden commented on #1617
Fixed by #1595

[2020-10-19 18:18] #1617 closed

[2020-10-19 18:19] brunobowden commented on #1563
Fixed by #1595

[2020-10-19 18:19] #1563 closed

[2020-10-19 18:39] brunobowden commented on #1607
@clementmouchet - thank you. We've already had some conversations about localization with WHO. I think once we've done the content review, that would be a good time to engage again. We're trying to put the localization files under WHO's CMS system so that it can be under their control. They have some tools for automated translation with Microsoft but it's not clear to me how well all the tools fit

[2020-10-20 22:10] brunobowden opened #1645 "Apache 2.0 Relicensing - Please comment "I Agree""
## Apache 2.0 Relicensing:

Please comment "I Agree" to consent to the following (unsubscribe after to avoid further spam):

Please comment with corrected name / email address(es) if needed. By granting this permission, you are confirming that you have the right to make your contribution(s) to the WHO App and to grant this permission, and that if you made your contribution(s) in the course of your

[2020-10-20 22:13] dnfield commented on #1645
I Agree

[2020-10-20 22:13] britannio commented on #1645
I Agree

[2020-10-20 22:15] dhruvilp commented on #1645
I Agree

[2020-10-20 22:16] Samaritan1011001 commented on #1645
I agree

[2020-10-20 22:17] Luccasoli commented on #1645
I agree!

[2020-10-20 22:18] kassim commented on #1645
I agree

On Wed, 21 Oct 2020, 00:17 Lucas Mesquita, <notifications@github.com> wrote:

[2020-10-20 22:20] kieranbehn commented on #1645
I agree

[2020-10-20 22:23] patniemeyer commented on #1645
I agree.  Thanks.

- Pat Niemeyer

[2020-10-20 22:23] purpledrosophila commented on #1645
I Agree

On Tue, Oct 20, 2020, 18:10 Bruno Bowden <notifications@github.com> wrote:

[2020-10-20 22:25] brunobowden commented on #1645
Thanks everyone so far.

@kieranbehn - the GitHub noreply email address - kieranbehn@users.noreply.github.com - is what's listed in the repo for your contributions, so that's the better one to record down.

[2020-10-20 22:33] guillermo-varela commented on #1645
I agree.

[2020-10-20 22:43] devamhdz commented on #1645
I Agree

[2020-10-20 22:47] ayushr2 commented on #1645
I agree

[2020-10-20 23:01] theswerd commented on #1645
I agree

[2020-10-20 23:38] sstur commented on #1645
I agree

[2020-10-20 23:57] devoncarew commented on #1645
I agree

[2020-10-21 00:00] jasonTelanoff commented on #1645
I Agree

[2020-10-21 04:08] AyushBherwani1998 commented on #1645
I Agree

[2020-10-21 05:55] SamMousa commented on #1645
I agree

[2020-10-21 06:08] pjayathissa commented on #1645
I agree

[2020-10-21 06:23] RohanTalip commented on #1645
I Agree

[2020-10-21 06:26] orchardbirds commented on #1645
I agree

Op wo 21 okt. 2020 00:10 schreef Bruno Bowden <notifications@github.com>:

[2020-10-21 06:40] creativecreatorormaybenot commented on #1645
I agree

[2020-10-21 10:11] PieterAelse commented on #1645
I agree
(name is Pieter Otten btw)

[2020-10-21 10:39] clementmouchet commented on #1645
I agree

[2020-10-21 11:33] areille commented on #1645
I agree
Email is : areille@tuta.io

[2020-10-21 11:41] marctan commented on #1645
I agree. marc tan here.Sent from my Huawei phone-------- Original message --------From: areille <notifications@github.com>Date: Wed, 21 Oct 2020, 7:34 pmTo: WorldHealthOrganization/app <app@noreply.github.com>Cc: Marc <marcqtan@gmail.com>, Mention <mention@noreply.github.com>Subject: Re: [WorldHealthOrganization/app] Apache 2.0 Relicensing - Please comment "I Agree" (#1645)
I agree
Email is : arei

[2020-10-21 13:34] epicfaace commented on #1645
I agree

[2020-10-21 13:35] yukuairoy commented on #1645
I agree

[2020-10-21 13:40] jamesblasco commented on #1645
I agree

[2020-10-21 13:41] yukuairoy commented on #1645
I agree

[2020-10-21 15:04] avkvirtru commented on #1645
I Agree

On Tue, Oct 20, 2020 at 3:10 PM Bruno Bowden <notifications@github.com>
wrote:

[2020-10-21 17:00] mjohnsullivan commented on #1645
I agree

[2020-10-21 17:33] brunobowden commented on #1645
Please reply with "I Agree" to consent to relicensing your contributions from the MIT to Apache 2.0 License. Full details here: https://github.com/WorldHealthOrganization/app/issues/1645#issue-725979510. Feel free to unsubscribe to avoid further notifications.

Thanks for everyone who's consented so far. Currently 25 / 53 (47%) code consents are now done. If your handle is below, then I still need

[2020-10-21 17:34] joshdholtz commented on #1645
I Agree

[2020-10-21 17:44] ShivamSinghania commented on #1645
I agree

[2020-10-21 18:59] darcien commented on #1645
I Agree

[2020-10-21 19:00] advayDev1 commented on #1645
Good morning.  First, note that some of the emails initially listed in this issue may not have known github names or pinged, namely afeng and alfredo.

Regarding my consent:

I do not intend to consent within this issue, but instead intend to provide a limited and different form of consent, by separate PR #1636, subject to certain conditions previously discussed with Bruno, including but not limit

[2020-10-21 19:12] stevan-milovanovic commented on #1645
I agree

On Wed, Oct 21, 2020, 21:00 Advay Mengle <notifications@github.com> wrote:

[2020-10-21 19:36] devamhdz commented on #1645
I Agree @devamhdz: Alfredo Hernández - ahernandez@nyva.mx
Please correct my user

[2020-10-21 21:07] theswerd commented on #1645
I agree

[2020-10-21 22:21] #1555 closed

[2020-10-21 23:21] sstur commented on #1645
I Agree

[2020-10-22 09:12] tomgilder commented on #1645
I Agree

[2020-10-22 17:25] brunobowden commented on #1645
Please reply with "I Agree" to consent to relicensing your contributions from the MIT to Apache 2.0 License. Full details here: #1645 (comment). Feel free to unsubscribe to avoid further notifications. If your handle is below, then I still need consent from you.

Thanks for everyone who's consented so far. Currently 36 / 53 (68%) code consents are now done. We'd welcome help to get through the las

[2020-10-22 17:59] jpelgrim commented on #1645
I agree

On Thu, Oct 22, 2020 at 7:25 PM Bruno Bowden <notifications@github.com>
wrote:

[2020-10-22 18:05] davidkaneda commented on #1645
I agree

[2020-10-22 18:36] cbgrey commented on #1645
I agree

[2020-10-23 13:19] borowiecth commented on #1510
Both pages are now available on WHO environment

- https://www.who.int/myhealthapp/terms-of-use
- https://www.who.int/myhealthapp/privacy-notice
This was approved by WHO legal, I should get access soon to update the documents and will apply changes suggested by Advay

[2020-10-23 14:00] brunobowden commented on #1510
Thanks Thierry.

On Fri, Oct 23, 2020 at 6:19 AM Thierry BOROWIEC <notifications@github.com>
wrote:

[2020-10-23 17:25] crazybob commented on #1645
I agree

[2020-10-23 18:22] pwicherski commented on #1645
I Agree

[2020-10-23 18:31] brunobowden commented on #1645
Please reply with "I Agree" to consent to relicensing your contributions from the MIT to Apache 2.0 License. Full details here: #1645 (comment). Feel free to unsubscribe to avoid further notifications. If your handle is below, then I still need consent from you.

Thanks for everyone who's consented so far. Currently 42 / 54 (78%) code consents are now done. We'd welcome help to get through the las

[2020-10-23 22:35] deanhach commented on #1645
`I agree`

[2020-10-23 22:42] stevan-milovanovic commented on #1645
I Agree

[2020-10-24 06:15] #1573 closed

[2020-10-24 07:23] brunobowden opened #1659 "App Size Tracking"
## Summary

App Size Tracking and alerting would incentivize keeping the app binary small and efficient. This is important for certain countries with limited download bandwidth.

## Flutter Docs on Measuring App Size

https://flutter.dev/docs/perf/app-size

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a du

[2020-10-24 08:05] theswerd commented on #1084
For future releases we could also post the Sha256/512 hash so users can verify the downloads

[2020-10-24 09:41] darish commented on #1645
I Agree

[2020-10-24 14:22] brunobowden commented on #1084
All releases will be tagged, so someone should be able to get this commit
from the tag already.

So all we need  is to document this. The problem though is that this can be
easily faked by a bad actor with a malicious build. Only a reproducible
build is a proper verification.

On Sat, Oct 24, 2020 at 1:05 AM Benjamin Swerdlow <notifications@github.com>
wrote:

[2020-10-24 18:19] hspinks commented on #1645
I agree

[2020-10-24 23:11] #1240 closed

[2020-10-25 01:06] advayDev1 commented on #1510
To clarify, my comments referred to by @borowiecth were regarding the first Terms and were directed to WHO legal counsel (Joris) and are not and were not legal advice.

On the Privacy Policy, I have not been involved in these last iterations (since I left the project), and would simply ask that WHO verify:
- that its description of the location of storage of all data is correct,
- and check if you

[2020-10-25 01:27] advayDev1 commented on #1510
Oh also there's a random "This is a test" in the privacy doc =)

[2020-10-25 06:34] brunobowden opened #1663 "Daily Counts as default for Recent Numbers"
## Summary

Recent Numbers should show the "Daily" counts as the default (and left tab). The "Total" should be clickable as the right tab. The reason for this is that day to day, the "Total" graph changes very little... what's more important is the derivative, i.e. is the problem growing or shrinking? That means showing the daily stats by default. This matches the [WHO COVID-19 dashboard](http://c

[2020-10-25 07:14] brunobowden opened #1664 ""-" is shown for "0" in Recent Numbers"
## Summary

Selecting "China", the Daily Deaths shows as "-" rather than I presume "0" (Zero)

Please also check that this is shown correctly on the Main page with the switch to daily numbers - #1663.

Finally, capitalize "Cases" and "Deaths".

## Screenshot

![Simulator Screen Shot - iPhone 5s - 2020-10-25 at 00 13 10](https://user-images.githubusercontent.com/679339/97101046-209c1d80-1657-11eb-9

[2020-10-25 17:59] advayDev1 commented on #1510
A few more, so to summarize on the Privacy side @borowiecth consider reviewing the following with WHO's attorneys:
* The Google Firebase section mentions Cloud Messaging, but ofc, the app also uses Firebase Crashlytics (see https://firebase.google.com/terms/crashlytics-app-distribution-data-processing-terms , https://firebase.google.com/support/privacy#crash-stored-info , and https://firebase.goog

[2020-10-25 18:09] shankari commented on #1645
I agree. I also need to move my GitHub notifications to a more prominent place in my Inbox. Good luck!

[2020-10-25 19:02] luigi-rosso commented on #1645
I agree.

[2020-10-25 20:22] sapte91 commented on #1645
I agree

[2020-10-25 20:43] anikaraghu commented on #1645
I agree

[2020-10-25 20:45] nightlark commented on #1645
I Agree

On Tuesday, October 20, 2020, Bruno Bowden <notifications@github.com> wrote:

[2020-10-25 20:49] brunobowden commented on #1645
@myiremark, @Moosphan, @amourakora - you're the last GitHub consents we need to switch from the MIT to the Apache 2.0 license.

Please reply with "I Agree".

Full details here: [#1645 comment](https://github.com/WorldHealthOrganization/app/issues/1645#issue-725979510). Feel free to unsubscribe to avoid further notifications.

Thanks for everyone who's consented so far. Currently 51 / 54 (94%) GitH

[2020-10-25 22:18] brunobowden commented on #1001
Duplicate of #1510

[2020-10-25 22:18] #1001 closed

[2020-10-25 22:20] brunobowden commented on #934
@epicfaace - I'm working on updating the firebase libs with #1632. After that lands, it would be very helpful if you can look in to this and see if it still happens.

[2020-10-25 22:24] #1571 closed

[2020-10-25 22:40] brunobowden opened #1667 "UV Lamp correction - Get The Facts"
## Summary

UV lamps are used to kill the coronavirus but this message should be updated to explain why it's not used to disinfect hands and skin.

Current text:
[code]

Replacement Headline:
[code]

Replacement Learn More text:
[code]

Source: https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters#uv

## Screenshots

WHO website:
<img width="773" alt="Scree

[2020-10-25 22:40] brunobowden commented on #1667
@borowiecth - please review as part of the content review next week. Since it's a word for word copy of the website text, we're just going to merge it first and then review later.

[2020-10-26 05:12] brunobowden opened #1671 "git pre-commit hooks + basic config"
## Summary

Add basic pre-commit hooks to the repo. To catch, for example, broken symlinks (https://github.com/WorldHealthOrganization/app/pull/1670)
Link: https://github.com/pre-commit/pre-commit-hooks

Possible config file. Should be run against every file in the existing tree to see what issues might come up.
[code]

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHe

[2020-10-26 07:55] brunobowden commented on #1664
Fixed by #1668
@theswerd - please reopen if this isn't fixed

[2020-10-26 07:55] #1664 closed

[2020-10-26 07:56] brunobowden commented on #934
@epicfaace - #1632 has landed, so would you mind testing this again and see if it's still an issue?

[2020-10-26 09:05] brunobowden commented on #1623
No index needed for now, so punt until it is needed

[2020-10-26 17:58] brunobowden commented on #1431
Covered by #18

[2020-10-26 17:58] #1431 closed

[2020-10-26 18:14] brunobowden opened #1672 "Replace "Learn More" button in GTF with scrollable view"
## Summary

To invite people to read more and avoid the need to click, we should remove the "Learn More" button on the "Get the Facts" pages and instead make it a scrollable view. When swiping between facts, it should pop back to the top of the page.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicat

[2020-10-27 01:10] Henrymarks1 commented on #1645
I agree

[2020-10-27 01:53] myiremark commented on #1645
I agree

[2020-10-27 02:28] kqtqk93 commented on #1645
I Agree

Pada Rab, 21 Okt 2020 06:10 Bruno Bowden <notifications@github.com> menulis:

[2020-10-27 03:58] #1667 closed

[2020-10-27 04:23] brunobowden commented on #1645
@Moosphan @amourakora - you're the only two left! Just reply with "I Agree". Thanks.

@kqtqk93 - I couldn't see you listed as a contributor but we'd still welcome you.

[2020-10-27 17:29] brunobowden commented on #1663
Fixed by #1673

@Henrymarks1 - this is enough of a fix. On second thoughts, let's keep the main display as is with the total counts. Then show the daily ones in the Recent Numbers. So you can consider this all fixed up.

[2020-10-27 17:29] #1663 closed

[2020-10-27 19:17] theswerd commented on #1672
Can you explain a bit more?

[2020-10-27 19:18] theswerd commented on #1672
Do we have any new designs?

[2020-10-27 19:24] Henrymarks1 commented on #1663
@brunobowden Yeah i agree!

[2020-10-27 19:27] brunobowden commented on #1672
We don't have any design at the moment. It should be straight forward to do
this.

On Tue, Oct 27, 2020 at 12:18 PM Benjamin Swerdlow <notifications@github.com>
wrote:

[2020-10-27 19:32] brunobowden opened #1684 "verification step to dev-setup.sh"
## Summary

The dev-setup.sh script should also check for the appropriate versions of software needed.
- rename to `dev-setup-and-verify.sh`
- do install process as normal, then....
- check install versions:
   - Xcode (do not warn if Xcode not present as it may be a Windows machine)
   - Pods
   - Flutter (ideally pick up the correct version automatically from `client/pubspec.yaml` so it's not ha

[2020-10-27 19:33] brunobowden commented on #1684
@theswerd - not critical right now but we should do it before the public release. It'll help save a lot of users from setup issues on their machines. I'm not sure how to handle multiple versions of Flutter.

[2020-10-28 03:10] brunobowden opened #1690 "app bundle to reduce install download size"
## Summary

Flutter [suggests App Bundles](https://flutter.dev/docs/deployment/android#when-should-i-build-app-bundles-versus-apks) for use with the Google Play Store and APKs for other stores.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://gi

[2020-10-28 03:11] brunobowden commented on #1690
Sending instruction to WHO to experiment on this.

[2020-10-28 06:05] tabassumwajid2005 commented on #883
Hi Bruno,

I have worked as a QA and contribute my efforts in this but it is the
second update of list and I am still not in the list. Is there any reason
of it or just a mistake?

Please add my name in the list of contributors and I am one of the
contributor of this effort.

Regards,
Tabassum wajid

On Wed, Oct 28, 2020, 4:00 AM Bruno Bowden <notifications@github.com> wrote:

[2020-10-28 07:28] brunobowden commented on #883
@tabassumwajid2005 - my sincere apologies. Part of the reason to put this up was to ask people to check if anyone was missing. So I'm glad you caught this. Please see this PR where in fact your name gets a very special place right next to Dr Tedros himself:

https://github.com/WorldHealthOrganization/app/pull/1691/files

I was going to leave open the PR for now incase others name come along. It's

[2020-10-28 07:33] tabassumwajid2005 commented on #883
Thanks a lot Bruno

[2020-10-28 07:51] tabassumwajid2005 commented on #883
Yes I have installed the latest build and playing around it will share my
findings and suggestions soon.

Regards,
Tabassum

On Wed, Oct 28, 2020, 12:28 PM Bruno Bowden <notifications@github.com>
wrote:

[2020-10-28 12:02] travelkev opened #1692 "Variance in Global Total Cases and Death between App & Web?"
## Summary

Is there a variance between the global total cases and deaths as reported on https://covid19.who.int/ and in the app?

## Reproduction Steps

Steps to reproduce the behavior:

1. Installed V0.13.0 (24) app via TestFlight
2. On home page click on "Global/National Cases" bar at the start of the page to navigate to the "Recent Numbers" page.
3. Scroll down to Global figures and ensure tha

[2020-10-28 12:13] Mohit020888 commented on #1692
I am also able to reproduce the bug on my Huawei Honor 7c running on Android 8.0 ,
App Version : [0.14.0 + 25]

[2020-10-28 14:19] borowiecth commented on #1667
Thanks, this is OK for me

[2020-10-28 14:36] #1532 closed

[2020-10-28 15:48] borowiecth commented on #97
On-going action, I hope to close it soon. Otherwise Kev will handle this.

[2020-10-28 17:26] brunobowden opened #1693 "Firebase Test Lab"
## Summary

Firebase Test Lab is essential for doing broad scale testing of the app across many different devices. Though not critical for the V1 launch, it would be very helpful in assuring the quality of the release. Though there's a number of things that can be done with Firebase Test Lab, this issue is to cover doing a simple number of tests or a general robo test, the most basic thing possibl

[2020-10-28 17:27] brunobowden commented on #1693
@theswerd, @Mohit020888 - once we have the server set up, doing test automation will be one of the most valuable things we can do to ensure the quality of the initial release.

[2020-10-28 17:42] theswerd commented on #1693
@Mohit020888 Do you have a list of tests you want?

[2020-10-28 18:24] Mohit020888 commented on #1693
@theswerd - I will prepare a basic regression suite for you which could be utilized for this .
I have asked @tabassumwajid2005 to help me out as she took up the task for writing test cases for our v1 launch .

[2020-10-28 18:51] theswerd commented on #1692
@travelkev so it displayed your first screenshot

[2020-10-28 18:58] brunobowden commented on #1692
@travelkev - this sounds like caching old data but I'm suspicious that @Mohit020888 is seeing the same thing. I've got 0.13.0 (24) and it's displaying correctly for me.

@travelkev @Mohit020888 - please try a few things:
1) Make sure you've got internet connection on phone, return to app after 20 min and see if the numbers update (it should refresh every 10min when returning to app).
2) Close app

[2020-10-28 19:03] brunobowden commented on #1693
Here's a couple of thoughts:
1) Complete install process granting all permissions
2) Visit all the major pages in the app (doesn't need to to check all Get the Facts pages but a couple is good)
3) Toggle all settings

Here's what you're looking to check:
1) No crashes
2) UI experience on small screen sizes e.g. make it easy for @Mohit020888 @tabassumwajid2005 to look through a number of screenshot

[2020-10-28 19:04] Mohit020888 commented on #1692
@brunobowden - I doubt the app data is getting refreshed after 20 minutes however the app data is in sync with the official WHO dashboard now post midnight (IST)
![Screenshot_20201029-003201](https://user-images.githubusercontent.com/63721227/97484235-800f6b80-197e-11eb-927e-62d88680a170.jpg)

[2020-10-28 23:27] brunobowden commented on #1692
@travelkev - is this now showing correctly for you?

On Wed, Oct 28, 2020 at 12:05 PM Mohit Saini <notifications@github.com>
wrote:

[2020-10-29 03:53] brunobowden opened #1697 "Cocoapods pinning"
## Summary

The CI updated to Cocoapods 1.10.0 and broke the build. The Cocoapods install should be manually pinned, bring it under source control. For upgrades, augment the dev-setup.sh so that devs only need to run that.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contr

[2020-10-29 05:39] Mohit020888 opened #1698 "API 19 Android devices are not able to render the flag symbol on Stats Screen"
I ran Firebase Test Lab Robo crawler on our latest build [0.14.0 + (25)] and observed that flag symbols are not being properly rendered on the Stats screen

Steps to reproduce the behavior:

1. Launch the app
2. Tap on Stats functionality in the footer

Expected Behavior

The flag symbol of the selected country during onboarding journey should be clearly displayed on the stats screen.

Actual Beha

[2020-10-29 07:15] brunobowden commented on #1645
@Moosphan - please reply with "I Agree" for the Apache 2.0 relicensing. All the other contributors have consented. We just need you.

[2020-10-29 07:54] Moosphan commented on #1645
I Agree

[2020-10-29 08:05] tabassumwajid2005 commented on #1693
sure I will perform it

On Thu, Oct 29, 2020 at 12:03 AM Bruno Bowden <notifications@github.com>
wrote:

[2020-10-29 15:00] brunobowden commented on #1645
@Moosphan - thanks so much! You’re the last significant contributor we needed.

@amourakora - please reply with “I Agree”. You’re the very last permission we need! I know all you did was remove a single apostrophe.... but it would be nice for consent to be unanimous.
Ref: https://github.com/WorldHealthOrganization/app/commit/91b2c881858a7da03f74165869d1fe76829d450f

[2020-10-29 23:41] brunobowden commented on #1645
@amourakora - you're the only one left!! Even though your only edit was removing an apostrophe, it would be nice to get unanimous consent.

@Moosphan - thanks

[2020-10-30 08:10] borowiecth commented on #1486
Access to WHO SharePoint/Teams and the app publishing owners removed.
Anything else you had in mind?

[2020-10-30 10:52] Mohit020888 commented on #1692
@brunobowden @theswerd - the app is again showing incorrect and outdated Global cases and deaths.
![Screenshot_20201030-161932](https://user-images.githubusercontent.com/63721227/97696751-071e2a00-1acc-11eb-8c4b-65dcaa1e5ab0.jpg)

[2020-10-30 14:12] Mohit020888 opened #1699 "0 should be displayed for days which had nil cases on the Stats screen"
The app is not showing anything in the stats screen when user tries to scroll on the days where there were 0 cases reported.

Steps to reproduce the behavior:

1. Launch the app
2. Select the country as Anguilla  during onboarding.
3. Tap on Stats functionality in the footer section and select total cases.
4. On the graph scroll through the days where there were no cases reported.

Expected Behavi

[2020-10-30 19:38] advayDev1 commented on #1486
If you = me, then app store certificate access was also included.  Something about an AWS store. @borowiecth

[2020-11-02 05:10] brunobowden opened #1702 "Terraform Modules for prod, staging and hack environments"
## Summary

The terraform code needs to be refactored so that it can be reused across the production, staging and hack projects. There should be minimal variation and maximum shared state across them.

# Expected Solution

Modularization, see pointers here:

https://www.terraform.io/docs/configuration/modules.html
https://www.terraform.io/docs/modules/composition.html
https://learn.hashicorp.com/t

[2020-11-02 18:45] tabassumwajid2005 opened #1704 "Home - Get the facts - whole card is clickable."
## Summary

Home - Get the facts - whole card is clickable if we have a button ' learn more' than only that button will navigate to the facts screen not complete card.

## Reproduction Steps

Steps to reproduce the behavior:

1. Launch the App
2. Go to the Home tab
3. Scroll down and click on get the facts card on other area than learn more button.
4. It will navigate user to the expected scree.

[2020-11-02 19:39] brunobowden commented on #1704
@tabassumwajid2005 - I can acknowledge the issue. Closing this as we're looking to replace it with a different UI: #1672

[2020-11-02 19:39] #1704 closed

[2020-11-03 06:00] tabassumwajid2005 opened #1705 "Country selector search option"
## Summary

Country selector - impairs the user experience when I need to scroll down to select countries which are written in the end of the list.

## Desired Solution

Ideally the country selection is automatic and doesn't need to be done at all. Otherwise, there should be a search option available to so user can find the country through typing.

## Additional Context

https://prnt.sc/vcbka4

##

[2020-11-03 06:06] Mohit020888 commented on #1705
@tabassumwajid2005 - Please mention the device details and app version on which you made the observations while creating issues.

[2020-11-03 06:09] brunobowden commented on #1705
@Mohit020888 @tabassumwajid2005 - in this case, it's a universal issue on all devices, so the device info doesn't matter. When a bug or feature is specific to a system or suspected to be, that's when it matters a lot more. Much of the time, you can't tell the whether it's specific or not, so in that case it's helpful to put the information in.

That said, please drag-n-drop the screenshots in to t

[2020-11-03 08:32] tabassumwajid2005 commented on #1704
Ok

On Tue, Nov 3, 2020, 12:39 AM Bruno Bowden <notifications@github.com> wrote:

[2020-11-03 16:36] brunobowden opened #1706 "DNS CAA pinning for myhealth.who.int"
## Summary

DNS CAA allows a public DNS record to limit the permitted certificate authorities to only Google Managed Certs + maybe others as permitted by WHO:

https://en.wikipedia.org/wiki/DNS_Certification_Authority_Authorization

Verification can be done by SSL Labs test:
https://www.ssllabs.com/ssltest/analyze.html?d=myhealth.who.int

## Checklist:

- [x] Searched the [existing issues](https:/

[2020-11-03 16:41] brunobowden commented on #649
Test deployment on https://staging-ipv4.whocoronavirus.org/app has TLS 1.0 and 1.1 disabled. Now reports "A" rating from SSL Labs. This issue will remain open until it's implemented in Terraform. FYI @marcml.

SSL Labs still warns on several more minor issues:
1. Lack of [DNS CAA](https://en.wikipedia.org/wiki/DNS_Certification_Authority_Authorization)
1. Session resumption (caching)	No (IDs assig

[2020-11-03 16:45] brunobowden opened #1707 "Certificate Transparency for clients"
## Summary

Modern replacement for HTTP public key pinning (HPKP) to monitor SSL certs and prevent Man In The Middle (MITM) attacks.

https://en.wikipedia.org/wiki/Certificate_Transparency
https://medium.com/babylon-engineering/android-security-certificate-transparency-601c18157c44

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure

[2020-11-03 19:34] brunobowden opened #1708 "master => main branch renaming"
## Summary

GitHub and many other communities have renamed their primary branch from "master" to "main". Given the reduced activity before launching, this seems like an appropriate thing to do during the QA period before the app launches.
https://github.com/github/renaming

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are

[2020-11-03 19:35] brunobowden commented on #1708
FYI @yukuairoy @theswerd

[2020-11-03 22:37] brunobowden commented on #1692
This could also be a failure in fetching the content when reopening the app.

@theswerd - it would be good to have a warning mechanism for old content:
- Alert: "Content is XX hours old / YY days old" (e.g. [main.dart Alert](https://github.com/WorldHealthOrganization/app/blob/master/client/lib/main.dart#L210-L212))
- Display only if:
   - Last update more than 4 hours old
   - Attempt to update co

[2020-11-03 23:57] theswerd commented on #1692
Confirming we want this to look the same as the development warning?

[2020-11-04 00:07] brunobowden opened #1709 "Turn Off Airplane Mode warning"
## Summary

The WHO App should show a similar warning to Facebook / WhatsApp for airplane mode. On iOS, those apps will show a user notification for "Turn Off Airplane Mode or Use Wi-Fi to Access Data", with links to "Settings" and "Ok".

## Additional Context

I'm not sure how it does the airplane mode detection and what can be done on Android. Nonetheless, we should figure out the best we can do

[2020-11-04 00:52] brunobowden commented on #1692
@theswerd - probably a less confrontational alert. Since this is for the general public, we also need to be more mindful of accessibility. So maybe black text on a pale blue background (it should be distinct from the dark blue background of the "Protect Yourself" section on the main page.

[2020-11-06 18:34] brunobowden commented on #1645
Planning to merge this in an hour's time. Updated timestamp on the commit message for PR #1626. The PR also documents consents not received and why they're immaterial to the relicensing.

@amourakora - last chance to make it unanimous! Your single commit of 91b2c88 only removed an apostrophe. So it's not a blocker on the relicensing but it would be nice to make it unanimous for all the GitHub cont

[2020-11-06 19:25] #1645 closed

[2020-11-06 19:25] #1546 closed

[2020-11-06 19:25] brunobowden commented on #1645
Apache 2.0 License changed merged in. It's finally done. Thanks everyone.

[2020-11-09 01:12] theswerd commented on #1709
Do we have a preference between a **CupertinoAlertDialog**, **AlertDialog**(Material), a platform specific one, or one in our own style?

[2020-11-09 01:14] brunobowden commented on #1709
This is milestone v1.1. We should only focus on v1.0 until it’s launched.

[2020-11-09 01:53] brunobowden commented on #1308
@epicfaace - were you able to look at this? It would be a great help but we need to know if you have time for this. We’re juggling a lot and we’re short staffed so your help would make a big difference

[2020-11-09 01:54] brunobowden commented on #934
@epicfaace - it would be a great help if you can look at this

[2020-11-09 03:54] brunobowden commented on #1155
@marcmcl - I think you did some work on this. Can you post the pull request so we can look it over?

[2020-11-09 04:18] brunobowden commented on #1692
@travelkev @Mohit020888 - we can't reproduce this issue though I believe you both saw it. Please comment here if it happens again as it is an important issue but not something we have a good lead on. See updated comments in description for details.

[2020-11-09 04:18] brunobowden commented on #1692
@theswerd - let's de-prioritize this to work on other issues

[2020-11-09 04:33] brunobowden commented on #1228
@Mohit020888 - please confirm this still happens

[2020-11-09 04:38] brunobowden opened #1723 "DNS Records for *.whocoronavirus.org don't work from Terraform"
## Summary

The DNS Records set up in PR #1721 don't work. A possibility is that it needs setting up with two name servers:
- `ns-cloud-dX:` domain console for MX records, google-site-verification and so on
- `ns-cloud-aX:` Cloud DNS for GCP projects, e.g. staging.whocoronavirus.org

TODO: figure out how to make this work in the [Domain console](https://domains.google.com/registrar/whocoronavirus.

[2020-11-09 08:11] Mohit020888 commented on #1228
@brunobowden - yes this issue is still reproducible on app version 0.14.0 (25)

[2020-11-09 08:16] brunobowden commented on #1228
@Mohit020888 - I've marked it P2. Do you consider it more important than that?

[2020-11-09 08:19] Mohit020888 commented on #1228
@brunobowden - Yes P2 is the correct priority for this one Bruno !

[2020-11-09 08:24] Mohit020888 commented on #1692
@brunobowden - Now I am seeing daily cases count as 0 for US on the stats screen.
I have uninstalled and reinstalled the app but the issue still exists.

![Screenshot_20201109-134445](https://user-images.githubusercontent.com/63721227/98516886-1b63e300-2293-11eb-8827-f301b0fdbfb9.jpg)

[2020-11-09 08:25] brunobowden commented on #1228
@Mohit020888 - thanks. Please feel free to add P0, P1 or P2 labels to bugs, or even adjust existing ones if they look obviously wrong. Just add a note briefly explaining why.

[2020-11-09 08:29] brunobowden commented on #1692
Good catch. The data is wrong in the [WHO COVID-19 dashboard](https://covid19.who.int/table). It shows "0" cases for Nov 8th for at least 3 countries. @theswerd and I were talking about this earlier today: https://who-app.slack.com/archives/C018Y9Q07PX/p1604873092047200. I've emailed WHO to find out what we can do about it.

@Mohit020888 - please create a separate bug about this. I'm still ponderi

[2020-11-09 08:43] Mohit020888 opened #1724 ""0 Cases" in WHO COVID-19 dashboard stats"
## Summary

The data feed from the WHO dashboard reports "0 cases" for multiple countries. The app needs to distinguish between two cases:
- Cases are legitimately zero
- The data is wrong and doesn't have data for today

## Possible Fix

Server side fix to put it under more control
- If today's cases > 0 => treat all data as valid
- If today's cases == 0
   - If yesterday's cases == 0 => treat al

[2020-11-09 08:45] Mohit020888 commented on #1692
@brunobowden - I have created https://github.com/WorldHealthOrganization/app/issues/1724 for the above issue and marked it as P2.

[2020-11-09 08:48] brunobowden opened #1725 "CI to build appbundle then apks"
## Summary

CI should build appbundle since that's what is being used for deployment to the Google Play Store. Some other Android stores only accepts apks, so they need to be also built as a subsequent step.

## Desired Solution

https://developer.android.com/studio/command-line/bundletool#generate_apks

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization

[2020-11-09 09:20] brunobowden commented on #1690
WHO is using App Bundles already.

Opened #1725 to track us switching over the CI builds.

[2020-11-09 09:20] #1690 closed

[2020-11-09 13:33] marcmcl commented on #1155
@brunobowden I have submitted a pull request

[2020-11-09 20:16] #1725 closed

[2020-11-13 15:07] epicfaace commented on #934
@brunobowden I just tested on the latest master, and these requests are still being sent before the ToS has been accepted. To be clear, there appear to be three requests:

![image](https://user-images.githubusercontent.com/1689183/99086649-cf1ce980-2597-11eb-89b8-7ebf1a6d0a93.png)

![image](https://user-images.githubusercontent.com/1689183/99086652-d17f4380-2597-11eb-9e5e-cd698a01a2e5.png)

![imag

[2020-11-14 03:09] kqtqk93 opened #1739 "Please make it for me, im looking for autobot to saving"
## Summary

A clear and concise description of what the problem is from the user's perspective.

## Desired Solution

A clear and concise description of what you want to happen.

## Additional Context

Add any other context or screenshots about the feature request here.

## Checklist:

- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not

[2020-11-14 11:48] epicfaace opened #1741 "When a user manually edits Notification Settings, settings should be updated accordingly"
Right now, if a user manually disables notifications through the Settings app, `setNotificationsEnabled` is not called, so the settings page will be out of sync (it will say that notifications are still enabled, when they're actually disabled).

Instead, we should do the following:
- On app startup (or whenever the settings page is initially opened), check to see if notifications are enabled / dis

[2020-11-14 16:00] brunobowden commented on #1739
I can’t understand this

[2020-11-14 16:00] #1739 closed

[2020-11-14 18:08] brunobowden opened #1742 "Regionalized Logs to europe-west1"
## Summary

Enable support for Regionalized Logs and limit location to `europe-west1`. We will change this to `europe-west6` once they enable support for that region.

https://cloud.google.com/logging/docs/regionalized-logs

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Cont

[2020-11-14 18:15] brunobowden commented on #934
@epicfaace - this is more driven by making it as respectful of privacy as possible. There wasn't any other motivation.

[2020-11-14 18:16] brunobowden commented on #934
@epicfaace - can you send a PR to add to the documentation on how you tested this. It would be useful to document it so that others can repeat the tests in the future. I think the client/README.md is probably the best spot unless you suggest something else.

[2020-11-15 00:47] matthewblain commented on #779
FYI while the underlying Flutter issue is being worked on, you can develop to a good extent on Windows:
* Make sure symlinks are enabled in the OS and Git.
* Workaround to build: Comment out the - assets/ line in client/pubspec.yaml.

In this configuration, the builds etc will work, as will the app, but the credits will be blank.

[2020-11-15 01:03] brunobowden commented on #779
@matthewblain - please document this in client/README.md so other Windows
developers know what to do.

On Sat, Nov 14, 2020 at 4:47 PM matthewblain <notifications@github.com>
wrote:

[2020-11-15 07:09] brunobowden commented on #1475
App name will stay as COVID-19

[2020-11-15 07:09] #1475 closed

[2020-11-15 07:11] brunobowden opened #1743 "New Logo?"
## Summary

WHO has approved making this change. The motivation is greater awareness of the brand and fostering more trust with a global public audience.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blo

[2020-11-15 19:49] matthewblain opened #1744 "Terraform state should be shared using a remote state backend."
## Summary

The Terraform system relies on having a "local" copy of the service state which it then compares and determines what changes are needed.
This state must be shared among those using the terraform tool so that they do not step on each other.

## Desired Solution

A terraform state backend. Most likely in GCS somewhere since Google Cloud infrastructure is used for other portions of the pr

[2020-11-16 20:15] brunobowden opened #1746 "Regionalized Logs for europe-west1 (Belgium)"
## Summary

Not currently possible. Waiting on support for that region.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-11-16 20:41] theswerd commented on #1743
Where should I go to get the assets?

[2020-11-16 20:47] brunobowden opened #1747 "Reduce server costs to fit easily within free budget => Cron Job overhaul"
## Summary

Each server costs $2-3 / day to run. This could cause a surprise for someone setting up their own servers during development. It would be nice for the usage of several servers (or all of them) to fit well within the free budget for server costs.

I believe that most of that cost comes from the `refreshCaseStats` cron job that runs every five minutes. Otherwise the servers should be qui

[2020-11-16 20:47] brunobowden commented on #1747
@matthewblain - not a priority but nice to have for others doing server development so they don't get any surprise bills

[2020-11-16 21:37] brunobowden commented on #1743
See the Slack message that you were linked on in the #marketing channel.
Anshul may need to create the images for you.

On Mon, Nov 16, 2020 at 12:41 PM Benjamin Swerdlow <notifications@github.com>
wrote:

[2020-11-16 23:44] brunobowden opened #1748 "Terraform DNS doesn't work"
## Summary

`google_dns_record_set` and `google_dns_managed_zone` aren't configuring the DNS records automatically for the whocoronavirus.org subdomains.

## Workaround

Manually configure DNS Settings in [Domain Console](https://domains.google.com/registrar/whocoronavirus.org/dns)
[code]

## Checklist:

- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to

[2020-11-16 23:46] brunobowden commented on #1748
@matthewblain - not a priority to launch but helpful for other developers. Something to experiment with in your separate Google organization. With Google providing the registrar services as well, this should all work together seamlessly.

[2020-11-16 23:47] brunobowden commented on #1748
Duplicate of https://github.com/WorldHealthOrganization/app/issues/1723

[2020-11-16 23:47] #1748 closed

[2020-11-16 23:47] brunobowden commented on #1723
Copied comment from dupe issue:

@matthewblain - not a priority to launch but helpful for other developers. Something to experiment with in your separate Google organization. With Google providing the registrar services as well, this should all work together seamlessly.

[2020-11-17 06:18] #649 closed

[2020-11-17 19:11] brunobowden opened #1754 "Regionalize Logs to europe-west6"
## Summary

Currently logs are stored in europe-west1 (Belgium) needs to be moved to europe-west6 (Switzerland). Where upon the europe-west1 logs should be deleted. Currently this is blocked due to limited availability of [regionalized logs](https://cloud.google.com/logging/docs/regionalized-logs).

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/

[2020-11-17 22:22] brunobowden commented on #1746
Closing as dupe of #1754

[2020-11-17 22:22] #1746 closed

[2020-11-17 23:49] #1308 closed

[2020-11-18 02:48] #1742 closed

[2020-11-18 02:49] #1625 closed

[2020-11-18 07:07] brunobowden commented on #1723
@matthewblain - ignore this for now. Manually configuring for the moment.

[2020-11-18 07:11] brunobowden commented on #1508
Working on Security Command Center setup

[2020-11-18 07:19] brunobowden opened #1758 "Cloud Armor in Terraform: compute_security_policy"
## Summary

Setup Cloud Armor with sensible values. Likely this will include some defaults and a configured but not used IP block list. The configured but not used list is so that we can test the system... and if we need to deploy it in a rush then it will be easy to change data rather than write code.

It's probably the DDOS protection that's most helpful but I'm not sure how to configure that in

[2020-11-18 07:20] Mohit020888 opened #1759 "App showing No Internet Connection Message even when there is active internet connection"
App is incorrectly showing No Internet Connection Message even when there is active internet connection and it is also showing incorrect last update time.

Steps to reproduce the behavior:

1. Launch the app when mobile device has active internet connection.
2. Observe the warning message

Expected Behavior
App should only show this warning message when there is no active internet connection on th

[2020-11-18 07:24] brunobowden commented on #1214
As a matter of policy, all the configuration is now going through source control and code review. That includes the manual settings made... particularly on the production project. So the verification happens continuously.

[2020-11-18 07:24] #1214 closed

[2020-11-18 07:25] brunobowden commented on #1693
@Mohit020888 - what's the status on this?

[2020-11-18 07:29] brunobowden commented on #1759
@theswerd - more of a concerning bug. Not sure how this would occur.

[2020-11-18 07:30] theswerd commented on #1759
My current running theory is that the caching is failing but the network is working, however I'm going to need to test further before I can confirm.

[2020-11-18 07:32] brunobowden commented on #1759
Sprinkly in a few Google Analytics tracking events so that we can get stats
on the problems that users see.

On Tue, Nov 17, 2020 at 11:30 PM Benjamin Swerdlow <notifications@github.com>
wrote:

[2020-11-18 07:32] Mohit020888 commented on #1693
@brunobowden - I have been able to run Robo crawler on a range of different device matrix , the detailed results including videos,logs and screenshots can be viewed at https://console.firebase.google.com/u/0/project/who-myhealth-staging/testlab/histories/bh.3b10bac3fde27564

[2020-11-19 00:59] #1702 closed

[2020-11-19 18:37] matthewblain commented on #1758
"DDoS protection is automatically provided for HTTP(S) Load Balancing" - https://cloud.google.com/armor/docs/security-policy-overview.

I don't see anything in the documentation about 'enabling' Cloud Armor as a whole; is it always on when using a load balancer, or only when the a security policy is configured, even a pointless one? My guess is, always on. But it is worth having the placholder  pl

[2020-11-20 20:37] matthewblain opened #1765 "Move ingress restriction to Terraform config"
## Summary

The App Engine ingress restriction is currently configured by the server/bin/deploy-server.sh script running --ingress internal-and-cloud-load-balancing , as handled in PR 1756 resolving issue  #649 .

Ideally it would be moved to Terraform.

However, this requires Terraform support. See https://github.com/hashicorp/terraform-provider-google/issues/7866

Note: the current deploy script

[2020-11-20 22:17] brunobowden opened #1768 "build flavors for hack, staging & prod"
## Summary

We should use the "build flavor" mechanism for switching the client between hack, staging & prod instance of the servers. This is mainly for the `google-service.json` and `GoogleService-Info.plist` files. This is important for the `hack` project where penetration testers should use a specific server and we need to make it easy for them to do that.

We could includes all the configs wit

[2020-11-20 22:17] brunobowden commented on #1768
@theswerd - lower priority until we've got a final build. Useful to have around launch time to make it easier to onboard developers. Most though will just use the default of the staging server.

[2020-11-21 00:33] brunobowden opened #1769 "Cloud Firestore"
## Summary

This is a discussion issue and not a plan for implementation.

FlutterFire now supports Cloud Firestore. Primary value is seamless caching and offline support:
https://firebase.flutter.dev/docs/firestore/overview

Build speed improvement:
https://firebase.flutter.dev/docs/overview/#improve-ios-build-times

## Checklist:

- [ ] Searched the [existing issues](https://github.com/WorldHeal

[2020-11-22 03:26] #1758 closed

[2020-11-22 04:38] brunobowden commented on #1758
@matthewblain - I think you're probably right about it always being on. There wasn't an option to "enable" it in the console either, which would be consistent with that conclusion.

[2020-11-22 04:43] brunobowden commented on #1620
Fixed by #1700

[2020-11-22 04:43] #1620 closed

[2020-11-22 05:01] matthewblain commented on #1758
Yes, in my Cloud Console instance some page went from advertising that I should use Cloud Armor to telling me that i have it enabled. Interestingly it's priced by rules, etc. so it's one of the things using up my starter credit.

I believe it was here that I saw it:
https://console.cloud.google.com/net-security/securitypolicies/list?

[2020-11-22 06:21] brunobowden opened #1772 "Security (GCP Org Level)"
## Summary

**Security Command Center:** (org level)
Enable features
- [x] [Security Command Center:](https://console.cloud.google.com/projectselector2/security/command-center/overview?project=who-myhealth-staging)
- [x] [Security Health Analytics](https://cloud.google.com/security-command-center/docs/how-to-use-security-health-analytics)

From #1508

## Checklist:

- [x] Searched the [existing is

[2020-11-22 06:21] brunobowden commented on #1508
Moved org level security to #1772. Otherwise done.

[2020-11-22 06:21] #1508 closed

[2020-11-23 20:13] brunobowden commented on #1743
Still in discussions with WHO

[2020-11-23 20:21] brunobowden commented on #1768
@paulinar - this might make a good starter project for you since you're familiar with Android. It should be pretty straight forward to setup the build flavors. If you have a Mac, it would be great if you could do the same for Xcode... if not then @theswerd or myself will do the Mac part.

[2020-11-23 20:25] brunobowden commented on #1768
Needed so that WHO can do the production builds easily.

[2020-11-24 20:14] brunobowden opened #1779 "QA Buttons: crashing and notifications"
## Summary

For QA and Debugging it would be helpful to have several manual buttons available in the non production build:

1. Crash button to generate crash log: `FirebaseCrashlytics.instance.crash();`
2. Send notification to user. Could require server API that's disable in production to prevent abuse.
3. Anything else?

## Checklist:

- [x] Searched the [existing issues](https://github.com/World

[2020-11-25 05:27] brunobowden opened #1780 "Production Google Analytics"
## Summary

Production app must use WHO Google Analytics account. Users can disable analytics in the settings page.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-11-25 20:48] brunobowden opened #1781 "Configure backend and static content url based on build flavor"
## Summary

The backend and static content urls need to be swapped out based on build flavor. Ideally this could be done entirely programmatically, so specifying any flavor would automatically pick up the correct server without needing additional work. At the same time, production at least will need special settings for the backend and the `covid19app.who.int` domain.

1. Change backend
1. Change

[2020-11-25 20:49] brunobowden commented on #1781
@matthewblain - FYI as @theswerd will be focusing on the client changes needed for the static content.

[2020-11-26 11:12] jtangney opened #1783 "Terraform config uses features not available in the required_version"
## Summary

Terraform config has "required_version >= 0.12" - but in fact the config uses features that are only available in >= 0.13.0. Specifically, the "depends_on" attribute in the "lb" module definition.

https://github.com/hashicorp/terraform/blob/v0.13/CHANGELOG.md

terraform {
  required_version = ">= 0.12"
}

\# Load Balancer
module "lb" {
  source             = "../http-load-balancer"

[2020-11-27 17:45] advayDev1 commented on #1780
If you are using an existing GA account, then the account level settings preventing any extraneous data sharing would also need to be set up - which may need the WHO owner to do that.

[2020-11-27 18:46] #1783 closed

[2020-11-27 23:18] epicfaace commented on #934
@brunobowden I followed @guillermo-varela 's post above. I believe I just set `-FIRAnalyticsDebugEnabled` with the following instructions: https://stackoverflow.com/questions/43109486/turning-firebase-analytics-on-on-xcode

[2020-11-28 05:37] brunobowden commented on #1624
3rd requirement moved to #1768. Making this complete

3. Updating clients with urls for accessing content based on staging / hack / prod instances
- https://www.terraform.io/docs/providers/google/r/storage_bucket.html

[2020-11-28 05:37] #1624 closed

[2020-11-28 05:40] brunobowden opened #1785 "Automatic deploy for all projects except prod"
## Summary

Push the staging, hack and prod-in-dev projects automatically by adapting these scripts. The "prod" project will be manually pushed:
- https://github.com/WorldHealthOrganization/app/blob/master/.github/workflows/server.yaml
- https://github.com/WorldHealthOrganization/app/blob/master/.github/workflows/static-content.yaml

## Checklist:

- [x] Searched the [existing issues](https://gith

[2020-11-28 07:48] brunobowden commented on #1298
App Engine and Static Content has been deployed to production. Client still needs to be updated to use - #1768... but I consider this closed.

[2020-11-28 07:48] #1298 closed

[2020-11-28 07:50] brunobowden commented on #1780
Yes indeed. All the required steps are recorded here:
https://github.com/WorldHealthOrganization/app/blob/master/server/terraform/README.md#analytics

[2020-11-28 07:53] brunobowden commented on #1524
@matthewblain - please take a look at this. Also see @advayDev1's suggestion of combining the two request in a single request to avoid the race condition. This sounds like a good approach to me:
https://github.com/WorldHealthOrganization/app/issues/1524#issuecomment-700260154

[2020-11-28 15:17] advayDev1 commented on #1780
@brunobowden no the steps are not detailed therein.  There are various data sharing settings that google auto-enables that one has to disable before using with this app at the *account* level.

![F357D747-4688-4213-B0C2-E409F87466DF](https://user-images.githubusercontent.com/11729521/100518749-65c8d900-3148-11eb-97d5-2318d2620f99.jpeg)

If WHO wants those settings enabled on their existing GA acco

[2020-11-28 19:08] brunobowden opened #1787 "Delete User Account"
## Summary

Users should have the ability to delete account data. This includes all associated activity, messaging tokens, particularly any health related data. This will likely rely on GCP guarantees of expunging all data within six months of deletion. The availability and guarantees on data deletion should be visible within the UI and also the privacy policy. Aggregated and anonymized may persis

[2020-11-28 22:17] brunobowden commented on #1780
Thanks @advayDev1. I'm looking in to this.

[2020-11-29 23:56] brunobowden opened #1788 "Android Security Best Practices"
## Summary

Google has documented a good set of security best practices for Android security. They're targeted at Exposure Notification apps but most are relevant for apps generally. We should apply the review this list, break out separate tasks and then resolve the most important ones before release.

https://developers.google.com/android/exposure-notifications/implementation-guide#security

## C

[2020-11-30 17:05] brunobowden opened #1793 "Security Command Center / Health Analytics Alerts"
## Summary

Address alerts at all severities from Critical to Low. This includes DNSSEC, Public Storage Buckets (which are intentional) and other issues. All changes need to be documented in the README.md.

https://console.cloud.google.com/security/command-center/findings

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are n

[2020-11-30 17:08] brunobowden commented on #1772
Features are enabled but still needs work on addressing existing alerts: #1793

[2020-11-30 17:08] #1772 closed

[2020-12-01 05:37] brunobowden commented on #426
Implemented in app

[2020-12-01 05:37] #426 closed

[2020-12-01 06:05] Sarankumar18 commented on #426
That's cool

On Tue, 1 Dec, 2020, 11:08 AM Bruno Bowden, <notifications@github.com>
wrote:

[2020-12-06 07:11] brunobowden commented on #1768
Done for Android in #1798

[2020-12-06 09:17] brunobowden opened #1799 "refreshCaseStats / cron job disabled by ingress restrictions"
## Summary

The `refreshCaseStats` cron job is failing due to the `--ingress internal-and-cloud-load-balancing` settings. The url request is at `/internal/cron/refreshCaseStats`, so I thought it would be allowed as internal request but apparently not. That also explains why there's no logs for the cron job as the request can't reach the server.

## Workaround

Disable the ingress settings:
[code]

[2020-12-06 19:59] #1781 closed

[2020-12-07 03:56] matthewblain commented on #1747
This should be easy to implement by:
1: On every request, enqueue a Task Queue entry (targeting the same URL that the cron job uses), using a named task where the name is (a hash of) the desired refresh time, e.g. time_t % 5 minute interval.
2: (Optional) Use the cron job with a timing of to 1x/day or something so there's always some data.

This could be done in all environments, or configurable s

[2020-12-07 08:18] brunobowden commented on #1747
@matthewblain - I'd be open to either approach as long as all servers provide fresh data and the non production systems easily sit inside the free GCP budget.

[2020-12-07 16:20] matthewblain commented on #1799
Yes, this seems to be the case. Put together a simple test which makes it easy for anyone to verify.
https://github.com/matthewblain/appengine_cron_test

[2020-12-07 23:56] brunobowden opened #1804 "Ingress settings for internal-and-cloud-load-balancing"
## Summary

- [ ] App Engine fix so that cron jobs work for internal only ingress: https://issuetracker.google.com/issues/175061107
- [ ] Ingress setting changed to `internal-and-cloud-load-balancing`

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](htt

[2020-12-08 00:27] #1799 closed

[2020-12-08 08:37] brunobowden opened #1810 "staging.whocoronavirus.org SSL cert broken - needs reissue"
## Summary

The staging server switched domain, which has broken the SSL cert. It need to be reissued. Likely by removing SSL and then adding it back again.

<img width="654" alt="Screen Shot 2020-12-08 at 12 37 28 AM" src="https://user-images.githubusercontent.com/679339/101459808-900b5b00-38ed-11eb-82cc-9db2c6cf5a0d.png">

## Checklist:

- [x] Searched the [existing issues](https://github.com/Wo

[2020-12-08 17:37] #1810 closed

[2020-12-09 07:22] #1768 closed

[2020-12-10 07:02] brunobowden opened #1819 "entitlements configured by flavor (iOS)"
## Summary

`Runner.entitlements` file needs to be switched from "development" to "production" for the "prod" flavor [docs](https://github.com/WorldHealthOrganization/app/blob/master/docs/release/manual-build.md#production-vs-development-push-settings). This should be an automatic rather than a manual step.

## Possible Remedy

https://stackoverflow.com/a/25734318/1509221

## Checklist:

- [x] Sea

[2020-12-13 22:52] brunobowden opened #1824 "Country Selection Improvements"
## Summary

When the user selects their home country. The app should make it easier to do this.

## Desired Solution

1. Float likely countries to the top of the list (e.g. based on IP Geolocation)
2. Add country flags for visual recognition and to accomodate people with limited reading ability or lack of translation to their local language

## Checklist:

- [x] Searched the [existing issues](http

[2020-12-14 04:57] matthewblain commented on #1524
The inconsistent results should be much less likley now as the entire client configuration is passed to the server, and in the typical UI flow there will be an update which should write the correct value.

Next fixes:
 * Add a transaction to the server so an error will be reported on 'collision.'
 * Have the client retry on error somehow. Perhaps by recording a timestamp for last client side updat

[2020-12-14 05:01] matthewblain commented on #1524
Also TODO at some point: remove server support for the old devicetoken and country methods.

[2020-12-14 05:02] brunobowden commented on #1524
@matthewblain - closing this one as fixed by #1820. Please move other issues over to a separate bug at lower priority.

[2020-12-14 05:02] #1524 closed

[2020-12-14 05:28] matthewblain opened #1825 "Futher refinement of potential client/server configuration synchronization."
## Summary

After PR #1820 was merged, the race condition motivating issue #1524 should largely be moot.

However, it is possible that it will be triggered again, and fixing the issue also highlighted other areas for possible improvement:

* Add a transaction to the server so an error will be reported on 'collision.'
* Have the client retry on error somehow. Perhaps by recording a timestamp for la

[2020-12-14 07:53] brunobowden commented on #1263
Tested on Android without analytics. Waiting on analytics setup and also iOS testing.

[2020-12-16 08:42] brunobowden opened #1834 "Cases stats missing older data"
## Summary

The case states can be missing older data sometimes. This doesn't appear for most countries but on Sunday evening I saw it happen for the USA and Venezuela - showing ~70 days of data instead of showing ~300 days of data. The http://covid19.who.int/ looked ok, so that suggest an issue with the WHO App or server.

## Reproduction Steps

- Heisenbug with no clear reproduction steps. When

[2020-12-16 08:42] brunobowden commented on #1834
cc @Mohit020888

[2020-12-16 08:44] brunobowden commented on #1834
@theswerd - have a look to see if you notice any issues around this

[2020-12-16 08:53] matthewblain opened #1835 "App makes too many queries to the backend"
## Summary

When the app is running, it makes many queries to GetCaseStats, and several for the static content bundles.

These values should be cached locally, possibly with an expiration from the server, but certainly for many hours absent an explicit user Refresh request.

## Reproduction Steps

Open the app.
Browse around on it, switch to another app and back, etc. Don't change settings or othe

[2020-12-16 08:55] theswerd commented on #1834
It looks like the initial date is coded statically [here](https://github.com/WorldHealthOrganization/app/blob/681c4878cc56d8cfe7d3351075ab5ecb64180859/client/lib/components/recent_numbers_graph.dart#L34)

I'm not sure what the solution is, because I'm not sure we are not storing the date we want to start at in the client.

[2020-12-16 18:02] brunobowden commented on #1769
@matthewblain - not an immediate priority but you should know about this when considering the Objectify version upgrade. Clearly Firestore is the long term system we should be using.

[2020-12-17 06:57] matthewblain commented on #1769
I'm not sure that is the case; note that you cannot change between modes. The system is currently using Firestore in Datastore mode, and is entirely accessed 'server' side.
https://cloud.google.com/datastore/docs/firestore-or-datastore

[2020-12-17 07:38] brunobowden commented on #1769
It doesn't look like there's an easy migration path:
https://stackoverflow.com/a/55875178/1509221

[2020-12-18 16:02] advayDev1 opened #1842 "Re-ToS/PN users with the final version of the launch docs"
@brunobowden Hunter made a change a while back re-tosing users, which I guess can be redone again for the launch version.  Most importantly GA opt-outs should be preserved across re-toses which is a bit tricky.  Think we discussed this a few months ago, but I don't see a bug.

Nothing herein is legal advice.

[2020-12-18 23:27] #1835 closed

[2020-12-19 01:39] brunobowden commented on #1842
I'm looking in to repeating what @hspinks did before:
https://github.com/WorldHealthOrganization/app/pull/1450

[2020-12-19 04:13] advayDev1 commented on #1759
I get this everytime I start the app on iPad.  Its pretty glaring bug when you use the app.

[2020-12-19 04:15] brunobowden commented on #1759
@matthewblain and I agreed earlier today about removing the warning as it's not reliable enough.

[2020-12-19 05:59] brunobowden commented on #1759
Fixed by #1843

[2020-12-19 05:59] #1759 closed

[2020-12-19 09:03] brunobowden commented on #1819
This works in production so there isn't an issue. From the docs, it's automatically set based on the provisioning profile:
https://developer.apple.com/documentation/bundleresources/entitlements/aps-environment

[2020-12-19 09:03] #1819 closed

[2020-12-19 09:04] brunobowden commented on #728
Marketing screenshots have been uploaded and they look nice.

[2020-12-19 09:04] #728 closed

[2020-12-19 09:19] brunobowden commented on #1544
The newly planned Privacy Notice incorporates IP Address retention policy. I think it's basically the best we can do with the current system.

[2020-12-19 09:19] #1544 closed

[2020-12-19 17:06] advayDev1 opened #1845 "Play Store privacy policy link seems old"
See https://play.google.com/store/apps/details?id=org.who.WHOMyHealth

Privacy link is to https://www.who.int/about/who-we-are/privacy-policy

[2020-12-19 17:07] advayDev1 opened #1846 "Random tablet screenshot in Play Store"
Seems very old

![6B00D48F-C7F8-4773-B38C-BFCC8302E395](https://user-images.githubusercontent.com/11729521/102695013-a6f95980-41d9-11eb-85d5-c3d33e9901cb.jpeg)

[2020-12-19 17:10] advayDev1 opened #1847 "App Store (TestFlight) privacy policy link seems old"
At least testflight links to https://whoapp.org/privacy And has bruno's personal email address as the dev.

[2020-12-19 17:14] brunobowden commented on #1847
Updated policy just published:

https://www.who.int/myhealthapp/privacy-notice

On Sat, Dec 19, 2020 at 9:11 AM Advay Mengle <notifications@github.com>
wrote:

[2020-12-19 17:18] Mohit020888 commented on #1846
@advayDev1 - how can I test this ? I still can't find the app on playstore , is this the beta app screenshot ?

[2020-12-19 17:39] advayDev1 commented on #1846
My account is in the old alpha/beta, so I can see the play store link.
You'll have to talk to Bruno about how to test things - I have no access.

[2020-12-19 17:39] advayDev1 commented on #1847
It's the link i was filing a bug about

[2020-12-19 17:45] brunobowden commented on #1847
Understood. That's why it's a comment and not me closing it as resolved.

[2020-12-19 17:51] advayDev1 commented on #1510
Given the bugs I just filed, was this task actually verified by anyone?  This bug was for:

So, for example, privacy policy links would need to be updated everywhere, and Apple App Store allows you to paste in your TOS/EULA so that users see it before downloading, etc. (unsure if Play does the same).

[2020-12-19 20:44] brunobowden commented on #1847
Just had a session with WHO to update the App Store and Play Store privacy links + App Store only update of EULA (couldn't find EULA link on Play Store). These will be published with the next version.

[2020-12-19 20:44] #1847 closed

[2020-12-19 20:53] brunobowden commented on #727
Just finished going through this WHO.

[2020-12-19 20:53] #727 closed

[2020-12-19 20:54] brunobowden commented on #18
Done

[2020-12-19 20:54] #18 closed

[2020-12-19 20:55] brunobowden commented on #97
WHO approved

[2020-12-19 20:55] #97 closed

[2020-12-19 20:58] brunobowden commented on #1510
- WHO approved PN and TOS published:
   - https://www.who.int/myhealthapp/privacy-notice
   - https://www.who.int/myhealthapp/terms-of-use
- App Store and Play store updated with corrected Privacy Notice links
- App Store updated with EULA copy and link to website (not available in Play Store)
- WHO informed and accepts app behaviour and PN / TOS accordingly

[2020-12-19 20:58] #1510 closed

[2020-12-19 21:00] brunobowden commented on #1845
Fixed. Will be updated in new version.

[2020-12-19 21:00] #1845 closed

[2020-12-19 21:00] brunobowden commented on #1215
Google Analytics settings verified in accordance with newly published Privacy Notice

[2020-12-19 21:00] #1215 closed

[2020-12-19 21:01] brunobowden commented on #934
Disclosed to WHO and agreed on deferring to future release

[2020-12-19 21:01] brunobowden commented on #1509
I'll be taking this on with the next release.

[2020-12-19 21:02] brunobowden commented on #1692
Deferring to next release.... though we'll monitor if issues occur with this one.

[2020-12-19 21:03] brunobowden commented on #1788
Deferring to future release

[2020-12-19 21:04] brunobowden commented on #17
WHO legal done. All items closed except for #1509 which will be tracked separately for launch.

[2020-12-19 21:04] #17 closed

[2020-12-19 21:05] brunobowden commented on #243
@Mohit020888 will be doing this tomorrow

[2020-12-19 21:05] brunobowden commented on #1486
Done

[2020-12-19 21:05] #1486 closed

[2020-12-19 21:06] brunobowden commented on #1482
Closing as duplicate of #1487 which will track final approval.

[2020-12-19 21:06] #1482 closed

[2020-12-19 21:08] brunobowden commented on #1846
We've got someone working on tablet images for the Android App Store

[2020-12-19 21:09] brunobowden commented on #1780
Production Analytics account setup and configured according to new published Privacy Notice

[2020-12-19 21:09] #1780 closed

[2020-12-19 21:09] brunobowden commented on #1834
Deferring to future release

[2020-12-19 21:36] brunobowden commented on #1743
Fixed by #1849

[2020-12-19 21:36] #1743 closed

[2020-12-19 22:02] #1842 closed

[2020-12-20 03:30] brunobowden opened #1852 "512 x 512 App Icon Quality Improvement"
## Summary

The current version of the 512 x 512 app icon imagery looks like a resampled image and poor quality.
https://github.com/WorldHealthOrganization/app/blob/f7cb2b3405681500cf791746a1b139e46e01f763/client/android/app/src/main/ic_launcher-playstore.png

This might be a better high resolution image to base it on:
https://www.who.int/images/default-source/infographics/who-emblem.png?sfvrsn=87

[2020-12-20 04:40] brunobowden commented on #1509
Verified:
- [x] Preserving opt-outs across restarts and app updates - Tested with Analytics, Notifications & Country Selection across restart and app update to v1.0.0
- [x] Verifying that nothing leaves the app/device prior to continuing past the initial screen, except and unless it is triaged and accepted by WHO.
- [x] Only the services documented in the Privacy Policy are used.
- [x] Verifying t

[2020-12-20 06:41] brunobowden opened #1854 "Android Push Notifications fail when app is in foreground"
## Summary

Push Notifications fail when app is in foreground. This might be "by design" but I don't think it's the right answer:
[code]
## Reproduction Steps

Send Firebase test message when app is in foreground.

## Expected Behavior

Push notification is still shown.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not

[2020-12-20 07:07] theswerd commented on #1854
What devices is this happening on?

[2020-12-20 07:14] brunobowden commented on #1854
Device:
- Nexus 5
- Android 6.0.1

[2020-12-20 08:38] brunobowden opened #1855 "iOS Notifications Regression"
## Summary

This was previously verified with `v0.15.0` with sending FCM Test Messages. Notifications aren't working in the `1.0.0` release and not even `v0.15.0` any more. At the same time, I'm not aware of any settings changes in Firebase that might cause this. The Android notifications work.

## Expected Behavior

A clear and concise description of what you expected to happen.

## System

- iPh

[2020-12-20 08:42] brunobowden opened #1856 "No Analytics for Notifications"
## Summary

No analytics are shown for Received, Impressions or Open events for any push notification test messages.

<img width="166" alt="Screen Shot 2020-12-20 at 12 41 00 AM" src="https://user-images.githubusercontent.com/679339/102709096-0b5cfd00-425c-11eb-926c-d1fe5c5ccc81.png">

## System

- iOS and Android devices

## Checklist:

- [x] Searched the [existing issues](https://github.com/Worl

[2020-12-20 08:43] brunobowden commented on #1263
US message received on Android. Other issues discovered:
- #1854
- #1855
- #1856

[2020-12-20 08:43] #1263 closed

[2020-12-20 08:43] brunobowden commented on #1264
CH message not received in US. Waiting to see if someone reports receiving CH message. Other issues discovered:
- #1854
- #1855
- #1856

[2020-12-20 08:43] brunobowden commented on #1265
"World" message received on Android. Other issues discovered:
- #1854
- #1855
- #1856

[2020-12-20 08:43] #1265 closed

[2020-12-20 08:46] brunobowden commented on #1266
Not doing as we don't have a SC feature right now

[2020-12-20 08:46] #1266 closed

[2020-12-20 08:46] brunobowden commented on #1269
Not doing as we don't have a SC feature right now

[2020-12-20 08:46] #1269 closed

[2020-12-20 08:53] brunobowden commented on #1268
Verified

[2020-12-20 08:53] #1268 closed

[2020-12-20 08:54] brunobowden commented on #1267
Not doing customized content per country yet. Need to test this later.

[2020-12-20 09:12] brunobowden commented on #1270
Deferring verification on this

[2020-12-20 09:12] brunobowden commented on #1272
Deferring verification on this

[2020-12-20 09:12] brunobowden commented on #1271
Deferring verification on this

[2020-12-20 09:12] brunobowden commented on #1273
Deferring verification on this

[2020-12-20 09:23] brunobowden opened #1857 "Notifications disable doesn't work (topics issue?)"
## Summary

A clear and concise description of what the problem is, from the user's perspective

## Reproduction Steps

Steps to reproduce the behavior:

1. Go to Settings
3. Enable "Notifications"
4. Send message to `ALL~LOCATION~US` topic
5. WORKS: notification received

6. Disable "Notifications"
4. Send message to `ALL~LOCATION~US` topic
5. FAILS: notification received

## Expected Behavior

N

[2020-12-20 14:13] Mohit020888 commented on #1698
@brunobowden - this is happening with release candidate as well , please assign it to someone .

[2020-12-20 14:30] Mohit020888 commented on #1834
tested on Release Candidate Version 1.0.0-staging(281) , app is showing wrong stats for global cases.
![wrong_global_stats](https://user-images.githubusercontent.com/63721227/102715842-081a4d80-42fe-11eb-960e-465829127680.jpg)

[2020-12-20 15:04] advayDev1 commented on #1855
Q: will not fixing this in this version means ios persons opted in to notifications would never receive notifications if they dont launch their app after a later update?

Is it certain that the build flavor code is working and binding the app to the prod api url and prod firebase project id?

[2020-12-20 15:12] advayDev1 commented on #1509
Since you've punted these bugs past launch:

If notifications opt-out does not work is that not a privacy bug that must be fixed prior to launch to match the privacy policy? #1857  Even if you fix it later before sending a message that could still require later user intervention to honor the already set opt out (like running the updated app).

  Same with opt-in on iOS - users will expect it to ge

[2020-12-20 15:31] Mohit020888 opened #1858 "Wrong Stats are being displayed when internet connectivity is lost and country is changed"
Steps to reproduce the behavior:

1.  Launch the app and complete onboarding journey.
2.  Tap on Stats icon in the footer.
3.  Stats for the selected country is displayed to the user.
4.  Switch of mobile internet.
5.  Go to Settings and and change the country from the dropdown.
6.  Tap on Stats again after changing the country.

Expected Behavior
Previous Country Stats should not be loaded for th

[2020-12-20 18:29] Mohit020888 opened #1859 "Text Alignment on Q&A Screen needs to get adjusted"
Steps to reproduce the behavior:

1. Launch the app
2. Complete Onboarding journey.
3. Tap on Learn tab in the footer.
4. Tap on Questions & Answers
5. Expand the section which says "What should I do if I have been exposed to someone who has COVID-19?"

Expected Behavior
Text Alignment should proper

Actual Behavior
Text Alignment is not proper.

System

- Device: Huawei Honor 7c
- OS: Android 8.0

[2020-12-20 18:51] Mohit020888 opened #1860 "Home Screen shows a blank animation for countries having 0 daily National Cases"
Steps to reproduce the behavior:

1. Launch the app and complete onboarding journey and select any country which has 0 daily National Cases like Anguila.
2. Observe the home screen animation which switches between Global and National cases

Expected Behavior
0 Cases should be displayed for daily National cases instead of a blank animation

Actual Behavior
Blank animation is displayed for 0 daily N

[2020-12-20 19:13] Mohit020888 opened #1861 ""Recent Numbers >" and "Protect Yourself >" as clickable links"
## Summary

The "Recent Numbers" and "Protect Yourself" text should be clickable. Add the " >" to indicate this and then remove the "See All >" and "Learn More >" as it's redundant and takes up vertical space that it shouldn't need to.

Really anything within the "item" as defined in the `home_index.en.yaml` content bundle should be clickable.

## Desired Solution

Expected new bundle, where anyth

[2020-12-20 19:19] brunobowden commented on #1834
@Mohit020888 - there are two bugs with Case Stats:
- #1834 - missing older data (this bug)
- #1692 - missing more recent data (your recent comment and not part of this bug)

Please move your comment to #1692 where it belongs. It's also helpful to now how stale the data is. Please note this when you move the comment:
- Global deaths data is from Oct 20 / 21 according to [COVID-19 Dashboard](https:/

[2020-12-20 19:29] Mohit020888 commented on #1834
@brunobowden - okay I will move my comment to #1692 and will take care of the screenshot embedding going forward.

[2020-12-20 19:55] brunobowden commented on #1855
I'm sure it's getting the right flavor as for any flavor other than prod, it will display the very visible "No privacy - {staging|hack} server" alert.

For the moment we aren't sending any notifications, so I expect us to send out and push updates for a new build before doing so. I don't yet know all the implications.

cc @travelkev

[2020-12-20 19:58] brunobowden commented on #1509
See [1855 comment](https://github.com/WorldHealthOrganization/app/issues/1855#issuecomment-748657659). Acknowledge the other implications. We'll deal with it as soon as we can.

cc @travelkev

[2020-12-20 19:59] Mohit020888 commented on #1692
tested on Release Candidate Version 1.0.0-staging(281) , the app showed stale data for Global Cases till yesterday night i.e. 20th December 2020 and showed only 49,720,550 Global Cases but now past midnight the app is showing correct number of Global cases 75,110,651.
<details>
![wrong_global_stats](https://user-images.githubusercontent.com/63721227/102723115-f6e83580-432b-11eb-86a7-e5c3c0c3e949.j

[2020-12-20 20:00] brunobowden opened #1862 "Verifying no identifiers are preserved across installs or devices, including when backup/sync are enabled."
## Summary

Ensure that everything is deleted with app deletion.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-12-20 20:01] brunobowden commented on #1509
Closing this for launch. Moved unresolved issue of #1862 (identifiers removed after delete) to separate issue to deal with post launch.

[2020-12-20 20:01] #1509 closed

[2020-12-20 20:38] brunobowden commented on #243
Still needs more work but @Mohit020888 has covered this for the launch.

[2020-12-20 20:38] #243 closed

[2020-12-20 20:40] brunobowden commented on #1443
Finished for V1. Thanks @Mohit020888

[2020-12-20 20:40] #1443 closed

[2020-12-20 21:15] advayDev1 commented on #1855
That alert is based on the flavor constant IIRC.  I'm asking if the google-services config file in the final binary is the prod. @brunobowden

[2020-12-20 21:18] advayDev1 commented on #1857
Given that this appears not to match the privacy policy, should this not be marked a privacy bug?

[2020-12-20 21:26] brunobowden commented on #1855
Yes, it has to be. If it wasn't the `prod` config then it would show the "No privacy" alert, as it does for the `staging` and `hack` servers. I've checked that there's no alert for rc1 on either Android or iOS.

[2020-12-20 22:23] brunobowden commented on #1698
@Mohit020888 - what Android version is this fixed on? Android 5.0, 6.0 or later? We'll see what the user distribution is... but we may decide that it affects a small enough part of the userbase that we choose not to fix it. If it caused a crash or seriously bad user experience on older devices, then we would of course fix it.

[2020-12-20 22:26] matthewblain commented on #1858
Will be away for several hours but have proposed the fix above.

[2020-12-20 22:28] matthewblain commented on #1855
Can you verify that the putClientSettings is being called correctly from iOS? Should be platform-indepdendent, but I did not have a way to test it there.

[2020-12-20 22:30] brunobowden commented on #1855
`putClientSettings` is being called on iOS.... additional confirmation that it's got the correct `google-services.json` file. Copying the token from that RPC and sending a test message in the Firebase console fails. Repeating that same procedure for Android works. Leading me to suspect it's an auth or build issue on iOS.

[2020-12-21 03:51] advayDev1 opened #1865 "Consider using instance id api to properly sync notification topics"
Given that country changing is now allowed, the topic management code is fragile.

Instead of keeping track of which topics are subscribed to in the user db, instead go to the source of truth: https://developers.google.com/instance-id/reference/server#get_information_about_app_instances and add or remove topics based on that list.

[2020-12-21 04:12] Mohit020888 commented on #1698
@brunobowden - this is happening on older Android versions < 5.0 and seems to work fine on Android versions > 5.0
But for Android 4.3 and Android 4.4 instead of the flag image only country initials are being displayed on the stats screen creating a bad user experience.

[2020-12-21 04:48] brunobowden commented on #1698
Thanks Mohit. That's very helpful to know.

What is the oldest Android OS that the app runs on? Flutter supports back
to Android 4.1 (API Level 16), so theoretically we should be able to do
that.

Bruno

On Sun, Dec 20, 2020 at 8:12 PM Mohit Saini <notifications@github.com>
wrote:

[2020-12-21 05:02] Mohit020888 commented on #1698
@brunobowden - so far I have not been able to find any device below android 4.3 on Google Firebase Test Lab and Sauce Labs so I cannot confirm at this moment that what is the minimum android version supported by our app.
At the moment android 4.3 is the confirmed minimum version running our app but with some UI issues like the one stated above.

[2020-12-21 05:02] brunobowden commented on #1865
Agreed. This part of the system definitely needs an overhaul.

[2020-12-21 05:06] matthewblain commented on #1865
@advayDev1 can you comment on this doc:
https://docs.google.com/document/d/1Itu46Qz43EVw2vasY0YvYDWydAlUyqMAEUgtRcROTGA/edit

[2020-12-21 06:26] advayDev1 commented on #1865
I will take a look monday

[2020-12-21 06:46] #1857 closed

[2020-12-21 06:57] brunobowden commented on #1698
@Mohit020888 - thanks. I suspect it supports down to Android 4.1 but let's see that stats on usage.

[2020-12-21 06:58] brunobowden commented on #1487
Approved for v1.0.0-rc1

[2020-12-21 06:58] #1487 closed

[2020-12-21 10:19] champ96k commented on #1860
I can solve this issue, can you please assign me : )

[2020-12-21 10:28] Mohit020888 commented on #1860
@champ96k - I have assigned it to you!
Please create a PR and get it reviewed by @brunobowden @theswerd

[2020-12-21 17:11] advayDev1 opened #1866 "TestFlight for 1.0.0 (281) shows bruno as dev and old privacy policy"
Its unclear whether this is a testflight only bug.
The email is @brunobowden 's personal gmail and privacy policy is broken on whoapp.org

[2020-12-21 17:13] brunobowden commented on #1866
I saw the same issue but wasn't sure it was an update issue or not. Clearly it's not just me that's affected. I'll get this fixed.

[2020-12-21 17:13] advayDev1 commented on #1866
Does the real app store have the real privacy policy?  Obviously I can't see the Nigerian app store.

[2020-12-21 22:20] #856 closed

[2020-12-22 04:13] brunobowden commented on #1866
I went through the App Store settings on a screen share, so I'm confident that has the right policy. At the same time, I can't see the App Store public listing. Raising the issue on TestFlight.

[2020-12-22 14:44] brunobowden commented on #1866
This is now fixed.... though they still need to create an email group for the new email address provided.

[2020-12-22 14:44] #1866 closed

[2020-12-22 16:42] advayDev1 commented on #1865
Added comments for what i remember @matthewblain

[2020-12-22 19:18] brunobowden opened #1871 "Stack Traces shouldn't be shared for server null pointer exception"
## Summary

Internal server - in this case a null pointer - shouldn't be shared outside the server. Though no information leakage seems to be possible at the moment, this should be fixed for the future.

## Reproduction Steps

Note the back quote supplied for the `jurisdictionType` field as an invalid parameter. This should be rejected as invalid.

Beyond that, the more important fix is that any e

[2020-12-22 19:23] brunobowden opened #1872 "`etc/hosts` publicly visible"
## Summary

The following shouldn't be publicly visible. So far we can't see any security issue with this but it seems sensible to fix it:
https://hack.whocoronavirus.org/etc/hosts

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/Worl

[2020-12-23 12:28] champ96k commented on #1860
@Mohit020888  Thanks for assigning me, I am currently working on this issue!

[2020-12-23 18:02] #1858 closed

[2020-12-23 18:59] matthewblain commented on #1871
https://github.com/presentco/present-rpc/blob/62b2443649b36a42a2e5f2ab62deb1eee6e73c0f/java/server/src/main/java/present/rpc/RpcFilter.java#L179

[2020-12-24 00:36] brunobowden commented on #1871
@crazybob - any chance `present-rpc` can make it configurable to hide stack traces upon errors?

@matthewblain well spotted

[2020-12-24 16:18] brunobowden opened #1875 "http => https redirect"
## Summary

Any links using the non-secure `http` protocol should be redirected permanently to `https`.

Currently shows 404:
http://staging.whocoronavirus.org/app

Should redirect to working page:
https://staging.whocoronavirus.org/app

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Follo

[2020-12-24 16:52] brunobowden opened #1876 "Case Stats reports low numbers for global total"
## Summary

Low numbers are reported for the global cases and deaths. This is possibly due to intermediate updates of the dashboard.... but in this case, the WHO dashboard is correct, so it's an issue within the server.

## Reproduction Steps

Curl Request:
[code]

Response shows `51092830` on the final row which is clearly wrong. Possibly an intermediate update when some of the countries were rep

[2020-12-24 18:15] brunobowden commented on #1876
Got a report of 123M cases and 9M deaths from the staging server. That can't be stale data is definitely an outright error of some kind.

[code]

Request:
[code]

[2020-12-24 19:16] brunobowden opened #1877 "Nigeria International Travel Program (NITP) guidance"
## Summary

Add Nigeria specific country guidance:
https://nitp.ncdc.gov.ng/onboarding/guidelines

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-12-24 20:20] theswerd commented on #1779
Would you like the buttons to be on the About the App page or the Settings page?

[2020-12-24 22:02] brunobowden commented on #1779
Bottom of the "About the App" page. Maybe hidden by a long press on the copy button for the debug info. For most users, it will just be confusing.

[2020-12-24 22:10] brunobowden commented on #1672
The point is to remove the "Learn more" button and always display the additional text. So if someone want to learn more, all they have to do it read down the page and scroll if needed. As they swipe between each fact, it should pop back to the top of the view again.

[2020-12-24 22:21] theswerd commented on #1692
I just ran the app on my simulator and got this:

<img src="https://user-images.githubusercontent.com/38309438/103107441-29778400-45f3-11eb-95b6-ed257af1481b.png" height="400px"></img>

This makes me think it is **not a cache bug** as this was a fresh simulator

[2020-12-24 22:32] #1861 closed

[2020-12-24 22:47] brunobowden commented on #1876
Note the sudden jumps on the total. That should not happen.

![6CDF8283-A075-4E7F-88A7-AFF77495C199](https://user-images.githubusercontent.com/679339/103107820-d99abc00-45f6-11eb-906b-9eff59b6e3b2.png)

[2020-12-26 04:44] brunobowden opened #1883 "Dashboard date and partial data warnings"
## Summary

Two UI changes:
1. "Data up to Dec 20" as a warning that the data might be stale. As data is updated, then it would switch to "Data up to Dec 24". NOTE: there needs to be separate dates for the national and global stats as they may be different see #1724.
2. Warning at bottom of the page: "Data may be incomplete for the current day or week" - this is copied from the WHO Dashboard:

<im

[2020-12-26 20:50] brunobowden opened #1886 "Server should 400 reject malformed pbuffer request"
## Summary

The following is invalid protocol buffer request that receives a 200 response but instead should get a 400 response bad request.
[code]

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/mast

[2020-12-27 01:38] advayDev1 opened #1888 "Readme claims app is not yet launched"
Readme does not link to Play and App stores.

[2020-12-27 05:02] #1724 closed

[2020-12-27 05:02] #1876 closed

[2020-12-29 02:19] advayDev1 opened #1894 "Server CI broken for a long time"
https://github.com/WorldHealthOrganization/app/runs/1616128334

[code]

[2020-12-29 04:01] #1894 closed

[2020-12-29 04:01] theswerd commented on #1894
Thank you @advayDev1

[2020-12-29 07:43] brunobowden commented on #1894
Properly fixed by #1899:
https://github.com/WorldHealthOrganization/app/runs/1620698585

[2020-12-29 16:19] brunobowden opened #1901 "Firebase Performance Monitoring"
## Summary

https://firebase.flutter.dev/docs/performance/overview/
https://pub.dev/packages/firebase_performance

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTING.md).

[2020-12-30 04:31] matthewblain opened #1904 "Further robustness for putClientSettings"
## Summary

Increase robustness in corner cases possibly encountered by putClientSettings

Follow-on to issue #1524

Inconsistent results should be highly unlikley now, as the entire client configuration is passed to the server. In the typical UI flow there will be an update which should write the correct value.

Robustness improvments could include:

    Add a transaction to the server so an erro

[2020-12-31 22:17] champ96k commented on #1860
This issue resolves and created a new pull request #1096

[2020-12-31 22:33] champ96k commented on #1859
@Mohit020888 and @brunobowden can please assign me this issue I would love to work on this issue :)

Thanks

[2020-12-31 22:54] #1860 closed

[2021-01-01 03:10] TheEyeOfCyber opened #1907 "Improper Input Validation on User's Location on PUT /WhoService/putLocation Could Affect Availability/Falsify Users"
## Summary
On the WHO app, users send approximate location data to the WhoService API:

/app/client/flutter/lib/pages/onboarding/location_sharing_page.dart:

Like the rest of the "geometry" package, the
intent is to represent spherical geometry as a mathematical abstraction, so
functions that are specifically related to the Earth's geometry (e.g.
easting/northing conversions) should be put elsewhe

[2021-01-01 09:17] Mohit020888 commented on #1859
@champ96k - thanks for volunteering to fix this one as well !
I have assigned it to you 👍

[2021-01-01 13:48] brunobowden commented on #1859
@Mohit020888 @champ96k - it's going to be important that this looks good on very small screens. So please post a screenshot as part of any PR. Perhaps fixing the indentation will look better.... but also reduce the margin to the left of the bullet points as well.

My concern in part is that "unordered lists" or `<ul>` exist throughout the app content. So this should be a general fix for everything

[2021-01-01 13:52] brunobowden commented on #1907
@TheEyeOfCyber - thanks for the report. I'd prefer just to track it in HackerOne or GitHub but avoid having issues in both places as it creates more work to keep everything in sync. In this case, the putLocation API was already removed 3 days ago in #1826, which closes this issue. I'll mark the HackerOne issue resolved once the new server is pushed with the fix.

[2021-01-01 13:52] #1907 closed

[2021-01-01 13:52] brunobowden commented on #1907
I'll disclose the HackerOne report once it's resolved.

[2021-01-01 15:20] Mohit020888 opened #1908 "Responsive Table Design"
Some of the screens of the application are not adjusting well when the app is being run on bigger screen size android tablet

The below screens are not adapting well for “Tablet Responsive Design” according to me :
1.Onboarding Screen - get the latest news from your community
2.Onboarding Screen - Allow Notifications
3.Get The Facts - All Individual screens of this section when we expand the text

[2021-01-02 10:54] TheEyeOfCyber commented on #1907
@brunobowden  ok brother

[2021-01-02 13:54] champ96k commented on #1859
@brunobowden, @Mohit020888 Thanks for the detailed explanation, I definitely take care of all things

[2021-01-02 18:59] brunobowden commented on #1859
@champ96k - main thing is that if the change starts looking too complex, then I'd question whether it's worth doing anything at all. It may be that the additional complexity is brittle and hard to maintain, which doesn't make sense for the product. See what you experiment with and feel free to share some preliminary before it takes up too much of your time.

[2021-01-06 23:04] champ96k commented on #1859
@brunobowden, @Mohit020888, The given [flutter html](https://pub.dev/packages/flutter_html) is still not supported for Indentation on bullet points, as someone created PR on [flutter html](https://pub.dev/packages/flutter_html)  [Add support for inline styles to new parser ](https://github.com/Sub6Resources/flutter_html/pull/228) but still  [flutter html](https://pub.dev/packages/flutter_html) is

[2021-01-08 09:10] brunobowden opened #1916 "Stats style and content changes"
## Summary

For only home page:

1. Change to only "Global Total Cases" and "XXX_Country Total Cases", e.g. "Nigeria Total Cases"

For stats page:

2. Add at the bottom:
[code]
3. For stats page, list the date below the numbers, e.g.
[code]

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] F

[2021-01-08 09:13] brunobowden opened #1917 "Stats associate numbers with wrong day"
## Summary

Scroll to the last day of a country stats. Note that it's associate with the wrong date - it's off by one day (can't remember if it's a day late or day early). This needs to match the https://covid19.who.int dashboard.

## Checklist:

- [x] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [x] Followed th

[2021-01-09 04:38] #1901 closed

[2021-01-09 05:22] theswerd commented on #1705
#1817 Closes

[2021-01-09 05:22] #1705 closed

[2021-01-09 05:23] theswerd commented on #1852
@brunobowden @Mohit020888 I think I'm good to close

[2021-01-09 14:56] brunobowden commented on #1852
It should've closed it automatically. Closing now anyway....

[2021-01-09 14:56] #1852 closed

[2021-01-09 19:37] theswerd commented on #1917
The day is always the day before today, however, it is the last day that we have stats for.

<img width="524" alt="Screen Shot 2021-01-09 at 11 37 20 AM" src="https://user-images.githubusercontent.com/38309438/104107141-10b3d300-526f-11eb-9126-05604c8456d0.png">

[2021-01-09 20:23] theswerd commented on #1916
Does anyone have a preference where the link to https://covid19.who.int should go? @brunobowden @Mohit020888

[2021-01-09 20:27] Mohit020888 commented on #1916
@theswerd - I think at the bottom of the screen below Daily/Total Deaths unless @brunobowden has something else in mind.

[2021-01-09 20:44] brunobowden commented on #1916
Just updated description to have more detail

[2021-01-09 20:47] brunobowden commented on #1917
@theswerd - The "277,195" cases shows as "Jan 8" in the app and "Jan 9" on the website. I'm assuming that the website is accurate, so we need to change it to match.

<img width="413" alt="Screen Shot 2021-01-09 at 12 46 04 PM" src="https://user-images.githubusercontent.com/679339/104108350-a56efe80-5278-11eb-8189-946eada1a9bd.png">

[2021-01-09 22:36] advayDev1 opened #1919 "Privacy updates for performance monitoring (and all other libraries dependent on by perf mon)"
For #1901 and #1902

[2021-01-09 22:38] advayDev1 commented on #1919
Note that just because perf mon may be disabled, it doesn't mean no new data will be sent.
Also check the libraries that perf mon uses

[2021-01-11 06:15] theswerd commented on #1908
One fix for the homepage could be setting a max height on each of the **Protect Yourself cards**.

@Mohit020888 What do you think?

[2021-01-11 12:18] Mohit020888 commented on #1908
@theswerd - Yes as long as that fix takes care of the automatic text resizing according to different screen sizes then it should be good.
What about the footer icons?
Do we need fresh set of bigger image icons for them or are they okay according to you?

[2021-01-11 18:58] theswerd commented on #1908
@Mohit020888 - I have trouble seeing an easy fix to the bottom icons. We are using the iOS standard bottom tab bar, to make the bottom icons larger we would have to create our own custom one.

[2021-01-12 23:15] theswerd commented on #1908
@Mohit020888 it looks like some designs center the tab bar items - would that be better?

<img src="https://user-images.githubusercontent.com/38309438/104385761-ac03ad00-54e8-11eb-892f-397354de03cc.png" height="400px"/>
<img src="https://user-images.githubusercontent.com/38309438/104385838-ce95c600-54e8-11eb-9546-75171e1aca80.png" height="400px"/>

[2021-01-14 19:35] Mohit020888 commented on #1908
I think if that's the case then creating a custom bar would require significant coding effort so I think we should not get into that as of now.

[2021-01-14 19:37] Mohit020888 commented on #1908
@theswerd - the alignment of footer icons seems okay to me so I would request you to focus on other high priority tasks.

[2021-01-16 06:57] Henrymarks1 commented on #1709
@brunobowden Is this PR still relevant?

[2021-01-25 18:32] #1888 closed

[2021-01-25 18:32] #1916 closed

[2021-01-25 18:46] theswerd opened #1930 "Turn Snyk back on"
- [ ] Contact Snyk about issues
- [ ] Re-setup app
- [ ] Check Snyk access to organization and repository
- [ ] Re-initialize Snyk

[2021-01-28 21:33] champ96k commented on #1854
@brunobowden can you please assign me, I would like to work on that issue :)

Thank you

[2021-01-28 22:38] brunobowden commented on #1854
@champ96k - be our guest. If you have a fix, then I can help push a notification on the staging server to test it with you... or you could setup a server yourself based on the documentation (it's not that hard).

[2021-02-02 23:36] jrichardsz opened #1934 "What does this app?"
## Summary

Readme doesn't show what the app does.

## Desired Solution

Show what app does or how is developed in the readme. A screenshot would be helpful

## Example

- https://github.com/ezranbayantemur/covid-19-app
- https://github.com/HSEIreland/covid-tracker-app

[2021-02-07 09:07] brunobowden opened #1936 "Reduce white space under promo"
## Summary

Reduce white space under the promo so that more content can be Seebe Rigo it scrolling. It’s ok to adjust the blue background curve to allow further compression.

<details>
<summary>Screenshots</summary>
![7F1871F2-A8E4-4F12-A8C1-66A9EA84D566](https://user-images.githubusercontent.com/679339/107141948-b6934580-68e0-11eb-8120-e580280bcc60.jpeg)

</details>

## Checklist:

- [x] Searched

[2021-02-07 09:09] brunobowden commented on #1936
@Mohit020888 - watch out for this one working on smaller devices. How do smaller devices look now? Can we compress them too.

[2021-02-13 00:34] brunobowden opened #1941 "Proximate Location for Symptom Check-Up"
## Summary

The Symptom Check-Up tool should ask the user for their proximate location. This could be a zip code, regional name or local equivalent. This is to tailor the advice help with tracking the efficacy of the app. This data should only be reported to the server with user permission.

## Desired Solution

Different countries may need different options, e.g. zip code, [UK outward code](https

[2021-02-13 00:35] brunobowden commented on #1941
@bezfeng - are you good for this as a starting project?

[2021-02-13 06:07] bezfeng commented on #1941
@brunobowden - absolutely, happy to take this on!

[2021-02-13 07:40] brunobowden commented on #1941
@bezfeng - thanks for your help. I'll work on getting #1935 landed, which will make this work easier.

[2021-02-14 04:42] shawndimantha commented on #1941
Initial PRD to align on implementation for reference: https://docs.google.com/document/d/1g3YgDxKV9ribHW2aARl5-mrE88d5OnnMFC5Sq7O9u10/edit#

[2021-02-16 13:33] Mohit020888 opened #1945 "Incorrect App screenshot on the playstore"
Navigate to https://play.google.com/store/apps/details?id=org.who.WHOMyHealth on web browser and scroll through the app screenshots on the playstore.

There is an incorrect screenshot at the end which should be removed.

![Incorrect_Screenshot_Playstore](https://user-images.githubusercontent.com/63721227/108069606-8fc7d280-7089-11eb-8604-a31dbbe957b9.PNG)

Checklist:

- [ ] Searched the [existing

[2021-02-23 07:37] champ96k commented on #1936
@brunobowden , @Mohit020888 , @theswerd  Can you please assign me this issue, if you did not start working yet I am happy to contribute :)

[2021-02-23 07:47] theswerd commented on #1936
@Champ96k I can't assign outside the org but feel free to take it

[2021-02-23 09:33] Mohit020888 commented on #1936
@champ96k - I have assigned it to you !
Please create a PR for the same .

[2021-02-23 09:44] champ96k commented on #1936
@Mohit020888  Thank you :)

[2021-03-16 17:17] mavickers commented on #1569
I have experience with Sitefinity if you are needing help on that side with this issue. Please get in touch if you are still looking for help with this.

[2021-03-22 09:52] jaimaakali opened #1966 "Issue Name : Numerous open ports/services"
Looks like you have numerous open ports . An attacker can leverage this information when trying an attack. Ports should be filtered .

nmap --script ssl-enum-ciphers hack.whocoronavirus.org

Starting Nmap 7.80 ( https://nmap.org ) at 2021-01-04 21:07 India Standard Time

WARNING: Could not import all necessary Npcap functions. You may need to upgrade to the latest version from https://npcap.org. R

[2021-03-25 18:09] brunobowden commented on #1569
@mavickers - thanks for the offer. We're not working on that right now but may well pick it up again in the future.

[2021-03-30 06:28] rjhuijsman opened #1970 "v2 backend: app store redirect"
## Summary

The v2 backend, when visited with a browser, has a placeholder `index.html` in Firebase Hosting. The user isn't redirected to the appropriate app store.

## Desired Solution

We'd like to set up our Firebase Hosting such that our `index.html` redirects to the appropriate app store page based on platform of the requester.

[2021-03-30 06:34] rjhuijsman opened #1971 "v2 backend: create client flavor that uses v2 backend"
## Summary

Currently, the v2 backends aren't used by our clients (Android, iOS) yet.

## Desired Solution

To begin using the v2 backends, the easiest approach might be to introduce a "flavor" for each v2 backend that we'd like to connect to.

## Additional Context

The v2 backends currently support the v1 API, so should be relatively straightforward to use in the existing app. However, unlike in

[2021-03-30 06:41] rjhuijsman opened #1972 "v2 backend: generate and serve case stats"
## Summary

Currently, the case stats being served by the v2 backend are...
1. Static, out-of-date, not-localized stats, useful only as an example.
1. Served by the old `v1` API (`getCaseStats`) instead of using Firestore-based "API-less" access.

## Desired Solution

We'd like to...
1. Determine a good data layout in which to store case stats in Firestore Native.
1. Periodically generate actual c

[2021-03-30 06:49] rjhuijsman opened #1973 "v2 backend: remove or replace `putClientSettings` endpoint"
## Summary

Currently, the `putClientSettings` endpoint that's part of the `v1` API is available in the `v2` backend as a HTTPS Cloud Function. However, that doesn't track with how we'd like to client-backend interaction; we'd like to move towards direct use of Firestore by the client, without a custom API layer in between.

In addition, the FCM token being updated through this call (its reason fo

[2021-03-30 06:55] rjhuijsman opened #1974 "v2 backend: custom domain"
## Summary

Currently, our v2 backend(s) are only reachable via a URL like `https://OUR-PROJECT-ID.web.app`.

## Desired Solution

We'd like to [set up a "custom domain"](https://firebase.google.com/docs/hosting/custom-domain) in Firebase Hosting so we can use human-friendly names.

## Additional Context

The process of setting up a custom domain in Firebase Hosting is very easy. However, the pers

[2021-03-30 07:01] rjhuijsman opened #1975 "v2 backend: make static asset deployment work on Windows"
## Summary

Currently, deploying a v2 backend (using `firebase deploy`) likely won't work on Windows due to the use of the `server/fetch-static-serving.sh` script.

## Desired Solution

We'd like to make `firebase deploy` work on any platform, including Windows.

[2021-04-02 01:28] rjhuijsman commented on #1973
Blocked by #1971

[2021-04-02 19:23] #1970 closed

[2021-04-03 05:59] brunobowden commented on #1971
@rjhuijsman - I wouldn't bother with a flavor at all. There's little usage of the dev servers, so we can just make a breaking change.

[2021-04-06 03:27] #1971 closed

[2021-04-14 14:31] #1973 closed

[2021-04-26 12:41] MarkJaroski opened #1987 "The application name should be more specific than just "app"."
## "app" is a very generic name for an app

It's likely that WHO will eventually have many apps. Having one which is just called "app" is going to be confusing for everybody so if you could please find a more specific name I'm sure everybody would appreciate it.

[2021-04-29 18:47] aryanA101a commented on #1511
@advayDev1 @brunobowden  What's left to be done? I want to contribute.

[2021-04-29 19:51] advayDev1 commented on #1511
hi @aryanA101a , please reach out to @brunobowden who's managing the project.

[2021-08-13 15:35] jaimaakali opened #2019 "Broken Link on who-covid-19-mobile-app's Vulnerability Submission Form on Hackerone"
Steps To Reproduce:

Visit https://hackerone.com/who-covid-19-mobile-app/reports/new?type=team&report_type=vulnerability

Click on Security Page.

After that, you'll be redirected to the 404 HackerOne page.

This will impersonate your security page and steal legitimate reports.

References:
https://edoverflow.com/2017/broken-link-hijacking

Similar report : https://hackerone.com/reports/1225299

P

[2021-08-13 15:43] jaimaakali commented on #2019
Original report : https://hackerone.com/reports/1239670

Reporter : @171217

[2021-11-24 21:26] vuuzlemich commented on #1671
Get to know Vuuzle Media Corp Limited. Please check it out, Have a good day!

https://vuuzletvph.com/heads-up-vuco-bounty-programs-are-coming-your-way/?fbclid=IwAR1_WYA2Cf_7AR6_nQzaaOhDBDFe2YXTsxuZLurmaBwjaRDV9kVBXTJpCzo

https://vuuzletvph.com/what-is-the-secret-of-nft-tokens-and-why-they-are-bought-for-millions-of-dollars/?fbclid=IwAR1torFs0xhEfE5sWJ2uVTitiNWJC7xLgMpxgZSPsNokgO3IzZnBvu38uxQ

htt

[2021-12-04 02:06] NicolasPotesG opened #2051 "Possible improvement of app performance inside the home page"
## Summary

An analysis of the performance of the application was carried out and on the *home* page a certain Jank (slow frame) could be perceived that can affect the user experience and produce possible GUI lagging. Possibly this is due to the loading of several images (SVG) and loading of many elements.

## Desired Solution

You can preload the images (SVG) used in the *header*, in the *Protect

[2021-12-20 22:49] Alandk122 opened #2058 "help"
Help

StrictMode policy violation: android.os.strictmode.NonSdkApiUsedViolation: Landroid/media/AudioManager;->getOutputLatency(I)I
	at android.os.StrictMode.lambda$static$1(StrictMode.java:407)
	at android.os.-$$Lambda$StrictMode$lu9ekkHJ2HMz0jd3F8K8MnhenxQ.accept(Unknown Source:2)
	at java.lang.Class.getDeclaredMethodInternal(Native Method)
	at java.lang.Class.getPublicMethodRecursive(Class.java

[2022-04-29 13:51] tusharkhatriofficial commented on #2051
Hi! I would like to work in this issue.

[2022-06-19 15:08] ANUKULJHA1506 opened #2140 "transparent navigation"
## Summary

transparent navigation bar can be a helpful upgrade for the app as the user can see what is behind the navigation bar

## Checklist:

- [ ] Searched the [existing issues](https://github.com/WorldHealthOrganization/app/issues) to ensure you are not creating a duplicate.
- [ ] Followed the [Contributor Guidelines](https://github.com/WorldHealthOrganization/app/blob/master/docs/CONTRIBUTI

[2022-06-19 15:16] ANUKULJHA1506 commented on #2051
@NicolasPotesG I want to work on this issue , please assign me this

[2022-07-29 07:31] Aluciad3 opened #2151 "Noticias de Covid - El Diario NY"
https://eldiariony.com/tema/covid/

[2022-07-30 12:25] Aluciad3 opened #2152 "Cd"
Idid